Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

fix: wrap seal_and_roll control-row bump + reanchor insert in one tx
  crate/server_database/src/stores/audit/pgsql.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Revert "fix: i64 fix"
  crate/server_database/src/stores/audit/pgsql.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: mark TLS downgrade fix site in pgsql.rs
  crate/server_database/src/stores/sql/pgsql.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(cli): read PostgreSQL audit chains
  Cargo.lock
  crate/clients/clap/Cargo.toml
  crate/clients/clap/src/actions/audit.rs
  documentation/docs/kms_clients/cli/main_commands.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test/docs: PostgreSQL audit backend
  .mise/lib/test_slots.sh
  .mise/scripts/test/test_audit_postgres_log.sh
  .mise/tasks/test/audit-postgres
  CHANGELOG/feat_audit_pgSQL.md
  crate/clients/clap/src/actions/audit.rs
  docker-compose.yml
  documentation/docs/configuration/audit-logs.md
  documentation/docs/kms_clients/audit.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: some fixes
  .github/workflows/test_all.yml
  .mise/tasks/test/audit-postgres
  CHANGELOG/feat_audit_postgres_cli.md
  crate/clients/clap/src/actions/audit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: post rebase fixes
  crate/clients/clap/src/actions/audit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: bring PostgreSQL audit HA note into cli stack branch
  documentation/docs/installation/high_availability_mode.md
Due: none

fix: a
  documentation/docs/configuration/audit-logs.md
Due: none

feat: doc
  .mise/scripts/docker-compose.yml
  CHANGELOG/feat_audit_postgres_cli.md
  docker-compose.yml
  documentation/README.md
  documentation/docs/SUMMARY.md
  documentation/docs/configuration/audit-events.md
  documentation/docs/configuration/audit-file-backend.md
  documentation/docs/configuration/audit-logs.md
  documentation/docs/configuration/audit-postgresql-backend.md
  documentation/docs/configuration/cef-export.md
  documentation/docs/configuration/monitoring-setup.md
  documentation/docs/configuration/siems.md
  documentation/docs/installation/high_availability_mode.md
  documentation/docs/integrations/kubernetes/helm.md
  documentation/docs/kms_clients/audit.md
  documentation/nav.yml
Due: none

feat: a lot of tests
  .github/instructions/mise.instructions.md
  .github/workflows/test_all.yml
  .mise/lib/audit_e2e.sh
  .mise/scripts/test/test_audit_log.sh
  .mise/scripts/test/test_audit_postgres_log.sh
  .mise/tasks/test/audit-postgres
  .mise/tasks/test/psql
  CHANGELOG/feat_audit_postgres_cli.md
  crate/clients/clap/src/actions/audit.rs
  crate/server/src/core/audit/store.rs
  crate/server/src/core/kms/mod.rs
  crate/server_database/src/stores/audit/pgsql.rs
  documentation/docs/kms_clients/audit.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: finish the test stack
  .github/instructions/mise.instructions.md
  .mise/tasks/test/audit-postgres
  CHANGELOG/feat_audit_postgres_cli.md
  crate/clients/clap/src/actions/audit.rs
  crate/server_database/src/stores/audit/audit.sql
  crate/server_database/src/stores/audit/mod.rs
  crate/server_database/src/stores/audit/pgsql.rs
  documentation/docs/configuration/audit-postgresql-backend.md
  documentation/docs/kms_clients/audit.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): MAX_UTF8_ARGUMENT_LEN breaks OIDC pin-as-access-token mode
  crate/clients/pkcs11/module/src/pkcs11.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11_v3): make version of PKCS11 v3 be an exact match
  CHANGELOG/pkcs11_v3.md
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/provider/src/lib.rs
  crate/clients/pkcs11/provider/src/tests.rs
  crate/hsm/base_hsm/src/pkcs11_v3.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11_v3): OOB when using CStr::from_ptr(p_interface_name)
  CHANGELOG/pkcs11_v3.md
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/provider/src/lib.rs
  crate/clients/pkcs11/provider/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11_v3): C_EncryptMessage is called twice with the same IV
  CHANGELOG/pkcs11_v3.md
  crate/hsm/base_hsm/src/session/message_aead.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: fix test_profile_objects_self_declared
  crate/clients/pkcs11/module/src/tests.rs
  crate/clients/pkcs11/provider/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11_v3): minor issues in Kryoptic PKCS#11 loader crate
  CHANGELOG/pkcs11_v3.md
  crate/hsm/kryoptic/src/lib.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: fix tests_v3::test_get_interface_list_and_get_interface
  crate/clients/pkcs11/provider/src/tests_v3.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(alpine): add musl/Alpine-compatible release tarballs (WIP checkpoint)
  .github/workflows/packaging.yml
  .mise/scripts/package/package_musl_tarball.sh
  .mise/tasks/package/musl-tarball
  crate/server/src/openssl_providers.rs
  default.nix
  nix/cli-musl.nix
  nix/expected-hashes/cli.vendor.musl-fips.sha256
  nix/expected-hashes/server.vendor.musl-fips.sha256
  nix/expected-hashes/server.vendor.musl-non-fips.sha256
  nix/kms-server-musl.nix
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(changelog)
  CHANGELOG/dp_wasm-cc-rekey-actions.md
Due: none

feat(hsm): add PKCS#11 v3.0 capability-probe FFI foundation
  documentation/docs/configuration/log-reference.md
Due: none

feat(pkcs11): PKCS#11 v3.0/v3.1 rollout in libcosmian_pkcs11 (interfaces, CKM_AES_GCM, C_Verify, Ed25519 fixes)
  crate/clients/pkcs11/provider/src/tests.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(hsm): add PKCS#11 v3.0 capability-probe FFI foundation
  crate/clients/pkcs11/provider/src/tests.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc
