Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

feat: support multiple HSM
  .github/scripts/docs/update_readme_kmip.py
  .github/workflows/benchmark.yml
  CHANGELOG/feat_key_rotation_policy.md
  README.md
  crate/hsm/base_hsm/src/hsm_lib.rs
  crate/interfaces/README.md
  crate/interfaces/src/README.md
  crate/interfaces/src/hsm/backend.rs
  crate/interfaces/src/hsm/crypto_oracle_impl.rs
  crate/interfaces/src/hsm/mod.rs
  crate/interfaces/src/lib.rs
  crate/server/Cargo.toml
  crate/server/kms_template.toml
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/hsm_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/cron.rs
  crate/server/src/main.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/hsm/mod.rs
  crate/server/src/tests/hsm/multi_hsm.rs
  crate/test_kms_server/src/test_server.rs
  docker-compose.yml
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/hsm_support/multi_hsm.md
  documentation/docs/kmip_support/support.md
  documentation/mkdocs.yml
  pkg/kms.toml
  resources/kms.toml
  ui/src/App.tsx
  ui/src/actions/Objects/HsmStatus.tsx
  ui/src/components/common/Locate.tsx
  ui/src/components/layout/Header.tsx
  ui/src/components/layout/MainLayout.tsx
  ui/src/menuItems.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add PQC for X509 cert gen
  .github/scripts/audit/owasp.sh
  .github/workflows/benchmark.yml
  CHANGELOG.md
  CHANGELOG/feat_key_rotation_policy.md
  cli_documentation/docs/cli/main_commands.md
  crate/clients/clap/src/tests/certificates/certify.rs
  crate/clients/client_utils/src/certificate_utils.rs
  crate/clients/wasm/src/wasm.rs
  crate/server/src/core/operations/certify/mod.rs
  docker-compose.yml
  ui/src/actions/Certificates/CertificateCertify.tsx
  ui/tests/e2e/README.md
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix:commit
  CHANGELOG/fix_documentation_errors.md
  documentation/docs/kmip_support/_get.md
  documentation/docs/kmip_support/_hash.md
  documentation/docs/kmip_support/_mac.md
  documentation/docs/kmip_support/_revoke.md
  documentation/docs/kmip_support/_signature.md
  documentation/docs/use_cases/anonymization.md
  verify_docs.py
Due: none

test: make sure cert with ml-dsa can be generated and signed
  .github/scripts/release/release.sh
  CHANGELOG.md
  crate/clients/clap/src/tests/certificates/certify.rs
  crate/test_kms_server/src/lib.rs
  crate/test_kms_server/src/test_server.rs
  nix/README.md
  nix/signing-keys/README.md
  ui/tests/e2e/certificates-certify.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: align KMIP policy with ANSSI crypto guide 3.0
  crate/server/src/config/command_line/kmip_policy_config.rs
  crate/server/src/core/operations/algorithm_policy.rs
  documentation/docs/certifications_and_compliance/anssi.md
  documentation/docs/certifications_and_compliance/audit/crypto_inventory.md
  documentation/mkdocs.yml
  ui/tests/e2e/certificates-certify.spec.ts
  ui/tests/e2e/locate-filters.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(sql): concentrate SQL statements in query*.sql files
  crate/server/src/core/operations/auto_rotate.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(sql): fix rawsql truncation of multi-statement query blocks
  .github/scripts/common.sh
  crate/server_database/src/stores/sql/query.sql
Due: none

fix(sql): wip
  .github/scripts/common.sh
  .github/scripts/docs/renew_server_doc.sh
Due: none

docs: create entry for CHANGELOG 5.21.0
  CHANGELOG.md
  CHANGELOG/automate_release.md
  CHANGELOG/chore_move_cli_deps.md
  CHANGELOG/feat_fix_auth_issues.md
  CHANGELOG/fix_improve_tde.md
  CHANGELOG/test_owasp.md
Due: none

update path
  .github/scripts/nix.sh
Due: none

test c2p script
  .github/scripts/nix.sh
  .github/scripts/test/test_hsm.sh
  .github/scripts/test/test_hsm_crypt2pay.sh
  .github/workflows/test_all.yml
Due: none

update path
  .github/scripts/test/test_hsm_crypt2pay.sh
Due: none

export OVPN_CONF
  .github/scripts/test/test_hsm_crypt2pay.sh
Due: none

add ovpn connexion
  .github/scripts/test/test_hsm_crypt2pay.sh
  .github/workflows/test_all.yml
Due: none

add c2p password secret
  .github/README_WORKFLOWS.md
  .github/scripts/nix.sh
  .github/workflows/test_all.yml
Due: none

debug ovpn
  .github/scripts/test/test_hsm_crypt2pay.sh
Due: none

fix c2p conf variable
  .github/scripts/test/test_hsm_crypt2pay.sh
  crate/server/src/core/kms/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

run all tests
  .github/scripts/test/test_hsm_crypt2pay.sh
Due: none

fix
  .github/scripts/nix.sh
  .github/scripts/test/test_hsm_crypt2pay.sh
  crate/server/src/core/kms/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: do not fail on get_supported_oaep_hash if OAEP not supported
  .github/scripts/test/test_hsm_crypt2pay.sh
  Cargo.lock
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/crypt2pay/Cargo.toml
  crate/hsm/crypt2pay/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fmt:fmt
  crate/server/src/core/kms/other_kms_methods.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: update agentmd
  AGENTS.md
Due: none

feat: add ano ui
  CHANGELOG/feature_fpe-kmip.md
  crate/server/src/start_kms_server.rs
  ui/src/App.tsx
  ui/src/actions/Tokenize/TokenizeAggregateDate.tsx
  ui/src/actions/Tokenize/TokenizeAggregateNumber.tsx
  ui/src/actions/Tokenize/TokenizeHash.tsx
  ui/src/actions/Tokenize/TokenizeNoise.tsx
  ui/src/actions/Tokenize/TokenizeScaleNumber.tsx
  ui/src/actions/Tokenize/TokenizeWordMask.tsx
  ui/src/actions/Tokenize/TokenizeWordPatternMask.tsx
  ui/src/actions/Tokenize/TokenizeWordTokenize.tsx
  ui/src/components/layout/MainLayout.tsx
  ui/src/menuItems.tsx
  ui/tests/e2e/README.md
  ui/tests/e2e/routes.ts
  ui/tests/e2e/tokenize.spec.ts
  ui/vite.config.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: linting fixes
  ui/src/App.tsx
  ui/src/actions/Tokenize/TokenizeAggregateDate.tsx
  ui/src/actions/Tokenize/TokenizeAggregateNumber.tsx
  ui/src/actions/Tokenize/TokenizeHash.tsx
  ui/src/actions/Tokenize/TokenizeNoise.tsx
  ui/src/actions/Tokenize/TokenizeScaleNumber.tsx
  ui/src/actions/Tokenize/TokenizeWordMask.tsx
  ui/src/actions/Tokenize/TokenizeWordPatternMask.tsx
  ui/src/actions/Tokenize/TokenizeWordTokenize.tsx
  ui/src/contexts/AuthContext.tsx
  ui/src/contexts/AuthContextDef.tsx
  ui/src/hooks/useAuth.ts
  ui/src/pages/LoginPage.tsx
Due: ui-wasm-react-unit-tests

feat: fix
  ui/src/contexts/AuthContext.tsx
Due: ui-wasm-react-unit-tests

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
