Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

feat: big commit deleted history
  Cargo.lock
  crate/access/Cargo.toml
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/access/src/lib.rs
  crate/clients/ckms/src/commands.rs
  crate/clients/clap/src/actions/audit.rs
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/mod.rs
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/audit/mod.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/mod.rs
  crate/server/src/main.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: don't log "kmip" only
  crate/access/src/audit/cef.rs
  crate/access/src/audit/hash.rs
  crate/clients/clap/src/actions/audit.rs
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/kmip.rs
  crate/server/src/start_kms_server.rs
  deleteMe
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: amazing update, IDs and algo are now recorded by audit
  AGENTS.md
  CHANGELOG/feat_audit_and_siem.md
  SECURITY.md
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/clients/clap/src/actions/audit.rs
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/routes/kmip/handlers.rs
  crate/server/src/routes/kmip/mod.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/mod.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/adr/0003-audit-log-single-writer-design.md
  documentation/docs/adr/0004-audit-middleware-extension-injection.md
  documentation/docs/adr/0005-cef-siem-export-format.md
  documentation/docs/configuration/audit-logs.md
  documentation/docs/configuration/logging.md
  documentation/docs/configuration/siems.md
  documentation/docs/kms_clients/audit.md
  documentation/nav.yml
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: batching now works
  CHANGELOG/feat_audit_and_siem.md
  Cargo.lock
  crate/access/Cargo.toml
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/clients/clap/src/actions/audit.rs
  crate/clients/client_utils/Cargo.toml
  crate/kmip/src/ttlv/kmip_ttlv_deserializer/deserializer.rs
  crate/kmip/src/ttlv/kmip_ttlv_serializer.rs
  crate/server/Cargo.toml
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/main.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/adr/0003-audit-log-single-writer-design.md
  documentation/docs/adr/0004-audit-middleware-extension-injection.md
  documentation/docs/configuration/audit-logs.md
  documentation/docs/configuration/log-reference.md
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: review fixes
  crate/kmip/src/ttlv/kmip_ttlv_serializer.rs
  crate/server/src/middlewares/audit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: post rebase fixes
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: post rebase fixes v2
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: some last fixes and review fixes
  crate/access/src/audit/cef.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/routes/kmip/handlers.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/test_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add CEF audit test suite
  .mise/scripts/nix.sh
  .mise/scripts/test/cef_interop_helper.py
  .mise/scripts/test/requirements-cef.txt
  .mise/scripts/test/test_cef_interop.sh
  .mise/tasks/test/cef-interop
Due: none

fix: add doc comment
  crate/access/src/audit/cef.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: a lot of fixes
  crate/access/README.md
  crate/clients/clap/README.md
  crate/clients/client/README.md
  crate/clients/client/src/export_utils.rs
  crate/clients/client/src/file_utils.rs
  crate/clients/client_utils/README.md
  crate/clients/wasm/README.md
  crate/crypto/README.md
  crate/kmip-derive/README.md
  crate/kmip/README.md
  crate/server/README.md
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/kms/other_kms_methods.rs
  crate/server/src/core/operations/algorithm_policy.rs
  crate/server/src/core/otel_metrics.rs
  crate/server/src/routes/aws_xks/error.rs
  crate/server/src/tests/jose/tags.rs
  crate/server/src/tests/jwks_endpoint.rs
  crate/server/src/tests/revoke_tests.rs
  crate/server/src/tests/test_utils.rs
  crate/server_database/src/core/main_db_params.rs
  crate/server_database/src/core/mod.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/locate_query.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/sqlite.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: stash before checking out "origin/develop"
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/kmip/src/ttlv/kmip_ttlv_deserializer/kmip_big_int_deserializer.rs
  crate/kmip/src/ttlv/kmip_ttlv_deserializer/offset_date_time_deserializer.rs
  crate/server/src/core/wrapping/wrap.rs
  crate/server/src/middlewares/api_token/api_token_auth.rs
  crate/server/src/middlewares/tls_auth.rs
  crate/server_database/src/stores/sql/mysql.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: fmt
  crate/server/src/core/operations/algorithm_policy.rs
  crate/server_database/src/core/mod.rs
  crate/server_database/src/stores/sql/locate_query.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: test on fix/delete_spam
  crate/kmip/src/ttlv/kmip_ttlv_deserializer/offset_date_time_deserializer.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

WIP on fix/restrict_audit_info2
  crate/server/src/core/otel_metrics.rs
  crate/server/src/routes/kmip/audit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): fix UI E2E test for read-only CryptographicLength attribute and lychee exclusion
  lychee.toml
  ui/tests/e2e/attributes-flow.spec.ts
Due: ui-wasm-react-unit-tests

feat(spire): add SPIRE PKI capability validation MISE task (spire-pki)
  .mise/tasks/test/spire
  .mise/tasks/test/spire-pki
  lychee.toml
Due: none

fix: PKI tests
  .mise/tasks/test/spire
  .mise/tasks/test/spire-pki
Due: none

docs: fix dead links
  documentation/docs/integrations/kubernetes/helm.md
Due: none

fix: add PKI test on spire main tests. Fix flacky test on Veeam
  .mise/tasks/test/spire
  crate/server/src/tests/ttlv_tests/integrations/veeam.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add coverage for per-user metric labels and cardinality overflow
  crate/server/src/core/otel_metrics.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix:fix
  crate/server/src/core/otel_metrics.rs
  monitoring/OTLP_METRICS.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: post rebase fixes
  crate/server/src/core/otel_metrics.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: clean comments (#1077)
  crate/access/README.md
  crate/clients/clap/README.md
  crate/clients/client/README.md
  crate/clients/client/src/export_utils.rs
  crate/clients/client/src/file_utils.rs
  crate/clients/client_utils/README.md
  crate/clients/wasm/README.md
  crate/crypto/README.md
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/kmip-derive/README.md
  crate/kmip/README.md
  crate/kmip/src/ttlv/kmip_ttlv_deserializer/kmip_big_int_deserializer.rs
  crate/kmip/src/ttlv/kmip_ttlv_deserializer/offset_date_time_deserializer.rs
  crate/server/README.md
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/kms/other_kms_methods.rs
  crate/server/src/core/operations/algorithm_policy.rs
  crate/server/src/core/otel_metrics.rs
  crate/server/src/core/wrapping/wrap.rs
  crate/server/src/middlewares/api_token/api_token_auth.rs
  crate/server/src/middlewares/tls_auth.rs
  crate/server/src/routes/aws_xks/error.rs
  crate/server/src/tests/jose/tags.rs
  crate/server/src/tests/jwks_endpoint.rs
  crate/server/src/tests/revoke_tests.rs
  crate/server/src/tests/test_utils.rs
  crate/server_database/src/core/main_db_params.rs
  crate/server_database/src/core/mod.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/locate_query.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/sqlite.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: complete KMIP compliance tests
  .github/workflows/main_base.yml
  .mise/scripts/kmip-go/attributes_test.go
  .mise/scripts/kmip-go/lifecycle_test.go
  .mise/scripts/kmip-go/locate_test.go
  .mise/scripts/kmip-go/operations_test.go
  .mise/scripts/kmip-go/version_compliance_test.go
  crate/kmip/src/kmip_2_1/kmip_attributes.rs
  crate/server/src/core/operations/attributes/modify.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: complete SPIRE PKI tests
  .mise/tasks/test/spire-pki
  CHANGELOG/spire.md
Due: none

test: spire pki (#1110)
  .mise/tasks/test/spire
  .mise/tasks/test/spire-pki
  CHANGELOG/spire.md
  crate/server/src/tests/ttlv_tests/integrations/veeam.rs
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: log-ref update
  documentation/docs/configuration/log-reference.md
Due: none

docs(changelog): create entry 5.26.0
  .github/skills/kms-release-notes/SKILL.md
  CHANGELOG.md
  CHANGELOG/cve.md
  CHANGELOG/feat_auth-server-integration.md
  CHANGELOG/feat_helm-chart-k8s-deployment.md
  CHANGELOG/feat_k8s-kms-plugin.md
  CHANGELOG/feat_support_alwayssensitive_kmip_attr.md
  CHANGELOG/fix_dependabot-alerts-2026-07-31.md
  CHANGELOG/fix_openssh.md
  CHANGELOG/fix_stale_connections_in_ckms.md
  CHANGELOG/spire.md
  CHANGELOG/test_plan_cosmian-auth-ui-login.md
  CHANGELOG/test_plan_oidc-session-auth.md
Due: none

ci(windows): use generic drive letter for cargo build
  .mise/scripts/windows/cargo_build.ps1
Due: none

ci: fix SBOM enrich generation
  .github/workflows/packaging.yml
  .gitignore
  .mise/scripts/release/release.sh
  .mise/scripts/sbom/generate_sbom.sh
  crate/clients/k8s/csi_provider/Cargo.toml
Due: none

fix(openssh): cannot find private key issue
  .pre-commit-config.yaml
  CHANGELOG/fix_openssh_cannot_find_private_key.md
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/module/src/tests.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(openssh): harden tests scenarios
  .mise/scripts/test/test_openssh.sh
  .pre-commit-config.yaml
Due: none

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
