Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

fix: tests
  .gitignore
  CHANGELOG.md
  ui/tests/e2e/README.md
  ui/vite.config.ts
Due: ui-wasm-react-unit-tests

fix: test e2e
  .github/scripts/test_ui.sh
  ui/tests/e2e/helpers.ts
  ui/vite.config.ts
Due: ui-wasm-react-unit-tests

fix: UI CMEK (#782)
  .github/scripts/nix.sh
  .github/scripts/run_ui.sh
  .github/scripts/test_gcp_cmek.sh
  .github/scripts/test_hsm_proteccio.sh
  .github/scripts/test_ui.sh
  .gitignore
  CHANGELOG.md
  documentation/docs/google_gcp/cmek.md
  ui/src/AccessGrant.tsx
  ui/src/KeysExport.tsx
  ui/src/KeysImport.tsx
  ui/tests/e2e/README.md
  ui/tests/e2e/access-rights-flow.spec.ts
  ui/tests/e2e/cert-lifecycle.spec.ts
  ui/tests/e2e/ec-encrypt-sign.spec.ts
  ui/tests/e2e/google-cmek-wrap-flow.spec.ts
  ui/tests/e2e/helpers.ts
  ui/tests/e2e/locate-filters.spec.ts
  ui/tests/e2e/rsa-encrypt-sign.spec.ts
  ui/tests/e2e/rsa-export-options.spec.ts
  ui/tests/e2e/rsa-import-options.spec.ts
  ui/tests/e2e/symmetric-encrypt-decrypt.spec.ts
  ui/vite.config.ts
Due: ui-wasm-react-unit-tests

chore: update Nix expected hashes
  nix/expected-hashes/ui.vendor.fips.sha256
Due: none

docs: add small GPG guide to verify releases signatures
  .github/scripts/test_gcp_cmek.sh
  .pre-commit-config.yaml
  CHANGELOG.md
  documentation/docs/installation/installation_getting_started.md
  nix/signing-keys/cosmian-kms-public.asc
Due: none

chore: regenerate SBOM reports - including OpenSSL 3.6.0 and 3.1.2
  .github/scripts/nix.sh
  .pre-commit-config.yaml
  nix/scripts/generate_sbom.sh
  sbom/README.md
  sbom/openssl_3_1_2/bom.cdx.json
  sbom/openssl_3_1_2/bom.spdx.json
  sbom/openssl_3_1_2/graph.png
  sbom/openssl_3_1_2/meta.json
  sbom/openssl_3_1_2/vulns.csv
  sbom/openssl_3_6_0/bom.cdx.json
  sbom/openssl_3_6_0/bom.spdx.json
  sbom/openssl_3_6_0/graph.png
  sbom/openssl_3_6_0/meta.json
  sbom/openssl_3_6_0/vulns.csv
  sbom/server/fips/dynamic/bom.cdx.json
  sbom/server/fips/dynamic/graph.png
  sbom/server/fips/dynamic/meta.json
  sbom/server/fips/static/bom.cdx.json
  sbom/server/fips/static/bom.spdx.json
  sbom/server/fips/static/graph.png
  sbom/server/fips/static/vulns.csv
  sbom/server/non-fips/dynamic/bom.spdx.json
  sbom/server/non-fips/dynamic/graph.png
  sbom/server/non-fips/dynamic/meta.json
  sbom/server/non-fips/dynamic/vulns.csv
  sbom/server/non-fips/static/bom.cdx.json
  sbom/server/non-fips/static/bom.spdx.json
  sbom/server/non-fips/static/graph.png
  sbom/server/non-fips/static/meta.json
  sbom/server/non-fips/static/vulns.csv
Due: none

docs: fix mkdocs links
  cli_documentation/docs/authentication.md
  cli_documentation/docs/pkcs11/veracrypt.md
  documentation/docs/algorithms.md
  documentation/docs/client_side_and_application_level_encryption.md
  documentation/docs/google_cse/configuring-the-well-known-file-and-server.md
  documentation/docs/google_cse/configuring_gmail_cse.md
  documentation/docs/google_cse/index.md
  documentation/docs/index.md
  documentation/docs/installation/installation_getting_started.md
  documentation/docs/installation/marketplace_guide.md
  documentation/docs/kmip/_certify.md
  documentation/docs/kmip/_create.md
  documentation/docs/kmip/_create_key_pair.md
  documentation/docs/kmip/_decrypt.md
  documentation/docs/kmip/_delete_attributes.md
  documentation/docs/kmip/_encrypt.md
  documentation/docs/kmip/_export.md
  documentation/docs/kmip/_get.md
  documentation/docs/kmip/_get_attributes.md
  documentation/docs/kmip/_hash.md
  documentation/docs/kmip/_import.md
  documentation/docs/kmip/_mac.md
  documentation/docs/kmip/_re-key.md
  documentation/docs/kmip/_re-key_key_pair.md
  documentation/docs/kmip/_revoke.md
  documentation/docs/kmip/_set_attributes.md
  documentation/docs/kmip/json_ttlv_api.md
  documentation/docs/monitoring-setup.md
  documentation/docs/ms_dke/index.md
  documentation/docs/pkce_authentication.md
  documentation/docs/pykmip.md
  documentation/docs/quick_start.md
Due: none

fix: flatted upgraded du to GHSA-25h7-pfq9-p65f
  .github/scripts/nix.sh
  nix/docker.nix
  nix/expected-hashes/ui.pnpm.darwin.sha256
  nix/expected-hashes/ui.pnpm.linux.sha256
  ui/package.json
  ui/pnpm-lock.yaml
Due: nixfmt, statix

chore: update Nix expected hashes
  nix/expected-hashes/ui.pnpm.linux.sha256
Due: none

fix: issue 760 on Modify attribute operation
  .github/scripts/renew_ckms_markdown.sh
  .github/scripts/renew_server_doc.sh
  .pre-commit-config.yaml
  CHANGELOG.md
  cli_documentation/docs/cli/main_commands.md
  cli_documentation/docs/index.md
  cli_documentation/docs/usage.md
  crate/cli/src/actions/kms/attributes/mod.rs
  crate/cli/src/actions/kms/attributes/modify.rs
  crate/cli/src/tests/kms/attributes/mod.rs
  crate/cli/src/tests/kms/attributes/test_modify_attribute.rs
  crate/clients/ckms/src/tests/kms/attributes/mod.rs
  crate/clients/ckms/src/tests/kms/attributes/test_modify_attribute.rs
  crate/clients/ckms/src/tests/kms/mod.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/dispatch.rs
  crate/server/src/core/operations/modify_attribute.rs
  crate/server/src/tests/mod.rs
  crate/server/src/tests/test_modify_attribute.rs
  crate/wasm/src/wasm.rs
  ui/src/App.tsx
  ui/src/AttributeModify.tsx
  ui/src/menuItems.tsx
  ui/tests/e2e/attributes-flow.spec.ts
  ui/tests/e2e/routes.ts
  ui/tests/integration/kms-attributes-set-get-delete.test.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add Synology DSM KMIP integration test and documentation
  .github/scripts/nix.sh
  .github/scripts/test_synology_dsm.sh
  .github/workflows/test_all.yml
  CHANGELOG.md
  README.md
  documentation/docs/synology_dsm.md
  documentation/mkdocs.yml
  scripts/synology_dsm_client.py
  scripts/test_synology_dsm.sh
Due: none

test(pykmip): merge synology_dsm into pykmip CI job and extend with all PyKMIP operations
  .github/scripts/nix.sh
  .github/scripts/test_pykmip.sh
  .github/workflows/test_all.yml
  scripts/pykmip_client.py
  scripts/test_pykmip.sh
Due: none

refactor(synology): update DSM simulation to match real KMIP 1.2 wire trace
  .gitignore
  scripts/synology_dsm_client.py
Due: none

chore: fix lints
  .github/scripts/nix.sh
  .github/workflows/test_windows.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  _typos.toml
  crate/server/src/routes/aws_xks/README.md
  crate/server/src/routes/aws_xks/encrypt_decrypt/mod.rs
  crate/server_database/src/core/unwrapped_cache.rs
  docker-compose.yml
  documentation/docs/aws/xks.md
  documentation/docs/configurations.md
  documentation/docs/logging.md
  documentation/docs/monitoring-setup.md
  monitoring/.env.example
  monitoring/README.md
  monitoring/ci-otel-collector-config.yaml
  monitoring/docker-compose.yml
  monitoring/generate-demo-cert.sh
  monitoring/grafana/provisioning/dashboards/dashboard.json
  monitoring/grafana/provisioning/dashboards/dashboard.yml
  monitoring/grafana/provisioning/datasources/grafana-datasources.yml
  monitoring/otel-collector-config.yaml
  monitoring/prometheus.yml
  monitoring/start-monitoring.sh
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: test_modify_attribute uses CryptographicLength instead of ActivationDate
  CHANGELOG.md
  crate/clients/ckms/src/tests/kms/attributes/test_modify_attribute.rs
  monitoring/docker-compose.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add modify attributes tests
  crate/cli/src/tests/kms/attributes/test_modify_attribute.rs
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: issue on cli attribute-name
  CHANGELOG.md
  cli_documentation/docs/cli/main_commands.md
  crate/cli/src/actions/kms/attributes/set.rs
  crate/cli/src/tests/kms/attributes/test_set_attribute.rs
  crate/client_utils/src/attributes_utils.rs
  crate/server/src/core/operations/delete_attribute.rs
  ui/src/AttributeDelete.tsx
  ui/src/AttributeModify.tsx
  ui/src/AttributeSet.tsx
  ui/tests/e2e/attributes-flow.spec.ts
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: add modify_attribute doc
  documentation/docs/kmip/_modify_attribute.md
Due: none

feat: add HMAC-SHA1/HMAC-SHA-224
  CHANGELOG.md
  crate/cli/src/actions/kms/mac.rs
  crate/cli/src/tests/kms/mac.rs
  crate/cli/src/tests/kms/mac_verify.rs
  crate/server/src/core/operations/algorithm_policy.rs
  crate/server/src/core/operations/mac.rs
  documentation/docs/kmip/_mac.md
  ui/src/App.tsx
  ui/src/MacCompute.tsx
  ui/src/MacVerify.tsx
  ui/src/menuItems.tsx
  ui/tests/e2e/helpers.ts
  ui/tests/e2e/mac-flow.spec.ts
  ui/tests/e2e/routes.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: allow HMAC key creation via symmetric key endpoint
  crate/server/src/core/kms/other_kms_methods.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review
  monitoring/docker-compose.yml
  ui/tests/e2e/routes.ts
Due: ui-wasm-react-unit-tests

fix: correct MacCompute data textarea placeholder to match Playwright tests
  ui/src/MacCompute.tsx
Due: ui-wasm-react-unit-tests

feat: add hmac sha (#797)
  CHANGELOG.md
  crate/cli/src/actions/kms/mac.rs
  crate/cli/src/tests/kms/mac.rs
  crate/cli/src/tests/kms/mac_verify.rs
  crate/server/src/core/kms/other_kms_methods.rs
  crate/server/src/core/operations/algorithm_policy.rs
  crate/server/src/core/operations/mac.rs
  documentation/docs/kmip/_mac.md
  ui/src/App.tsx
  ui/src/MacCompute.tsx
  ui/src/MacVerify.tsx
  ui/src/menuItems.tsx
  ui/tests/e2e/helpers.ts
  ui/tests/e2e/mac-flow.spec.ts
  ui/tests/e2e/routes.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: prevent TOCTOU race in save_kms_cli_config on ARM non-fips
  crate/clients/ckms/src/tests/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: issue 746 attribute name (#795)
  CHANGELOG.md
  cli_documentation/docs/cli/main_commands.md
  crate/cli/src/actions/kms/attributes/set.rs
  crate/cli/src/actions/kms/mac.rs
  crate/cli/src/tests/kms/attributes/test_set_attribute.rs
  crate/cli/src/tests/kms/mac.rs
  crate/cli/src/tests/kms/mac_verify.rs
  crate/client_utils/src/attributes_utils.rs
  crate/clients/ckms/src/tests/mod.rs
  crate/server/src/core/kms/other_kms_methods.rs
  crate/server/src/core/operations/algorithm_policy.rs
  crate/server/src/core/operations/delete_attribute.rs
  crate/server/src/core/operations/mac.rs
  documentation/docs/kmip/_mac.md
  documentation/docs/kmip/_modify_attribute.md
  ui/src/App.tsx
  ui/src/AttributeDelete.tsx
  ui/src/AttributeModify.tsx
  ui/src/AttributeSet.tsx
  ui/src/MacCompute.tsx
  ui/src/MacVerify.tsx
  ui/src/menuItems.tsx
  ui/tests/e2e/attributes-flow.spec.ts
  ui/tests/e2e/helpers.ts
  ui/tests/e2e/mac-flow.spec.ts
  ui/tests/e2e/routes.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: add missing if
  .github/scripts/test_all.sh
  .github/scripts/test_hsm_crypt2pay.sh
  .github/scripts/test_hsm_proteccio.sh
  .github/scripts/test_hsm_softhsm2.sh
  .github/scripts/test_hsm_utimaco.sh
Due: none

docs: add CBOM and disable EKM tests
  .github/workflows/pr.yml
  .github/workflows/test_all.yml
  cbom/cbom.cdx.json
  documentation/docs/algorithms.md
  scripts/generate_cbom.py
Due: none

docs: add CBOM and disable EKM tests (#802)
  .github/workflows/pr.yml
  .github/workflows/test_all.yml
  cbom/cbom.cdx.json
  documentation/docs/algorithms.md
  scripts/generate_cbom.py
Due: none

ci: revert ekm tests
  .github/workflows/test_all.yml
Due: none

ci: reenable ekm tests (#803)
  .github/workflows/test_all.yml
Due: none

fix: HSM CKA_ID, wrapping, and test infrastructure fixes
  .github/scripts/renew_server_doc.sh
  .github/scripts/test_hsm_utimaco.sh
  CHANGELOG.md
  crate/cli/src/actions/kms/cover_crypt/keys/mod.rs
  crate/cli/src/actions/kms/elliptic_curves/keys/mod.rs
  crate/cli/src/actions/kms/elliptic_curves/mod.rs
  crate/cli/src/actions/kms/rsa/keys/mod.rs
  crate/cli/src/actions/kms/rsa/mod.rs
  crate/cli/src/actions/kms/secret_data/mod.rs
  crate/cli/src/actions/kms/shared/unwrap_key.rs
  crate/cli/src/actions/kms/symmetric/keys/mod.rs
  crate/cli/src/actions/kms/symmetric/mod.rs
  crate/cli/src/tests/kms/hsm/mod.rs
  crate/cli/src/tests/kms/hsm/wrap_with_hsm_key.rs
  crate/cli/src/tests/kms/shared/wrap_unwrap.rs
  crate/hsm/base_hsm/src/lib.rs
  crate/hsm/base_hsm/src/session/rsa.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/server/src/core/operations/validate.rs
  crate/server/src/core/retrieve_object_utils.rs
  crate/server/src/core/wrapping/unwrap.rs
  crate/server/src/core/wrapping/wrap.rs
  crate/server/src/middlewares/jwt/jwt_token_auth.rs
  crate/server/src/routes/azure_ekm/error.rs
  crate/server/src/routes/google_cse/mod.rs
  crate/server/src/tests/hsm/issues.rs
  crate/server/src/tests/hsm/mod.rs
  crate/server_database/src/core/main_db_params.rs
  documentation/docs/hsms/hsm_operations.md
  shell.nix
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: allow multiple HSM admins
  .github/copilot-instructions.md
  .github/scripts/test_hsm_utimaco.sh
  CHANGELOG.md
  crate/hsm/crypt2pay/kms.toml
  crate/hsm/proteccio/kms.toml
  crate/hsm/smartcardhsm/kms.toml
  crate/hsm/softhsm2/kms.toml
  crate/hsm/utimaco/kms.toml
  crate/interfaces/src/hsm/hsm_store.rs
  crate/server/kms_template.toml
  crate/server/src/config/command_line/hsm_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/config/wizard/hsm_wizard.rs
  crate/server/src/cron.rs
  crate/server/src/main.rs
  crate/server/src/tests/hsm/mod.rs
  crate/test_kms_server/src/test_server.rs
  documentation/docs/authorization.md
  documentation/docs/hsms/hsm_operations.md
  pkg/kms.toml
  scripts/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc
