Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

fix(ci): fix k8s E2E health-recovery and doc linkcheck failures
  .mise/tasks/test/k8s-plugin
  documentation/book.toml
  documentation/docs/integrations/kubernetes/helm.md
Due: none

fix(k8s): fix Docker image runtime — add glibc, /bin/ entrypoint, correct pod wait
  .mise/lib/k8s.sh
  .mise/tasks/test/k8s/csi-provider-image
  .mise/tasks/test/k8s/operator-image
  .mise/tasks/test/k8s/plugin
  documentation/docs/integrations/cloud_providers/aws/byok.md
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
  nix/k8s-images.nix
Due: nixfmt, statix

feat(k8s): add Kubernetes KMS plugin for etcd encryption at rest
  .github/scripts/patch-kube-apiserver.py
  .github/workflows/k8s_plugin_e2e.yml
  .github/workflows/test_all.yml
  .mise/scripts/docs/gen_vector_readme.py
  Cargo.lock
  Cargo.toml
  README.md
  charts/cosmian-kms/Chart.yaml
  charts/cosmian-kms/values.yaml
  crate/clients/client_utils/Cargo.toml
  crate/clients/client_utils/src/import_utils.rs
  crate/clients/k8s/operator/Cargo.toml
  crate/clients/k8s/operator/src/config.rs
  crate/clients/k8s/operator/src/controller.rs
  crate/clients/k8s/operator/src/crd.rs
  crate/clients/k8s/operator/src/error.rs
  crate/clients/k8s/operator/src/kms.rs
  crate/clients/k8s/operator/src/lib.rs
  crate/clients/k8s/operator/src/main.rs
  crate/clients/k8s/operator/src/webhook.rs
  crate/clients/k8s/plugin/Cargo.toml
  crate/clients/k8s/plugin/build.rs
  crate/clients/k8s/plugin/src/config.rs
  crate/clients/k8s/plugin/src/error.rs
  crate/clients/k8s/plugin/src/integration_tests.rs
  crate/clients/k8s/plugin/src/kmsv2.proto
  crate/clients/k8s/plugin/src/lib.rs
  crate/clients/k8s/plugin/src/main.rs
  crate/clients/k8s/plugin/src/service.rs
  crate/clients/k8s/plugin/src/v2.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  deny.toml
  documentation/docs/integrations/kubernetes/index.md
  documentation/nav.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): printf format string starting with '-' needs '--' separator
  .github/workflows/k8s_plugin_e2e.yml
Due: none

fix(docs): add Kubernetes integrations section to SUMMARY.md
  .mise/tasks/test/k8s-plugin
  documentation/docs/SUMMARY.md
Due: none

fix(docs): add certificates.md to SUMMARY.md to fix mdbook linkcheck
  documentation/docs/SUMMARY.md
Due: none

fix(k8s): make mise test:k8s idempotent for back-to-back runs
  .github/workflows/k8s_e2e.yml
  .github/workflows/test_all.yml
  .mise/lib/k8s.sh
  .mise/tasks/test/k8s/_default
  .mise/tasks/test/k8s/csi-provider
  .mise/tasks/test/k8s/operator
  .mise/tasks/test/k8s/plugin
  documentation/docs/integrations/kubernetes/helm.md
  documentation/docs/integrations/kubernetes/index.md
  documentation/docs/integrations/kubernetes/kms-provider-plugin.md
  documentation/docs/integrations/spire_spiffe.md
Due: none

feat(packaging): add deb/rpm and Docker packaging for k8s integrations
  .github/workflows/packaging-docker.yml
  .github/workflows/packaging.yml
  .mise/scripts/package/package_k8s_plugin.sh
  .mise/tasks/build/k8s-csi-provider-image
  .mise/tasks/build/k8s-operator-image
  .mise/tasks/package/k8s-plugin-deb
  .mise/tasks/package/k8s-plugin-rpm
  .mise/tasks/test/k8s-csi-provider-image
  .mise/tasks/test/k8s-operator-image
  crate/clients/k8s/plugin/Cargo.toml
  default.nix
  documentation/docs/SUMMARY.md
  documentation/docs/integrations/kubernetes/csi-provider.md
  documentation/docs/integrations/kubernetes/operator.md
  nix/expected-hashes/k8s-csi-provider.vendor.linux.sha256
  nix/expected-hashes/k8s-operator.vendor.linux.sha256
  nix/expected-hashes/k8s-plugin.vendor.linux.sha256
  nix/k8s-binaries.nix
  nix/k8s-images.nix
  nix/k8s-plugin.nix
  pkg/cosmian_kms_plugin.service
  pkg/k8s-plugin/deb/postinst
  pkg/k8s-plugin/deb/postrm
  pkg/k8s-plugin/deb/preinst
  pkg/k8s-plugin/rpm/scriptlets.toml
Due: nixfmt, statix

fix(ci): fix k8s image test guard for plain-file artifacts
  .mise/tasks/test/k8s/csi-provider
  .mise/tasks/test/k8s/csi-provider-image
  .mise/tasks/test/k8s/operator
  .mise/tasks/test/k8s/operator-image
Due: none

fix(ci): retry IRIS KMIP config on transient 'Access to database inhibited' state
  .mise/scripts/test/test_iris.sh
Due: none

fix(packaging): copy k8s-plugin binary to workspace target dir for cargo-deb
  .mise/scripts/package/package_k8s_plugin.sh
Due: none

fix(packaging): allow Nix binary cache for k8s-plugin-bin build
  .mise/scripts/package/package_k8s_plugin.sh
Due: none

fix(ci): pin image.tag=latest in k8s plugin e2e helm install
  .github/workflows/k8s_plugin_e2e.yml
Due: none

ci: move k8s CI from test_all.yml to packaging.yml
  .github/workflows/helm-chart-publish.yml
  .github/workflows/k8s_e2e.yml
  .github/workflows/packaging-kubernetes.yml
  .github/workflows/packaging.yml
  .github/workflows/test_all.yml
  .mise/scripts/package/package_k8s_plugin.sh
  .mise/tasks/test/k8s/plugin
  crate/clients/k8s/plugin/Cargo.toml
  crate/clients/k8s/plugin/src/config.rs
  crate/clients/k8s/plugin/src/integration_tests.rs
  crate/clients/k8s/plugin/src/main.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/integrations/kubernetes/kms-provider-plugin.md
  pkg/k8s-plugin/deb/postrm
  pkg/k8s-plugin/deb/preinst
  pkg/k8s-plugin/rpm/scriptlets.toml
  pkg/kubernetes_kms_plugin.service
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: k8s
  .github/scripts/patch-kube-apiserver.py
  .github/workflows/packaging-kubernetes.yml
  .github/workflows/packaging.yml
  .mise/scripts/package/package_k8s_plugin.sh
  .mise/tasks/build/k8s-bins
  .mise/tasks/package/k8s/_default
  .mise/tasks/package/k8s/deb
  .mise/tasks/package/k8s/rpm
  nix/k8s-plugin.nix
Due: nixfmt, statix

ci: helm chart publish + test k8s docker images
  .github/instructions/mise.instructions.md
  .github/workflows/packaging-kubernetes.yml
  .mise/tasks/test/k8s/_default
  .mise/tasks/test/k8s/csi-provider
  .mise/tasks/test/k8s/operator
Due: none

ci: helm chart publish + test k8s docker images
  .mise/tasks/test/k8s/README.md
Due: none

fix(ci): use explicit HEAD SHA instead of git checkout - in gh-pages bootstrap
  .github/workflows/packaging-kubernetes.yml
Due: none

ci: helm chart publish with the existing release
  .github/workflows/packaging-kubernetes.yml
  .mise/scripts/release/release.sh
  charts/cosmian-kms/Chart.yaml
Due: none

fix(k8s): fix CSI provider DaemonSet CrashLoopBackOff and improve debug dump
  .mise/tasks/test/k8s/csi-provider
  crate/clients/k8s/csi_provider/src/main.rs
  nix/k8s-images.nix
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(k8s): fix plugin healthz test and CSI provider DaemonSet user
  .mise/tasks/test/k8s/csi-provider
  .mise/tasks/test/k8s/plugin
  crate/clients/k8s/csi_provider/src/config.rs
  crate/clients/k8s/operator/src/lib.rs
  crate/clients/k8s/plugin/src/config.rs
  crate/clients/k8s/plugin/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: OpenSSH authentication fails (#1091)
  CHANGELOG/fix_openssh.md
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/module/src/tests.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: enrich SBOM
  sbom/openssl_3_1_2/bom.cdx.json
  sbom/openssl_3_1_2/bom.spdx.json
  sbom/openssl_3_1_2/meta.json
  sbom/openssl_3_1_2/vulns.csv
Due: none

feat: enrich SBOM
  .mise/scripts/README.md
  .mise/scripts/sbom/enrich_sbom_authors.py
  .mise/scripts/sbom/filter_vulns.py
  .mise/scripts/sbom/generate_sbom.sh
  CHANGELOG.md
  sbom/README.md
Due: none

feat(ci): sign Windows installers via reusable workflow
  .github/workflows/build_windows.yml
  .github/workflows/test_all.yml
Due: none

docs(sbom): remove useless content
  sbom/README.md
  sbom/openssl_3_1_2/bom.cdx.json
  sbom/openssl_3_1_2/bom.spdx.json
  sbom/openssl_3_1_2/meta.json
  sbom/openssl_3_1_2/vulns.csv
Due: none

feat: enrich SBOM (#1102)
  .mise/scripts/README.md
  .mise/scripts/sbom/enrich_sbom_authors.py
  .mise/scripts/sbom/filter_vulns.py
  .mise/scripts/sbom/generate_sbom.sh
  CHANGELOG.md
  sbom/README.md
Due: none

chore: replace linkcheck with lychee
  .github/.markdown-link-check.json
  .github/workflows/main_base.yml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  documentation/README.md
  documentation/book.toml
  documentation/docs/certifications_and_compliance/audit/crypto_inventory.md
  documentation/docs/integrations/kubernetes/helm.md
  documentation/docs/kms_clients/index.md
  lychee.toml
Due: none

chore: replace linkcheck with lychee
  lychee.toml
Due: none

fix: create a dedicated AWS-XKS user and grant permissions for him
  .mise/scripts/test/test_xks.sh
  CHANGELOG/fix_xks-proxy-acl-1093.md
  crate/server/src/routes/aws_xks/README.md
  crate/server/src/routes/aws_xks/encrypt_decrypt/decrypt_.rs
  crate/server/src/routes/aws_xks/encrypt_decrypt/encrypt_.rs
  crate/server/src/routes/aws_xks/encrypt_decrypt/mod.rs
  crate/server/src/routes/aws_xks/key_metadata.rs
  crate/server/src/routes/aws_xks/mod.rs
  crate/server/src/routes/aws_xks/tests.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/configuration/log-reference.md
  documentation/docs/integrations/cloud_providers/aws/xks.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: replace linkcheck with lychee (#1106)
  .github/.markdown-link-check.json
  .github/workflows/main_base.yml
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  documentation/README.md
  documentation/book.toml
  documentation/docs/certifications_and_compliance/audit/crypto_inventory.md
  documentation/docs/integrations/kubernetes/helm.md
  documentation/docs/kms_clients/index.md
  lychee.toml
Due: none

fix: CI status badge on readme
  README.md
Due: none

feat: support AlwaysSensitive KMIP attribute
  CHANGELOG/feat_support_alwayssensitive_kmip_attr.md
  crate/clients/ckms/src/tests/attributes/mod.rs
  crate/clients/ckms/src/tests/attributes/test_always_sensitive.rs
  crate/clients/clap/src/actions/attributes/set.rs
  crate/clients/client_utils/src/attributes_utils.rs
  crate/kmip/src/kmip_2_1/kmip_attributes.rs
  crate/server/src/core/operations/attributes/add.rs
  crate/server/src/core/operations/attributes/delete.rs
  crate/server/src/core/operations/attributes/modify.rs
  crate/server/src/core/operations/attributes/set.rs
  crate/server/src/core/operations/create.rs
  crate/server/src/core/operations/create_key_pair.rs
  crate/server/src/core/operations/import.rs
  crate/server/src/tests/mod.rs
  crate/server/src/tests/test_always_sensitive.rs
  documentation/docs/configuration/log-reference.md
  documentation/docs/kms_clients/cli/main_commands.md
  ui/src/actions/Attributes/AttributeGet.tsx
  ui/src/actions/Attributes/attributeRegistry.ts
  ui/tests/e2e/README.md
  ui/tests/e2e/always-sensitive-flow.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): resolve CI failures for AlwaysSensitive PR
  .github/workflows/main_base.yml
  .mise/scripts/pykmip/pykmip_client.py
  documentation/book.toml
  documentation/docs/integrations/kubernetes/helm.md
  ui/tests/e2e/always-sensitive-flow.spec.ts
Due: ui-wasm-react-unit-tests

chore: init
  deleteMe
Due: none

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
