Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

feat: add ai skills (#1005)
  .github/copilot-instructions.md
  .github/instructions/docs.instructions.md
  .github/instructions/nix.instructions.md
  .github/instructions/playwright.instructions.md
  .github/instructions/rust-cli.instructions.md
  .github/instructions/rust-crypto.instructions.md
  .github/instructions/rust-database.instructions.md
  .github/instructions/rust-kmip.instructions.md
  .github/instructions/rust-server.instructions.md
  .github/instructions/rust.instructions.md
  .github/instructions/typescript-ui.instructions.md
  .github/skills/README.md
  .github/skills/adr/SKILL.md
  .github/skills/ci-efficiency/SKILL.md
  .github/skills/ci-fix/SKILL.md
  .github/skills/code-quality/SKILL.md
  .github/skills/docs-writer/SKILL.md
  .github/skills/fips-audit/SKILL.md
  .github/skills/kmip-compliance/SKILL.md
  .github/skills/kms-changelog/SKILL.md
  .github/skills/kms-release-notes/SKILL.md
  .github/skills/kms-sync-rules/SKILL.md
  .github/skills/kms-test-vector/SKILL.md
  .github/skills/openapi-endpoint/SKILL.md
  .github/skills/playwright-kms/SKILL.md
  .github/skills/pre-release/SKILL.md
  .github/skills/react-ant-patterns/SKILL.md
  .github/skills/refactor-plan/SKILL.md
  .github/skills/rust-patterns/SKILL.md
  .github/skills/rust-refactor/SKILL.md
  .github/skills/security-review/SKILL.md
  .github/skills/threat-model/SKILL.md
  .github/skills/threat-model/references/threat-model-analysis-principles.md
  .github/skills/threat-model/references/threat-model-diagrams.md
  .github/skills/threat-model/references/threat-model-orchestrator.md
  .github/skills/threat-model/references/threat-model-output-formats.md
  AGENTS.md
  CONTRIBUTING.md
Due: none

feat: db metrics
  CHANGELOG/feat_richOTELmetrics.md
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/otel_metrics.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/core/db_metrics.rs
  crate/server_database/src/core/mod.rs
  crate/server_database/src/core/unwrapped_cache.rs
  crate/server_database/src/lib.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: http middleware
  CHANGELOG/feat_richOTELmetrics.md
  crate/interfaces/src/stores/objects_store.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/otel_metrics.rs
  crate/server/src/cron.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/middlewares/otel_http_middleware.rs
  crate/server/src/start_kms_server.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/db_metrics.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: `kms.objects.total` (Step 3)
  CHANGELOG/feat_richOTELmetrics.md
  crate/interfaces/src/hsm/hsm_store.rs
  crate/interfaces/src/stores/objects_store.rs
  crate/server/src/core/otel_metrics.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/db_metrics.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: `kms.objects.total`, Redis-findex backend (Step 3 bis OK)
  CHANGELOG/feat_richOTELmetrics.md
  crate/server/src/core/kms/mod.rs
  crate/server_database/src/stores/redis/additional_redis_findex_tests.rs
  crate/server_database/src/stores/redis/objects_db.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/tests/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: step 3.bis OK
  CHANGELOG/feat_richOTELmetrics.md
  crate/interfaces/src/hsm/hsm_store.rs
  crate/interfaces/src/stores/objects_store.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/otel_metrics.rs
  crate/server/src/cron.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/stores/redis/additional_redis_findex_tests.rs
  crate/server_database/src/stores/redis/objects_db.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  crate/server_database/src/tests/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: step 3Bis improvement fixes
  CHANGELOG/feat_richOTELmetrics.md
  Cargo.lock
  crate/interfaces/Cargo.toml
  crate/interfaces/src/hsm/hsm_store.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: wire `kms.cache.operations.total`, `kms.hsm.operations.total`
  CHANGELOG/feat_richOTELmetrics.md
  Cargo.lock
  crate/server/src/config/mod.rs
  crate/server/src/config/params/mod.rs
  crate/server/src/core/kms/other_kms_methods.rs
  crate/server/src/core/operations/key_ops/crypto_op.rs
  crate/server/src/core/otel_metrics.rs
  crate/server/src/core/uid_utils.rs
  crate/server/src/core/wrapping/unwrap.rs
  crate/server/src/core/wrapping/wrap.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: budgfix
  crate/server/src/core/otel_metrics.rs
  crate/server_database/src/core/database_objects.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: bug fixes
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/sqlite.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: lots of inconsistencies in the code + new tests
  crate/server/src/core/otel_metrics.rs
  crate/server/src/middlewares/otel_http_middleware.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/stores/sql/sqlite.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: first test
  .github/scripts/test/test_otel_export.sh
Due: none

test: increase coverage
  .github/scripts/test/test_otel_export.sh
  Cargo.lock
  crate/server/Cargo.toml
  crate/server/src/core/otel_metrics.rs
  crate/server_database/src/core/database_objects.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add proper docs
  documentation/docs/configuration/logging.md
  documentation/docs/configuration/otlp-metrics.md
  documentation/mkdocs.yml
  monitoring/OTLP_METRICS.md
Due: none

test: multiple updates fix: fixes test: others
  .github/scripts/test/test_otel_export.sh
  CHANGELOG/feat_richOTELmetrics.md
  Cargo.lock
  Cargo.toml
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/otel_metrics.rs
  crate/server/src/middlewares/otel_http_middleware.rs
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/configuration/otlp-metrics.md
  monitoring/OTLP_METRICS.md
  nix/README.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: fix
  Cargo.lock
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

feat: 1fix
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.static.sha256
Due: none

feat: 1fix 2
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

fix: update AI agent skills
  .github/copilot-instructions.md
  .github/instructions/docs.instructions.md
  .github/instructions/rust-crypto.instructions.md
  .github/skills/README.md
  .github/skills/cryptography-review/SKILL.md
  .github/skills/fips-audit/SKILL.md
  .github/skills/meta-security/SKILL.md
  .github/skills/pre-release/SKILL.md
  .github/skills/security-review/SKILL.md
  .github/skills/shared/anti-hallucination.md
  .github/skills/standards-review/SKILL.md
  .github/skills/standards-review/references/citation-rules.md
  .github/skills/standards-review/references/compliance-checklist.md
  .github/skills/standards-review/references/standards-index.md
  .pre-commit-config.yaml
  AGENTS.md
  CONTRIBUTING.md
Due: none

fix(mise): add missing secret backend test tasks
  .mise/tasks/test/secret_aws
  .mise/tasks/test/secret_azure
  .mise/tasks/test/secret_cosmian_kms
  .mise/tasks/test/secret_vault
Due: none

fix: tests
  .github/workflows/main_base.yml
  .mise/scripts/test/test_secret_cosmian_kms.sh
  .mise/tasks/test/google-cse
  .mise/tasks/test/hsm-softhsm2
  .mise/tasks/test/xks
  .pre-commit-config.yaml
  CHANGELOG/intune.md
  crate/clients/ckms/installer.nsi
  crate/server/installer.nsi
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
Due: none

fix: rebase
  .mise/tasks/test/otel
Due: none

docs(secret-backends): fix CLI flag, AWS SSM note, and ckms command
  documentation/docs/configuration/secret_backends.md
Due: none

docs(secret-backends): fix CLI flag, AWS SSM note, and ckms command (#1017)
  documentation/docs/configuration/secret_backends.md
Due: none

feat(ckms): support PQC TLS certificate
  Cargo.lock
  Cargo.toml
  crate/clients/ckms/Cargo.toml
  crate/clients/ckms/src/tests/certificates/certify_pqc.rs
  crate/clients/ckms/src/tests/certificates/mod.rs
  crate/clients/clap/Cargo.toml
  crate/clients/clap/src/actions/aws/mod.rs
  crate/clients/clap/src/actions/azure/mod.rs
  crate/clients/client/Cargo.toml
  crate/clients/client/src/error/mod.rs
  crate/clients/client/src/http_client/client.rs
  crate/clients/client/src/http_client/error/mod.rs
  crate/clients/client/src/http_client/login.rs
  crate/clients/client/src/http_client/mod.rs
  crate/clients/client/src/http_client/proxy.rs
  crate/clients/client/src/http_client/tls.rs
  crate/clients/client/src/kms_rest_client.rs
  crate/clients/cng/Cargo.toml
  crate/crypto/Cargo.toml
  crate/server/Cargo.toml
  crate/server_database/Cargo.toml
  crate/test_kms_server/Cargo.toml
  crate/test_kms_server/src/test_server.rs
  crate/test_kms_server/src/vector_runner.rs
  deny.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): fix TLS cipher suite handling, Nix hashes, and Windows BCrypt linker
  crate/clients/clap/src/actions/cng.rs
  crate/clients/client/src/http_client/tls.rs
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.static.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(nix): update ui.vendor WASM cargo hash files
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

fix: PR review
  crate/clients/client/Cargo.toml
  crate/clients/client/src/http_client/proxy.rs
  crate/clients/client/src/http_client/tls.rs
  crate/clients/client/src/kms_rest_client.rs
  crate/interfaces/src/stores/objects_store.rs
  crate/server/src/core/otel_metrics.rs
  crate/server/src/middlewares/otel_http_middleware.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/mod.rs
  crate/server_database/src/stores/sql/sqlite.rs
  crate/test_kms_server/src/test_server.rs
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.static.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

fix: preserve CARGO_HOME for cargo-packager and update CLI vendor hash
  .mise/scripts/package/package_dmg.sh
  nix/expected-hashes/cli.vendor.static.darwin.sha256
Due: none

fix: PR review
  crate/clients/client/src/http_client/client.rs
  crate/clients/client/src/kms_rest_client.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: mise migration leftover
  .github/README_WORKFLOWS.md
  .github/instructions/nix.instructions.md
  .github/instructions/playwright.instructions.md
  .github/instructions/rust-cli.instructions.md
  .github/skills/ci-efficiency/SKILL.md
  .github/skills/ci-fix/SKILL.md
  .github/skills/security-review/SKILL.md
  .mise/scripts/README.md
  .mise/scripts/audit/risk_score.py
  .mise/scripts/nix.sh
  .mise/scripts/sbom/generate_cbom.py
  .mise/scripts/test/test_secret_aws.sh
  .mise/scripts/test/test_ui.sh
  .mise/scripts/windows/test_cng_ksp.ps1
  .pre-commit-config.yaml
  AGENTS.md
  README.md
  RELEASE.md
  crate/clients/ckms/src/tests/hsm/multi_softhsm2.rs
  documentation/docs/certifications_and_compliance/audit/cbom.md
  documentation/docs/certifications_and_compliance/audit/crypto_inventory.md
  documentation/docs/certifications_and_compliance/audit/multi_framework_security_audit.md
  documentation/docs/certifications_and_compliance/audit/owasp_security_audit.md
  documentation/docs/certifications_and_compliance/audit/runtime_security_audit.md
  documentation/docs/certifications_and_compliance/audit/sbom.md
  documentation/docs/integrations/cloud_providers/google_gcp/cmek.md
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
  documentation/docs/integrations/databases/edb_postgres_tde.md
  documentation/docs/integrations/databases/intersystems_iris.md
  documentation/docs/integrations/databases/oracle_tde.md
  documentation/docs/integrations/storage/synology_dsm.md
  nix/README.md
  nix/signing-keys/README.md
  sbom/README.md
  ui/README.md
  ui/package.json
  ui/tests/e2e/README.md
  ui/tests/unit/wasm-artifacts-present.test.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: veracrypt fixes
  .github/workflows/test_all.yml
  .mise/lib/kms_build.sh
  .mise/lib/kms_server.sh
  .mise/lib/pkcs11_helpers.sh
  .mise/scripts/test/test_luks.sh
  .mise/scripts/test/test_openssh.sh
  .mise/scripts/test/test_veracrypt.sh
  .mise/tasks/test/veracrypt
  CHANGELOG/veracrypt.md
  crate/clients/client/src/export_utils.rs
  crate/clients/pkcs11/provider/src/backend.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/tests.rs
  crate/crypto/src/crypto/fpe/tests.rs
  crate/interfaces/src/stores/objects_store.rs
  crate/server/src/config/command_line/secret_backends/mod.rs
  crate/server/src/core/operations/rng_seed.rs
  crate/server/src/core/otel_metrics.rs
  crate/server/src/middlewares/otel_http_middleware.rs
  crate/server/src/start_kms_server.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/mod.rs
  crate/server_database/src/stores/sql/sqlite.rs
  documentation/docs/integrations/disk_encryption/veracrypt.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): add mise to knip ignoreBinaries to fix wasm test job
  ui/knip.json
Due: none
