Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

feat: formally deny problematic crate
  Cargo.lock
  Cargo.toml
  crate/crypto/Cargo.toml
  crate/crypto/src/crypto/fpe/ff1.rs
  crate/crypto/src/crypto/fpe/integer.rs
  crate/crypto/src/crypto/fpe/kmip_fpe.rs
  crate/server/src/core/kms/other_kms_methods.rs
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/start_kms_server.rs
  deny.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: rebase
  crate/crypto/src/crypto/fpe/ff1.rs
  crate/crypto/src/crypto/fpe/kmip_fpe.rs
  crate/server/Cargo.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: nix
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

fix: ci
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  ui/src/App.tsx
  ui/vite.config.ts
Due: ui-wasm-react-unit-tests

feat : ci ?
  deny.toml
  ui/tests/unit/tsx-imports/AuthContext.test.ts
Due: ui-wasm-react-unit-tests

feat: fix ci
  CHANGELOG/feature_fpe-kmip.md
  crate/server/src/start_kms_server.rs
  ui/src/actions/Tokenize/TokenizeWordPatternMask.tsx
  ui/tests/e2e/tokenize.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: final
  CHANGELOG/feature_fpe-kmip.md
Due: none

fix: PR review
  .pre-commit-config.yaml
  CHANGELOG/feature_fpe-kmip.md
  cli_documentation/docs/cli/main_commands.md
  cli_documentation/docs/usage.md
  crate/clients/clap/src/actions/fpe/keys/destroy_key.rs
  crate/clients/clap/src/actions/fpe/keys/mod.rs
  crate/clients/clap/src/actions/fpe/keys/revoke_key.rs
  crate/clients/clap/src/actions/tokenize/mod.rs
  crate/clients/wasm/src/wasm.rs
  crate/crypto/src/crypto/fpe/alphabet.rs
  crate/crypto/src/crypto/fpe/ff1.rs
  crate/crypto/src/crypto/fpe/integer.rs
  deny.toml
  ui/src/App.tsx
  ui/src/actions/FPE/FpeDecrypt.tsx
  ui/src/actions/FPE/FpeEncrypt.tsx
  ui/src/actions/FPE/FpeKeysCreate.tsx
  ui/src/menuItems.tsx
  ui/tests/e2e/README.md
  ui/tests/e2e/fpe.spec.ts
  ui/tests/e2e/routes.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add E2E tests to fpe
  crate/clients/ckms/src/tests/fpe/create_key.rs
  crate/clients/ckms/src/tests/fpe/encrypt_decrypt.rs
  crate/clients/ckms/src/tests/fpe/mod.rs
  crate/clients/ckms/src/tests/fpe/tokenize.rs
  crate/clients/ckms/src/tests/mod.rs
  crate/clients/clap/src/actions/fpe/decrypt.rs
  crate/clients/clap/src/actions/fpe/encrypt.rs
  crate/clients/clap/src/actions/fpe/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: last last last user facing fixes
  crate/clients/clap/src/actions/fpe/mod.rs
  crate/crypto/src/crypto/anonymization/noise.rs
  crate/crypto/src/crypto/anonymization/number.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: add otlp_allow_insecure to OTEL CI test config
  .github/scripts/test/test_otel_export.sh
Due: none

fix: multiple fixes
  Cargo.lock
Due: none

fix: multiple fixes
  CHANGELOG/fix_span.md
  Cargo.lock
  Cargo.toml
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/module/src/traits/mod.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/base_hsm/src/tests_shared.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: multiple fixes
  CHANGELOG/fix_span.md
  SECURITY.md
  SECURITY_AUDIT_REPORT.md
  crate/server/kms_template.toml
  crate/server/src/config/command_line/logging.rs
  crate/server/src/config/mod.rs
  crate/server/src/config/params/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/operations/activate.rs
  crate/server/src/core/operations/revoke.rs
  crate/server/src/main.rs
  crate/server/src/routes/google_cse/operations.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/stores/sql/sqlite.rs
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: multiple fixes
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/tests/database_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  crate/server_database/src/tests/mod.rs
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review
  SECURITY_AUDIT_REPORT.md
  crate/crypto/src/crypto/wrap/wrap_key.rs
  crate/server/src/core/operations/digest.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/core/operations/hash.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/pkcs11.rs
  scripts/eviden-codesign-20260422.csr.pem
  scripts/eviden-codesign-20260422.pubkey.pem
  scripts/proteccio_slot8_csr.sh
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: on encryption, only persist to the database when usage limits are decremented
  crate/server/src/core/operations/encrypt.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(nix): update server vendor static hash after Cargo.lock change
  nix/expected-hashes/server.vendor.static.sha256
Due: none

fix(clippy): fix vec_init_then_push, const fn and expect_used in secret backends
  crate/server/src/config/command_line/secret_backends.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(security): ignore rustls-webpki 0.101.7 advisories in cargo-audit config
  .cargo/audit.toml
Due: none

fix: PR review
  CHANGELOG/fix_span.md
  Cargo.lock
  README.md
  crate/hsm/base_hsm/Cargo.toml
  crate/hsm/base_hsm/src/kms_hsm.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/routes/aws_xks/encrypt_decrypt/decrypt_.rs
  crate/server/src/routes/aws_xks/encrypt_decrypt/encrypt_.rs
  crate/server/src/routes/aws_xks/sigv4_middleware.rs
  crate/server/src/start_kms_server.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/unwrapped_cache.rs
  documentation/docs/certifications_and_compliance/audit/owasp_security_audit.md
  documentation/docs/kmip_support/support.md
  s3-xks-bench.py
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review 2
  Cargo.lock
  crate/hsm/base_hsm/Cargo.toml
  crate/hsm/base_hsm/src/kms_hsm.rs
  crate/server/src/start_kms_server.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  s3-xks-bench.py
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: bump dependencies du to security alert digest
  CHANGELOG/fix_span.md
  Cargo.lock
Due: none

fix(nix): update UI wasm and server dynamic vendor hashes
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

chore: update expected hashes
  crate/crypto/src/crypto/elliptic_curves/ecies/standard_curves.rs
  crate/crypto/src/openssl/private_key.rs
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update expected hashes
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
Due: none

fix cargo machete|audit issues
  Cargo.lock
  crate/rbac/Cargo.toml
  deny.toml
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
Due: none

fix(config): skip comment lines in env-var interpolation; update darwin Nix hashes
  CHANGELOG/feat_config-secret-management.md
  crate/server/src/config/command_line/clap_config.rs
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update server wizard
  CHANGELOG/fix_span.md
  crate/clients/clap/src/tests/access.rs
  crate/clients/pkcs11/loader/build.rs
  crate/clients/pkcs11/loader/src/tests.rs
  crate/server/src/config/wizard/advanced_wizard.rs
  crate/server/src/config/wizard/http_wizard.rs
  crate/server/src/config/wizard/mod.rs
  crate/server/src/config/wizard/tls_wizard.rs
  crate/test_kms_server/src/lib.rs
  crate/test_kms_server/src/test_server.rs
  documentation/docs/configuration/configurations.md
  documentation/docs/configuration/ui.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: support of Fortigate
  CHANGELOG.md
  crate/kmip/src/kmip_0/kmip_messages.rs
  crate/kmip/src/kmip_0/kmip_types.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
  crate/kmip/src/ttlv/tests/kmip_2_1_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: filter locate by matching multiple objects
  CHANGELOG/support_fortigate.md
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
  crate/server/src/tests/ttlv_tests/integrations/synology_dsm.rs
  crate/server/src/tests/ttlv_tests/locate_1_4.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: issue 933 on ModifyAttribute with non-extractable HSM-backed key
  CHANGELOG/support_fortigate.md
  README.md
  crate/interfaces/src/hsm/hsm_store.rs
  crate/server/src/tests/hsm/issues.rs
  crate/server/src/tests/hsm/mod.rs
  crate/server/src/tests/hsm/test_helpers.rs
  crate/server/src/tests/ttlv_tests/integrations/synology_dsm.rs
  documentation/docs/kmip_support/support.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: reduce Playwright workers on Windows to prevent 408 timeouts in E2E tests
  CHANGELOG/support_fortigate.md
Due: none

fix(deps): fix rustls-webpki 0.103.12→0.103.13 checksum mismatch after merge
  Cargo.lock
Due: none

build: update Nix vendor hashes after Cargo.lock changes
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

test: consolidate softhsm2 tests
  .github/scripts/test/test_hsm_softhsm2.sh
  CHANGELOG/support_fortigate.md
  crate/interfaces/src/hsm/hsm_store.rs
  crate/server/src/tests/hsm/issues.rs
  crate/server/src/tests/hsm/mod.rs
  crate/server/src/tests/ttlv_tests/integrations/synology_dsm.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc
