Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

fix: on KMS startup, using default_username + CO role fails
  crate/server/src/config/params/server_params.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(crl): verify CRL generation when CO role is disabled
  crate/test_kms_server/src/crl_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: log-ref update
  documentation/docs/configuration/log-reference.md
Due: none

fix: GHSA-rwc8-xwm6-52xc
  SECURITY.md
  crate/server/src/core/certificate/mod.rs
  crate/server/src/core/operations/import.rs
  crate/server/src/core/operations/validate.rs
  documentation/docs/configuration/log-reference.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: redis tests
  crate/server_database/src/stores/redis/redis_with_findex.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): address PR #991 UI review comments
  CHANGELOG/feat_split_key.md
  ui/src/App.tsx
  ui/src/actions/Access/CryptoOfficerRole.tsx
  ui/src/actions/Keys/SplitKey.tsx
  ui/src/components/layout/Sidebar.tsx
  ui/src/i18n/locales/en/actions.json
  ui/src/i18n/locales/zh-CN/actions.json
  ui/src/styles.css
  ui/tests/unit/split-key-logic.test.ts
  ui/tests/unit/tsx-imports/CryptoOfficerRevoke.test.ts
Due: ui-wasm-react-unit-tests

fix(crl): remove CO guard — CRL is public information (RFC 5280 §3)
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/core/operations/revoke.rs
  crate/server/src/cron.rs
  documentation/docs/configuration/log-reference.md
  yo.der
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(test): eliminate TOCTOU race in test server port allocation
  crate/server/src/main.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/ttlv_tests/mod.rs
  crate/server/src/windows_service.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: fix AI skill
  .github/copilot-instructions.md
  .github/instructions/cli-ui-sync.instructions.md
  .github/instructions/docs.instructions.md
  .github/instructions/kmip-operations.instructions.md
  .github/instructions/middlewares.instructions.md
  .github/instructions/ui-routes.instructions.md
  .github/skills/README.md
  .github/skills/kms-sync-rules/SKILL.md
  AGENTS.md
Due: none

docs(changelog): record F-2/F-3/F-6/F-7/F-8/F-9 security improvements
  CHANGELOG/feat_split_key.md
Due: none

chore: remove accidentally committed yo.der test file
  yo.der
Due: none

fix(ui): use public CRL endpoint to include certs from all users
  crate/server/src/routes/crl.rs
  ui/src/actions/Certificates/CertificateGenerateCrl.tsx
  ui/src/menuItems.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: follow RFC 5280 for RemoveFromCRL reason mapping
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/main.rs
  crate/test_kms_server/src/crl_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: address docs review comments on PR #991
  documentation/docs/configuration/database/configuration.md
  documentation/docs/configuration/database/redis.md
  documentation/docs/configuration/database/tables.md
Due: none

fix: MySQL get_max_crl_number panics on NULL when crls table is empty
  crate/server_database/src/stores/sql/mysql.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: counting-revoked-certificates tests for CRL with and without CO role
  crate/server/src/tests/crl_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: support CRL generation
  lychee.toml
Due: none

fix: GHSA-rwc8-xwm6-52xc
  lychee.toml
Due: none

fix(test): update test_toml expected string for CrlConfig TOML section
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(pki): split revocation on dedicated page
  documentation/docs/SUMMARY.md
  documentation/docs/adr/2026-08-20-pki-crl-generation-distribution-auto-refresh.md
  documentation/docs/use_cases/pki-revocation.md
  documentation/docs/use_cases/pki.md
Due: none

fix(test): use temp file in sr_crl_10 instead of test_data submodule
  documentation/docs/configuration/log-reference.md
Due: none

feat: support CRL generation
  ui/src/actions/Access/AccessGrant.tsx
  ui/src/actions/Objects/ObjectsDestroy.tsx
Due: ui-wasm-react-unit-tests

feat(i18n): make CertificateGenerateCrl fully i18n-compliant (en + zh-CN)
  ui/src/actions/Certificates/CertificateGenerateCrl.tsx
  ui/src/i18n/locales/en/actions.json
  ui/src/i18n/locales/zh-CN/actions.json
Due: ui-wasm-react-unit-tests

fix: rust-review + standards findings in generate_crl.rs and validate.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/core/operations/validate.rs
  documentation/docs/SUMMARY.md
  documentation/docs/configuration/authorization/key_ceremony.md
  documentation/docs/configuration/log-reference.md
  ui/src/menuItems.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: implement auto CRL refresh and persist CRLs in DB
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/core/operations/revoke.rs
  crate/server/src/routes/crl.rs
  crate/test_kms_server/src/crl_tests.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: CRL completeness with and without Crypto Officer role
  crate/server/src/tests/crl_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(config): extract CRL lifecycle settings into CrlConfig struct
  CHANGELOG/fix_put_kms_public_url_in_allowed_cors_by_default.md
  crate/crypto/src/openssl/crl.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/crl_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(test_kms_server): update config paths to match test_data feature/split_key layout
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: tests
  documentation/docs/configuration/log-reference.md
Due: none

fix: resolve WASM/UI and Windows CI failures
  .mise/scripts/windows/cargo_test.ps1
  ui/src/actions/Keys/JoinSplitKey.tsx
Due: ui-wasm-react-unit-tests

chore: rebase
  crate/server/src/config/command_line/clap_config.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: clarify --opa-url requirement
  CHANGELOG/rbac_rego.md
  crate/server/src/config/params/server_params.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(test): opt-in matrix tests via PLAYWRIGHT_AUTH_MATRIX_TESTS env var
  ui/tests/e2e/login-page-auth-method-matrix.spec.ts
Due: ui-wasm-react-unit-tests

fix(test): skip login-page matrix tests when PLAYWRIGHT_CERT_DIR is set (mTLS CI)
  ui/tests/e2e/login-page-auth-method-matrix.spec.ts
Due: ui-wasm-react-unit-tests

fix: toml test
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(test): inline auth_verifier TOML in unit test (test_data submodule not available on CI)
  crate/server/src/config/command_line/auth_verifier_config.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: log-ref update
  crate/server/src/routes/crl.rs
  crate/test_kms_server/src/crl_tests.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: simplify auth-verifier provisioning, add OPA RBAC vector tests and multi-tenancy coverage
  .mise/scripts/test/test_opa_rbac.sh
  crate/server/src/config/command_line/auth_verifier_config.rs
  crate/server/src/config/command_line/ui_config.rs
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/routes/ui_auth.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  docker-compose.yml
  documentation/docs/SUMMARY.md
  documentation/docs/configuration/authorization/index.md
  documentation/docs/configuration/authorization/mode3.md
  documentation/docs/configuration/authorization/opa-authverifier-setup.md
  documentation/docs/configuration/authorization/rbac-opa-jwt-setup.md
  documentation/nav.yml
  ui/src/App.tsx
  ui/src/pages/LoginPage.tsx
  ui/src/utils/utils.ts
  ui/tests/e2e/README.md
  ui/tests/e2e/login-page-auth-method-matrix.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc
