Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

test: move PKCS11-v3 generic functions to tests_shared
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/hsm/kryoptic/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(hsm): add PKCS#11 v3.0 capability-probe FFI foundation
  crate/hsm/base_hsm/src/session/session_impl.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(hsm): add PKCS#11 v3.0 capability-probe FFI foundation
  documentation/docs/configuration/log-reference.md
  lychee.toml
Due: none

feat(hsm): HSM-delegated EC/ECDSA/RSA-PSS/EdDSA key generation and signing
  documentation/docs/configuration/log-reference.md
Due: none

fix: rebase and docs
  crate/clients/pkcs11/module/src/traits/backend.rs
  crate/clients/pkcs11/provider/src/backend.rs
  crate/clients/pkcs11/provider/src/lib.rs
  crate/clients/pkcs11/provider/src/tests_v3.rs
  crate/hsm/base_hsm/src/tests_shared.rs
  documentation/docs/configuration/log-reference.md
  documentation/docs/hsm_support/hsm_operations.md
  documentation/docs/integrations/pkcs11_provider.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: display PKCS11 conformance using pkcs11-tool
  .mise/scripts/test/pkcs11_raw_abi_check.py
  .mise/scripts/test/test_pkcs11_conformance.sh
  .mise/tasks/test/pkcs11-conformance
  CHANGELOG/hsm_delegation_benchs.md
  crate/clients/clap/src/actions/pkcs11_capabilities.rs
  crate/clients/pkcs11/module/src/core/attribute.rs
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/module/src/traits/backend.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/crypto/src/crypto/rsa/sign.rs
  crate/crypto/src/crypto/rsa/verify.rs
  crate/server/kms_template.toml
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/kms_clients/usage.md
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add mise test:pkcs11:support and rename test:pkcs11:conformance
  .github/workflows/test_all.yml
  .mise/scripts/test/test_pkcs11_conformance.sh
  .mise/tasks/test/pkcs11/_default
  .mise/tasks/test/pkcs11/conformance
  .mise/tasks/test/pkcs11/support
  CHANGELOG/hsm_delegation_benchs.md
Due: none

feat: display PKCS11 capabilities of cosmian_pkcs11
  CHANGELOG/hsm_delegation_benchs.md
  crate/clients/ckms/src/tests/pkcs11.rs
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/mod.rs
  crate/clients/clap/src/actions/pkcs11.rs
  crate/clients/clap/src/actions/pkcs11_capabilities.rs
  crate/clients/clap/src/actions/pkcs11_verify.rs
  documentation/docs/kms_clients/cli/main_commands.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: fix test_all.yml
  .github/workflows/test_all.yml
Due: none

feat: support PKCS11 v3 in cosmian_pkcs11 - via ckms
  CHANGELOG/hsm_delegation_benchs.md
  _typos.toml
  crate/clients/ckms/src/tests/pkcs11.rs
  crate/clients/clap/src/actions/pkcs11.rs
  crate/clients/clap/src/actions/pkcs11_capabilities.rs
  documentation/docs/kms_clients/cli/main_commands.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: sync log-reference.md with source (dedupe stale entries)
  documentation/docs/configuration/log-reference.md
Due: none

fix(pkcs11): expose certificates in find_all_objects generic listing
  CHANGELOG/hsm_delegation_benchs.md
  crate/clients/pkcs11/provider/src/backend.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): load Nix shell in test:pkcs11:support; sync log-reference.md
  .mise/tasks/test/pkcs11/support
  CHANGELOG/hsm_delegation_benchs.md
  documentation/docs/configuration/log-reference.md
Due: none

ci: fix test:pkcs11:support wiring in test_all.yml (avoid yamlfmt colon-mangling)
  .github/workflows/test_all.yml
  CHANGELOG/hsm_delegation_benchs.md
Due: none

test: add server_url as benchmark argument
  .mise/lib/bench_helpers.sh
  .mise/tasks/bench/load-pkcs11
  documentation/docs/configuration/log-reference.md
Due: none

fix: tests
  crate/hsm/base_hsm/src/session/session_impl.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(auth): add SPIRE JWT-SVID Web UI login and E2E verification
  .mise/tasks/test/spire-jwt-svid
  .pre-commit-config.yaml
  CHANGELOG.md
  crate/server/src/middlewares/jwt/jwt_token_auth.rs
  crate/server/src/middlewares/jwt/mod.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/ui_auth.rs
  crate/server/src/start_kms_server.rs
  docker-compose.yml
  documentation/docs/configuration/log-reference.md
  documentation/docs/integrations/spire_spiffe.md
  ui/src/App.tsx
  ui/src/components/layout/MainLayout.tsx
  ui/src/i18n/locales/en/layout.json
  ui/src/i18n/locales/fr/layout.json
  ui/src/i18n/locales/zh-CN/layout.json
  ui/src/pages/LoginPage.tsx
  ui/src/utils/utils.ts
  ui/tests/e2e/spiffe-jwt-svid-auth.spec.ts
  ui/tests/e2e/spiffe-ui-login.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): correct Windows signing artifact path
  .github/workflows/build_windows.yml
Due: none

fix(ci): flatten Windows signing artifact
  .github/workflows/build_windows.yml
Due: none

docs: sync log-reference index
  documentation/docs/configuration/log-reference.md
Due: none

refactor(audit): centralize event construction
  crate/access/src/audit/event.rs
  crate/access/src/audit/mod.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/audit/mod.rs
  crate/server/src/middlewares/audit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(audit): define backend sink contract
  Cargo.lock
  crate/interfaces/Cargo.toml
  crate/interfaces/src/lib.rs
  crate/interfaces/src/stores/audit_sink.rs
  crate/interfaces/src/stores/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(audit): split middleware module
  crate/server/src/middlewares/audit/client_ip.rs
  crate/server/src/middlewares/audit/extensions.rs
  crate/server/src/middlewares/audit/mod.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor: do more refactoring
  crate/interfaces/src/stores/audit_sink.rs
  crate/server/src/core/audit/file_sink.rs
  crate/server/src/core/audit/mod.rs
  crate/server/src/core/audit/recovery.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(audit): separate file sink internals
  crate/server/src/core/audit/file_sink.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/audit/mod.rs
  crate/server/src/core/audit/store.rs
  crate/server/src/core/audit/writer.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: review fixes
  crate/interfaces/src/stores/audit_sink.rs
  crate/server/src/core/audit/recovery.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: skip torn-tail repair tests on Windows (file handle semantics differ)
  crate/access/src/audit/event.rs
  crate/server/src/core/audit/file_sink.rs
  crate/server/src/core/audit/recovery.rs
  crate/server/src/core/audit/store.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(audit): generalize AuditStore over AuditSink
  Cargo.lock
  crate/access/src/audit/event.rs
  crate/interfaces/src/stores/audit_sink.rs
  crate/server/Cargo.toml
  crate/server/src/core/audit/file_sink.rs
  crate/server/src/core/audit/recovery.rs
  crate/server/src/core/audit/store.rs
  crate/server/src/core/audit/writer.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: rev fixes
  crate/access/src/audit/event.rs
  crate/interfaces/src/error/mod.rs
  crate/interfaces/src/stores/audit_sink.rs
  crate/server/src/core/audit/file_sink.rs
  crate/server/src/core/audit/store.rs
  crate/server/src/core/audit/writer.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: sync log-reference.md with resume()/writer.rs log call-sites
  documentation/docs/configuration/log-reference.md
Due: none

fix: correct pre-existing Unparseable/unparseable typo to Unparsable/unparsable
  crate/server/src/middlewares/audit/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci(bench): call 4 benchmarks in workflow
  .github/workflows/benchmark.yml
Due: none

fix: review fix
  crate/server/src/core/audit/file_sink.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add healthstuff
  crate/server/src/core/audit/store.rs
  crate/server/src/routes/health.rs
  crate/server/src/tests/health_endpoint.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): dump openvpn log on AWS CloudHSM VPN connectivity failure
  .mise/tasks/test/hsm-aws-cloudhsm
Due: none

test(bench): support TLS arg in mise bench:load-pkcs11
  .mise/tasks/bench/load-pkcs11
  crate/clients/pkcs11/bench/src/main.rs
  crate/clients/pkcs11/bench/src/setup.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc
