Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

Copilot review changes
  crate/clients/client/src/http_client/login.rs
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/middlewares/cosmian_auth/cosmian_auth_token.rs
  crate/server/src/middlewares/jwt/jwks.rs
  crate/server/src/routes/ui_auth.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Cosmian Auth test suite
  .mise/scripts/test/test_ui_auth.sh
  ui/package.json
  ui/playwright.auth.config.ts
  ui/src/components/layout/MainLayout.tsx
  ui/src/pages/LoginPage.tsx
  ui/tests/e2e-auth/cosmian-login.spec.ts
Due: ui-wasm-react-unit-tests

feat: add AppRole authentication with ckms + fix CI failures
  .mise/scripts/test/test_ui_auth.sh
  CHANGELOG/feat_auth-server-integration.md
  crate/clients/ckms/src/tests/login_tests.rs
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/login.rs
  crate/clients/client/src/http_client/client.rs
  crate/clients/client/src/http_client/login.rs
  crate/clients/client/src/http_client/mod.rs
  crate/clients/client/src/http_client/tests.rs
  crate/clients/wasm/package.json
  crate/server/documentation/openapi.yaml
  crate/server/src/main.rs
  crate/server/src/routes/swagger.rs
  crate/server/src/routes/ui_auth.rs
  crate/server/src/start_kms_server.rs
  ui/tests/e2e/locate-attributes.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: pre-populate pkg/package.json to guard against wasm-pack repository-field bug
  .mise/scripts/test/test_ui.sh
  .mise/scripts/test/test_ui_auth.sh
  .mise/tasks/test/wasm
Due: none

fix: increase auth-server and KMS readiness timeouts to 120s in test_ui_auth.sh
  .mise/scripts/test/test_ui_auth.sh
Due: none

fix(test): use unique SQLite path and remove admin_ui_path in auth test config
  .mise/scripts/test/test_ui_auth.sh
  av.md
Due: none

fix(test): skip Cosmian Auth E2E tests in FIPS mode
  .mise/tasks/test/ui
Due: none

test: add test on webui auth
  .mise/scripts/test/test_ui_auth.sh
  Cargo.lock
  crate/server/src/config/command_line/auth_verifier_config.rs
  crate/server/src/routes/ui_auth.rs
  crate/test_kms_server/Cargo.toml
  crate/test_kms_server/src/auth_verifier_tests.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): auth verifier E2E test uses https:// instead of http://
  .mise/scripts/test/test_ui_auth.sh
  CHANGELOG/feat_auth-server-integration.md
Due: none

fix(build): strip ANSI escape codes from cargo deny list output
  .github/workflows/release.yml
  .pre-commit-config.yaml
  sbom/licenses.txt
Due: none

fix: security review
  crate/server/src/core/kms/permissions.rs
  crate/server/src/middlewares/api_token/api_token_middleware.rs
  crate/server/src/middlewares/auth_verifier/token.rs
  crate/server/src/middlewares/ensure_auth.rs
  crate/server/src/middlewares/jwt/jwks.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/middlewares/jwt/jwt_token_auth.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/middlewares/session_auth.rs
  crate/server/src/middlewares/spire_token.rs
  crate/server/src/middlewares/tls_auth.rs
  crate/server/src/routes/google_cse/jwt.rs
  crate/server/src/routes/kmip.rs
  crate/server/src/routes/spire/auth_proxy.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/google_cse/mod.rs
  documentation/docs/configuration/log-reference.md
  threat-model-20260803-120000/0-architecture.md
  threat-model-20260803-120000/0-assessment.md
  threat-model-20260803-120000/1-dfd.md
  threat-model-20260803-120000/2-stride-analysis.md
  threat-model-20260803-120000/3-findings.md
  threat-model-20260803-120000/threat-inventory.json
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: log-ref
  documentation/docs/configuration/log-reference.md
Due: none

docs(spire): add setup section, SPIRE server config, install-page links
  documentation/docs/integrations/spire_spiffe.md
Due: none

docs(adr): record whole-second creation_time precision limitation
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
Due: none

chore: update auth submodule
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

fix: combine native auth with AppRole auth
  .github/workflows/nightly.yml
  .mise/scripts/package/package_dmg.sh
  CHANGELOG/spire.md
  crate/server/src/middlewares/mod.rs
  crate/server/src/middlewares/spire_token.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/integrations/spire_spiffe.md
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(spire): host-network mode for all SPIRE containers + stale process cleanup
  .mise/tasks/test/spire
  docker-compose.yml
Due: none

chore: update pre-commit conf
  .pre-commit-config.yaml
Due: none

fix: clippy
  crate/server/src/routes/spire/transit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(spire): determine spire-agent docker network dynamically
  .mise/tasks/test/spire
Due: none

Add pre-flight checks
  .mise/tasks/test/spire
Due: none

feat: support SPIRE server
  .github/workflows/test_all.yml
  .gitmodules
  .mise/tasks/test/spire
  CHANGELOG/spire-vault-compatible-api.md
  Cargo.lock
  README.md
  crate/clients/clap/Cargo.toml
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/mod.rs
  crate/clients/clap/src/actions/vault/approle.rs
  crate/clients/clap/src/actions/vault/mod.rs
  crate/server/Cargo.toml
  crate/server/documentation/openapi.yaml
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/command_line/vault_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/main.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/middlewares/vault_token.rs
  crate/server/src/routes/mod.rs
  crate/server/src/routes/vault/error.rs
  crate/server/src/routes/vault/mod.rs
  crate/server/src/routes/vault/pki.rs
  crate/server/src/routes/vault/transit.rs
  crate/server/src/start_kms_server.rs
  docker-compose.yml
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
  documentation/docs/configuration/log-reference.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(spire): insert AuthenticatedUser in spire_token_middleware to fix auth bypass
  crate/server/src/middlewares/spire_token.rs
  crate/server/src/routes/spire/pki.rs
  nix/kms-server.nix
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(spire): document the /v1/auth/* transparent proxy in openapi
  crate/server/documentation/openapi.yaml
Due: none

test(spire): add cross-AppRole transit key isolation tests
  crate/server/src/routes/spire/transit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: rewrite kms.md/kms.toml for self-service AppRole + add kms_setup.sh
  kms.md
  kms.toml
  kms_setup.sh
Due: none

fix(spire): remove vault-proxy step, point VAULT_ADDR to KMS
  .mise/tasks/test/spire
Due: none

test: add multi SPIRE servers
  .mise/tasks/test/spire
  docker-compose.yml
Due: none
