Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

chore: init
  deleteMe
Due: none

fix: add doc comment
  crate/access/src/audit/cef.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: don't log "kmip" only
  crate/access/src/audit/cef.rs
  crate/access/src/audit/hash.rs
  crate/clients/clap/src/actions/audit.rs
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/kmip.rs
  crate/server/src/start_kms_server.rs
  deleteMe
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: big commit deleted history
  Cargo.lock
  crate/access/Cargo.toml
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/access/src/lib.rs
  crate/clients/ckms/src/commands.rs
  crate/clients/clap/src/actions/audit.rs
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/mod.rs
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/audit/mod.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/mod.rs
  crate/server/src/main.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: post rebase fixes
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: review fixes
  crate/kmip/src/ttlv/kmip_ttlv_serializer.rs
  crate/server/src/middlewares/audit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add coverage for per-user metric labels and cardinality overflow
  crate/access/src/audit/cef.rs
  crate/access/src/audit/hash.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/otel_metrics.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/routes/kmip/handlers.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: stick to CEF v27, create CEF doc page and test CEF format dynamically
  .github/skills/code-quality/SKILL.md
  .github/skills/mise/SKILL.md
  .github/workflows/test_all.yml
  .mise/scripts/nix.sh
  .mise/scripts/test/cef_helper.py
  .mise/scripts/test/cef_interop_helper.py
  .mise/scripts/test/test_cef.sh
  .mise/scripts/test/test_cef_interop.sh
  .mise/tasks/test/cef
  CHANGELOG/feat_audit_and_siem.md
  _typos.toml
  crate/access/src/audit/cef.rs
  crate/server/src/tests/audit_middleware.rs
  documentation/docs/SUMMARY.md
  documentation/docs/adr/2026-07-09-003-audit-log-single-writer-design.md
  documentation/docs/adr/2026-07-09-004-audit-middleware-extension-injection.md
  documentation/docs/adr/2026-07-09-005-cef-siem-export-format.md
  documentation/docs/configuration/cef-export.md
  documentation/docs/configuration/siems.md
  documentation/docs/kms_clients/audit.md
  documentation/nav.yml
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: cherry picked commit
  crate/server/src/core/otel_metrics.rs
  monitoring/OTLP_METRICS.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: batching now works
  CHANGELOG/feat_audit_and_siem.md
  Cargo.lock
  crate/access/Cargo.toml
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/clients/clap/src/actions/audit.rs
  crate/clients/client_utils/Cargo.toml
  crate/kmip/src/ttlv/kmip_ttlv_deserializer/deserializer.rs
  crate/kmip/src/ttlv/kmip_ttlv_serializer.rs
  crate/server/Cargo.toml
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/main.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/adr/0003-audit-log-single-writer-design.md
  documentation/docs/adr/0004-audit-middleware-extension-injection.md
  documentation/docs/configuration/audit-logs.md
  documentation/docs/configuration/log-reference.md
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: fix docs
  crate/clients/clap/src/actions/audit.rs
  documentation/docs/configuration/siems.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(RUSTSEC-2026-0253): Potential use-after-free in lru 0.16: upgrading to 0.18
  Cargo.lock
  Cargo.toml
Due: none

fix: button reordering
  ui/src/components/common/LanguageSwitcher.tsx
  ui/src/components/layout/MainLayout.tsx
Due: ui-wasm-react-unit-tests

refactor: refactor language settings
  ui/src/components/common/LanguageSwitcher.tsx
  ui/src/i18n/index.ts
  ui/src/i18n/localeRegistry.ts
  ui/src/i18n/useAppLocale.ts
Due: ui-wasm-react-unit-tests

fix: first batch
  ui/src/i18n/localeRegistry.ts
  ui/src/i18n/locales/fr/actions.json
  ui/src/i18n/locales/fr/common.json
  ui/src/i18n/locales/fr/layout.json
  ui/src/i18n/locales/fr/locate.json
  ui/src/i18n/locales/fr/menu.json
  ui/src/i18n/useAppLocale.ts
  ui/tests/e2e/locate-filters.spec.ts
  ui/tests/e2e/locate-hsm.spec.ts
  ui/tests/e2e/tokenize.spec.ts
Due: ui-wasm-react-unit-tests

fix: refactor bad boce
  ui/src/actions/Tokenize/TokenizeWordMask.tsx
  ui/src/actions/Tokenize/TokenizeWordTokenize.tsx
  ui/tests/e2e/tokenize.spec.ts
Due: ui-wasm-react-unit-tests

fix: other unreleated CI fixes
  ui/src/components/common/Locate.tsx
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests

Revert "fix: first batch"
  ui/src/i18n/localeRegistry.ts
  ui/src/i18n/locales/fr/actions.json
  ui/src/i18n/locales/fr/common.json
  ui/src/i18n/locales/fr/layout.json
  ui/src/i18n/locales/fr/locate.json
  ui/src/i18n/locales/fr/menu.json
  ui/src/i18n/useAppLocale.ts
  ui/tests/e2e/locate-filters.spec.ts
  ui/tests/e2e/locate-hsm.spec.ts
Due: ui-wasm-react-unit-tests

fix:fix
  ui/src/i18n/localeRegistry.ts
  ui/tests/e2e/locate-filters.spec.ts
  ui/tests/e2e/locate-hsm.spec.ts
Due: ui-wasm-react-unit-tests

docs: add Terraform Provider plugin doc
  README.md
  documentation/docs/SUMMARY.md
  documentation/docs/index.md
  documentation/docs/integrations/terraform.md
Due: none

refactor(ui): language settings (#1119)
  ui/src/actions/Tokenize/TokenizeWordMask.tsx
  ui/src/actions/Tokenize/TokenizeWordTokenize.tsx
  ui/src/components/common/LanguageSwitcher.tsx
  ui/src/components/common/Locate.tsx
  ui/src/i18n/index.ts
  ui/src/i18n/localeRegistry.ts
  ui/src/i18n/useAppLocale.ts
  ui/tests/e2e/helpers.ts
  ui/tests/e2e/locate-filters.spec.ts
  ui/tests/e2e/locate-hsm.spec.ts
  ui/tests/e2e/tokenize.spec.ts
Due: ui-wasm-react-unit-tests

test: add CEF audit test suite
  .mise/scripts/nix.sh
  .mise/scripts/test/cef_interop_helper.py
  .mise/scripts/test/requirements-cef.txt
  .mise/scripts/test/test_cef_interop.sh
  .mise/tasks/test/cef-interop
Due: none

fix: post rebase fixes v2
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: amazing update, IDs and algo are now recorded by audit
  AGENTS.md
  CHANGELOG/feat_audit_and_siem.md
  SECURITY.md
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/clients/clap/src/actions/audit.rs
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/routes/kmip/handlers.rs
  crate/server/src/routes/kmip/mod.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/mod.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/adr/0003-audit-log-single-writer-design.md
  documentation/docs/adr/0004-audit-middleware-extension-injection.md
  documentation/docs/adr/0005-cef-siem-export-format.md
  documentation/docs/configuration/audit-logs.md
  documentation/docs/configuration/logging.md
  documentation/docs/configuration/siems.md
  documentation/docs/kms_clients/audit.md
  documentation/nav.yml
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: some last fixes and review fixes
  crate/access/src/audit/cef.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/routes/kmip/handlers.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/test_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

WIP on fix/restrict_audit_info2
  crate/server/src/core/otel_metrics.rs
  crate/server/src/routes/kmip/audit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
