Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

feat: finally managed to update the hash
  nix/expected-hashes/ui.pnpm.linux.sha256
Due: none

fix: pnpm-lock.yaml
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
  ui/pnpm-lock.yaml
Due: none

chore: update Nix expected hash
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
Due: none

fix(ui): e2e tests
  .github/scripts/test_ui.sh
  ui/playwright.config.ts
  ui/tests/e2e/access-rights-flow.spec.ts
  ui/tests/e2e/attributes-flow.spec.ts
  ui/tests/e2e/covercrypt-flow.spec.ts
  ui/tests/e2e/helpers.ts
  ui/tests/e2e/sym-key-flow.spec.ts
Due: ui-wasm-react-unit-tests

fix(ui): refactor e2e tests, fix esbuild audit, update README and nix hash
  nix/expected-hashes/ui.pnpm.darwin.sha256
  ui/README.md
  ui/package.json
  ui/pnpm-lock.yaml
  ui/tests/e2e/access-rights-flow.spec.ts
  ui/tests/e2e/attributes-flow.spec.ts
  ui/tests/e2e/certificates-flow.spec.ts
  ui/tests/e2e/covercrypt-flow.spec.ts
  ui/tests/e2e/ec-key-flow.spec.ts
  ui/tests/e2e/google-cse-flow.spec.ts
  ui/tests/e2e/helpers.ts
  ui/tests/e2e/locate-flow.spec.ts
  ui/tests/e2e/rsa-key-flow.spec.ts
  ui/tests/e2e/sym-key-flow.spec.ts
Due: ui-wasm-react-unit-tests

chore: update Nix expected hash
  nix/expected-hashes/ui.pnpm.linux.sha256
Due: none

fix(ui): address issue #749 – routes, sitemap, workers, server docs
  crate/server/src/start_kms_server.rs
  ui/playwright.config.ts
  ui/tests/e2e/azure-flow.spec.ts
  ui/tests/e2e/certificates-flow.spec.ts
  ui/tests/e2e/routes.ts
  ui/tests/e2e/sitemap.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): sitemap – use h1 locator for read-only pages (owned, obtained, CSE)
  ui/tests/e2e/routes.ts
  ui/tests/e2e/sitemap.spec.ts
Due: ui-wasm-react-unit-tests

fix(ui): sitemap – avoid strict mode violation on multi-h1 pages
  ui/tests/e2e/sitemap.spec.ts
Due: ui-wasm-react-unit-tests

remove package.json
  ui/package.json
Due: none

fix(ui): e2e tests (#754)
  .github/scripts/test_ui.sh
  crate/server/src/start_kms_server.rs
  nix/expected-hashes/ui.pnpm.darwin.sha256
  nix/expected-hashes/ui.pnpm.linux.sha256
  ui/README.md
  ui/package.json
  ui/playwright.config.ts
  ui/pnpm-lock.yaml
  ui/tests/e2e/access-rights-flow.spec.ts
  ui/tests/e2e/attributes-flow.spec.ts
  ui/tests/e2e/azure-flow.spec.ts
  ui/tests/e2e/certificates-flow.spec.ts
  ui/tests/e2e/covercrypt-flow.spec.ts
  ui/tests/e2e/ec-key-flow.spec.ts
  ui/tests/e2e/google-cse-flow.spec.ts
  ui/tests/e2e/helpers.ts
  ui/tests/e2e/locate-flow.spec.ts
  ui/tests/e2e/routes.ts
  ui/tests/e2e/rsa-key-flow.spec.ts
  ui/tests/e2e/sitemap.spec.ts
  ui/tests/e2e/sym-key-flow.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: tests ok
  crate/cli/src/actions/kms/actions.rs
  crate/cli/src/actions/kms/aws/byok/export_key_material.rs
  crate/cli/src/actions/kms/aws/byok/import_kek.rs
  crate/cli/src/lib.rs
  crate/cli/src/tests/kms/aws/integration_tests.rs
  crate/cli/src/tests/kms/aws/mod.rs
  crate/cli/src/tests/kms/aws/unwrap_utils.rs
  crate/cli/src/tests/kms/azure/mod.rs
  crate/cli/src/tests/kms/mod.rs
  crate/cli/src/tests/kms/shared/mod.rs
  crate/cli/src/tests/kms/shared/openssl_utils.rs
  crate/crypto/README.md
  documentation/docs/aws/aws_import_kek.png
  documentation/docs/aws/byok.md
  ui/eslint.config.js
  ui/src/App.tsx
  ui/src/AwsExportKeyMaterial.tsx
  ui/src/AwsImportKek.tsx
  ui/src/AzureExportByok.tsx
  ui/src/AzureImportKek.tsx
  ui/src/CseInfo.tsx
  ui/src/Sidebar.tsx
  ui/src/components/ExternalLink.tsx
  ui/src/menuItems.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: done review
  crate/cli/src/lib.rs
  crate/cli/src/tests/kms/access.rs
  crate/cli/src/tests/kms/auth_tests.rs
  crate/cli/src/tests/kms/aws/integration_tests.rs
  crate/cli/src/tests/kms/shared/export_import.rs
  crate/cli/src/tests/kms/xml/expected_response.rs
  crate/cli/src/tests/kms/xml/kmip_1_4/kmip.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: work
  crate/cli/src/actions/kms/aws/byok/export_key_material.rs
  crate/cli/src/actions/kms/aws/byok/wrapping_algorithms.rs
  crate/cli/src/tests/kms/aws/integration_tests.rs
  crate/cli/src/tests/kms/aws/mod.rs
  crate/cli/src/tests/kms/aws/unwrap_utils.rs
  documentation/docs/aws/aws_import_kek.png
  documentation/docs/aws/byok.md
  documentation/docs/aws/create_rsa.png
  documentation/docs/aws/export_key_material.png
  documentation/docs/aws/fargate.md
  documentation/docs/aws/import_kek.png
  documentation/docs/index.md
  documentation/mkdocs.yml
  ui/src/AwsImportKek.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: spelling mistakes
  .github/copilot-instructions.md
  crate/cli/src/actions/kms/aws/README.ms
  crate/cli/src/actions/kms/aws/byok/import_kek.rs
  crate/cli/src/tests/kms/aws/integration_tests.rs
  documentation/docs/aws/byok.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: format
  crate/cli/src/actions/kms/azure/byok/export_byok.rs
  ui/src/App.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: formatting diffs out
  ui/eslint.config.js
  ui/src/App.tsx
  ui/src/AzureExportByok.tsx
  ui/src/AzureImportKek.tsx
  ui/src/Sidebar.tsx
  ui/src/menuItems.tsx
Due: ui-wasm-react-unit-tests

chore: init
  .vscode/settings.json
  crate/cli/src/actions/kms/aws/README.ms
  crate/cli/src/actions/kms/aws/byok/export_key_material.rs
  crate/cli/src/actions/kms/aws/byok/import_kek.rs
  crate/cli/src/actions/kms/aws/byok/mod.rs
  crate/cli/src/actions/kms/aws/byok/wrapping_algorithms.rs
  crate/cli/src/actions/kms/aws/mod.rs
  crate/cli/src/actions/kms/azure/byok/export_byok.rs
  crate/cli/src/actions/kms/console.rs
  crate/cli/src/actions/kms/mod.rs
  crate/cli/src/actions/kms/shared/import_key.rs
  crate/cli/src/tests/kms/aws/integration_tests.rs
  crate/cli/src/tests/kms/aws/mod.rs
  crate/cli/src/tests/kms/aws/unwrap_utils.rs
  crate/cli/src/tests/kms/mod.rs
  crate/crypto/README.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: clean and ci and rebase
  .github/scripts/update_hashes.sh
  .vscode/settings.json
  crate/cli/src/tests/kms/access.rs
  crate/cli/src/tests/kms/auth_tests.rs
  crate/cli/src/tests/kms/shared/export_import.rs
  crate/cli/src/tests/kms/xml/kmip_2_1/kmip.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: temporary commit to save files
  documentation/docs/aws/byok.md
  documentation/docs/aws/byok_scripts/run_aes_byok.sh
  documentation/docs/aws/byok_scripts/run_ecc_byok.sh
  documentation/docs/aws/byok_scripts/run_rsa_byok.sh
  documentation/docs/azure/byok/byok.md
  ui/src/AwsImportKek.tsx
  ui/src/Sidebar.tsx
  ui/src/menuItems.tsx
Due: ui-wasm-react-unit-tests

feat: rebase + final fixes
  crate/cli/src/actions/kms/aws/byok/export_key_material.rs
  crate/cli/src/actions/kms/aws/byok/import_kek.rs
  crate/cli/src/actions/kms/aws/byok/wrapping_algorithms.rs
  crate/cli/src/actions/kms/azure/byok/export_byok.rs
  crate/cli/src/tests/kms/aws/integration_tests.rs
  crate/server/src/main.rs
  documentation/docs/aws/byok.md
  ui/eslint.config.js
  ui/src/AzureImportKek.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): add Content-Security-Policy against clickjacking attack
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: auto generate server doc
  .github/scripts/renew_server_configuration_doc.sh
  .pre-commit-config.yaml
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/main.rs
  documentation/docs/server_configuration_file.md
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(publish): keep a kms_template.toml
  .github/scripts/renew_server_configuration_doc.sh
  crate/server/kms_template.toml
  crate/server/src/config/command_line/clap_config.rs
  documentation/docs/server_configuration_file.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: move clippy rules
  crate/clients/ckms/src/config.rs
  crate/clients/ckms/src/error/mod.rs
  crate/clients/ckms/src/lib.rs
  crate/clients/ckms/src/tests/kms/shared/wrap_unwrap.rs
  crate/clients/ckms/src/tests/kms/symmetric/create_key.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

add missing hyphens
  documentation/mkdocs.yml
Due: none

docs(mkdocs): add missing hyphens (#769)
  documentation/mkdocs.yml
Due: none

add docker compose volumes
  docker-compose.yml
Due: none

add config files
  config.alloy
  docker-compose.yml
  grafana/provisioning/dashboards/dashboard.json
  grafana/provisioning/dashboards/dashboard.yml
  grafana/provisioning/datasources/grafana-datasources.yml
  otel-collector-config.yaml
  prometheus.yml
  tempo-config.yaml
Due: none

add nginx service
  docker-compose.yml
  nginx.conf
Due: none

update otel collector service
  docker-compose.yml
Due: none

update PROM_PORT var
  .github/scripts/test_otel_export.sh
Due: none

add script to run monitoring stack
  .github/scripts/monitoring.sh
Due: none

change folder and lightening dashboard version
  docker-compose.yml
  grafana/provisioning/datasources/grafana-datasources.yml
  monitoring/README.md
  monitoring/docker-compose.yml
  monitoring/generate-demo-cert.sh
  monitoring/grafana/provisioning/dashboards/dashboard.json
  monitoring/grafana/provisioning/dashboards/dashboard.yml
  monitoring/grafana/provisioning/datasources/grafana-datasources.yml
  monitoring/otel-collector-config.yaml
  monitoring/prometheus.yml
Due: none

Revert "update PROM_PORT var"
  .github/scripts/test_otel_export.sh
Due: none

fix ci otel and wasm tests
  docker-compose.yml
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

add dashboard documentation
  documentation/docs/images/monitor-00.png
  documentation/docs/images/monitor-01.png
  documentation/docs/images/monitor-02.png
  documentation/docs/images/monitor-03.png
  documentation/docs/images/monitor-04.png
  documentation/docs/images/monitor-05.png
  documentation/docs/images/monitor-06.png
  documentation/docs/images/monitor-07.png
  documentation/docs/logging.md
  documentation/docs/monitoring-setup.md
Due: none

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
