Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

docs: add cache mechanismes
  documentation/docs/configuration/object-cache.md
  documentation/mkdocs.yml
Due: none

test: ensure HSM tests are run
  .mise/tasks/test/hsm-crypt2pay
  .mise/tasks/test/hsm-proteccio
  .mise/tasks/test/hsm-softhsm2
  .mise/tasks/test/hsm-utimaco
  crate/hsm/crypt2pay/src/lib.rs
  crate/hsm/crypt2pay/src/tests.rs
  crate/hsm/proteccio/src/lib.rs
  crate/hsm/proteccio/src/tests.rs
  crate/hsm/softhsm2/src/lib.rs
  crate/hsm/softhsm2/src/tests.rs
  crate/hsm/utimaco/src/lib.rs
  crate/hsm/utimaco/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: build - wip
  crate/kmip/src/kmip_2_1/kmip_types.rs
  crate/kmip/src/ttlv/enum_lookup.rs
  crate/kmip/src/ttlv/wire/ttlv_bytes_serializer.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: tests - wip
  .mise/tasks/test/hsm-crypt2pay
  .mise/tasks/test/hsm-proteccio
  .mise/tasks/test/hsm-softhsm2
  .mise/tasks/test/hsm-utimaco
  Cargo.lock
  Cargo.toml
  crate/hsm/crypt2pay/src/lib.rs
  crate/hsm/crypt2pay/src/tests.rs
  crate/hsm/proteccio/src/lib.rs
  crate/hsm/proteccio/src/tests.rs
  crate/hsm/softhsm2/src/lib.rs
  crate/hsm/softhsm2/src/tests.rs
  crate/hsm/utimaco/src/lib.rs
  crate/hsm/utimaco/src/tests.rs
  crate/server/Cargo.toml
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: softhsm2_get_slot_id captures duplicate slot IDs breaking bench:load-hsm
  .mise/lib/softhsm2.sh
Due: none

fix: Crypt2Pay tests
  .mise/tasks/test/hsm-crypt2pay
Due: none

fix: HSM tests
  .github/workflows/test_all.yml
  .mise/tasks/test/hsm-crypt2pay
  .mise/tasks/test/hsm-proteccio
  .mise/tasks/test/hsm-utimaco
Due: none

fix: HSM tests
  .mise/tasks/test/hsm-crypt2pay
  .mise/tasks/test/hsm-proteccio
  .mise/tasks/test/hsm-utimaco
Due: none

fix: pass C2P_CONF env var to crypt2pay test so the library finds c2p.xml
  .mise/tasks/test/hsm-crypt2pay
Due: none

feat: restaure refs
  .github/skills/kms-last-test-v5/reference/cli-commands.md
  .github/skills/kms-last-test-v5/reference/endpoints.md
  .github/skills/kms-last-test-v5/reference/error-codes.md
  .github/skills/kms-last-test-v5/reference/invariants.md
  .github/skills/kms-last-test-v5/reference/kmip-ops-and-configs.md
  .github/skills/kms-last-test-v5/reference/ui-routes.md
  .github/skills/kms-last-test-v5/skill_workflow.png
Due: none

fix: add
  .github/skills/cosmian-kms-last-tester-v4/README.md
  .github/skills/cosmian-kms-last-tester-v4/SKILL.md
Due: none

feat: imroove the skill
  .github/skills/cosmian-kms-last-tester-v4/README.md
  .github/skills/cosmian-kms-last-tester-v4/SKILL.md
Due: none

feat: yay new skill
  .github/skills/kms-last-test-v5/README.md
  .github/skills/kms-last-test-v5/SKILL.md
  CONTRIBUTING.md
Due: none

feat: update agent.md go brr
  AGENTS.md
Due: none

fix: skip crypt2pay rsa checks when keypair generation is unavailable
  crate/hsm/crypt2pay/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: Crypt2Pay tests
  crate/hsm/base_hsm/src/tests_shared.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: Crypt2Pay tests
  .github/workflows/test_all.yml
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/hsm/crypt2pay/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add tester skill (#1045)
  .github/skills/kms-last-test-v5/README.md
  .github/skills/kms-last-test-v5/SKILL.md
  .github/skills/kms-last-test-v5/reference/cli-commands.md
  .github/skills/kms-last-test-v5/reference/endpoints.md
  .github/skills/kms-last-test-v5/reference/error-codes.md
  .github/skills/kms-last-test-v5/reference/invariants.md
  .github/skills/kms-last-test-v5/reference/kmip-ops-and-configs.md
  .github/skills/kms-last-test-v5/reference/ui-routes.md
  .github/skills/kms-last-test-v5/skill_workflow.png
  AGENTS.md
  CONTRIBUTING.md
Due: none

fix: crypt2pay build
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/base_hsm/src/tests_shared.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: crypt2pay build
  .github/workflows/test_all.yml
Due: none

docs: update log-index
  documentation/docs/configuration/log-reference.md
Due: none

fix: crypt2pay tests
  .mise/tasks/test/hsm-crypt2pay
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/base_hsm/src/tests_shared.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: crypt2pay tests
  documentation/docs/configuration/log-reference.md
  shell.nix
Due: nixfmt, statix

fix: crypt2pay tests
  .mise/tasks/test/hsm-crypt2pay
Due: none

fix: move jose client to crate cosmian_kms_client
  Cargo.lock
  crate/clients/clap/src/actions/bench/jose.rs
  crate/clients/clap/src/actions/bench/load.rs
  crate/clients/client/src/jose.rs
  crate/clients/client/src/lib.rs
  crate/kmip/src/kmip_2_1/kmip_types.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: simplify execute_local_with_limits
  crate/server/src/core/operations/key_ops/crypto_op.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: use specific cache for JOSE /encrypt and /decrypt endpoints
  .github/skills/adr/SKILL.md
  crate/server/src/routes/jose/cek_cache.rs
  crate/server/src/routes/jose/decrypt.rs
  crate/server/src/routes/jose/encrypt.rs
  crate/server/src/routes/jose/mod.rs
  crate/server_database/src/core/unwrapped_cache.rs
  documentation/docs/configuration/object-cache.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: security review
  Cargo.lock
  crate/server/src/core/operations/export_get.rs
  crate/server/src/core/wrapping/unwrap.rs
  crate/server_database/Cargo.toml
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/fingerprinter.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: simplify function execute_local_with_limits and remove mutable arg
  crate/server/src/core/operations/key_ops/crypto_op.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: disable UnwrappedCache on demand
  .github/skills/kms-sync-rules/SKILL.md
  crate/kmip/src/kmip_2_1/kmip_data_structures.rs
  crate/kmip/src/kmip_2_1/kmip_objects.rs
  crate/server/kms_template.toml
  crate/server/src/config/command_line/db.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/config/wizard/db_wizard.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/main.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/mod.rs
  crate/server_database/src/core/object_cache.rs
  crate/server_database/src/core/unwrapped_cache.rs
  documentation/docs/configuration/object-cache.md
  pkg/kms.toml
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: changelog entry
  CHANGELOG/perf.md
Due: none

docs: add ADR
  .github/skills/adr/SKILL.md
  documentation/docs/adr/2026-06-26-unwrapped-cache-configurable-max-size.md
  documentation/docs/adr/2026-06-30-key-auto-rotation-keyset-chain-design.md
  documentation/docs/adr/2026-07-08-two-tier-cache-architecture.md
Due: none

ci: adapt benchmark workflow to run it on current branch
  .github/workflows/benchmark.yml
Due: none

ci: fix benchmarks workflow
  .github/workflows/benchmark.yml
Due: none

ci: fix benchmarks workflow
  .github/workflows/benchmark.yml
  .mise/scripts/bench/bench_run_flamegraph.sh
Due: none

ci: split flamegraph use to dedicated GH workflow
  .github/workflows/benchmark.yml
Due: none
