Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

test(mise): assert variant-specific ELF linkage in alpine-native-build
  .mise/tasks/test/alpine-native-build
Due: none

refactor(ci): move Alpine apk smoke test to packaging-tests.yml and gate publish-apk on tests
  .github/workflows/packaging-tests.yml
  .github/workflows/packaging.yml
  .mise/scripts/test/test_alpine_musl.sh
  CHANGELOG/alpine.md
Due: none

docs(installation): split Alpine CLI install from server install
  CHANGELOG/alpine.md
  documentation/docs/installation/installation_getting_started.md
  documentation/docs/kms_clients/installation.md
Due: none

fix(alpine): scope legacy-provider dlopen fallback to musl/crt-static
  CHANGELOG/alpine.md
  crate/server/src/openssl_providers.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): assert requested ELF linkage in musl-crosscheck before execute-or-skip
  .mise/tasks/test/musl-crosscheck
Due: none

fix(nix): enable installCheckPhase for musl CLI derivation
  nix/cli-musl.nix
Due: nixfmt, statix

test(server): cover legacy provider load failure caching via injectable once-init helper
  crate/server/src/openssl_providers.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): retry Db2 image pull on transient icr.io timeouts
  .mise/scripts/test/test_db2_tde.sh
Due: none

fix(ci): do not pin +crt-static in alpine-native-build (breaks proc-macros)
  .mise/tasks/test/alpine-native-build
Due: none

fix(ci): update musl CLI vendor hashes and silence nix-build output in package:apk
  .mise/scripts/package/package_apk.sh
  nix/expected-hashes/cli.vendor.musl-fips.sha256
  nix/expected-hashes/cli.vendor.musl-non-fips.sha256
Due: none

ci(tmp): run packaging-apk.yml on push to alpine for verification
  .github/workflows/packaging-apk.yml
Due: none

build: update musl vendor hashes
  nix/expected-hashes/server.vendor.musl-fips.sha256
  nix/expected-hashes/server.vendor.musl-non-fips.sha256
Due: none

fix(nix): disable cc-wrapper pie hardening for static musl builds
  nix/cli-musl.nix
  nix/kms-server-musl.nix
Due: nixfmt, statix

ci: isolate Alpine apk pipeline into packaging-apk.yml
  .github/workflows/nightly.yml
  .github/workflows/packaging-apk.yml
  .github/workflows/packaging-tests.yml
  .github/workflows/packaging.yml
  .github/workflows/release.yml
Due: none

fix(ci): seed Nix store for all sources on the expired mirror.easyname.at
  .github/workflows/packaging-apk.yml
Due: none

ci: remove temporary push trigger from packaging-apk.yml
  .github/workflows/packaging-apk.yml
Due: none

fix(ci): seed Nix store with acl/attr sources (mirror.easyname.at cert expired)
  .github/workflows/packaging-apk.yml
Due: none

fix(ci): track the mirror seeding script under .mise/scripts/package
  .github/workflows/packaging-apk.yml
  .mise/scripts/package/seed_expired_nix_mirror_sources.sh
Due: none

fix: build and ci
  .github/workflows/packaging-apk.yml
  .mise/scripts/package/package_apk.sh
Due: none

fix(ci): handle newer Nix derivation-show JSON in mirror seeding script
  .github/workflows/packaging-apk.yml
  .mise/scripts/package/seed_expired_nix_mirror_sources.sh
Due: none

fix(ci): accept SRI fixed-output hashes in mirror seeding script
  .github/workflows/packaging-apk.yml
  .mise/scripts/package/seed_expired_nix_mirror_sources.sh
Due: none

chore: add specific AI Rust skills
  .github/skills/README.md
  .github/skills/rust-clone-audit/SKILL.md
  .github/skills/rust-signature-design/SKILL.md
Due: none

feat(alpine): first-class Alpine Linux (musl) support (#1237)
  .github/skills/README.md
  .github/skills/rust-clone-audit/SKILL.md
  .github/skills/rust-signature-design/SKILL.md
  .github/workflows/nightly.yml
  .github/workflows/packaging-apk.yml
  .github/workflows/release.yml
  .mise/scripts/package/package_apk.sh
  .mise/scripts/package/seed_expired_nix_mirror_sources.sh
  .mise/scripts/test/test_alpine_musl.sh
  .mise/scripts/test/test_db2_tde.sh
  .mise/tasks/package/apk
  .mise/tasks/test/alpine-native-build
  .mise/tasks/test/musl-crosscheck
  .mise/tasks/test/musl-openssl-prebuild
  CHANGELOG/alpine.md
  README.md
  crate/server/src/openssl_providers.rs
  default.nix
  documentation/docs/installation/installation_getting_started.md
  documentation/docs/kms_clients/installation.md
  nix/cli-musl.nix
  nix/expected-hashes/cli.vendor.musl-fips.sha256
  nix/expected-hashes/cli.vendor.musl-non-fips.sha256
  nix/expected-hashes/server.vendor.musl-fips.sha256
  nix/expected-hashes/server.vendor.musl-non-fips.sha256
  nix/kms-server-musl.nix
  pkg/apk/cosmian_kms.confd
  pkg/apk/cosmian_kms.initd
  pkg/apk/postinstall.sh
  pkg/apk/preinstall.sh
  pkg/apk/preremove.sh
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(hsm): fold missing crypto helpers into per-backend aggregators, add SmartcardHSM mise task
  .mise/tasks/test/hsm-smartcardhsm
  crate/hsm/aws_cloudhsm/src/tests.rs
  crate/hsm/crypt2pay/src/tests.rs
  crate/hsm/kryoptic/src/tests.rs
  crate/hsm/proteccio/src/tests.rs
  crate/hsm/smartcardhsm/src/tests.rs
  crate/hsm/softhsm2/src/tests.rs
  crate/hsm/utimaco/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(hsm): add HSM trait MAC generate/verify methods with not-supported default (#1215)
  crate/interfaces/src/crypto_oracle.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/interfaces/src/hsm/interface.rs
  crate/interfaces/src/lib.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(benchs): add Proteccio HR reports
  documentation/docs/benchmarks/ckms_bench_hsm_delegated_proteccio/env.json
  documentation/docs/benchmarks/ckms_bench_hsm_delegated_proteccio/load_ttlv-json.json
  documentation/docs/benchmarks/ckms_bench_hsm_delegated_proteccio/report.md
  documentation/docs/benchmarks/ckms_bench_pkcs11_hsm_delegated_proteccio/env.json
  documentation/docs/benchmarks/ckms_bench_pkcs11_hsm_delegated_proteccio/load_pkcs11.json
  documentation/docs/benchmarks/ckms_bench_pkcs11_hsm_delegated_proteccio/report.md
Due: none

ci: add ci-dedupe skill and docker-login-ghcr composite action
  .github/actions/docker-login-ghcr/action.yml
  .github/skills/README.md
  .github/skills/ci-dedupe/SKILL.md
  .github/workflows/packaging-docker.yml
Due: none
