Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

feat(hsm): add PKCS#11 v3.0 capability-probe FFI foundation
  CHANGELOG/pkcs11_v3.md
  crate/crypto/src/openssl/ocsp.rs
  crate/hsm/base_hsm/src/hsm_lib.rs
  crate/hsm/base_hsm/src/lib.rs
  crate/hsm/base_hsm/src/pkcs11_v3.rs
  crate/hsm/softhsm2/src/tests.rs
  documentation/docs/adr/2026-09-03-pkcs11-v3-scope-decision-ffi-foundation.md
  documentation/docs/hsm_support/hsm_operations.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(hsm): add HSM-delegated RSA-PSS signing
  CHANGELOG/hsm_delegation.md
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/hsm/softhsm2/src/tests.rs
  crate/interfaces/src/crypto_oracle.rs
  documentation/docs/adr/2026-09-05-hsm-track-a-rsa-pss-scope-decision.md
  documentation/docs/hsm_support/hsm_operations.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(hsm): complete EC key generation and ECDSA signing via HSM (#1154)
  CHANGELOG/hsm_delegation.md
  Cargo.lock
  crate/hsm/base_hsm/Cargo.toml
  crate/hsm/base_hsm/src/kms_hsm.rs
  crate/hsm/base_hsm/src/session/ec.rs
  crate/hsm/base_hsm/src/session/mod.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/hsm/softhsm2/src/tests.rs
  crate/interfaces/src/crypto_oracle.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/interfaces/src/hsm/interface.rs
  crate/interfaces/src/hsm/mod.rs
  crate/interfaces/src/lib.rs
  crate/server/src/core/operations/destroy.rs
  documentation/docs/adr/2026-09-06-hsm-track-a-ec-ecdsa-completion-pbkdf2-deferral.md
  documentation/docs/hsm_support/hsm_operations.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(hsm): PKCS#11 v3.0 rollout — interface discovery + CKM_AES_GCM (#1156)
  CHANGELOG/pkcs11_v3_rollout.md
  README.md
  crate/clients/pkcs11/module/src/core/mechanism.rs
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/module/src/traits/backend.rs
  crate/clients/pkcs11/module/src/traits/encryption_algorithms.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/lib.rs
  crate/clients/pkcs11/provider/src/tests.rs
  documentation/docs/SUMMARY.md
  documentation/docs/adr/2026-09-04-pkcs11-v3-provider-rollout.md
  documentation/docs/integrations/disk_encryption/luks.md
  documentation/docs/integrations/disk_encryption/veracrypt.md
  documentation/docs/integrations/openssh.md
  documentation/docs/integrations/pkcs11_provider.md
  documentation/nav.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: build SAP ASE docker image on the fly in CI
  .github/workflows/test_all.yml
  .mise/scripts/nix.sh
  .mise/scripts/test/test_ase_tde.sh
  .mise/tasks/test/ase
Due: none

feat(kmip): add X25519 ECDH key agreement to DeriveKey (non-FIPS)
  CHANGELOG/x25519_ecdh.md
  README.md
  crate/clients/clap/src/actions/derive_key/mod.rs
  crate/clients/client/src/kms_rest_client.rs
  crate/clients/wasm/src/wasm.rs
  crate/crypto/src/crypto/elliptic_curves/operation.rs
  crate/crypto/src/openssl/ocsp.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/kmip_2_1/kmip_attributes.rs
  crate/kmip/src/kmip_2_1/kmip_operations.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
  crate/kmip/src/ttlv/tests/kmip_2_1_tests.rs
  crate/server/src/core/operations/derive_key.rs
  crate/server/src/tests/derive_key_tests.rs
  crate/server/src/tests/ttlv_tests/integrations/vast.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/SUMMARY.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/use_cases/x25519_key_agreement_for_share_sealing.md
  documentation/nav.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(ui): expose X25519 ECDH derive-key form in the Web UI
  CHANGELOG/x25519_ecdh_ui.md
  crate/clients/wasm/src/wasm.rs
  ui/src/actions/Keys/DeriveKey.tsx
  ui/src/i18n/locales/en/actions.json
  ui/src/i18n/locales/zh-CN/actions.json
  ui/src/utils/utils.ts
  ui/tests/e2e/README.md
  ui/tests/e2e/derive-key-flow.spec.ts
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(cli): add ckms derive-key --x25519 to close CLI/UI parity gap
  .mise/scripts/docs/renew_ckms_markdown.sh
  .mise/scripts/pre-commit/smart-docs-regen.sh
  .mise/tasks/docs/generate
  CHANGELOG/x25519_ecdh_ui.md
  README.md
  crate/clients/ckms/src/tests/derive_key/derive_key_tests.rs
  crate/clients/clap/src/actions/derive_key/mod.rs
  crate/server/kms_template.toml
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/kmip_support/support.md
  documentation/docs/kms_clients/cli/main_commands.md
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ase): use absolute PKCS#11 module path in ASE hsm_credential
  .mise/scripts/test/test_ase_tde.sh
Due: none

feat: HSM-delegated EdDSA signing (Ed25519/Ed448) + HSM-delegated X25519 key generation
  CHANGELOG/hsm_delegation.md
  crate/hsm/base_hsm/Cargo.toml
  crate/hsm/base_hsm/src/kms_hsm.rs
  crate/hsm/base_hsm/src/session/ec.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/hsm/crypt2pay/Cargo.toml
  crate/hsm/proteccio/Cargo.toml
  crate/hsm/smartcardhsm/Cargo.toml
  crate/hsm/softhsm2/Cargo.toml
  crate/hsm/softhsm2/src/tests.rs
  crate/hsm/utimaco/Cargo.toml
  crate/interfaces/Cargo.toml
  crate/interfaces/src/crypto_oracle.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/interfaces/src/hsm/interface.rs
  documentation/docs/hsm_support/hsm_operations.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(pkcs11): implement v3.0 interfaces discovery, C_LoginUser, and profile self-declaration
  CHANGELOG/pkcs11_v3.md
  README.md
  crate/clients/pkcs11/module/src/core/object.rs
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/provider/src/lib.rs
  crate/clients/pkcs11/provider/src/tests.rs
  documentation/docs/SUMMARY.md
  documentation/docs/integrations/pkcs11_provider.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: issue #909
  CHANGELOG/fix_lot_of_fixes.md
  crate/server_database/src/error/db_error.rs
  crate/server_database/src/stores/sql/pgsql.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: pg pool connection release + retry error detection (#1027)
  CHANGELOG/fix_lot_of_fixes.md
  crate/server_database/src/stores/sql/pgsql.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: some post rview
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/error/db_error.rs
  crate/server_database/src/stores/sql/pgsql.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: log ref
  documentation/docs/configuration/log-reference.md
Due: none

fix: postgres pool holding a connection during retry backoff (#1152)
  CHANGELOG/fix_lot_of_fixes.md
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/error/db_error.rs
  crate/server_database/src/stores/sql/pgsql.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: fix redundant nav block
  documentation/nav.yml
Due: none

docs: update log-ref
  documentation/docs/configuration/log-reference.md
Due: none

fix(aws_xks): propagate retrieve_object failure during legacy key migration
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(server): accept both padded and unpadded base64url on OCSP GET path
  crate/crypto/src/openssl/ocsp.rs
  crate/server/src/routes/ocsp/handler.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(docs): exclude eviden.com from lychee link check
  crate/interfaces/src/user_id.rs
  crate/server/src/routes/ui_auth.rs
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(aws_xks): close reserved-identity and scope-containment gaps in AWS XKS authorization
  crate/server/src/middlewares/auth_verifier/token.rs
  crate/server/src/middlewares/jwt/jwt_token_auth.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/middlewares/session_auth.rs
  crate/server/src/middlewares/spire_token.rs
  crate/server/src/middlewares/tls_auth.rs
  crate/server/src/routes/aws_xks/key_metadata.rs
  crate/server/src/routes/aws_xks/tests.rs
  crate/server/src/routes/ui_auth.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: create a dedicated AWS-XKS user and grant permissions for him
  .mise/scripts/test/test_xks.sh
  CHANGELOG/fix_xks-proxy-acl-1093.md
  crate/server/src/routes/aws_xks/README.md
  crate/server/src/routes/aws_xks/encrypt_decrypt/decrypt_.rs
  crate/server/src/routes/aws_xks/encrypt_decrypt/encrypt_.rs
  crate/server/src/routes/aws_xks/encrypt_decrypt/mod.rs
  crate/server/src/routes/aws_xks/key_metadata.rs
  crate/server/src/routes/aws_xks/mod.rs
  crate/server/src/routes/aws_xks/tests.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/configuration/log-reference.md
  documentation/docs/integrations/cloud_providers/aws/xks.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ase): revert to bare filename for hsm_credential lib= and add ldd diagnostic
  .mise/scripts/test/test_ase_tde.sh
Due: none

fix(clippy): allow expect/assertions-on-result-states in user_id tests
  crate/interfaces/src/user_id.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(cli): make secret derivation deterministic
  crate/clients/ckms/src/tests/derive_key/derive_key_tests.rs
  crate/clients/ckms/src/tests/secret_data/lifecycle.rs
  crate/clients/ckms/src/tests/secret_data/mod.rs
  crate/clients/clap/src/actions/derive_key/mod.rs
  crate/clients/clap/src/actions/secret_data/create_secret.rs
  documentation/docs/kms_clients/cli/main_commands.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: create a dedicated AWS-XKS user and grant permissions for him
  documentation/docs/configuration/log-reference.md
Due: none

fix: tests
  documentation/docs/configuration/log-reference.md
Due: none

docs: update log-ref
  .github/workflows/test_xks_remote.yml
  .mise/lib/nix_helpers.sh
  .mise/scripts/docs/update_log_index.py
  .mise/scripts/test/deploy_xks_remote.sh
  .mise/scripts/test/test_xks_aws_e2e.sh
  .mise/scripts/test/test_xks_remote.sh
  .mise/tasks/test/xks-remote
  Cargo.lock
  Cargo.toml
  crate/server/Cargo.toml
  crate/server/src/routes/aws_xks/sigv4_middleware.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/SUMMARY.md
  documentation/docs/configuration/log-reference.md
  documentation/nav.yml
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  nix/expected-hashes/k8s-csi-provider.vendor.linux.sha256
  nix/expected-hashes/k8s-operator.vendor.linux.sha256
  nix/expected-hashes/k8s-plugin.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: consolidate AI instructions
  .github/copilot-instructions.md
  AGENTS.md
Due: none

feat(jose): add ECDH-ES decrypt support to /v1/crypto/decrypt
  CHANGELOG/x25519_ecdh_ui_jose.md
  crate/crypto/src/crypto/elliptic_curves/operation.rs
  crate/crypto/src/crypto/kdf/concat_kdf.rs
  crate/crypto/src/crypto/kdf/mod.rs
  crate/crypto/src/crypto/mod.rs
  crate/server/documentation/openapi.yaml
  crate/server/src/routes/jose/algorithm.rs
  crate/server/src/routes/jose/decrypt.rs
  crate/server/src/routes/jose/keys.rs
  crate/server/src/routes/jwks.rs
  crate/server/src/tests/jose/common.rs
  crate/server/src/tests/jose/ecdh.rs
  crate/server/src/tests/jose/mod.rs
  crate/server/src/tests/jose/rfc_vectors.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(x25519): fix nonce reuse, key activation, and usage-mask errors in ECDH share-sealing how-to
  documentation/docs/use_cases/x25519_key_agreement_for_share_sealing.md
Due: none

docs(changelog): fix KMIP 1.4 DeriveKey field type in migration guidance
  CHANGELOG/x25519_ecdh.md
Due: none

fix(kmip): reject mismatched ObjectType in asymmetric DeriveKey requests
  crate/server/src/core/operations/derive_key.rs
  crate/server/src/tests/derive_key_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(cli): update derive-key tests for caller-supplied derived_key_id
  crate/clients/ckms/src/tests/derive_key/derive_key_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
