Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

feat: amazing update, IDs and algo are now recorded by audit
  AGENTS.md
  CHANGELOG/feat_audit_and_siem.md
  SECURITY.md
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/clients/clap/src/actions/audit.rs
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/routes/kmip/handlers.rs
  crate/server/src/routes/kmip/mod.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/mod.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/adr/0003-audit-log-single-writer-design.md
  documentation/docs/adr/0004-audit-middleware-extension-injection.md
  documentation/docs/adr/0005-cef-siem-export-format.md
  documentation/docs/configuration/audit-logs.md
  documentation/docs/configuration/logging.md
  documentation/docs/configuration/siems.md
  documentation/docs/kms_clients/audit.md
  documentation/nav.yml
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: batching now works
  CHANGELOG/feat_audit_and_siem.md
  Cargo.lock
  crate/access/Cargo.toml
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/clients/clap/src/actions/audit.rs
  crate/clients/client_utils/Cargo.toml
  crate/kmip/src/ttlv/kmip_ttlv_deserializer/deserializer.rs
  crate/kmip/src/ttlv/kmip_ttlv_serializer.rs
  crate/server/Cargo.toml
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/main.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/adr/0003-audit-log-single-writer-design.md
  documentation/docs/adr/0004-audit-middleware-extension-injection.md
  documentation/docs/configuration/audit-logs.md
  documentation/docs/configuration/log-reference.md
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: review fixes
  crate/kmip/src/ttlv/kmip_ttlv_serializer.rs
  crate/server/src/middlewares/audit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: post rebase fixes v2
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: some last fixes and review fixes
  crate/access/src/audit/cef.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/routes/kmip/handlers.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/test_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add CEF audit test suite
  .mise/scripts/nix.sh
  .mise/scripts/test/cef_interop_helper.py
  .mise/scripts/test/requirements-cef.txt
  .mise/scripts/test/test_cef_interop.sh
  .mise/tasks/test/cef-interop
Due: none

WIP on fix/restrict_audit_info2
  crate/server/src/core/otel_metrics.rs
  crate/server/src/routes/kmip/audit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: add doc comment
  crate/access/src/audit/cef.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add coverage for per-user metric labels and cardinality overflow
  crate/access/src/audit/cef.rs
  crate/access/src/audit/hash.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/otel_metrics.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/routes/kmip/handlers.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: stick to CEF v27, create CEF doc page and test CEF format dynamically
  .github/skills/code-quality/SKILL.md
  .github/skills/mise/SKILL.md
  .github/workflows/test_all.yml
  .mise/scripts/nix.sh
  .mise/scripts/test/cef_helper.py
  .mise/scripts/test/cef_interop_helper.py
  .mise/scripts/test/test_cef.sh
  .mise/scripts/test/test_cef_interop.sh
  .mise/tasks/test/cef
  CHANGELOG/feat_audit_and_siem.md
  _typos.toml
  crate/access/src/audit/cef.rs
  crate/server/src/tests/audit_middleware.rs
  documentation/docs/SUMMARY.md
  documentation/docs/adr/2026-07-09-003-audit-log-single-writer-design.md
  documentation/docs/adr/2026-07-09-004-audit-middleware-extension-injection.md
  documentation/docs/adr/2026-07-09-005-cef-siem-export-format.md
  documentation/docs/configuration/cef-export.md
  documentation/docs/configuration/siems.md
  documentation/docs/kms_clients/audit.md
  documentation/nav.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: cherry picked commit
  crate/server/src/core/otel_metrics.rs
  monitoring/OTLP_METRICS.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: fix docs
  crate/clients/clap/src/actions/audit.rs
  documentation/docs/configuration/siems.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): e2e tests
  ui/tests/e2e/locate-filters.spec.ts
  ui/tests/e2e/locate-hsm.spec.ts
  ui/tests/e2e/tokenize.spec.ts
Due: ui-wasm-react-unit-tests

fix: post rebase fixes
  crate/server/src/middlewares/audit.rs
  crate/server/src/tests/test_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: reject mode
  CHANGELOG/feat_audit_and_siem.md
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/configuration/audit-logs.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: log index
  crate/server/src/main.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: update log-reference index (remove stale entries)
  documentation/docs/configuration/log-reference.md
Due: none

feat: huge commit
  CHANGELOG/feat_audit_startup.md
  Cargo.lock
  crate/access/Cargo.toml
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/file_hash.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/clients/clap/src/actions/audit.rs
  crate/server/Cargo.toml
  crate/server/src/core/audit/file_store.rs
  crate/server/src/middlewares/audit.rs
  documentation/docs/adr/2026-07-09-003-audit-log-single-writer-design.md
  documentation/docs/adr/2026-08-14-006-audit-log-always-start-recovery.md
  documentation/docs/configuration/audit-logs.md
  documentation/docs/installation/high_availability_mode.md
  documentation/docs/integrations/kubernetes/helm.md
  documentation/docs/kms_clients/audit.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: fix ci
  crate/clients/clap/src/actions/audit.rs
  crate/server/src/core/audit/file_store.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: reject mode audit middleware coverage
  crate/server/src/core/audit/file_store.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/test_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Revert "test: reject mode audit middleware coverage"
  crate/server/src/core/audit/file_store.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/test_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add rejection mode tests
  crate/server/src/core/audit/file_store.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/test_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add max size
  CHANGELOG/feat_audit_startup.md
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/tests/audit_middleware.rs
  documentation/docs/configuration/audit-logs.md
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: log index
  documentation/docs/configuration/log-reference.md
Due: none

feat: working
  CHANGELOG/feat_audit_startup.md
  crate/clients/clap/src/actions/audit.rs
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/test_utils.rs
  deny.toml
  documentation/docs/adr/2026-08-14-006-audit-log-always-start-recovery.md
  documentation/docs/configuration/audit-logs.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/installation/high_availability_mode.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: clippy and ci fixes
  crate/server/src/core/audit/file_store.rs
  crate/server/src/tests/audit_middleware.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: post rebase fixes
  crate/server/src/tests/audit_middleware.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: log ref
  documentation/docs/configuration/log-reference.md
Due: none

feat: big commit deleted history
  crate/server/src/middlewares/jwt/jwt_config.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: amazing update, IDs and algo are now recorded by audit
  documentation/docs/adr/0003-audit-log-single-writer-design.md
  documentation/docs/adr/0004-audit-middleware-extension-injection.md
  documentation/docs/adr/0005-cef-siem-export-format.md
  documentation/docs/configuration/siems.md
Due: none

feat: don't log "kmip" only
  crate/access/src/audit/hash.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: batching now works
  Cargo.lock
  crate/access/Cargo.toml
  crate/kmip/src/ttlv/kmip_ttlv_serializer.rs
  crate/server/src/main.rs
  documentation/docs/adr/0003-audit-log-single-writer-design.md
  documentation/docs/adr/0004-audit-middleware-extension-injection.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add coverage for per-user metric labels and cardinality overflow
  crate/server/src/core/otel_metrics.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: stick to CEF v27, create CEF doc page and test CEF format dynamically
  documentation/docs/adr/0003-audit-log-single-writer-design.md
  documentation/docs/adr/0004-audit-middleware-extension-injection.md
  documentation/docs/adr/0005-cef-siem-export-format.md
  documentation/docs/configuration/siems.md
Due: none

ci: wip
  .mise/scripts/test/test_monitoring.sh
  .mise/scripts/test/test_otlp_audit.sh
Due: none

fix: ci - wip
  .mise/scripts/test/test_monitoring.sh
  .mise/scripts/test/test_otlp_audit.sh
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: clarify SIEM integration
  .mise/scripts/README.md
  documentation/docs/configuration/siems.md
Due: none

chore: remove OTLP audit
  .mise/scripts/README.md
  .mise/scripts/test/test_audit_log.sh
  .mise/scripts/test/test_cef_format.sh
  .mise/scripts/test/test_monitoring.sh
  .mise/scripts/test/test_otlp_audit.sh
  .mise/tasks/test/siem
  .mise/tasks/test/siem-otlp
  CHANGELOG/feat_audit_integration.md
  crate/server/src/core/audit/mod.rs
  crate/server/src/core/audit/otlp_logs.rs
  crate/server/src/main.rs
  documentation/docs/adr/2026-07-08-two-tier-cache-architecture.md
  documentation/docs/adr/2026-07-09-audit-middleware-extension-injection.md
  documentation/docs/adr/2026-07-09-cef-siem-export-format.md
  documentation/docs/adr/2026-08-10-006-otlp-audit-log-export.md
  documentation/docs/adr/2026-08-10-tcp-syslog-cef-transport.md
  documentation/docs/configuration/otlp-telemetry.md
  documentation/docs/configuration/siems.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
