Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

fix(redis): serialization error
  .github/scripts/release/nix_build_update_hash.sh
  Cargo.lock
  crate/clients/ckms/src/tests/certificates/certify.rs
  crate/crypto/Cargo.toml
  crate/crypto/src/crypto/fpe/tests.rs
  crate/crypto/src/openssl/certificate.rs
  crate/server/src/config/wizard/tests.rs
  crate/server/src/middlewares/tls_auth.rs
  crate/server/src/socket_server.rs
  crate/server_database/Cargo.toml
  crate/server_database/src/stores/redis/objects_db.rs
  crate/test_kms_server/src/certify_tests.rs
  docker-compose.yml
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/benchmarks/benchmarks_load_tests_5.17.0.md
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/benchmarks/benchmarks_load_tests_5.23.0.md
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.pnpm.linux.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
  sbom/licenses.txt
  ui/package.json
  ui/pnpm-lock.yaml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: revert changes on certify tests
  crate/test_kms_server/src/certify_tests.rs
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  crate/server_database/src/stores/redis/objects_db.rs
  nix/expected-hashes/ui.vendor.fips.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: RUSTSECs, fix docker-compose EBD container (#1003)
  .github/scripts/release/nix_build_update_hash.sh
  Cargo.lock
  crate/clients/ckms/src/tests/certificates/certify.rs
  crate/crypto/Cargo.toml
  crate/crypto/src/crypto/fpe/tests.rs
  crate/crypto/src/openssl/certificate.rs
  crate/server/src/config/wizard/tests.rs
  crate/server/src/middlewares/tls_auth.rs
  crate/server/src/socket_server.rs
  crate/server_database/Cargo.toml
  crate/server_database/src/stores/redis/objects_db.rs
  crate/test_kms_server/src/certify_tests.rs
  docker-compose.yml
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/benchmarks/benchmarks_load_tests_5.17.0.md
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/benchmarks/benchmarks_load_tests_5.23.0.md
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.pnpm.linux.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
  sbom/licenses.txt
  ui/package.json
  ui/pnpm-lock.yaml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

[auto-rotation feature] feat(rekey): Manual rotation for all key types + test vectors (#969)
  CHANGELOG/feat_key-rotation-manual.md
  crate/interfaces/src/stores/objects_store.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/kmip_2_1/kmip_messages.rs
  crate/kmip/src/kmip_2_1/kmip_operations.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/certify/build_certificate.rs
  crate/server/src/core/operations/certify/issuer.rs
  crate/server/src/core/operations/certify/mod.rs
  crate/server/src/core/operations/certify/resolve_issuer.rs
  crate/server/src/core/operations/certify/resolve_subject.rs
  crate/server/src/core/operations/certify/subject.rs
  crate/server/src/core/operations/dispatch.rs
  crate/server/src/core/operations/key_ops/mod.rs
  crate/server/src/core/operations/message.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/core/operations/recertify.rs
  crate/server/src/core/operations/rekey.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/server/src/core/operations/rekey/keypair.rs
  crate/server/src/core/operations/rekey/mod.rs
  crate/server/src/core/operations/rekey/symmetric.rs
  crate/server/src/core/operations/rekey_common.rs
  crate/server/src/core/operations/rekey_keypair.rs
  crate/server/src/core/wrapping/wrap.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/sqlite.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/kmip_support/key_auto_rotation.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: doc reviewed
  documentation/docs/kmip_support/key_auto_rotation.md
Due: none

docs: add key auto-rotation specification
  CHANGELOG/docs_key-autorotation-spec.md
  README.md
  documentation/docs/kmip_support/key_auto_rotation.md
  documentation/mkdocs.yml
Due: none

docs(key-auto-rotation): update implementation roadmap from 5 PRs to 4 (merge spec+manual into PR1)
  documentation/docs/kmip_support/key_auto_rotation.md
Due: none

fix: PR review
  crate/kmip/src/kmip_2_1/kmip_operations.rs
  documentation/docs/kmip_support/attributes.md
  documentation/docs/kmip_support/introduction/index.md
  documentation/docs/kmip_support/key_auto_rotation.md
  documentation/docs/kmip_support/operations.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review
  CHANGELOG/docs_key-autorotation-spec.md
  crate/kmip/src/kmip_2_1/kmip_operations.rs
  crate/server/src/core/operations/recertify.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/kmip_support/key_auto_rotation.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: fix rebase and tests
  CHANGELOG/docs_key-autorotation-spec.md
  crate/server/src/routes/crypto/keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: wrap_and_cache must not attempt to wrap an HSM-resident key
  CHANGELOG/docs_key-autorotation-spec.md
  crate/server/src/core/wrapping/wrap.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/lib.rs
  crate/test_kms_server/src/test_env.rs
  crate/test_kms_server/src/test_server.rs
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(redis-findex): index wrapped key under the wrapping-key ID
  crate/server_database/src/stores/redis/objects_db.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: state restriction - PreActive and Compromise cannot be rotated
  CHANGELOG/docs_key-autorotation-spec.md
  crate/server/src/core/operations/key_ops/mod.rs
  crate/server/src/core/operations/recertify.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/server/src/core/retrieve_object_utils.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/kmip_policy/basic.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/kmip_support/key_auto_rotation.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add negative test on renewal of non latest key of a key-set
  CHANGELOG/docs_key-autorotation-spec.md
  crate/server/src/core/operations/rekey/keypair.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  nix/expected-hashes/server.vendor.static.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: test on CRL check
  CHANGELOG/docs_key-autorotation-spec.md
  crate/test_kms_server/src/vector_runner.rs
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  nix/expected-hashes/ui.vendor.fips.sha256
Due: none

docs: update doc
  documentation/docs/kmip_support/key_auto_rotation.md
Due: none

chore: update test_data repo
  CHANGELOG/docs_key-autorotation-spec.md
  CHANGELOG/feat_key-rotation-manual.md
  CHANGELOG/feat_key-rotation-scheduler.md
  crate/clients/clap/src/actions/symmetric/keys/get_rotation_policy.rs
  crate/clients/clap/src/actions/symmetric/keys/set_rotation_policy.rs
  crate/interfaces/Cargo.toml
  crate/interfaces/src/stores/objects_store.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/kmip_1_4/kmip_types.rs
  crate/kmip/src/kmip_2_1/kmip_operations.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/operations/attributes/add.rs
  crate/server/src/core/operations/attributes/modify.rs
  crate/server/src/core/operations/attributes/set.rs
  crate/server/src/core/operations/auto_rotate.rs
  crate/server/src/core/operations/key_ops/mod.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/core/operations/rekey/symmetric.rs
  crate/server/src/main.rs
  crate/server/src/tests/auto_rotate_tests.rs
  crate/server/src/tests/kmip_policy/basic.rs
  crate/server/src/tests/mod.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/locate_query.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/sqlite.rs
  crate/test_kms_server/src/vector_runner.rs
  deny.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add AI skills according to KMS repo
  .github/copilot-instructions.md
  .github/prompts/README.md
  .github/prompts/adr.prompt.md
  .github/prompts/ci-efficiency.prompt.md
  .github/prompts/ci-fix.prompt.md
  .github/prompts/code-quality.prompt.md
  .github/prompts/conventional-commit.prompt.md
  .github/prompts/docs-writer.prompt.md
  .github/prompts/fips-audit.prompt.md
  .github/prompts/kmip-compliance.prompt.md
  .github/prompts/kms-changelog.prompt.md
  .github/prompts/kms-release-notes.prompt.md
  .github/prompts/kms-sync-rules.prompt.md
  .github/prompts/kms-test-vector.prompt.md
  .github/prompts/openapi-endpoint.prompt.md
  .github/prompts/playwright-kms.prompt.md
  .github/prompts/pre-release.prompt.md
  .github/prompts/react-ant-patterns.prompt.md
  .github/prompts/refactor-plan.prompt.md
  .github/prompts/references/threat-model-analysis-principles.md
  .github/prompts/references/threat-model-diagrams.md
  .github/prompts/references/threat-model-orchestrator.md
  .github/prompts/references/threat-model-output-formats.md
  .github/prompts/rust-patterns.prompt.md
  .github/prompts/rust-refactor.prompt.md
  .github/prompts/security-review.prompt.md
  .github/prompts/threat-model.prompt.md
  AGENTS.md
  CONTRIBUTING.md
Due: none

fix(prompts): use agent: agent frontmatter (VS Code 1.124 format)
  .github/prompts/adr.prompt.md
  .github/prompts/ci-efficiency.prompt.md
  .github/prompts/ci-fix.prompt.md
  .github/prompts/code-quality.prompt.md
  .github/prompts/conventional-commit.prompt.md
  .github/prompts/docs-writer.prompt.md
  .github/prompts/fips-audit.prompt.md
  .github/prompts/kmip-compliance.prompt.md
  .github/prompts/kms-changelog.prompt.md
  .github/prompts/kms-release-notes.prompt.md
  .github/prompts/kms-sync-rules.prompt.md
  .github/prompts/kms-test-vector.prompt.md
  .github/prompts/openapi-endpoint.prompt.md
  .github/prompts/playwright-kms.prompt.md
  .github/prompts/pre-release.prompt.md
  .github/prompts/react-ant-patterns.prompt.md
  .github/prompts/refactor-plan.prompt.md
  .github/prompts/rust-patterns.prompt.md
  .github/prompts/rust-refactor.prompt.md
  .github/prompts/security-review.prompt.md
  .github/prompts/threat-model.prompt.md
Due: none

feat: add copilot instructions on multiple files
  .github/instructions/docs.instructions.md
  .github/instructions/nix.instructions.md
  .github/instructions/playwright.instructions.md
  .github/instructions/rust-cli.instructions.md
  .github/instructions/rust-crypto.instructions.md
  .github/instructions/rust-database.instructions.md
  .github/instructions/rust-kmip.instructions.md
  .github/instructions/rust-server.instructions.md
  .github/instructions/rust.instructions.md
  .github/instructions/typescript-ui.instructions.md
Due: none

fix: preserve OperationPolicyName in GetAttributes and AddAttribute operations
  CHANGELOG/fix_vast_reg.md
  crate/server/src/core/operations/attributes/add.rs
  crate/server/src/core/operations/message.rs
  crate/server/src/tests/ttlv_tests/integrations/vast.rs
  crate/test_kms_server/README.md
  documentation/docs/integrations/storage/vast_data.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(config): add secret management for KMS config files
  .github/scripts/nix.sh
  .github/scripts/test/test_secret_aws.sh
  .github/scripts/test/test_secret_azure.sh
  .github/scripts/test/test_secret_cosmian_kms.sh
  .github/scripts/test/test_secret_vault.sh
  .github/scripts/test/test_secrets.sh
  .github/workflows/test_all.yml
  Cargo.lock
  Cargo.toml
  crate/server/Cargo.toml
  crate/server/src/config/command_line/azure_ekm_config.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/db.rs
  crate/server/src/config/command_line/google_cse_config.rs
  crate/server/src/config/command_line/http_config.rs
  crate/server/src/config/command_line/idp_auth_config.rs
  crate/server/src/config/command_line/logging.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/command_line/proxy_config.rs
  crate/server/src/config/command_line/secret_backends.rs
  crate/server/src/config/command_line/socket_server_config.rs
  crate/server/src/config/command_line/tls_config.rs
  crate/server/src/config/command_line/ui_config.rs
  crate/server/src/config/command_line/workspace.rs
  crate/server/src/config/mod.rs
  crate/server/src/config/secret_resolver.rs
  crate/server/src/main.rs
  crate/server/src/routes/aws_xks/aws_xks_config.rs
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
  pkg/kms.toml
  shell.nix
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: use parse_borrowed for time format description and pin tracing-appender to 0.2.4
  Cargo.lock
  crate/clients/client_utils/src/attributes_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review
  .github/skills/ci-efficiency/SKILL.md
  .github/skills/ci-fix/SKILL.md
  .github/skills/fips-audit/SKILL.md
  .github/skills/react-ant-patterns/SKILL.md
Due: none

feat(cng): grant by default key usages for PrivateKey/PublicKey
  crate/clients/cng/src/backend.rs
  crate/clients/cng/src/key.rs
  crate/clients/cng/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(cng): grant by default key usages for PrivateKey/PublicKey (#1011)
  crate/clients/cng/src/backend.rs
  crate/clients/cng/src/key.rs
  crate/clients/cng/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: preserve OperationPolicyName in GetAttributes and AddAttribute operations (#1009)
  CHANGELOG/fix_vast_reg.md
  crate/server/src/core/operations/attributes/add.rs
  crate/server/src/core/operations/message.rs
  crate/server/src/tests/ttlv_tests/integrations/vast.rs
  crate/test_kms_server/README.md
  documentation/docs/integrations/storage/vast_data.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: reorganize secret_backends module while splitting secret_resolver
  .github/scripts/test/test_secret_aws.sh
  .github/scripts/test/test_secret_azure.sh
  .github/scripts/test/test_secret_vault.sh
  Cargo.lock
  _typos.toml
  crate/clients/client_utils/src/attributes_utils.rs
  crate/server/Cargo.toml
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/secret_backends.rs
  crate/server/src/config/command_line/secret_backends/aws.rs
  crate/server/src/config/command_line/secret_backends/azure.rs
  crate/server/src/config/command_line/secret_backends/common.rs
  crate/server/src/config/command_line/secret_backends/cosmian_kms.rs
  crate/server/src/config/command_line/secret_backends/mod.rs
  crate/server/src/config/command_line/secret_backends/vault.rs
  crate/server/src/config/mod.rs
  crate/server/src/config/secret_resolver.rs
  documentation/docs/configuration/secret_backends.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

update nix hashes
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

fix: use unique secret name and purge on cleanup for Azure KV CI test; update ui.vendor.fips nix hash
  .github/scripts/test/test_secret_azure.sh
  nix/expected-hashes/ui.vendor.fips.sha256
Due: none

docs: add presentation slides
  .pre-commit-config.yaml
  README.md
  _typos.toml
  documentation/.gitignore
  documentation/docs/index.md
  documentation/presentation/build.sh
  documentation/presentation/diagrams/auth_flow.mmd
  documentation/presentation/diagrams/auth_flow.svg
  documentation/presentation/diagrams/cloud_integrations.mmd
  documentation/presentation/diagrams/cloud_integrations.svg
  documentation/presentation/diagrams/cspn_certification.mmd
  documentation/presentation/diagrams/cspn_certification.svg
  documentation/presentation/diagrams/db_integrations.mmd
  documentation/presentation/diagrams/db_integrations.svg
  documentation/presentation/diagrams/ha_cluster.mmd
  documentation/presentation/diagrams/ha_cluster.svg
  documentation/presentation/diagrams/hsm_arch.mmd
  documentation/presentation/diagrams/hsm_arch.svg
  documentation/presentation/diagrams/key_lifecycle.mmd
  documentation/presentation/diagrams/key_lifecycle.svg
  documentation/presentation/diagrams/pki_chain.mmd
  documentation/presentation/diagrams/pki_chain.svg
  documentation/presentation/diagrams/xks_flow.mmd
  documentation/presentation/diagrams/xks_flow.svg
  documentation/presentation/slides.md
  documentation/presentation/slides_desc.md
Due: none

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
