Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

Copilot review changes
  crate/clients/client/src/http_client/login.rs
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/middlewares/cosmian_auth/cosmian_auth_token.rs
  crate/server/src/middlewares/jwt/jwks.rs
  crate/server/src/routes/ui_auth.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(spire): reject unsupported auto_rotate_period instead of dropping it
  crate/server/documentation/openapi.yaml
  crate/server/src/routes/spire/transit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: add POC doc
  .gitignore
  kms.md
  kms_setup.sh
Due: none

refactor: rename vault→spire modules, strip /v1 in auth proxy
  crate/server/src/config/params/server_params.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/middlewares/spire_token.rs
  crate/server/src/routes/mod.rs
  crate/server/src/routes/spire/auth_proxy.rs
  crate/server/src/routes/spire/error.rs
  crate/server/src/routes/spire/mod.rs
  crate/server/src/routes/spire/pki.rs
  crate/server/src/routes/spire/transit.rs
  crate/server/src/start_kms_server.rs
  docker-compose.yml
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/integrations/spire_spiffe.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(spire): deduplicate middleware, error checks, and error messages
  crate/clients/clap/src/actions/vault/approle.rs
  crate/server/src/middlewares/spire_token.rs
  crate/server/src/routes/spire/pki.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(spire): prove Vault drop-in replacement — conformance tests + bug fixes
  .mise/tasks/test/spire
  crate/crypto/src/crypto/elliptic_curves/sign.rs
  crate/crypto/src/crypto/elliptic_curves/verify.rs
  crate/server/src/routes/spire/transit.rs
  crate/server/src/start_kms_server.rs
  docker-compose.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(spire): move non-FIPS transit key gates to function level
  crate/server/src/routes/spire/transit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Cosmian Auth test suite
  .mise/scripts/test/test_ui_auth.sh
  ui/package.json
  ui/playwright.auth.config.ts
  ui/src/components/layout/MainLayout.tsx
  ui/src/pages/LoginPage.tsx
  ui/tests/e2e-auth/cosmian-login.spec.ts
Due: ui-wasm-react-unit-tests

docs: add SPIRE PoC getting-started (kms.md) and KMS config (kms.toml)
  kms.md
  kms.toml
Due: none

fix: make swagger public
  crate/server/documentation/openapi.yaml
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(adr): record FIPS SPIRE paths untested in CI
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
Due: none

Auth server integration first draft
  .gitignore
  CHANGELOG/feat_auth-server-integration.md
  crate/clients/ckms/src/tests/login_tests.rs
  crate/clients/clap/src/actions/login.rs
  crate/clients/client/src/http_client/client.rs
  crate/clients/client/src/http_client/login.rs
  crate/clients/client/src/http_client/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Working version
  CHANGELOG/feat_auth-server-integration.md
  crate/clients/clap/src/actions/login.rs
  crate/clients/client/src/http_client/login.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/cosmian_auth_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/config/wizard/mod.rs
  crate/server/src/main.rs
  crate/server/src/middlewares/cosmian_auth/cosmian_auth_middleware.rs
  crate/server/src/middlewares/cosmian_auth/cosmian_auth_token.rs
  crate/server/src/middlewares/cosmian_auth/mod.rs
  crate/server/src/middlewares/jwt/jwks.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(spire): use correct variable names in AppRole pre-flight check
  .mise/tasks/test/spire
Due: none

feat(skills): add rust-error-propagation, actix-web-middleware-audit, rust-async-refactor
  .github/skills/actix-web-middleware-audit/SKILL.md
  .github/skills/rust-async-refactor/SKILL.md
  .github/skills/rust-error-propagation/SKILL.md
Due: none

totp working version
  CHANGELOG/feat_auth-server-integration.md
  Cargo.lock
  crate/clients/clap/Cargo.toml
  crate/clients/clap/src/actions/login.rs
  crate/clients/client/src/http_client/login.rs
  crate/clients/client/src/http_client/mod.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/cosmian_auth_config.rs
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/middlewares/cosmian_auth/cosmian_auth_token.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(spire): restore default_username fallback when only vault token auth is enabled
  .mise/tasks/test/spire
  crate/server/src/start_kms_server.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review - again
  .mise/tasks/test/spire
  CHANGELOG/spire.md
  crate/clients/clap/src/actions/vault/approle.rs
  crate/server/src/routes/spire/auth_proxy.rs
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
  documentation/docs/integrations/spire_spiffe.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(spire): reset leftover state so test:spire is idempotent
  .mise/tasks/test/spire
Due: none

refactor: light vault-pki refactor
  crate/clients/clap/src/actions/vault/approle.rs
  crate/server/src/middlewares/spire_token.rs
  crate/server/src/routes/spire/pki.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/index.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(spire): deduplicate, extract helper, and document correlation_value
  crate/crypto/src/crypto/elliptic_curves/sign.rs
  crate/server/src/routes/spire/pki.rs
  crate/server/src/routes/spire/transit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(spire): drop unused Subject fields from sign-intermediate request
  crate/server/documentation/openapi.yaml
  crate/server/src/routes/spire/pki.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

oidc playwright tests
  .mise/scripts/test/test_ui_oidc.sh
  ui/playwright.oidc.config.ts
  ui/src/pages/LoginPage.tsx
  ui/tests/e2e-oidc/oidc-login.spec.ts
Due: ui-wasm-react-unit-tests

test(spire): add unit tests for transit and PKI pure helpers
  crate/server/src/routes/spire/pki.rs
  crate/server/src/routes/spire/transit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: tests
  documentation/docs/integrations/spire_spiffe.md
Due: none

docs: remove HashiCorp trademark language from SPIRE integration docs
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
  documentation/docs/integrations/spire_spiffe.md
Due: none

chore: remove PoC artifacts from repository tracking
  .gitignore
  kms.md
  kms.toml
  kms_setup.sh
Due: none

docs(changelog): rewrite SPIRE entry against shipped design
  CHANGELOG/spire-vault-compatible-api.md
Due: none

fix: pre-populate pkg/package.json to guard against wasm-pack repository-field bug
  .mise/scripts/test/test_ui.sh
  .mise/scripts/test/test_ui_auth.sh
  .mise/tasks/test/wasm
Due: none

fix(spire): reject empty entity_id to preserve per-tenant key isolation
  CHANGELOG/spire-vault-compatible-api.md
  crate/server/src/middlewares/spire_token.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: spire b4
  .mise/tasks/test/spire
  crate/server/src/middlewares/spire_token.rs
  crate/server/src/routes/spire/auth_proxy.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(test): use unique SQLite path and remove admin_ui_path in auth test config
  .mise/scripts/test/test_ui_auth.sh
  av.md
Due: none

docs(spire): update auth-verifier doc links for mdBook layout
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
  documentation/docs/integrations/spire_spiffe.md
Due: none

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
