Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

docs(cli): fix --ceremony flag documented as taking a true/false value
  documentation/docs/kms_clients/cli/main_commands.md
Due: none

docs(server): fix OCSP GET endpoint path in --ocsp-enabled help
  documentation/docs/configuration/server_cli.md
Due: none

fix(ui): gate X25519 derive-key option behind FIPS mode + fix i18n parity
  .pre-commit-config.yaml
  ui/src/actions/Keys/DeriveKey.tsx
  ui/src/i18n/locales/en/actions.json
  ui/src/i18n/locales/fr/actions.json
  ui/src/i18n/locales/zh-CN/actions.json
Due: ui-wasm-react-unit-tests

docs(agents): reconcile gh stack sync guidance with the force-push ban
  .github/copilot-instructions.md
  AGENTS.md
Due: none

docs(config): fix OCSP/CRL/ceremony/KMIP-support documentation inaccuracies
  README.md
  crate/clients/clap/src/actions/symmetric/keys/create_split_key.rs
  crate/server/kms_template.toml
  crate/server/src/config/command_line/crl_config.rs
  crate/server/src/config/command_line/ocsp_config.rs
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/kmip_support/support.md
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): fail-closed FIPS detection and stable data-testid selectors for X25519 DeriveKey
  ui/src/actions/Keys/DeriveKey.tsx
  ui/tests/e2e/derive-key-flow.spec.ts
Due: ui-wasm-react-unit-tests

fix: simplify impl
  CHANGELOG/pkcs11_v3.md
  SECURITY.md
  crate/clients/pkcs11/module/src/core/attribute.rs
  crate/clients/pkcs11/module/src/core/object.rs
  crate/clients/pkcs11/module/src/error/mod.rs
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/module/src/traits/backend.rs
  crate/clients/pkcs11/module/src/traits/mod.rs
  crate/clients/pkcs11/provider/src/backend.rs
  crate/clients/pkcs11/provider/src/lib.rs
  crate/clients/pkcs11/provider/src/tests.rs
  crate/hsm/base_hsm/src/hsm_lib.rs
  crate/hsm/base_hsm/src/pkcs11_v3.rs
  crate/hsm/softhsm2/src/tests.rs
  documentation/docs/adr/2026-09-03-pkcs11-v3-scope-decision-ffi-foundation.md
  documentation/docs/hsm_support/hsm_operations.md
  documentation/docs/integrations/pkcs11_provider.md
  documentation/nav.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(config): document missing OCSP fields and TOML range-validation gap
  crate/server/kms_template.toml
  crate/server/src/config/command_line/crl_config.rs
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(changelog): create entry 5.27.0
  CHANGELOG.md
  CHANGELOG/feat_auth-server-integration.md
  CHANGELOG/feat_french_kms.md
  CHANGELOG/feat_split_key.md
  CHANGELOG/feat_ui-i18n-zh.md
  CHANGELOG/fix_k8s-kms-pod-ci-test.md
  CHANGELOG/fix_lot_of_fixes.md
  CHANGELOG/fix_openssh_cannot_find_private_key.md
  CHANGELOG/fix_put_kms_public_url_in_allowed_cors_by_default.md
  CHANGELOG/ocsp.md
Due: none

docs(config): remove incorrect env-var claim from crl_default_validity_days doc
  crate/server/kms_template.toml
  crate/server/src/config/command_line/crl_config.rs
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(config): clarify --ocsp-include-cert-chain cannot be disabled via CLI
  crate/server/kms_template.toml
  crate/server/src/config/command_line/ocsp_config.rs
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(jose): reject curve/alg mismatch and fix ECDH-ES EC key usage mask
  crate/server/src/routes/jose/keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(jose): validate apu/apv per RFC 7518 in ECDH-ES decrypt
  crate/server/src/routes/jose/decrypt.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(jose): skip unserializable keys in JWKS instead of emitting null
  crate/server/src/routes/jwks.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(jose): fix Concat KDF AlgorithmID and key-import doc claims
  crate/crypto/src/crypto/kdf/concat_kdf.rs
  crate/server/documentation/openapi.yaml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(test): remove too_many_arguments suppression in ECDH-ES test helper
  crate/server/src/tests/jose/ecdh.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(jose): restrict generated X25519 keys to KeyAgreement usage
  crate/server/src/routes/jose/keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(ci): sync log-reference.md with the new jwks.rs warn! call site
  documentation/docs/configuration/log-reference.md
Due: none

fix(pkcs11): correct CKO_PROFILE search edge cases in load_find_context
  crate/clients/pkcs11/module/src/sessions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): cap pPin/pUsername argument lengths in C_Login/C_LoginUser
  crate/clients/pkcs11/module/src/pkcs11.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): accept compatible minor versions in C_GetInterface
  crate/clients/pkcs11/provider/src/lib.rs
  crate/clients/pkcs11/provider/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(pkcs11): correct mechanism table, C_GetInterface version wording, logging
  documentation/docs/integrations/pkcs11_provider.md
Due: none

docs(ci): sync log-reference.md with renamed ensure_backend_registered call sites
  documentation/docs/configuration/log-reference.md
Due: none

fix(pkcs11): accept CKU_SO in C_Login/C_LoginUser, restoring pkcs11-tool interop
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/provider/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): prevent C_Logout state from being bypassed by interface discovery
  crate/clients/pkcs11/module/src/traits/backend.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): reject destruction of synthetic profile objects
  crate/clients/pkcs11/module/src/error/mod.rs
  crate/clients/pkcs11/module/src/sessions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): close TOCTOU race between BACKEND and LOGGED_OUT flag
  crate/clients/pkcs11/module/src/traits/backend.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: update KMIP coverage
  .github/workflows/release.yml
  .mise/scripts/docs/generate_docs.sh
  .mise/scripts/docs/update_readme_kmip.py
  .mise/tasks/docs/generate
  .pre-commit-config.yaml
  README.md
  documentation/docs/kmip_support/support.md
  nix/expected-hashes/ui.pnpm.darwin.sha256
  nix/expected-hashes/ui.pnpm.linux.sha256
  ui/pnpm-lock.yaml
Due: none

docs(pkcs11): fix Windows DLL naming, RSA mechanism table, and logging location
  documentation/docs/integrations/pkcs11_provider.md
Due: none

fix(pkcs11): keep legacy CK_FUNCTION_LIST.version at 2.40 for v2.40 compatibility
  crate/clients/pkcs11/module/src/pkcs11.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): reject undersized AES-GCM output buffers and report correct mechanism flags
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/provider/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): use read_unaligned for CK_GCM_PARAMS and CK_RSA_PKCS_PSS_PARAMS
  crate/clients/pkcs11/module/src/core/mechanism.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): classify undersized AES-GCM decrypt input as a caller error
  crate/clients/pkcs11/provider/src/kms_object.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(hsm): harden EC PKCS11 metadata handling
  crate/hsm/base_hsm/src/session/ec.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/base_hsm/src/tests_shared.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(hsm): preserve EC object semantics
  crate/hsm/base_hsm/src/kms_hsm.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/interfaces/src/crypto_oracle.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/interfaces/src/hsm/interface.rs
  crate/server/Cargo.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(hsm): avoid double-hashing delegated signatures
  crate/clients/clap/src/actions/elliptic_curves/sign.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/interfaces/src/crypto_oracle.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/interfaces/src/lib.rs
  crate/server/src/core/operations/sign.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(hsm): align delegation documentation
  documentation/docs/adr/2026-09-05-hsm-track-a-rsa-pss-scope-decision.md
  documentation/docs/hsm_support/hsm_operations.md
Due: none

docs(changelog): record HSM review fixes
  CHANGELOG/hsm_delegation.md
Due: none

fix(hsm): harden fallback and EC lookups
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/interfaces/src/hsm/hsm_store.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(hsm): harden delegated signing inputs
  CHANGELOG/hsm_delegation.md
  crate/clients/clap/src/actions/elliptic_curves/sign.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/interfaces/src/crypto_oracle.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/server/src/core/operations/sign.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc
