Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

fix(clippy): rename _library to library in HsmLib, fix if-not-else
  crate/hsm/base_hsm/src/hsm_lib.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11_v3): C_EncryptMessage is called twice with the same IV
  CHANGELOG/pkcs11_v3.md
  crate/hsm/base_hsm/src/session/message_aead.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11_v3): minor issues in Kryoptic PKCS#11 loader crate
  CHANGELOG/pkcs11_v3.md
  crate/hsm/kryoptic/src/lib.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11_v3): make version of PKCS11 v3 be an exact match
  CHANGELOG/pkcs11_v3.md
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/provider/src/lib.rs
  crate/clients/pkcs11/provider/src/tests.rs
  crate/hsm/base_hsm/src/pkcs11_v3.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): MAX_UTF8_ARGUMENT_LEN breaks OIDC pin-as-access-token mode
  crate/clients/pkcs11/module/src/pkcs11.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11_v3): OOB when using CStr::from_ptr(p_interface_name)
  CHANGELOG/pkcs11_v3.md
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/provider/src/lib.rs
  crate/clients/pkcs11/provider/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: fix test_profile_objects_self_declared
  crate/clients/pkcs11/module/src/tests.rs
  crate/clients/pkcs11/provider/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: improve perf PKCS11 delegated HSM operations
  .mise/tasks/bench/hsm
  .mise/tasks/bench/load
  CHANGELOG/pkcs11_v3.md
  Cargo.lock
  crate/clients/clap/src/actions/bench/load.rs
  crate/hsm/aws_cloudhsm/src/lib.rs
  crate/hsm/base_hsm/Cargo.toml
  crate/hsm/base_hsm/src/base_hsm.rs
  crate/hsm/base_hsm/src/hsm_capabilities.rs
  crate/hsm/base_hsm/src/kms_hsm.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/base_hsm/src/slots.rs
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/hsm/crypt2pay/src/lib.rs
  crate/hsm/gcp_cloud_hsm/src/lib.rs
  crate/hsm/proteccio/src/lib.rs
  crate/hsm/smartcardhsm/src/lib.rs
  crate/hsm/softhsm2/src/lib.rs
  crate/hsm/utimaco/src/lib.rs
  crate/interfaces/src/crypto_oracle.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/interfaces/src/hsm/interface.rs
  crate/interfaces/src/lib.rs
  documentation/docs/SUMMARY.md
  documentation/docs/configuration/object-cache.md
  documentation/docs/hsm_support/hsm_operations.md
  documentation/nav.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: increase max_concurrent_sessions to 128 by default
  CHANGELOG/pkcs11_v3.md
  crate/hsm/aws_cloudhsm/src/lib.rs
  crate/hsm/base_hsm/src/hsm_capabilities.rs
  crate/hsm/crypt2pay/src/lib.rs
  crate/hsm/gcp_cloud_hsm/src/lib.rs
  crate/hsm/proteccio/src/lib.rs
  crate/hsm/smartcardhsm/src/lib.rs
  crate/hsm/softhsm2/src/lib.rs
  crate/hsm/utimaco/src/lib.rs
  documentation/docs/SUMMARY.md
  documentation/docs/benchmarks/p11perftest.md
  documentation/nav.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore(bench): add error logging to HSM key creation helpers
  crate/clients/clap/src/actions/bench/helpers.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(bench): clean HSM keys
  .github/workflows/benchmark.yml
  .mise/tasks/bench/README.md
  .mise/tasks/bench/hsm
  .mise/tasks/bench/hsm-clean-slot
  CHANGELOG/pkcs11_v3.md
  crate/clients/clap/src/actions/bench/helpers.rs
  crate/clients/clap/src/actions/bench/kmip.rs
  crate/clients/clap/src/actions/bench/load.rs
  crate/clients/clap/src/actions/pkcs11/bench/report.rs
  crate/server/src/core/operations/key_ops/crypto_op.rs
  documentation/docs/SUMMARY.md
  documentation/nav.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(hsm): complete cloud HSM setup guides
  documentation/docs/hsm_support/aws_cloudhsm.md
  documentation/docs/hsm_support/gcp_cloud_hsm.md
Due: none

fix(hsm): repair hsm-clean-slot nethsmtool syntax; name PKCS#11 return codes in errors
  .mise/tasks/bench/hsm-clean-slot
  crate/hsm/base_hsm/src/hsm_lib.rs
  crate/hsm/base_hsm/src/lib.rs
  documentation/docs/hsm_support/hsm_operations.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): repair HSM test setup
  .github/workflows/test_all.yml
  crate/hsm/aws_cloudhsm/src/tests.rs
  crate/hsm/kryoptic/src/tests.rs
  crate/hsm/smartcardhsm/src/tests.rs
  crate/hsm/softhsm2/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: disable AWS CloudHSM from now
  .github/workflows/test_all.yml
Due: none

feat: add Auth Verifier SAML single sign-on to the KMS Web UI
  .mise/scripts/test/saml_sso/docker-compose.yml
  .mise/scripts/test/saml_sso/keycloak-realm.json.tmpl
  .mise/scripts/test/saml_sso/nginx.conf
  .mise/scripts/test/saml_sso/stack.sh
  CHANGELOG/feat_auth-verifier-saml-session.md
  CHANGELOG/feat_auth-verifier-saml-ui.md
  CHANGELOG/test_plan_auth-verifier-saml-sso.md
  crate/server/Cargo.toml
  crate/server/documentation/openapi.yaml
  crate/server/src/config/command_line/auth_verifier_config.rs
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/middlewares/auth_verifier/middleware.rs
  crate/server/src/middlewares/auth_verifier/mod.rs
  crate/server/src/middlewares/auth_verifier/token.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/ui_auth.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/configuration/log-reference.md
  documentation/docs/configuration/ui.md
  ui/src/App.tsx
  ui/src/components/layout/MainLayout.tsx
  ui/src/i18n/locales/en/layout.json
  ui/src/i18n/locales/fr/layout.json
  ui/src/i18n/locales/zh-CN/layout.json
  ui/src/pages/LoginPage.tsx
  ui/src/utils/utils.ts
  ui/tests/e2e-auth/saml-login.spec.ts
  ui/tests/unit/tsx-imports/LoginPage.test.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(audit): split middleware module
  crate/server/src/middlewares/audit/client_ip.rs
  crate/server/src/middlewares/audit/extensions.rs
  crate/server/src/middlewares/audit/mod.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(audit): centralize event construction
  crate/access/src/audit/event.rs
  crate/access/src/audit/mod.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/audit/mod.rs
  crate/server/src/middlewares/audit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(audit): define backend sink contract
  Cargo.lock
  crate/interfaces/Cargo.toml
  crate/interfaces/src/lib.rs
  crate/interfaces/src/stores/audit_sink.rs
  crate/interfaces/src/stores/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(audit): separate file sink internals
  crate/server/src/core/audit/file_sink.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/audit/mod.rs
  crate/server/src/core/audit/store.rs
  crate/server/src/core/audit/writer.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: review fixes
  crate/interfaces/src/stores/audit_sink.rs
  crate/server/src/core/audit/recovery.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor: do more refactoring
  crate/interfaces/src/stores/audit_sink.rs
  crate/server/src/core/audit/file_sink.rs
  crate/server/src/core/audit/mod.rs
  crate/server/src/core/audit/recovery.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: skip torn-tail repair tests on Windows (file handle semantics differ)
  crate/access/src/audit/event.rs
  crate/server/src/core/audit/file_sink.rs
  crate/server/src/core/audit/recovery.rs
  crate/server/src/core/audit/store.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(audit): generalize AuditStore over AuditSink
  Cargo.lock
  crate/access/src/audit/event.rs
  crate/interfaces/src/stores/audit_sink.rs
  crate/server/Cargo.toml
  crate/server/src/core/audit/file_sink.rs
  crate/server/src/core/audit/recovery.rs
  crate/server/src/core/audit/store.rs
  crate/server/src/core/audit/writer.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: rev fixes
  crate/access/src/audit/event.rs
  crate/interfaces/src/error/mod.rs
  crate/interfaces/src/stores/audit_sink.rs
  crate/server/src/core/audit/file_sink.rs
  crate/server/src/core/audit/store.rs
  crate/server/src/core/audit/writer.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: sync log-reference.md with resume()/writer.rs log call-sites
  documentation/docs/configuration/log-reference.md
Due: none

fix: correct pre-existing Unparseable/unparseable typo to Unparsable/unparsable
  crate/server/src/middlewares/audit/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: review fix
  crate/server/src/core/audit/file_sink.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: metadatcommit
  crate/server/src/core/audit/file_sink.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: logs again
  documentation/docs/configuration/log-reference.md
Due: none

docs: sync logs
  documentation/docs/configuration/log-reference.md
Due: none

Pipeline fix attempt
  crate/clients/pkcs11/module/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(hsm): prepare Azure Cloud HSM CI environment
  .github/workflows/test_all.yml
  .mise/tasks/test/hsm-azure-cloud-hsm
  crate/hsm/azure_cloud_hsm/README.md
Due: none
