Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

chore: bump authentication submodule to 61e1b40 (fix app_auth_api.md)
  .mise/scripts/package/package_common.sh
  nix/kms-server.nix
Due: nixfmt, statix

docs: remove HashiCorp brand references from spire branch code and docs
  crate/server/src/config/command_line/vault_config.rs
  crate/server/src/routes/spire/pki.rs
  crate/server/src/routes/spire/transit.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(spire): update auth-verifier doc links for mdBook layout
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
  documentation/docs/integrations/spire_spiffe.md
Due: none

refactor(spire): deduplicate, extract helper, and document correlation_value
  crate/crypto/src/crypto/elliptic_curves/sign.rs
  crate/server/src/routes/spire/pki.rs
  crate/server/src/routes/spire/transit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: update spire CHANGELOG with auth-verifier route fix and SPIRE config syntax fixes
  CHANGELOG/spire.md
Due: none

fix: log-ref
  documentation/docs/configuration/log-reference.md
Due: none

fix(ci): add sudo to netbird up command
  .github/workflows/packaging-docker.yml
Due: none

docs: add POC doc
  .gitignore
  kms.md
  kms_setup.sh
Due: none

fix(spire): bump SPIRE images to 1.15.2 and accept PUT on transit key create/sign
  crate/server/src/routes/spire/transit.rs
  crate/server/src/start_kms_server.rs
  docker-compose.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(spire): use correct variable names in AppRole pre-flight check
  .mise/tasks/test/spire
Due: none

docs: rewrite kms.md/kms.toml for self-service AppRole + add kms_setup.sh
  kms.md
  kms.toml
  kms_setup.sh
Due: none

fix: spire b4
  .mise/tasks/test/spire
  crate/server/src/middlewares/spire_token.rs
  crate/server/src/routes/spire/auth_proxy.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: make swagger public
  crate/server/documentation/openapi.yaml
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: add cross-agent skill symlinks and update .gitignore
  .deepcode/skills
  .gitignore
  .qwen/skills
  QWEN.md
Due: none

fix(spire): run SPIRE 1.15 containers as root to fix sqlite datastore access
  docker-compose.yml
Due: none

test(spire): add unit tests for SpireTokenCache and spire_token_middleware
  crate/server/src/middlewares/spire_token.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Add pre-flight checks
  .mise/tasks/test/spire
Due: none

docs(spire): integrate kms.md into spire_spiffe.md; move kms_setup.sh to test_data
  documentation/docs/integrations/spire_spiffe.md
  kms.md
  kms_setup.sh
Due: none

fix(spire): host-network mode for all SPIRE containers + stale process cleanup
  .mise/tasks/test/spire
  docker-compose.yml
Due: none

test(spire): add cross-AppRole transit key isolation tests
  crate/server/src/routes/spire/transit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: remove PoC artifacts from repository tracking
  .gitignore
  kms.md
  kms.toml
  kms_setup.sh
Due: none

fix: combine native auth with AppRole auth
  .github/workflows/nightly.yml
  .mise/scripts/package/package_dmg.sh
  CHANGELOG/spire.md
  crate/server/src/middlewares/mod.rs
  crate/server/src/middlewares/spire_token.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/integrations/spire_spiffe.md
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: sync log-reference.md with vault_token_optional_middleware log entries
  documentation/docs/configuration/log-reference.md
Due: none

fix(spire): authenticate test harness admin ops against vault-API-enabled KMS
  .mise/tasks/test/spire
Due: none

fix(spire): restore default_username fallback when only vault token auth is enabled
  .mise/tasks/test/spire
  crate/server/src/start_kms_server.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(spire): deduplicate middleware, error checks, and error messages
  crate/clients/clap/src/actions/vault/approle.rs
  crate/server/src/middlewares/spire_token.rs
  crate/server/src/routes/spire/pki.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(skills): add rust-error-propagation, actix-web-middleware-audit, rust-async-refactor
  .github/skills/actix-web-middleware-audit/SKILL.md
  .github/skills/rust-async-refactor/SKILL.md
  .github/skills/rust-error-propagation/SKILL.md
Due: none

chore: update auth submodule
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

refactor: light vault-pki refactor
  crate/clients/clap/src/actions/vault/approle.rs
  crate/server/src/middlewares/spire_token.rs
  crate/server/src/routes/spire/pki.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/index.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Auth server integration first draft
  .gitignore
  CHANGELOG/feat_auth-server-integration.md
  crate/clients/ckms/src/tests/login_tests.rs
  crate/clients/clap/src/actions/login.rs
  crate/clients/client/src/http_client/client.rs
  crate/clients/client/src/http_client/login.rs
  crate/clients/client/src/http_client/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Working version
  CHANGELOG/feat_auth-server-integration.md
  crate/clients/clap/src/actions/login.rs
  crate/clients/client/src/http_client/login.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/cosmian_auth_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/config/wizard/mod.rs
  crate/server/src/main.rs
  crate/server/src/middlewares/cosmian_auth/cosmian_auth_middleware.rs
  crate/server/src/middlewares/cosmian_auth/cosmian_auth_token.rs
  crate/server/src/middlewares/cosmian_auth/mod.rs
  crate/server/src/middlewares/jwt/jwks.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

typo fix
  crate/server/src/middlewares/jwt/jwks.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

totp working version
  CHANGELOG/feat_auth-server-integration.md
  Cargo.lock
  crate/clients/clap/Cargo.toml
  crate/clients/clap/src/actions/login.rs
  crate/clients/client/src/http_client/login.rs
  crate/clients/client/src/http_client/mod.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/cosmian_auth_config.rs
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/middlewares/cosmian_auth/cosmian_auth_token.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Changed jwks to a cached on startup refresh on miss policy instead of every call
  CHANGELOG/feat_auth-server-integration.md
  crate/server/src/config/command_line/ui_config.rs
  crate/server/src/middlewares/jwt/jwks.rs
  crate/server/src/routes/ui_auth.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Formalized testing plan
  CHANGELOG/test_plan_oidc-session-auth.md
Due: none

Cosmian Auth Server UI Integration
  CHANGELOG/feat_auth-server-integration.md
  CHANGELOG/test_plan_cosmian-auth-ui-login.md
  crate/server/documentation/openapi.yaml
  crate/server/src/config/command_line/cosmian_auth_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/command_line/ui_config.rs
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/middlewares/cosmian_auth/cosmian_auth_token.rs
  crate/server/src/middlewares/cosmian_auth/mod.rs
  crate/server/src/middlewares/jwt/jwks.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/ui_auth.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/configuration/ui.md
  ui/src/App.tsx
  ui/src/components/layout/MainLayout.tsx
  ui/src/pages/LoginPage.tsx
  ui/src/utils/utils.ts
  ui/tests/unit/tsx-imports/LoginPage.test.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

oidc playwright tests
  .mise/scripts/test/test_ui_oidc.sh
  ui/playwright.oidc.config.ts
  ui/src/pages/LoginPage.tsx
  ui/tests/e2e-oidc/oidc-login.spec.ts
Due: ui-wasm-react-unit-tests
