Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

fix: ci
  .github/scripts/test/rest_crypto_test.sh
  CHANGELOG/feat_crypto_JWE_api.md
  crate/server/src/core/operations/signature_verify.rs
  crate/server/src/routes/crypto/error.rs
  crate/server/src/routes/crypto/verify.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: final diff
  CHANGELOG/feat_crypto_JWE_api.md
  crate/server/src/routes/crypto/error.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: init
  deleteMe
Due: none

test(config): add CI integration tests for secret backends (Vault, AWS SSM, Azure KV)
  .github/scripts/nix.sh
  .github/scripts/test/test_secret_aws.sh
  .github/scripts/test/test_secret_azure.sh
  .github/scripts/test/test_secret_vault.sh
  .github/workflows/test_all.yml
  crate/server/src/config/command_line/secret_backends.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): hardcode AWS_REGION default for secret_aws test
  .github/scripts/nix.sh
  .github/workflows/test_all.yml
Due: none

fix(ci): add Docker/awscli2/curl to Nix env for secret backend tests
  .github/scripts/nix.sh
  shell.nix
Due: nixfmt, statix

fix(ci): use KMS_CI_AWS_REGION secret instead of hardcoded region
  .github/scripts/nix.sh
  .github/workflows/test_all.yml
Due: none

fix(ci): add docker-client and python3 to Nix env for secret backend tests
  .github/scripts/nix.sh
  shell.nix
Due: nixfmt, statix

chore: fin
  .github/scripts/test/rest_crypto_test.sh
  crate/server/src/routes/crypto/error.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: multiple fixes
  CHANGELOG/fix_span.md
  Cargo.toml
  SECURITY.md
  crate/clients/clap/src/actions/shared/unwrap_key.rs
  crate/crypto/src/crypto/wrap/wrap_key.rs
  crate/server/src/config/command_line/logging.rs
  crate/server/src/config/mod.rs
  crate/server/src/config/params/mod.rs
  crate/server/src/config/params/open_telemetry_params.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/config/wizard/logging_wizard.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/digest.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/core/operations/hash.rs
  crate/server/src/core/operations/import.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/pkcs11.rs
  crate/server/src/main.rs
  crate/server/src/middlewares/api_token/api_token_auth.rs
  crate/server/src/routes/google_cse/jwt.rs
  crate/server/src/routes/google_cse/mod.rs
  crate/server/src/routes/google_cse/operations.rs
  crate/server/src/tests/mod.rs
  nix/docker.nix
  pkg/kms.toml
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: multiple fixes
  .github/scripts/docs/update_readme_kmip.py
  README.md
  SECURITY.md
  crate/clients/clap/src/actions/shared/unwrap_key.rs
  crate/server/kms_template.toml
  crate/server/src/config/mod.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/core/operations/hash.rs
  crate/server/src/core/operations/import.rs
  crate/server/src/middlewares/api_token/api_token_auth.rs
  crate/server/src/tests/security_regression.rs
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/kmip_support/support.md
  pkg/kms.toml
  sbom/ckms/fips/dynamic/bom.cdx.json
  sbom/ckms/fips/dynamic/bom.spdx.json
  sbom/ckms/fips/static/bom.cdx.json
  sbom/ckms/fips/static/bom.spdx.json
  sbom/ckms/non-fips/dynamic/bom.cdx.json
  sbom/ckms/non-fips/dynamic/bom.spdx.json
  sbom/ckms/non-fips/static/bom.cdx.json
  sbom/ckms/non-fips/static/bom.spdx.json
  sbom/server/fips/dynamic/bom.cdx.json
  sbom/server/fips/dynamic/bom.spdx.json
  sbom/server/fips/static/bom.cdx.json
  sbom/server/fips/static/bom.spdx.json
  sbom/server/non-fips/dynamic/bom.cdx.json
  sbom/server/non-fips/dynamic/bom.spdx.json
  sbom/server/non-fips/static/bom.cdx.json
  sbom/server/non-fips/static/bom.spdx.json
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): add curl to Nix env for secret_vault test readiness checks
  .github/scripts/nix.sh
Due: none

fix(ci): fix Vault health check timeout and Azure soft-delete recovery
  .github/scripts/test/test_secret_azure.sh
  .github/scripts/test/test_secret_vault.sh
Due: none

fix(ci): pin Vault image to 1.17, add explicit dev command and logs on failure
  .github/scripts/test/test_secret_vault.sh
Due: none

fix(ci): poll Azure KV recovery completion before PUT, add error diagnostics
  .github/scripts/test/test_secret_azure.sh
Due: none

fix(ci): use unique secret name per run to avoid Azure soft-delete conflict
  .github/scripts/test/test_secret_azure.sh
Due: none

Add_requested_changes
  .github/scripts/test/test_docker_image.sh
  .github/workflows/packaging-docker.yml
Due: none

fix(nix): update cli vendor linux hash after Cargo.lock change
  nix/expected-hashes/cli.vendor.linux.sha256
Due: none

fix(clippy): fix map_err wildcard and indexing_slicing in secret backend code
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/secret_backends.rs
  deny.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(clippy): fix all remaining clippy errors in secret_backends.rs
  crate/server/src/config/command_line/secret_backends.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

delet this commit before merge
  AGENTS.md
Due: none

a
  CHANGELOG/feat_crypto_JWE_api.md
  Cargo.lock
  crate/clients/ckms/Cargo.toml
  crate/clients/ckms/src/tests/mod.rs
  crate/clients/ckms/src/tests/rest_crypto/encrypt_decrypt.rs
  crate/clients/ckms/src/tests/rest_crypto/error_cases.rs
  crate/clients/ckms/src/tests/rest_crypto/mac.rs
  crate/clients/ckms/src/tests/rest_crypto/mod.rs
  crate/clients/ckms/src/tests/rest_crypto/sign_verify.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/integrations/api.md
  documentation/docs/integrations/rest_crypto_api.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Revert "a"
  CHANGELOG/feat_crypto_JWE_api.md
  Cargo.lock
  crate/clients/ckms/Cargo.toml
  crate/clients/ckms/src/tests/mod.rs
  crate/clients/ckms/src/tests/rest_crypto/encrypt_decrypt.rs
  crate/clients/ckms/src/tests/rest_crypto/error_cases.rs
  crate/clients/ckms/src/tests/rest_crypto/mac.rs
  crate/clients/ckms/src/tests/rest_crypto/mod.rs
  crate/clients/ckms/src/tests/rest_crypto/sign_verify.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/integrations/api.md
  documentation/docs/integrations/rest_crypto_api.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: first blocks
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/test_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: full integration
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/error.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/tests/mod.rs
  crate/server/src/tests/rest_crypto.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: docs
  .vscode/settings.json
  AGENTS.md
  documentation/docs/integrations/api.md
  documentation/docs/integrations/rest_crypto_api.md
  documentation/mkdocs.yml
Due: none

feat: integration test fix and improve
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/error.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/tests/rest_crypto.rs
  crate/server/src/tests/rest_crypto/common.rs
  crate/server/src/tests/rest_crypto/encrypt_decrypt.rs
  crate/server/src/tests/rest_crypto/error_cases.rs
  crate/server/src/tests/rest_crypto/mac.rs
  crate/server/src/tests/rest_crypto/mod.rs
  crate/server/src/tests/rest_crypto/rfc_vectors.rs
  crate/server/src/tests/rest_crypto/sign_verify.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add E2E tests
  .github/scripts/nix.sh
  .github/scripts/test/rest_crypto_test.sh
  .github/scripts/test/test_rest_crypto.sh
  .github/workflows/test_all.yml
Due: none

fix: fmt
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/tests/rest_crypto/error_cases.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: fix ci again
  shell.nix
Due: nixfmt, statix

fmt:fmt
  crate/server/src/core/kms/other_kms_methods.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: update agentmd
  AGENTS.md
Due: none

feat: add ano ui
  CHANGELOG/feature_fpe-kmip.md
  crate/server/src/start_kms_server.rs
  ui/src/App.tsx
  ui/src/actions/Tokenize/TokenizeAggregateDate.tsx
  ui/src/actions/Tokenize/TokenizeAggregateNumber.tsx
  ui/src/actions/Tokenize/TokenizeHash.tsx
  ui/src/actions/Tokenize/TokenizeNoise.tsx
  ui/src/actions/Tokenize/TokenizeScaleNumber.tsx
  ui/src/actions/Tokenize/TokenizeWordMask.tsx
  ui/src/actions/Tokenize/TokenizeWordPatternMask.tsx
  ui/src/actions/Tokenize/TokenizeWordTokenize.tsx
  ui/src/components/layout/MainLayout.tsx
  ui/src/menuItems.tsx
  ui/tests/e2e/README.md
  ui/tests/e2e/routes.ts
  ui/tests/e2e/tokenize.spec.ts
  ui/vite.config.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: linting fixes
  ui/src/App.tsx
  ui/src/actions/Tokenize/TokenizeAggregateDate.tsx
  ui/src/actions/Tokenize/TokenizeAggregateNumber.tsx
  ui/src/actions/Tokenize/TokenizeHash.tsx
  ui/src/actions/Tokenize/TokenizeNoise.tsx
  ui/src/actions/Tokenize/TokenizeScaleNumber.tsx
  ui/src/actions/Tokenize/TokenizeWordMask.tsx
  ui/src/actions/Tokenize/TokenizeWordPatternMask.tsx
  ui/src/actions/Tokenize/TokenizeWordTokenize.tsx
  ui/src/contexts/AuthContext.tsx
  ui/src/contexts/AuthContextDef.tsx
  ui/src/hooks/useAuth.ts
  ui/src/pages/LoginPage.tsx
Due: ui-wasm-react-unit-tests

feat: fix
  ui/src/contexts/AuthContext.tsx
Due: ui-wasm-react-unit-tests
