Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

fix(docs): correct openapi.md path in mdbook SUMMARY.md
  documentation/docs/SUMMARY.md
Due: none

fix(docs): remove MkDocs [TOC] markers and add spire_spiffe to SUMMARY
  documentation/docs/SUMMARY.md
  documentation/docs/configuration/database.md
  documentation/docs/configuration/ui.md
  documentation/docs/hsm_support/hsm_operations.md
  documentation/docs/integrations/cloud_providers/aws/byok.md
  documentation/docs/integrations/cloud_providers/aws/fargate.md
  documentation/docs/integrations/cloud_providers/azure/byok.md
  documentation/docs/integrations/cloud_providers/azure/ekm.md
  documentation/docs/integrations/cloud_providers/google_gcp/cmek.md
  documentation/docs/integrations/cloud_providers/google_gcp/csek.md
  documentation/docs/integrations/databases/edb_postgres_tde.md
  documentation/docs/integrations/databases/intersystems_iris.md
  documentation/docs/integrations/databases/mysql.md
  documentation/docs/integrations/databases/percona.md
  documentation/docs/integrations/pykmip.md
  documentation/docs/kms_clients/index.md
  documentation/docs/use_cases/anonymization.md
  documentation/docs/use_cases/client_side_and_application_level_encryption.md
Due: none

fix(docs): remove ADR link from spire_spiffe.md
  documentation/docs/integrations/spire_spiffe.md
Due: none

fix(docs): exclude readthedocs.io from linkcheck
  documentation/book.toml
Due: none

fix: replace Cosmian by Eviden everywhere
  cli_documentation/docs/cli/main_commands.md
  cli_documentation/docs/usage.md
  documentation/docs/adr/2026-06-30-key-auto-rotation-keyset-chain-design.md
  documentation/docs/adr/2026-07-08-two-tier-cache-architecture.md
  documentation/docs/benchmarks/cpu_scaling.md
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/algorithms.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/configuration/logging.md
  documentation/docs/configuration/secret_backends.md
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/images/kms-ui-front-page.png
  documentation/docs/index.md
  documentation/docs/installation/installation_getting_started.md
  documentation/docs/integrations/cloud_providers/aws/xks.md
  documentation/docs/integrations/databases/edb_postgres_tde.md
  documentation/docs/integrations/databases/intersystems_iris.md
  documentation/docs/integrations/disk_encryption/veracrypt.md
  documentation/docs/integrations/jose/jwe_decryption.md
  documentation/docs/kmip_support/key_rotation/auto_rotation_policy.md
  documentation/docs/kmip_support/key_rotation/hsm.md
  documentation/docs/kmip_support/key_rotation/index.md
  documentation/docs/kmip_support/support.md
  documentation/docs/quick_start.md
  documentation/docs/use_cases/anonymization.md
Due: none

fix: two images
  documentation/docs/images/key-wrapping-create-ui.png
  documentation/docs/images/kms-ui.png
  documentation/docs/index.md
Due: none

fix: disable netbird for now
  .github/workflows/packaging-docker.yml
Due: none

fix: OpenSSH authentication fails
  CHANGELOG/fix_openssh.md
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/module/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: update log-ref
  documentation/docs/configuration/log-reference.md
Due: none

feat(deploy): add Helm chart for Kubernetes deployment
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG/feat_helm-chart-k8s-deployment.md
  charts/cosmian-kms/.helmignore
  charts/cosmian-kms/Chart.yaml
  charts/cosmian-kms/README.md
  charts/cosmian-kms/templates/NOTES.txt
  charts/cosmian-kms/templates/_helpers.tpl
  charts/cosmian-kms/templates/deployment.yaml
  charts/cosmian-kms/templates/hpa.yaml
  charts/cosmian-kms/templates/ingress.yaml
  charts/cosmian-kms/templates/networkpolicy.yaml
  charts/cosmian-kms/templates/poddisruptionbudget.yaml
  charts/cosmian-kms/templates/pvc.yaml
  charts/cosmian-kms/templates/secret.yaml
  charts/cosmian-kms/templates/service.yaml
  charts/cosmian-kms/templates/serviceaccount.yaml
  charts/cosmian-kms/templates/tests/test-connection.yaml
  charts/cosmian-kms/values.yaml
Due: none

fix: normalize plain-blockquote notes to mdbook-admonish syntax
  documentation/docs/hsm_support/proteccio.md
  documentation/docs/index.md
Due: none

feat(ci): add mise test:helm task and wire into test_all.yml
  .github/workflows/test_all.yml
  .mise/tasks/test/_default
  .mise/tasks/test/helm
  documentation/docs/installation/kubernetes_helm.md
Due: none

fix: fix build and linkcheck issues
  documentation/docs/certifications_and_compliance/audit/crypto_inventory.md
  documentation/docs/certifications_and_compliance/zeroization.md
  documentation/docs/integrations/api.md
  documentation/docs/integrations/cloud_providers/azure/ekm.md
  documentation/docs/integrations/databases/edb_postgres_tde.md
  documentation/docs/integrations/databases/oracle_tde.md
  documentation/docs/integrations/databases/percona.md
  documentation/docs/kmip_support/_decrypt.md
  documentation/docs/kmip_support/_export.md
  documentation/docs/kmip_support/_get.md
  documentation/docs/kmip_support/attributes.md
  documentation/docs/kmip_support/key_rotation/_re-certify.md
  documentation/mkdocs.yml
Due: none

test: disable Oracle TDE tests - keep them on Docker tests only
  .github/workflows/packaging-docker.yml
Due: none

test: Helm Chart using mini-kube
  .github/workflows/helm-chart-publish.yml
  .github/workflows/test_all.yml
  .mise/tasks/test/helm
  charts/cosmian-kms/Chart.yaml
  charts/cosmian-kms/README.md
  charts/cosmian-kms/templates/NOTES.txt
  charts/cosmian-kms/templates/deployment.yaml
  charts/cosmian-kms/templates/hpa.yaml
  charts/cosmian-kms/templates/networkpolicy.yaml
  charts/cosmian-kms/templates/poddisruptionbudget.yaml
  charts/cosmian-kms/templates/tests/test-connection.yaml
  charts/cosmian-kms/values.yaml
  documentation/docs/SUMMARY.md
  documentation/nav.yml
Due: none

feat(deploy): add Helm chart for Kubernetes deployment (#1048)
  .github/workflows/helm-chart-publish.yml
  .github/workflows/test_all.yml
  .gitignore
  .mise/tasks/test/_default
  .mise/tasks/test/helm
  .pre-commit-config.yaml
  CHANGELOG/feat_helm-chart-k8s-deployment.md
  charts/cosmian-kms/.helmignore
  charts/cosmian-kms/Chart.yaml
  charts/cosmian-kms/README.md
  charts/cosmian-kms/templates/NOTES.txt
  charts/cosmian-kms/templates/_helpers.tpl
  charts/cosmian-kms/templates/deployment.yaml
  charts/cosmian-kms/templates/hpa.yaml
  charts/cosmian-kms/templates/ingress.yaml
  charts/cosmian-kms/templates/networkpolicy.yaml
  charts/cosmian-kms/templates/poddisruptionbudget.yaml
  charts/cosmian-kms/templates/pvc.yaml
  charts/cosmian-kms/templates/secret.yaml
  charts/cosmian-kms/templates/service.yaml
  charts/cosmian-kms/templates/serviceaccount.yaml
  charts/cosmian-kms/templates/tests/test-connection.yaml
  charts/cosmian-kms/values.yaml
  documentation/docs/SUMMARY.md
  documentation/docs/installation/kubernetes_helm.md
  documentation/nav.yml
Due: none

fix: replace Cosmian by Eviden everywhere
  documentation/docs/adr/2026-06-30-key-auto-rotation-keyset-chain-design.md
  documentation/docs/adr/2026-07-08-two-tier-cache-architecture.md
  documentation/docs/benchmarks/cpu_scaling.md
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/algorithms.md
  documentation/docs/certifications_and_compliance/zeroization.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/configuration/logging.md
  documentation/docs/configuration/secret_backends.md
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/hsm_support/proteccio.md
  documentation/docs/images/key-wrapping-create-ui.png
  documentation/docs/images/kms-ui-front-page.png
  documentation/docs/images/kms-ui.png
  documentation/docs/index.md
  documentation/docs/installation/installation_getting_started.md
  documentation/docs/integrations/cloud_providers/aws/xks.md
  documentation/docs/integrations/cloud_providers/azure/ekm.md
  documentation/docs/integrations/databases/edb_postgres_tde.md
  documentation/docs/integrations/databases/intersystems_iris.md
  documentation/docs/integrations/databases/oracle_tde.md
  documentation/docs/integrations/databases/percona.md
  documentation/docs/integrations/disk_encryption/veracrypt.md
  documentation/docs/integrations/jose/jwe_decryption.md
  documentation/docs/kmip_support/_get.md
  documentation/docs/kmip_support/attributes.md
  documentation/docs/kmip_support/key_rotation/_re-certify.md
  documentation/docs/kmip_support/key_rotation/auto_rotation_policy.md
  documentation/docs/kmip_support/key_rotation/hsm.md
  documentation/docs/kmip_support/key_rotation/index.md
  documentation/docs/kmip_support/support.md
  documentation/docs/kms_clients/cli/main_commands.md
  documentation/docs/kms_clients/usage.md
  documentation/docs/quick_start.md
  documentation/docs/use_cases/anonymization.md
  documentation/nav.yml
Due: none

fix:fix
  documentation/docs/integrations/databases/oracle_tde.md
Due: none

fix: nav
  documentation/nav.yml
Due: none

fix: last fix
  documentation/docs/installation/kubernetes_helm.md
Due: none

fix(docker): remove busybox from docker image
  nix/docker.nix
Due: nixfmt, statix

fix: mbBook mega commit (#1095)
  documentation/docs/adr/2026-06-30-key-auto-rotation-keyset-chain-design.md
  documentation/docs/adr/2026-07-08-two-tier-cache-architecture.md
  documentation/docs/benchmarks/cpu_scaling.md
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/algorithms.md
  documentation/docs/certifications_and_compliance/zeroization.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/configuration/logging.md
  documentation/docs/configuration/secret_backends.md
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/hsm_support/proteccio.md
  documentation/docs/images/key-wrapping-create-ui.png
  documentation/docs/images/kms-ui-front-page.png
  documentation/docs/images/kms-ui.png
  documentation/docs/index.md
  documentation/docs/installation/installation_getting_started.md
  documentation/docs/installation/kubernetes_helm.md
  documentation/docs/integrations/cloud_providers/aws/xks.md
  documentation/docs/integrations/cloud_providers/azure/ekm.md
  documentation/docs/integrations/databases/edb_postgres_tde.md
  documentation/docs/integrations/databases/intersystems_iris.md
  documentation/docs/integrations/databases/percona.md
  documentation/docs/integrations/disk_encryption/veracrypt.md
  documentation/docs/integrations/jose/jwe_decryption.md
  documentation/docs/kmip_support/_get.md
  documentation/docs/kmip_support/attributes.md
  documentation/docs/kmip_support/key_rotation/_re-certify.md
  documentation/docs/kmip_support/key_rotation/auto_rotation_policy.md
  documentation/docs/kmip_support/key_rotation/hsm.md
  documentation/docs/kmip_support/key_rotation/index.md
  documentation/docs/kmip_support/support.md
  documentation/docs/kms_clients/cli/main_commands.md
  documentation/docs/kms_clients/usage.md
  documentation/docs/quick_start.md
  documentation/docs/use_cases/anonymization.md
  documentation/nav.yml
Due: none

fix(docker): replace busybox with wget + netcat-gnu in Nix image
  nix/docker.nix
Due: nixfmt, statix

fix(docker): use netcat-openbsd instead of netcat-gnu
  nix/docker.nix
Due: nixfmt, statix

docs: replace all cli_documentation references with documentation paths
  .github/instructions/docs.instructions.md
  .github/skills/docs-writer/SKILL.md
  .github/skills/kms-sync-rules/SKILL.md
  .mise/scripts/docs/generate_docs.sh
  .mise/scripts/docs/renew_ckms_markdown.sh
  .mise/scripts/release/release.sh
  .pre-commit-config.yaml
  AGENTS.md
Due: none

fix: remove busybox from docker image (#1099)
  .github/instructions/docs.instructions.md
  .github/skills/docs-writer/SKILL.md
  .github/skills/kms-sync-rules/SKILL.md
  .mise/scripts/docs/generate_docs.sh
  .mise/scripts/docs/renew_ckms_markdown.sh
  .mise/scripts/release/release.sh
  .pre-commit-config.yaml
  AGENTS.md
  nix/docker.nix
Due: nixfmt, statix

docs(tls): mention configuration wizard for TLS configuration
  crate/server/resources/certificates.md
  documentation/docs/configuration/certificates.md
  documentation/docs/configuration/tls.md
  documentation/docs/kms_clients/index.md
  documentation/nav.yml
Due: none

ci: review test
  .github/workflows/k8s_plugin_e2e.yml
  .mise/lib/k8s.sh
  .mise/tasks/test/csi-provider
  .mise/tasks/test/k8s-operator
  .mise/tasks/test/k8s-plugin
  CHANGELOG/feat_k8s-kms-plugin.md
  Cargo.lock
  Cargo.toml
  charts/cosmian-kms/Chart.yaml
  crate/clients/k8s/csi_provider/Cargo.toml
  crate/clients/k8s/operator/Cargo.toml
  crate/clients/k8s/plugin/Cargo.toml
  documentation/docs/installation/kubernetes_helm.md
  documentation/docs/integrations/kubernetes/csi-provider.md
  documentation/docs/integrations/kubernetes/helm.md
  documentation/docs/integrations/kubernetes/index.md
  documentation/docs/integrations/kubernetes/kms-provider-plugin.md
  documentation/docs/integrations/kubernetes/operator.md
  documentation/nav.yml
Due: none

fix(packaging): remove --no-build from cargo-generate-rpm call
  .mise/scripts/package/package_k8s_plugin.sh
Due: none

feat(k8s): add Secrets Store CSI Driver provider (#862)
  Cargo.lock
  Cargo.toml
  crate/clients/k8s/csi_provider/Cargo.toml
  crate/clients/k8s/csi_provider/build.rs
  crate/clients/k8s/csi_provider/src/config.rs
  crate/clients/k8s/csi_provider/src/error.rs
  crate/clients/k8s/csi_provider/src/lib.rs
  crate/clients/k8s/csi_provider/src/main.rs
  crate/clients/k8s/csi_provider/src/provider.proto
  crate/clients/k8s/csi_provider/src/provider.rs
  crate/clients/k8s/csi_provider/src/service.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(k8s): merge operator and csi-provider binary + image tests
  .github/workflows/k8s_plugin_e2e.yml
  .mise/lib/k8s.sh
  .mise/tasks/test/k8s/_default
  .mise/tasks/test/k8s/csi-provider
  .mise/tasks/test/k8s/operator
Due: none

refactor(ci): rename k8s mise tasks to test:k8s:* and add minikube image tests
  .github/workflows/k8s_plugin_e2e.yml
  .github/workflows/packaging-docker.yml
  .mise/lib/k8s.sh
  .mise/tasks/test/k8s-csi-provider-image
  .mise/tasks/test/k8s-operator-image
  .mise/tasks/test/k8s/_default
  .mise/tasks/test/k8s/csi-provider
  .mise/tasks/test/k8s/csi-provider-image
  .mise/tasks/test/k8s/operator
  .mise/tasks/test/k8s/operator-image
  .mise/tasks/test/k8s/plugin
  default.nix
  nix/expected-hashes/k8s-csi-provider.vendor.linux.sha256
  nix/expected-hashes/k8s-operator.vendor.linux.sha256
  nix/expected-hashes/k8s-plugin.vendor.linux.sha256
Due: nixfmt, statix

docs(kube): small changes
  documentation/docs/installation/kubernetes_helm.md
  documentation/docs/integrations/kubernetes/csi-provider.md
  documentation/docs/integrations/kubernetes/kms-provider-plugin.md
  documentation/docs/integrations/kubernetes/operator.md
Due: none

ci: dont forget to publish new RPM/DEB packages
  .github/workflows/packaging.yml
  documentation/docs/integrations/kubernetes/kms-provider-plugin.md
Due: none

ci(k8s): extend E2E workflow to cover operator inject and CSI provider
  .github/workflows/k8s_plugin_e2e.yml
  Cargo.lock
  crate/clients/k8s/csi_provider/Cargo.toml
Due: none

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
