Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

feat: cherry picked commit
  crate/server/src/core/otel_metrics.rs
  monitoring/OTLP_METRICS.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): e2e tests
  ui/src/actions/Attributes/AttributeGet.tsx
  ui/tests/e2e/locate-filters.spec.ts
  ui/tests/e2e/locate-hsm.spec.ts
  ui/tests/e2e/tokenize.spec.ts
Due: ui-wasm-react-unit-tests

fix: cancel the refactoring: back to mega file
  crate/interfaces/src/stores/audit_sink.rs
  crate/server_database/src/stores/audit/pgsql.rs
  crate/server_database/src/stores/sql/mod.rs
  crate/server_database/src/stores/sql/pg_pool.rs
  crate/server_database/src/stores/sql/pg_retry.rs
  crate/server_database/src/stores/sql/pgsql.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(openssh): cannot find private key issue (#1112)
  .mise/scripts/test/test_openssh.sh
  CHANGELOG/fix_openssh_cannot_find_private_key.md
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/module/src/tests.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore(llm): enrich AI skills and instructions
  .github/copilot-instructions.md
  .github/instructions/bash.instructions.md
  .github/instructions/github-actions.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/mise.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/rust.instructions.md
  .github/instructions/toml.instructions.md
  .github/skills/README.md
  .github/skills/rust-panic-audit/SKILL.md
  .github/skills/rust-review-all/SKILL.md
  AGENTS.md
  lychee.toml
Due: none

fix(docs): add admonish_compat preprocessor and All versions link
  documentation/book.toml
Due: none

fix(docs): add terraform.md to nav.yml integrations
  documentation/nav.yml
Due: none

chore(llm): harden clippy rules allowing
  .github/instructions/rust.instructions.md
  .github/skills/rust-panic-audit/SKILL.md
  .github/skills/rust-review-all/SKILL.md
Due: none

multi-method login page with primary/secondary actions
  CHANGELOG/feat_auth-server-integration.md
  crate/server/documentation/openapi.yaml
  crate/server/src/routes/ui_auth.rs
  crate/server/src/start_kms_server.rs
  ui/src/App.tsx
  ui/src/components/layout/MainLayout.tsx
  ui/src/i18n/locales/en/layout.json
  ui/src/i18n/locales/zh-CN/layout.json
  ui/src/pages/LoginPage.tsx
  ui/src/utils/utils.ts
  ui/tests/e2e-oidc/oidc-login.spec.ts
  ui/tests/unit/tsx-imports/LoginPage.test.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Resynch submodules and pipeline fix
  documentation/docs/configuration/log-reference.md
  ui/src/utils/utils.ts
Due: ui-wasm-react-unit-tests

test fixes
  ui/src/pages/LoginPage.tsx
Due: ui-wasm-react-unit-tests

Updated test to accomodate new auth_methods array
  ui/tests/e2e-auth/auth-verifier-login.spec.ts
Due: ui-wasm-react-unit-tests

fix: rebase
  ui/src/pages/LoginPage.tsx
Due: ui-wasm-react-unit-tests

fix: some fix
  crate/server_database/src/stores/audit/pgsql.rs
  crate/server_database/src/stores/sql/pgsql.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: multi-method login page with primary/secondary actions (#1117)
  CHANGELOG/feat_auth-server-integration.md
  crate/server/documentation/openapi.yaml
  crate/server/src/routes/ui_auth.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/configuration/log-reference.md
  ui/src/App.tsx
  ui/src/components/layout/MainLayout.tsx
  ui/src/i18n/locales/en/layout.json
  ui/src/i18n/locales/zh-CN/layout.json
  ui/src/pages/LoginPage.tsx
  ui/src/utils/utils.ts
  ui/tests/e2e-auth/auth-verifier-login.spec.ts
  ui/tests/e2e-oidc/oidc-login.spec.ts
  ui/tests/unit/tsx-imports/LoginPage.test.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(crypto): trim whitespace around individual extendedKeyUsage values
  crate/crypto/src/openssl/x509_extensions.rs
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci(nix): refresh k8s Nix hashes
  .github/workflows/nix-update-hashes.yml
  .mise/scripts/release/nix_build_update_hash.sh
Due: none

docs: update log-ref
  documentation/docs/configuration/log-reference.md
Due: none

fix: clippy
  crate/kmip/src/ttlv/kmip_ttlv_deserializer/enum_walker.rs
  crate/kmip/src/ttlv/kmip_ttlv_deserializer/untagged_enum_walker.rs
  crate/kmip/src/ttlv/kmip_ttlv_serializer.rs
  crate/server/src/core/operations/create.rs
  crate/server/src/routes/aws_xks/sigv4_middleware.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(server): fix remaining UserId type errors in tests and spire middleware
  crate/server/src/middlewares/auth_verifier/token.rs
  crate/server/src/middlewares/session_auth.rs
  crate/server/src/middlewares/spire_token.rs
  crate/server/src/routes/spire/pki.rs
  crate/server/src/routes/spire/transit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: clippy
  crate/server/src/tests/test_always_sensitive.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: fmt
  crate/server/src/middlewares/tls_auth.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: trigger xks-remote on all PRs and pushes
  .github/workflows/test_xks_remote.yml
Due: none

fix: use eu-west-1 region for XKS remote test server
  .github/workflows/test_xks_remote.yml
  .mise/scripts/test/test_xks_remote.sh
Due: none

test: add AWS XKS CI test against remote server
  .github/workflows/test_xks_remote.yml
  .mise/lib/nix_helpers.sh
  .mise/scripts/test/test_xks_remote.sh
  .mise/tasks/test/xks-remote
Due: none

fix(ci): patch config.sh before test_all to preserve remote credentials
  .mise/scripts/test/test_xks_remote.sh
Due: none

fix(ci): update test_data submodule + remove runtime config.sh patch
  .mise/scripts/test/test_xks_remote.sh
Due: none

fix(ci): fix SSH remote command quoting (heredoc instead of bash -c)
  .mise/scripts/test/deploy_xks_remote.sh
Due: none

fix(ci): use ubuntu user and sudo for XKS server deploy
  .mise/scripts/test/deploy_xks_remote.sh
Due: none

feat(ci): migrate scratchstack 0.10→0.11, deploy PR binary to XKS server before tests
  .cargo/audit.toml
  .github/workflows/test_xks_remote.yml
  .mise/scripts/test/deploy_xks_remote.sh
  Cargo.lock
  Cargo.toml
  crate/server/Cargo.toml
  crate/server/src/routes/aws_xks/sigv4_middleware.rs
  deny.toml
  documentation/docs/configuration/log-reference.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
