Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

fix: PR review
  .mise/scripts/test/test_luks.sh
  .mise/scripts/test/test_openssh.sh
  crate/clients/pkcs11/provider/src/backend.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/tests.rs
  documentation/docs/integrations/disk_encryption/veracrypt.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review
  crate/server/kms_template.toml
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  nix/expected-hashes/ui.pnpm.linux.sha256
  pkg/kms.toml
Due: none

fix: veracrypt fixes (#1019)
  .github/workflows/test_all.yml
  .mise/lib/kms_build.sh
  .mise/lib/kms_server.sh
  .mise/lib/pkcs11_helpers.sh
  .mise/scripts/test/test_luks.sh
  .mise/scripts/test/test_openssh.sh
  .mise/scripts/test/test_veracrypt.sh
  .mise/tasks/test/veracrypt
  CHANGELOG/veracrypt.md
  crate/clients/client/src/export_utils.rs
  crate/clients/pkcs11/provider/src/backend.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/tests.rs
  crate/crypto/src/crypto/fpe/tests.rs
  crate/server/kms_template.toml
  crate/server/src/config/command_line/secret_backends/mod.rs
  crate/server/src/core/operations/rng_seed.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/integrations/disk_encryption/veracrypt.md
  nix/expected-hashes/ui.pnpm.linux.sha256
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(changelog): create 5.24.0 entry
  .github/skills/kms-release-notes/SKILL.md
  CHANGELOG.md
  CHANGELOG/chore_kmip_submodule.md
  CHANGELOG/chore_mise_adoption.md
  CHANGELOG/ci_build.md
  CHANGELOG/feat_edb_tde.md
  CHANGELOG/feat_implement_fpe.md
  CHANGELOG/feat_openssl_cpu_features.md
  CHANGELOG/feat_richOTELmetrics.md
  CHANGELOG/feature_fpe-kmip.md
  CHANGELOG/fix_RUSTSEC-2026-0173.md
  CHANGELOG/fix_jwe_import_wrapped_key.md
  CHANGELOG/fix_vast_reg.md
  CHANGELOG/fix_windows_installers.md
  CHANGELOG/intune.md
  CHANGELOG/refactor_compactify.md
  CHANGELOG/refactor_delete_duplicated_clap_tests.md
  CHANGELOG/refactor_phase2.md
  CHANGELOG/test_fortigate_locate_with_name.md
  CHANGELOG/test_jose_interoperability.md
  CHANGELOG/veracrypt.md
  LICENSE
  SECURITY.md
Due: none

fix: add missing generate_cbom.sh wrapper script
  .mise/scripts/release/generate_cbom.sh
  cbom/cbom.cdx.json
Due: none

fix: replace bash4-only ${OS,,} with tr for macOS bash 3.2 compat
  .mise/scripts/release/nix_build_update_hash.sh
Due: none

fix: add --retrieve/--branch to generate_sbom.sh for release CI
  .mise/scripts/sbom/generate_sbom.sh
Due: none

ci(release): increase wait during release pipeline
  .github/workflows/release.yml
Due: none

ci: reuse GitHub action install-mise
  .github/actions/install-mise/action.yml
  .github/workflows/benchmark.yml
  .github/workflows/forward_proxy.yml
  .github/workflows/packaging-docker.yml
  .github/workflows/packaging.yml
  .github/workflows/release.yml
  .github/workflows/test_all.yml
Due: none

ci: simplify PR flow
  .github/actions/cleanup-runner/action.yml
  .github/actions/setup-nix/action.yml
  .github/workflows/cargo-publish.yml
  .github/workflows/packaging-docker.yml
  .github/workflows/packaging.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/test_all.yml
  .mise/lib/common.sh
  .mise/lib/kms_build.sh
  .mise/lib/test_slots.sh
  .mise/scripts/docker-compose.yml
  .mise/scripts/test/test_docker_image.sh
  .mise/scripts/test/test_edb_tde.sh
  .mise/scripts/test/test_iris.sh
  .mise/scripts/test/test_lb_kms_shutdown.sh
  .mise/scripts/test/test_luks.sh
  .mise/scripts/test/test_openssh.sh
  .mise/scripts/test/test_secret_cosmian_kms.sh
  .mise/scripts/test/test_ui.sh
  .mise/scripts/test/test_veracrypt.sh
  .mise/tasks/test/db/_default
  .mise/tasks/test/mariadb
  .mise/tasks/test/matrix
  .mise/tasks/test/otel
  .mise/tasks/test/percona
  CHANGELOG.md
  docker-compose.yml
Due: none

ci: fix edb test
  .mise/scripts/test/test_edb_tde.sh
  .mise/scripts/test/test_iris.sh
Due: none

ci: rework CI flow
  .github/workflows/main.yml
  .github/workflows/pr.yml
  .github/workflows/test_all.yml
Due: none

ci: rename wf
  .github/workflows/nightly.yml
Due: none

docs(changelog): create entry
  CHANGELOG/ci_tests.md
Due: none

ci: simplify PR workflow + limit usage of runners during tests (#1024)
  .github/actions/cleanup-runner/action.yml
  .github/actions/setup-nix/action.yml
  .github/workflows/cargo-publish.yml
  .github/workflows/main.yml
  .github/workflows/nightly.yml
  .github/workflows/packaging-docker.yml
  .github/workflows/packaging.yml
  .github/workflows/release.yml
  .github/workflows/test_all.yml
  .mise/lib/common.sh
  .mise/lib/kms_build.sh
  .mise/lib/test_slots.sh
  .mise/scripts/docker-compose.yml
  .mise/scripts/test/test_docker_image.sh
  .mise/scripts/test/test_edb_tde.sh
  .mise/scripts/test/test_iris.sh
  .mise/scripts/test/test_lb_kms_shutdown.sh
  .mise/scripts/test/test_luks.sh
  .mise/scripts/test/test_openssh.sh
  .mise/scripts/test/test_secret_cosmian_kms.sh
  .mise/scripts/test/test_ui.sh
  .mise/scripts/test/test_veracrypt.sh
  .mise/tasks/test/db/_default
  .mise/tasks/test/mariadb
  .mise/tasks/test/matrix
  .mise/tasks/test/otel
  .mise/tasks/test/percona
  CHANGELOG.md
  CHANGELOG/ci_tests.md
  docker-compose.yml
Due: none

chore(deps): bump js-yaml to 4.2.0 (CVE-2026-53550) (#1022)
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

perf(xks): configurable unwrapped-cache size + prepare_cached for pgsql + fix wasm build
  .github/workflows/packaging.yml
  CHANGELOG/feat_perf.md
  Cargo.lock
  crate/server/src/config/command_line/db.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/config/wizard/db_wizard.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/main.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/mod.rs
  crate/server_database/src/core/unwrapped_cache.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  documentation/docs/adr/0001-unwrapped-cache-configurable-max-size.md
  nix/expected-hashes/cli.vendor.linux.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

perf(xks): configurable unwrapped-cache size + prepare_cached for pgsql + fix wasm build (#1020)
  .github/workflows/packaging.yml
  CHANGELOG/feat_perf.md
  Cargo.lock
  crate/server/src/config/command_line/db.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/config/wizard/db_wizard.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/main.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/mod.rs
  crate/server_database/src/core/unwrapped_cache.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  documentation/docs/adr/0001-unwrapped-cache-configurable-max-size.md
  nix/expected-hashes/cli.vendor.linux.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: run full packaging on nightly
  .github/workflows/packaging.yml
  .mise/scripts/release/extract_changelog.sh
  .mise/scripts/release/notify_discord.sh
  .mise/scripts/release/publish_github_release.sh
  .mise/tasks/release/extract-changelog
  .mise/tasks/release/notify-discord
  .mise/tasks/release/publish-github-release
Due: none

ci: nighlty builds must trigger full packaging workflows
  .github/workflows/packaging.yml
Due: none

ci: fix benchmarks issue
  .github/workflows/benchmark.yml
  .mise/tasks/bench/regression
Due: none

ci: automate Nix hashes update
  .github/workflows/nix-update-hashes.yml
  .github/workflows/packaging.yml
  .github/workflows/release.yml
Due: none

ci: automate in nightly builds the Nix hashes update
  .github/workflows/nightly.yml
  .github/workflows/nix-update-hashes.yml
  .github/workflows/packaging.yml
  .github/workflows/release.yml
Due: none

ci: automate in nightly builds the Nix hashes update (#1028)
  .github/workflows/nightly.yml
  .github/workflows/nix-update-hashes.yml
  .github/workflows/packaging.yml
  .github/workflows/release.yml
Due: none

feat: log ref
  documentation/docs/configuration/log-reference.md
  documentation/docs/configuration/logging.md
  documentation/docs/javascripts/log_filter.js
  documentation/hooks.py
  documentation/mkdocs.yml
  documentation/theme_overrides/main.html
  scripts/update_log_index.py
  ui/src/App.tsx
Due: ui-wasm-react-unit-tests

feat: updates again
  .pre-commit-config.yaml
  documentation/docs/configuration/log-reference.md
  scripts/update_log_index.py
Due: none

fix: fixes
  .mise/scripts/docs/generate_docs.sh
  scripts/update_log_index.py
Due: none

fix: stuff
  .github/workflows/main_base.yml
  .mise/tasks/docs/log-index-check
Due: none

fix: stuff final
  .mise/scripts/docs/generate_docs.sh
  documentation/mkdocs.yml
  scripts/update_log_index.py
Due: none

fix: stuff final2
  CHANGELOG/feat_loggingExtendedDocumentation.md
Due: none

a few drawings
  documentation/docs/use_cases/drawings/application_encryption.decryption.drawio.svg
  documentation/docs/use_cases/drawings/application_encryption.ingestion.drawio.svg
  documentation/docs/use_cases/drawings/application_encryption.query.drawio.svg
  documentation/docs/use_cases/drawings/application_encryption.spark.drawio.svg
Due: none

docs: describe logs usage (#1018)
  .github/workflows/main_base.yml
  .mise/scripts/docs/generate_docs.sh
  .mise/tasks/docs/log-index-check
  .pre-commit-config.yaml
  CHANGELOG/feat_loggingExtendedDocumentation.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/configuration/logging.md
  documentation/docs/javascripts/log_filter.js
  documentation/hooks.py
  documentation/mkdocs.yml
  documentation/theme_overrides/main.html
  scripts/update_log_index.py
  ui/src/App.tsx
Due: ui-wasm-react-unit-tests

fix: resolve clippy warnings in http_throughput bench
  crate/test_kms_server/benches/http_throughput.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add bench_run_flamegraph.sh script
  .mise/scripts/bench/bench_run_flamegraph.sh
  CHANGELOG/develop.md
Due: none

Potential fix for pull request finding
  .mise/scripts/bench/bench_run_flamegraph.sh
Due: none

perf: add force-frame-pointers=yes to eliminate slow perf DWARF unwinding
  .cargo/config.toml
  CHANGELOG/develop.md
Due: none

Potential fix for pull request finding
  crate/test_kms_server/benches/http_throughput.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: add [profile.bench] to preserve symbols for flamegraphs
  CHANGELOG/develop.md
  Cargo.toml
Due: none

perf: optimize bench profile and SQLite pragmas for throughput
  .cargo/config.toml
  CHANGELOG/develop.md
  Cargo.toml
  crate/server_database/src/stores/sql/sqlite.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
