Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

replace cosmian by eviden
  documentation/docs/index.md
Due: none

docs: xks migration (#927)
  documentation/docs/integrations/cloud_providers/aws/xks-confirm-disconnect.png
  documentation/docs/integrations/cloud_providers/aws/xks-confirm-update.png
  documentation/docs/integrations/cloud_providers/aws/xks-disconnect.png
  documentation/docs/integrations/cloud_providers/aws/xks-disconnected.png
  documentation/docs/integrations/cloud_providers/aws/xks-edit.png
  documentation/docs/integrations/cloud_providers/aws/xks-update-endpoint.png
  documentation/docs/integrations/cloud_providers/aws/xks-updated.png
  documentation/docs/integrations/cloud_providers/aws/xks_migration.md
  documentation/mkdocs.yml
Due: none

ci: inline Oracle TDE SSH steps into test_docker_image.sh and fix secret resolution
  .github/workflows/packaging-docker.yml
  CHANGELOG/ci-oracle-tde.md
Due: none

chore: update Nix expected hashes
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
Due: none

ci: rename oracle secrets to ORACLE_KMS_DEMO_USER_PASS and ORACLE_TDE_WALLET_PASS
  .github/scripts/oracle/smoke-test-tde.sh
  .github/scripts/test/test_docker_image.sh
  .github/workflows/packaging-docker.yml
Due: none

ci: connect runner to Netbird before Oracle SSH steps
  .github/workflows/packaging-docker.yml
Due: none

ci: fix Netbird connection flags to avoid SSO prompt
  .github/workflows/packaging-docker.yml
Due: none

ci: add secrets: inherit to docker workflow_call
  .github/workflows/packaging.yml
Due: none

ci: wait for SSH readiness instead of TCP port before Oracle steps
  .github/workflows/packaging-docker.yml
Due: none

ci: replace scp with ssh cat to copy scripts (Netbird SSH has no SFTP subsystem)
  .github/scripts/test/test_docker_image.sh
  .github/workflows/packaging-docker.yml
Due: none

ci: add Kubernetes KMS v2 HSM plugin integration tests (#861)
  .github/scripts/nix.sh
  .github/scripts/test/test_k8s_hsm.sh
  .github/workflows/test_all.yml
  shell.nix
Due: nixfmt, statix

ci: fix sed permission denied by using TMPDIR=/tmp on oracle
  .github/scripts/oracle/upgrade-kms.sh
Due: none

ci: use sudo sed on oracle (GNU sed ignores TMPDIR, creates temp in target dir)
  .github/scripts/oracle/upgrade-kms.sh
Due: none

ci: add git to k8s-hsm nix-shell packages for cloning k8s-hsm-kmsv2
  shell.nix
Due: nixfmt, statix

ci: check running Docker image tag instead of KMS /version endpoint
  .github/scripts/oracle/smoke-test-tde.sh
Due: none

fix: CSE token validation regression
  CHANGELOG/fix_cse_token_validation.md
  crate/server/src/routes/google_cse/jwt.rs
Due: none

ci(oracle-tde): fix smoke test — replace REVERSE MIGRATE with REKEY proof, fix WAL threshold and CLOSED recovery
  .github/scripts/oracle/smoke-test-tde.sh
  .github/scripts/oracle/upgrade-kms.sh
  .github/scripts/test/test_docker_image.sh
  .github/workflows/packaging-docker.yml
  CHANGELOG/ci-oracle-tde.md
Due: none

ci: add TDE test on real Oracle SQL installation (#918)
  .github/scripts/oracle/smoke-test-tde.sh
  .github/scripts/oracle/upgrade-kms.sh
  .github/scripts/test/test_docker_image.sh
  .github/workflows/packaging-docker.yml
  .github/workflows/packaging.yml
  CHANGELOG/ci-oracle-tde.md
Due: none

fix: CSE token validation regression (#948)
  CHANGELOG/fix_cse_token_validation.md
  crate/server/src/routes/google_cse/jwt.rs
Due: none

test: add non-regression test vectors
  CHANGELOG/test_regression_vectors.md
  Cargo.lock
  README.md
  TESTS.md
  crate/crypto/src/crypto/symmetric/symmetric_ciphers.rs
  crate/kmip/Cargo.toml
  crate/kmip/src/kmip_2_1/kmip_data_structures.rs
  crate/kmip/src/kmip_2_1/kmip_messages.rs
  crate/kmip/src/ttlv/enum_lookup.rs
  crate/kmip/src/ttlv/mod.rs
  crate/kmip/src/ttlv/tests/mod.rs
  crate/kmip/src/ttlv/tests/proptest_roundtrip.rs
  crate/kmip/src/ttlv/ttlv_struct.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/tests/kmip_messages.rs
  crate/server/src/tests/test_utils.rs
  crate/test_kms_server/Cargo.toml
  crate/test_kms_server/src/lib.rs
  crate/test_kms_server/src/test_server.rs
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/integrations/databases/mongodb.md
  documentation/docs/integrations/databases/percona.md
  documentation/docs/integrations/pykmip.md
  documentation/docs/integrations/storage/synology_dsm.md
  documentation/docs/integrations/storage/vcenter.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add non-regression tests
  CHANGELOG/test_regression_vectors.md
  TESTS.md
  crate/kmip/src/ttlv/enum_lookup.rs
  crate/kmip/src/ttlv/xml/deserializer.rs
  crate/server/src/tests/test_utils.rs
  crate/test_kms_server/src/test_server.rs
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add non-reg test
  crate/kmip/src/kmip_0/kmip_types.rs
  crate/kmip/src/kmip_1_4/kmip_types.rs
  crate/kmip/src/kmip_2_1/kmip_types.rs
  crate/kmip/src/ttlv/enum_lookup.rs
  crate/kmip/src/ttlv/kmip_ttlv_deserializer/deserializer.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(monitoring): add download section and publish monitoring stack archive in CI
  .github/workflows/packaging.yml
  documentation/docs/configuration/monitoring-setup.md
Due: none

chore: simplify test_server.rs
  crate/clients/ckms/src/tests/auth_tests.rs
  crate/clients/ckms/src/tests/forward_proxy_tests.rs
  crate/clients/ckms/src/tests/vendor_id.rs
  crate/clients/clap/src/tests/auth_tests.rs
  crate/test_kms_server/src/lib.rs
  crate/test_kms_server/src/test_jwt.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: resolve CI failures (Windows unused import, forward proxy port, certify wrapped keys)
  .github/workflows/forward_proxy.yml
  crate/clients/clap/src/tests/auth_tests.rs
  crate/server/src/core/operations/certify/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: fix broken tests du to too aggressive changes in test_server.rs
  .github/workflows/forward_proxy.yml
  CHANGELOG/test_regression_vectors.md
  crate/clients/ckms/src/tests/forward_proxy_tests.rs
  crate/server/src/core/operations/certify/mod.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: fix CSE tests
  .github/scripts/test/test_hsm_softhsm2.sh
  crate/clients/clap/src/tests/google_cmd/using_hsm.rs
  crate/kmip/src/ttlv/kmip_ttlv_deserializer/deserializer.rs
  crate/server/src/core/operations/export_get.rs
  crate/test_kms_server/src/lib.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: revert changes
  .github/scripts/test/test_hsm_softhsm2.sh
  crate/clients/clap/src/tests/google_cmd/using_hsm.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add KMIP 1.3 tests
  .github/scripts/common.sh
  CHANGELOG/test_regression_vectors.md
  TESTS.md
  crate/server/src/tests/kmip_endpoints.rs
  crate/server_database/src/tests/mod.rs
  crate/test_kms_server/src/test_server.rs
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: revert changes on common.sh
  .github/scripts/common.sh
  crate/server_database/src/tests/mod.rs
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: simplify common.sh
  .github/scripts/common.sh
  .github/scripts/test/test_redis.sh
  README.md
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add other KMIP scenarios
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: test DB backends with vector runner
  .cargo/config.toml
  .github/scripts/common.sh
  CHANGELOG/test_regression_vectors.md
  TESTS.md
  crate/test_kms_server/README.md
  crate/test_kms_server/src/test_server.rs
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci(monitoring): split into build and publish jobs to fix missing zip
  .github/workflows/packaging.yml
Due: none

test: test DB backends with vector runner
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

chore: update Nix expected hashes
  crate/server_database/src/tests/mod.rs
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: typo in KMIP 1.4
  crate/kmip/src/kmip_1_4/kmip_types.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(monitoring): add download section and publish monitoring job (#955)
  .github/workflows/packaging.yml
  documentation/docs/configuration/monitoring-setup.md
Due: none

docs: reclassify big data in standalone dir
  .github/copilot-instructions.md
  README.md
  documentation/docs/index.md
  documentation/docs/integrations/big_data/snowflake_native_app/index.md
  documentation/docs/integrations/big_data/user_defined_function_for_pyspark_databricks_in_python/index.md
  documentation/mkdocs.yml
Due: none
