Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

revert: useless updates
  ui/tests/e2e/helpers.ts
  ui/tests/e2e/vendor-id-flow.spec.ts
Due: ui-wasm-react-unit-tests

feat: debug commit
  .github/scripts/test/test_ui.sh
  .github/scripts/windows/test_ui.ps1
  .gitignore
  ui/scripts/sync-wasm.mjs
  ui/src/components/layout/MainLayout.tsx
  ui/src/utils/utils.ts
  ui/src/vite-env.d.ts
Due: ui-wasm-react-unit-tests

feat: normally fixed
  .github/copilot-instructions.md
  .github/scripts/build/build_ui.sh
  .github/scripts/test/test_ui.sh
  .github/scripts/windows/test_ui.ps1
  ui/README.md
  ui/package.json
  ui/src/components/layout/Header.tsx
  ui/src/components/layout/MainLayout.tsx
Due: ui-wasm-react-unit-tests

feat: normally fixed but v2
  nix/ui.nix
Due: nixfmt, statix

feat: normally fixed but v3
  .github/scripts/test/test_ui.sh
Due: none

feat: even more fixes
  .github/copilot-instructions.md
  .github/scripts/windows/test_ui.ps1
Due: none

fix: revert preview
  ui/package.json
Due: none

feat: even more fixes
  .github/copilot-instructions.md
  .github/scripts/test/test_ui.sh
  .github/scripts/windows/test_ui.ps1
Due: none

feat: even more fixes2
  ui/tests/vitest.unit.config.ts
Due: ui-wasm-react-unit-tests

feat: even more fixes3
  .github/scripts/windows/windows_ui.ps1
Due: none

f
  .github/copilot-instructions.md
  .github/scripts/windows/test_ui.ps1
  .github/scripts/windows/windows_ui.ps1
  ui/package.json
Due: none

f2
  .github/scripts/build/build_ui.sh
  ui/src/App.tsx
  ui/src/utils/utils.ts
Due: ui-wasm-react-unit-tests

ff4
  .github/scripts/windows/test_ui.ps1
  .github/scripts/windows/windows_ui.ps1
Due: none

pls work i wanna merge this and move on
  ui/package.json
Due: none

fix: PR review
  .pre-commit-config.yaml
  CHANGELOG/feat_fix_auth_issues.md
  crate/server/src/start_kms_server.rs
  documentation/docs/configuration/server_cli.md
  ui/README.md
  ui/src/components/layout/Header.tsx
  ui/src/components/layout/MainLayout.tsx
  ui/tests/e2e/README.md
  ui/tests/e2e/auth-connection-states.spec.ts
  ui/tests/unit/tsx-imports/App.test.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: windows test_ui.ps1 log paths and frozen lockfile
  .github/scripts/windows/test_ui.ps1
  CHANGELOG/feat_fix_auth_issues.md
Due: none

fix: login flows (#826)
  .github/copilot-instructions.md
  .github/scripts/build/build_ui.sh
  .github/scripts/test/test_ui.sh
  .github/scripts/windows/test_ui.ps1
  .github/scripts/windows/windows_ui.ps1
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG/feat_fix_auth_issues.md
  cli_documentation/docs/index.md
  crate/server/src/start_kms_server.rs
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/ui.md
  nix/ui.nix
  ui/README.md
  ui/package.json
  ui/scripts/sync-wasm.mjs
  ui/src/App.tsx
  ui/src/components/layout/Header.tsx
  ui/src/components/layout/MainLayout.tsx
  ui/src/components/layout/Sidebar.tsx
  ui/src/contexts/AuthContext.tsx
  ui/src/pages/LoginPage.tsx
  ui/src/utils/utils.ts
  ui/src/vite-env.d.ts
  ui/tests/e2e/README.md
  ui/tests/e2e/auth-connection-states.spec.ts
  ui/tests/unit/tsx-imports/App.test.ts
  ui/tests/vitest.unit.config.ts
Due: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(oracle_tde): add OIDC auth on client via Oracle password
  .github/scripts/nix.sh
  .github/scripts/package/package_common.sh
  .github/scripts/package/package_pkcs11_zip.sh
  .github/workflows/packaging.yml
  CHANGELOG/fix_improve_tde.md
  Cargo.lock
  Cargo.toml
  crate/clients/ckms/Cargo.toml
  crate/clients/client/src/config.rs
  crate/clients/pkcs11/loader/Cargo.toml
  crate/clients/pkcs11/loader/README.md
  crate/clients/pkcs11/loader/build.rs
  crate/clients/pkcs11/loader/src/lib.rs
  crate/clients/pkcs11/loader/src/main.rs
  crate/clients/pkcs11/loader/src/tests.rs
  crate/clients/pkcs11/module/src/error/mod.rs
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/module/src/traits/backend.rs
  crate/clients/pkcs11/module/src/traits/mod.rs
  crate/clients/pkcs11/provider/src/backend.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/lib.rs
  crate/clients/pkcs11/provider/src/pkcs11_private_key.rs
  crate/clients/pkcs11/provider/src/pkcs11_symmetric_key.rs
  crate/test_kms_server/src/test_server.rs
  documentation/docs/integrations/databases/demo_tde/Procedure Oracle TDE Docker.txt
  documentation/docs/integrations/databases/demo_tde/ckms.toml
  documentation/docs/integrations/databases/demo_tde/docker-compose.yml
  documentation/docs/integrations/databases/demo_tde/run_sql_commands.sh
  documentation/docs/integrations/databases/demo_tde/setup_cosmian_pkcs11.sh
  documentation/docs/integrations/databases/demo_tde/setup_oracle_tde.sh
  documentation/docs/integrations/databases/oracle_tde.md
  nix/cli.nix
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add migration between software and hsm wallets
  .github/scripts/oracle/run_sql_commands.sh
  CHANGELOG/fix_improve_tde.md
  crate/clients/pkcs11/loader/src/lib.rs
  crate/clients/pkcs11/loader/src/tests.rs
  crate/clients/pkcs11/module/src/core/mechanism.rs
  crate/clients/pkcs11/module/src/pkcs11.rs
  documentation/docs/integrations/databases/oracle_tde.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: docker tests and p11 packaging
  .github/scripts/nix.sh
  .github/scripts/oracle/run_sql_commands.sh
  .github/scripts/package/package_pkcs11_zip.sh
  CHANGELOG/fix_improve_tde.md
  crate/clients/pkcs11/loader/src/tests.rs
  documentation/docs/integrations/databases/demo_tde/run_sql_commands.sh
  documentation/docs/integrations/databases/demo_tde/setup_oracle_tde.sh
  documentation/docs/integrations/databases/oracle_tde.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: windows test
  CHANGELOG/fix_improve_tde.md
  crate/clients/pkcs11/module/src/traits/backend.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

fix: windows cargo_test and ui test log paths
  .github/scripts/windows/cargo_test.ps1
  CHANGELOG/fix_improve_tde.md
Due: none

fix: test and build
  .github/scripts/common.sh
  .github/scripts/oracle/run_sql_commands.sh
  .github/scripts/windows/cargo_test.ps1
  .github/workflows/main_base.yml
  CHANGELOG/fix_improve_tde.md
  crate/clients/pkcs11/loader/src/tests.rs
  documentation/docs/integrations/databases/oracle_tde.md
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: docker tests
  .github/scripts/nix.sh
  .github/scripts/oracle/run_sql_commands.sh
Due: none

chore: primary edits
  .github/copilot-instructions.md
  .gitignore
  .vscode/settings.json
  AGENTS.md
  Cargo.lock
  Cargo.toml
Due: none

feat: imported review and decluttered FPE code
  Cargo.lock
  Cargo.toml
  crate/crypto/Cargo.toml
  crate/crypto/src/crypto/fpe/alphabet.rs
  crate/crypto/src/crypto/fpe/error.rs
  crate/crypto/src/crypto/fpe/ff1.rs
  crate/crypto/src/crypto/fpe/float.rs
  crate/crypto/src/crypto/fpe/integer.rs
  crate/crypto/src/crypto/fpe/mod.rs
  crate/crypto/src/crypto/fpe/tests.rs
  crate/crypto/src/crypto/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: fixed all clippy issues + small refactor
  crate/crypto/src/crypto/fpe/alphabet.rs
  crate/crypto/src/crypto/fpe/error.rs
  crate/crypto/src/crypto/fpe/ff1.rs
  crate/crypto/src/crypto/fpe/float.rs
  crate/crypto/src/crypto/fpe/integer.rs
  crate/crypto/src/crypto/fpe/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: scray scrypto error
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/mod.rs
  crate/crypto/src/crypto/fpe/ff1.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add the rest
  AGENTS.md
  crate/clients/clap/src/actions/tokenize.rs
  crate/crypto/src/crypto/fpe/alphabet.rs
  crate/crypto/src/crypto/fpe/ff1.rs
  crate/crypto/src/crypto/fpe/integer.rs
  crate/crypto/src/crypto/fpe/mod.rs
  crate/crypto/src/crypto/fpe/tests.rs
  crate/kmip/src/kmip_2_1/kmip_types.rs
  crate/server/src/routes/mod.rs
  crate/server/src/routes/tokenize.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: interg tests
  crate/clients/clap/src/actions/tokenize.rs
  crate/clients/clap/src/tests/mod.rs
  crate/clients/clap/src/tests/tokenize.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

fix: run each cosmian_pkcs11_verify test individually to avoid DLL unload crash
  .github/scripts/windows/cargo_test.ps1
  CHANGELOG/fix_improve_tde.md
Due: none

fix: use --no-frozen-lockfile to handle pnpm overrides config mismatch
  .github/scripts/windows/test_ui.ps1
Due: none

feat: update according to requirements
  CHANGELOG/feature_fpe-kmip.md
  Cargo.lock
  README.md
  cli_documentation/docs/cli/main_commands.md
  cli_documentation/docs/usage.md
  crate/clients/clap/src/actions/fpe/decrypt.rs
  crate/clients/clap/src/actions/fpe/encrypt.rs
  crate/clients/clap/src/actions/fpe/keys/create_key.rs
  crate/clients/clap/src/actions/fpe/keys/mod.rs
  crate/clients/clap/src/actions/fpe/mod.rs
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/mod.rs
  crate/clients/clap/src/actions/tokenize.rs
  crate/clients/clap/src/tests/fpe.rs
  crate/clients/clap/src/tests/mod.rs
  crate/clients/clap/src/tests/tokenize.rs
  crate/crypto/Cargo.toml
  crate/crypto/src/crypto/fpe/kmip_fpe.rs
  crate/crypto/src/crypto/fpe/mod.rs
  crate/crypto/src/crypto/fpe/tests.rs
  crate/server/src/core/kms/other_kms_methods.rs
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/routes/mod.rs
  crate/server/src/routes/tokenize.rs
  crate/server/src/start_kms_server.rs
  deny.toml
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/algorithms.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: disable pnpm audit to avoid retired npm audit endpoint (HTTP 410)
  .github/scripts/windows/test_ui.ps1
Due: none

fix: add onlyBuiltDependencies to pnpm lockfile settings to allow @swc/core and esbuild build scripts (pnpm v10)
  ui/pnpm-lock.yaml
Due: none

feat: import reviewed code
  crate/crypto/src/crypto/anonymization/date_helper.rs
  crate/crypto/src/crypto/anonymization/error.rs
  crate/crypto/src/crypto/anonymization/hash.rs
  crate/crypto/src/crypto/anonymization/mod.rs
  crate/crypto/src/crypto/anonymization/noise.rs
  crate/crypto/src/crypto/anonymization/number.rs
  crate/crypto/src/crypto/anonymization/tests.rs
  crate/crypto/src/crypto/anonymization/word.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: skip audit since 410 error
  .github/scripts/build/build_ui.sh
  .github/scripts/test/test_wasm.sh
  .github/scripts/windows/test_ui.ps1
Due: none

fix: react build
  .github/scripts/test/test_hsm_proteccio.sh
  .github/scripts/test/test_ui.sh
  .github/scripts/windows/test_ui.ps1
Due: none
