Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

feat: formally deny problematic crate
  Cargo.lock
  Cargo.toml
  crate/crypto/Cargo.toml
  crate/crypto/src/crypto/fpe/ff1.rs
  crate/crypto/src/crypto/fpe/integer.rs
  crate/crypto/src/crypto/fpe/kmip_fpe.rs
  crate/server/src/core/kms/other_kms_methods.rs
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/start_kms_server.rs
  deny.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: rebase
  crate/crypto/src/crypto/fpe/ff1.rs
  crate/crypto/src/crypto/fpe/kmip_fpe.rs
  crate/server/Cargo.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: wip
  .github/scripts/test/test_hsm_crypt2pay.sh
  CHANGELOG/ci_tests_c2p.md
  Cargo.lock
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/crypt2pay/Cargo.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: nix
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

chore: revert useless changes
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/crypt2pay/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: add vcenter details
  documentation/docs/integrations/storage/vcenter.md
Due: none

fix: ci
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  ui/src/App.tsx
  ui/vite.config.ts
Due: ui-wasm-react-unit-tests

feat : ci ?
  deny.toml
  ui/tests/unit/tsx-imports/AuthContext.test.ts
Due: ui-wasm-react-unit-tests

feat: fix ci
  CHANGELOG/feature_fpe-kmip.md
  crate/server/src/start_kms_server.rs
  ui/src/actions/Tokenize/TokenizeWordPatternMask.tsx
  ui/tests/e2e/tokenize.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: final
  CHANGELOG/feature_fpe-kmip.md
Due: none

delet this commit before merge
  AGENTS.md
Due: none

a
  CHANGELOG/feat_crypto_JWE_api.md
  Cargo.lock
  crate/clients/ckms/Cargo.toml
  crate/clients/ckms/src/tests/mod.rs
  crate/clients/ckms/src/tests/rest_crypto/encrypt_decrypt.rs
  crate/clients/ckms/src/tests/rest_crypto/error_cases.rs
  crate/clients/ckms/src/tests/rest_crypto/mac.rs
  crate/clients/ckms/src/tests/rest_crypto/mod.rs
  crate/clients/ckms/src/tests/rest_crypto/sign_verify.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/integrations/api.md
  documentation/docs/integrations/rest_crypto_api.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review
  .pre-commit-config.yaml
  CHANGELOG/feature_fpe-kmip.md
  cli_documentation/docs/cli/main_commands.md
  cli_documentation/docs/usage.md
  crate/clients/clap/src/actions/fpe/keys/destroy_key.rs
  crate/clients/clap/src/actions/fpe/keys/mod.rs
  crate/clients/clap/src/actions/fpe/keys/revoke_key.rs
  crate/clients/clap/src/actions/tokenize/mod.rs
  crate/clients/wasm/src/wasm.rs
  crate/crypto/src/crypto/fpe/alphabet.rs
  crate/crypto/src/crypto/fpe/ff1.rs
  crate/crypto/src/crypto/fpe/integer.rs
  deny.toml
  ui/src/App.tsx
  ui/src/actions/FPE/FpeDecrypt.tsx
  ui/src/actions/FPE/FpeEncrypt.tsx
  ui/src/actions/FPE/FpeKeysCreate.tsx
  ui/src/menuItems.tsx
  ui/tests/e2e/README.md
  ui/tests/e2e/fpe.spec.ts
  ui/tests/e2e/routes.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

add_oracle_smoketest
  .github/scripts/oracle/smoke-test-tde.sh
  .github/scripts/oracle/upgrade-kms.sh
  .github/workflows/packaging-docker.yml
  CHANGELOG/ci-oracle-tde.md
Due: none

ci: support Crypt2Pay tests (#867)
  .github/README_WORKFLOWS.md
  .github/scripts/nix.sh
  .github/scripts/test/test_hsm.sh
  .github/scripts/test/test_hsm_crypt2pay.sh
  .github/workflows/test_all.yml
  CHANGELOG/ci_tests_c2p.md
Due: none

add aws xks documentation
  documentation/docs/integrations/cloud_providers/aws/xks_migration.md
  documentation/mkdocs.yml
Due: none

docs: add Vmware integration benefits (#922)
  documentation/docs/integrations/storage/vcenter.md
Due: none

fix: server crash/hang under concurrent AWS XKS benchmarks (16 clients, 4 CPUs) caused by tracing span.enter() used across .await boundaries
  CHANGELOG/fix_span.md
  crate/server/src/core/kms/kmip.rs
  crate/server_database/src/core/unwrapped_cache.rs
  crate/server_database/src/stores/sql/sqlite.rs
  scripts/eviden-codesign-20260422.csr.pem
  scripts/eviden-codesign-20260422.pubkey.pem
  scripts/proteccio_slot8_csr.sh
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add E2E tests to fpe
  crate/clients/ckms/src/tests/fpe/create_key.rs
  crate/clients/ckms/src/tests/fpe/encrypt_decrypt.rs
  crate/clients/ckms/src/tests/fpe/mod.rs
  crate/clients/ckms/src/tests/fpe/tokenize.rs
  crate/clients/ckms/src/tests/mod.rs
  crate/clients/clap/src/actions/fpe/decrypt.rs
  crate/clients/clap/src/actions/fpe/encrypt.rs
  crate/clients/clap/src/actions/fpe/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

add screenshots
  documentation/docs/integrations/cloud_providers/aws/xks-confirm-disconnect.png
  documentation/docs/integrations/cloud_providers/aws/xks-confirm-update.png
  documentation/docs/integrations/cloud_providers/aws/xks-disconnect.png
  documentation/docs/integrations/cloud_providers/aws/xks-disconnected.png
  documentation/docs/integrations/cloud_providers/aws/xks-edit.png
  documentation/docs/integrations/cloud_providers/aws/xks-update-endpoint.png
  documentation/docs/integrations/cloud_providers/aws/xks-updated.png
  documentation/docs/integrations/cloud_providers/aws/xks_migration.md
Due: none

Revert "a"
  CHANGELOG/feat_crypto_JWE_api.md
  Cargo.lock
  crate/clients/ckms/Cargo.toml
  crate/clients/ckms/src/tests/mod.rs
  crate/clients/ckms/src/tests/rest_crypto/encrypt_decrypt.rs
  crate/clients/ckms/src/tests/rest_crypto/error_cases.rs
  crate/clients/ckms/src/tests/rest_crypto/mac.rs
  crate/clients/ckms/src/tests/rest_crypto/mod.rs
  crate/clients/ckms/src/tests/rest_crypto/sign_verify.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/integrations/api.md
  documentation/docs/integrations/rest_crypto_api.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: support CNG Key Storage Provider
  CHANGELOG/intune.md
  Cargo.lock
  Cargo.toml
  README.md
  crate/clients/clap/Cargo.toml
  crate/clients/clap/src/actions/cng.rs
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/mod.rs
  crate/clients/cng/Cargo.toml
  crate/clients/cng/src/backend.rs
  crate/clients/cng/src/blob.rs
  crate/clients/cng/src/error.rs
  crate/clients/cng/src/key.rs
  crate/clients/cng/src/lib.rs
  crate/clients/cng/src/provider.rs
  crate/clients/cng/src/registry.rs
  crate/clients/cng/src/tests.rs
  crate/clients/cng_verify/Cargo.toml
  crate/clients/cng_verify/build.rs
  crate/clients/cng_verify/src/main.rs
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: support CNG Key Storage Provider
  crate/clients/clap/Cargo.toml
  crate/clients/clap/src/actions/cng.rs
  crate/clients/cng/Cargo.toml
  crate/clients/cng/src/error.rs
  crate/clients/cng_verify/Cargo.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: build on Linux
  Cargo.lock
  README.md
  cli_documentation/docs/cli/main_commands.md
  cli_documentation/docs/usage.md
  crate/clients/clap/src/actions/cng.rs
  crate/clients/cng/Cargo.toml
  crate/clients/cng/README.md
  crate/clients/cng/src/backend.rs
  crate/clients/cng/src/blob.rs
  crate/clients/cng/src/error.rs
  crate/clients/cng/src/key.rs
  crate/clients/cng/src/lib.rs
  crate/clients/cng/src/provider.rs
  crate/clients/cng/src/registry.rs
  crate/clients/cng/src/tests.rs
  crate/clients/cng_verify/README.md
  crate/clients/cng_verify/build.rs
  crate/clients/cng_verify/src/main.rs
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
  documentation/docs/kmip_support/support.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: build on Linux
  Cargo.lock
  crate/clients/cng/Cargo.toml
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

feat: first blocks
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/test_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: last last last user facing fixes
  crate/clients/clap/src/actions/fpe/mod.rs
  crate/crypto/src/crypto/anonymization/noise.rs
  crate/crypto/src/crypto/anonymization/number.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: htmlStats
  .gitattributes
Due: none

feat: full integration
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/error.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/tests/mod.rs
  crate/server/src/tests/rest_crypto.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: no exp changes
  .gitattributes
Due: none

feat(config): add secret management for KMS config files
  Cargo.lock
  crate/server/Cargo.toml
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/command_line/secret_backends.rs
  pkg/kms.toml
  pkg/secrets.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: docs
  .vscode/settings.json
  AGENTS.md
  documentation/docs/integrations/api.md
  documentation/docs/integrations/rest_crypto_api.md
  documentation/mkdocs.yml
Due: none

feat: integration test fix and improve
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/error.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/tests/rest_crypto.rs
  crate/server/src/tests/rest_crypto/common.rs
  crate/server/src/tests/rest_crypto/encrypt_decrypt.rs
  crate/server/src/tests/rest_crypto/error_cases.rs
  crate/server/src/tests/rest_crypto/mac.rs
  crate/server/src/tests/rest_crypto/mod.rs
  crate/server/src/tests/rest_crypto/rfc_vectors.rs
  crate/server/src/tests/rest_crypto/sign_verify.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add E2E tests
  .github/scripts/nix.sh
  .github/scripts/test/rest_crypto_test.sh
  .github/scripts/test/test_rest_crypto.sh
  .github/workflows/test_all.yml
Due: none

fix: fmt
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/tests/rest_crypto/error_cases.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc
