Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

chore(benchs): uniformize args
  .mise/lib/bench_helpers.sh
  .mise/tasks/bench/load
  .mise/tasks/bench/load-hsm
  .mise/tasks/bench/load-pkcs11
Due: none

chore(sbom): enrich SBOM reports
  .mise/scripts/sbom/build_cpe_dictionary.py
  .mise/scripts/sbom/enrich_cpe.py
  .mise/scripts/sbom/generate_sbom.sh
  .mise/tasks/sbom/build-cpe-dictionary
  sbom/README.md
Due: none

refactor: bench pkcs11 dll from ckms
  .mise/scripts/bench/plot_version_compare.py
  .mise/tasks/bench/load-pkcs11
  Cargo.lock
  Cargo.toml
  crate/clients/clap/src/actions/bench/load.rs
  crate/clients/clap/src/actions/bench/output.rs
  crate/clients/clap/src/actions/mod.rs
  crate/clients/clap/src/actions/pkcs11/bench/criterion_bench.rs
  crate/clients/clap/src/actions/pkcs11/bench/error.rs
  crate/clients/clap/src/actions/pkcs11/bench/load.rs
  crate/clients/clap/src/actions/pkcs11/bench/loader.rs
  crate/clients/clap/src/actions/pkcs11/bench/mod.rs
  crate/clients/clap/src/actions/pkcs11/bench/overhead.rs
  crate/clients/clap/src/actions/pkcs11/bench/report.rs
  crate/clients/clap/src/actions/pkcs11/bench/setup.rs
  crate/clients/clap/src/actions/pkcs11/capabilities.rs
  crate/clients/clap/src/actions/pkcs11/mod.rs
  crate/clients/clap/src/actions/pkcs11/verify.rs
  crate/clients/pkcs11/README.md
  crate/clients/pkcs11/bench/Cargo.toml
  crate/clients/pkcs11/bench/README.md
  crate/clients/pkcs11/bench/src/main.rs
  crate/clients/pkcs11/bench/src/report.rs
  crate/test_kms_server/benches/BENCHMARKS.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(ci): verify Windows Authenticode signatures
  .github/workflows/build_windows.yml
Due: none

fix(ci): use merged signing workflow
  .github/workflows/build_windows.yml
Due: none

fix(bench): PKCS11 locate issue
  .mise/tasks/bench/load-pkcs11
  crate/clients/clap/src/actions/pkcs11/bench/loader.rs
  crate/clients/pkcs11/module/Cargo.toml
  crate/clients/pkcs11/module/src/profiling.rs
  crate/clients/pkcs11/provider/Cargo.toml
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/lib.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): verify published Windows installers
  .github/workflows/build_windows.yml
Due: none

fix(ci): accept trusted signing test status
  .github/workflows/build_windows.yml
Due: none

fix(stack overflow): on high concurrent clients
  .mise/tasks/bench/_default
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review
  README.md
  crate/clients/client/src/kms_rest_client.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
  crate/server/src/core/operations/derive_key.rs
  documentation/docs/SUMMARY.md
  documentation/docs/use_cases/x25519_key_agreement_for_share_sealing.md
  documentation/nav.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(kmip): add X25519 ECDH key agreement to DeriveKey (non-FIPS)
  README.md
  crate/clients/client/src/kms_rest_client.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/server/src/core/operations/derive_key.rs
  documentation/docs/SUMMARY.md
  documentation/docs/use_cases/x25519_key_agreement_for_share_sealing.md
  documentation/nav.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(ui): expose X25519 ECDH derive-key form in the Web UI
  CHANGELOG/x25519_ecdh_ui.md
  crate/clients/wasm/src/wasm.rs
  ui/src/actions/Keys/DeriveKey.tsx
  ui/src/i18n/locales/en/actions.json
  ui/src/i18n/locales/zh-CN/actions.json
  ui/tests/e2e/README.md
  ui/tests/e2e/derive-key-flow.spec.ts
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(cli): add ckms derive-key --x25519 to close CLI/UI parity gap
  .mise/scripts/docs/renew_ckms_markdown.sh
  .mise/scripts/pre-commit/smart-docs-regen.sh
  .mise/tasks/docs/generate
  CHANGELOG/x25519_ecdh_ui.md
  crate/clients/ckms/src/tests/derive_key/derive_key_tests.rs
  crate/clients/clap/src/actions/derive_key/mod.rs
  documentation/docs/kms_clients/cli/main_commands.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(cli): make secret derivation deterministic
  crate/clients/ckms/src/tests/derive_key/derive_key_tests.rs
  crate/clients/ckms/src/tests/secret_data/lifecycle.rs
  crate/clients/ckms/src/tests/secret_data/mod.rs
  crate/clients/clap/src/actions/derive_key/mod.rs
  crate/clients/clap/src/actions/secret_data/create_secret.rs
  documentation/docs/kms_clients/cli/main_commands.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(cli): fix --ceremony flag documented as taking a true/false value
  documentation/docs/kms_clients/cli/main_commands.md
Due: none

chore: consolidate AI instructions
  .github/copilot-instructions.md
  AGENTS.md
Due: none

fix(ui): gate X25519 derive-key option behind FIPS mode + fix i18n parity
  .pre-commit-config.yaml
  ui/src/actions/Keys/DeriveKey.tsx
  ui/src/i18n/locales/en/actions.json
  ui/src/i18n/locales/fr/actions.json
  ui/src/i18n/locales/zh-CN/actions.json
Due: ui-wasm-react-unit-tests

docs(agents): reconcile gh stack sync guidance with the force-push ban
  .github/copilot-instructions.md
  AGENTS.md
Due: none

docs(server): fix OCSP GET endpoint path in --ocsp-enabled help
  documentation/docs/configuration/server_cli.md
Due: none

fix(ui): fail-closed FIPS detection and stable data-testid selectors for X25519 DeriveKey
  ui/src/actions/Keys/DeriveKey.tsx
  ui/tests/e2e/derive-key-flow.spec.ts
Due: ui-wasm-react-unit-tests

docs(config): fix OCSP/CRL/ceremony/KMIP-support documentation inaccuracies
  README.md
  crate/clients/clap/src/actions/symmetric/keys/create_split_key.rs
  crate/server/kms_template.toml
  crate/server/src/config/command_line/crl_config.rs
  crate/server/src/config/command_line/ocsp_config.rs
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/kmip_support/support.md
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(config): remove incorrect env-var claim from crl_default_validity_days doc
  crate/server/kms_template.toml
  crate/server/src/config/command_line/crl_config.rs
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(config): document missing OCSP fields and TOML range-validation gap
  crate/server/kms_template.toml
  crate/server/src/config/command_line/crl_config.rs
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(config): clarify --ocsp-include-cert-chain cannot be disabled via CLI
  crate/server/kms_template.toml
  crate/server/src/config/command_line/ocsp_config.rs
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add Windows file Properties on Windows binaries
  CHANGELOG/feat_azure-code-signing.md
  Cargo.lock
  crate/clients/ckms/Cargo.toml
  crate/clients/ckms/build.rs
  crate/clients/cng/Cargo.toml
  crate/clients/cng/build.rs
  crate/clients/pkcs11/provider/Cargo.toml
  crate/clients/pkcs11/provider/build.rs
  crate/server/Cargo.toml
  crate/server/build.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): use production signing profile
  .github/workflows/build_windows.yml
Due: none

fix: clippy
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(windows): build
  crate/clients/ckms/build.rs
  crate/clients/cng/build.rs
  crate/clients/pkcs11/provider/build.rs
  crate/server/build.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(machete): filter dep winresource
  crate/clients/ckms/Cargo.toml
  crate/clients/cng/Cargo.toml
  crate/clients/pkcs11/provider/Cargo.toml
  crate/server/Cargo.toml
Due: none

ci: small fixes
  .github/workflows/build_windows.yml
  deny.toml
Due: none

feat: metadatcommit
  crate/server/src/core/audit/file_sink.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: rev fixes
  crate/access/src/audit/event.rs
  crate/interfaces/src/error/mod.rs
  crate/interfaces/src/stores/audit_sink.rs
  crate/server/src/core/audit/file_sink.rs
  crate/server/src/core/audit/store.rs
  crate/server/src/core/audit/writer.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(audit): generalize AuditStore over AuditSink
  Cargo.lock
  crate/access/src/audit/event.rs
  crate/interfaces/src/stores/audit_sink.rs
  crate/server/Cargo.toml
  crate/server/src/core/audit/file_sink.rs
  crate/server/src/core/audit/recovery.rs
  crate/server/src/core/audit/store.rs
  crate/server/src/core/audit/writer.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: sync log-reference.md with resume()/writer.rs log call-sites
  documentation/docs/configuration/log-reference.md
Due: none

fix: correct pre-existing Unparseable/unparseable typo to Unparsable/unparsable
  crate/server/src/middlewares/audit/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc
