Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

Potential fix for pull request finding
  .mise/scripts/bench/bench_run_flamegraph.sh
Due: none

Potential fix for pull request finding
  .github/workflows/flamegraph.yml
Due: none

feat: add --server-workers flag and HTTP throughput CPU scaling benchmark
  .github/workflows/flamegraph.yml
  CHANGELOG/develop.md
  Cargo.lock
  crate/server/kms_template.toml
  crate/server/src/config/command_line/http_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/config/wizard/http_wizard.rs
  crate/server/src/config/wizard/tests.rs
  crate/server/src/main.rs
  crate/server/src/start_kms_server.rs
  crate/test_kms_server/Cargo.toml
  crate/test_kms_server/benches/http_throughput.rs
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/benchmarks/cpu_scaling.md
  documentation/mkdocs.yml
  pkg/kms.toml
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: prevent perf ring buffer overflow and multi-GB perf.data in flamegraph script
  .mise/scripts/bench/bench_run_flamegraph.sh
  CHANGELOG/develop.md
Due: none

Potential fix for pull request finding
  crate/test_kms_server/benches/http_throughput.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Potential fix for pull request finding
  .cargo/config.toml
Due: none

fix: remove leading 'perf' from cargo-flamegraph -c custom command
  .mise/scripts/bench/bench_run_flamegraph.sh
Due: none

chore: ignore perf.data and flamegraph artifacts
  .gitignore
Due: none

docs(bench): add ECDSA P-256 sign flamegraph (8 workers)
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/benchmarks/ecdsa_sign_w8.png
Due: none

feat(bench): convert flamegraph SVGs to PNG
  .mise/scripts/bench/bench_run_flamegraph.sh
Due: none

perf(bench): improve flamegraph accuracy — eliminate [unknown] frames
  .mise/scripts/bench/bench_run_flamegraph.sh
  Cargo.toml
Due: none

fix: correct indentation in http_throughput bench for rustfmt
  crate/test_kms_server/benches/http_throughput.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Potential fix for pull request finding
  CHANGELOG/develop.md
Due: none

Delete .github/workflows/flamegraph.yml
  .github/workflows/flamegraph.yml
Due: none

remove lto should reuse the release lto
  Cargo.toml
Due: none

feat(bench): default flamegraph script to non-fips variant
  .mise/scripts/bench/bench_run_flamegraph.sh
Due: none

fix(bench): increase measurement time to 10s to avoid Criterion warning
  crate/test_kms_server/benches/http_throughput.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(bench): correct common.sh source path after directory rename
  .mise/scripts/bench/bench_run_flamegraph.sh
Due: none

Clean up .cargo/config.toml by removing unused settings
  .cargo/config.toml
Due: none

docs(bench): update flamegraph with debug OpenSSL symbols
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/benchmarks/ecdsa_sign_w8.png
Due: none

perf(bench): build debug-instrumented OpenSSL for flamegraph profiling
  .mise/scripts/bench/bench_run_flamegraph.sh
Due: none

Potential fix for pull request finding
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix auto fix
  crate/test_kms_server/benches/http_throughput.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: sync log-reference.md — add worker-thread and JWT-fallback entries
  .mise/scripts/test/generate_rekey_vectors.sh
  .mise/tasks/test/vectors-rekey
  documentation/docs/configuration/log-reference.md
Due: none

chore: remove empty scripts/ directory
  scripts/.gitignore
Due: none

docs: add mise docs:log-index task and sync log-reference.md
  .mise/scripts/docs/update_log_index.py
  .mise/tasks/docs/log-index
  documentation/docs/configuration/log-reference.md
Due: none

fix: rebase
  .github/.markdownlint.yaml
  .mise/tasks/docs/log-index
  documentation/docs/configuration/log-reference.md
Due: none

feat: flamegraph CPU-scaling benchmark tooling (#985)
  .cargo/config.toml
  .github/.markdownlint.yaml
  .gitignore
  .mise/scripts/bench/bench_run_flamegraph.sh
  .mise/scripts/docs/update_log_index.py
  .mise/scripts/test/generate_rekey_vectors.sh
  .mise/tasks/docs/log-index
  .mise/tasks/test/vectors-rekey
  CHANGELOG/develop.md
  Cargo.lock
  Cargo.toml
  crate/server/kms_template.toml
  crate/server/src/config/command_line/http_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/config/wizard/http_wizard.rs
  crate/server/src/config/wizard/tests.rs
  crate/server/src/main.rs
  crate/server/src/start_kms_server.rs
  crate/server_database/src/stores/sql/sqlite.rs
  crate/test_kms_server/Cargo.toml
  crate/test_kms_server/benches/http_throughput.rs
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/benchmarks/cpu_scaling.md
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/benchmarks/ecdsa_sign_w8.png
  documentation/docs/configuration/log-reference.md
  documentation/mkdocs.yml
  pkg/kms.toml
  resources/kms.toml
  scripts/.gitignore
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(server): fix compile errors from keyset depth tuple refactor
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/dispatch.rs
  crate/server/src/routes/google_cse/operations.rs
  crate/server/src/routes/kmip.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: build
  crate/clients/client/src/http_client/client.rs
  crate/clients/client/src/kms_rest_client.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  crate/server/src/core/operations/recertify.rs
  crate/server/src/core/operations/rekey/symmetric.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(clippy): resolve large_futures, duplicate mod tests, and mock completeness
  crate/interfaces/src/hsm/hsm_store.rs
  crate/interfaces/src/stores/objects_store.rs
  crate/server/src/core/operations/recertify.rs
  crate/server/src/core/operations/revoke.rs
  crate/server/src/core/uid_utils.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/unwrap.rs
  crate/server_database/src/stores/sql/sqlite.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/core/operations/key_ops/crypto_op.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/message.rs
  crate/server/src/core/operations/sign.rs
  crate/server/src/core/operations/signature_verify.rs
  crate/server/src/routes/kmip.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(server): restore kms.message() used by tests
  crate/server/src/core/kms/kmip.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review
  crate/clients/ckms/src/tests/certificates/certify_pqc.rs
  crate/clients/clap/src/tests/xml/compare.rs
  crate/clients/client_utils/src/attributes_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: dispatch code to KMIP structs
  crate/clients/ckms/src/tests/certificates/certify_pqc.rs
  crate/interfaces/src/stores/object_with_metadata.rs
  crate/kmip/src/kmip_1_4/kmip_attributes.rs
  crate/kmip/src/kmip_2_1/kmip_attributes.rs
  crate/kmip/src/kmip_2_1/kmip_objects.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/attributes/add.rs
  crate/server/src/core/operations/attributes/delete.rs
  crate/server/src/core/operations/attributes/modify.rs
  crate/server/src/core/operations/attributes/set.rs
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/destroy.rs
  crate/server/src/core/operations/dispatch.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/core/operations/key_ops/authorization.rs
  crate/server/src/core/operations/key_ops/crypto_op.rs
  crate/server/src/core/operations/key_ops/key_resolution.rs
  crate/server/src/core/operations/key_ops/lifecycle.rs
  crate/server/src/core/operations/key_ops/mod.rs
  crate/server/src/core/operations/key_ops/usage_limits.rs
  crate/server/src/core/operations/key_selection.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/message.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/server/src/core/operations/rekey/keypair.rs
  crate/server/src/core/operations/rekey/symmetric.rs
  crate/server/src/core/operations/revoke.rs
  crate/server/src/core/operations/sign.rs
  crate/server/src/core/operations/signature_verify.rs
  crate/server/src/routes/google_cse/operations.rs
  crate/server/src/routes/kmip.rs
  crate/server_database/src/stores/sql/locate_query.rs
  pkg/kms.toml
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review
  .mise/scripts/docs/gen_vector_readme.py
  .mise/tasks/docs/vector-readme
  .mise/tasks/test/ui
  .pre-commit-config.yaml
  cli_documentation/docs/cli/main_commands.md
  crate/clients/ckms/src/tests/certificates/certify_pqc.rs
  crate/clients/clap/src/actions/symmetric/keys/get_rotation_policy.rs
  crate/clients/clap/src/actions/symmetric/keys/mod.rs
  crate/clients/clap/src/actions/symmetric/keys/set_rotation_policy.rs
  crate/clients/clap/src/tests/xml/compare.rs
  crate/clients/client/src/kms_rest_client.rs
  crate/clients/client_utils/src/attributes_utils.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/interfaces/src/crypto_oracle.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/interfaces/src/stores/objects_store.rs
  crate/kmip/src/kmip_1_4/kmip_attributes.rs
  crate/kmip/src/kmip_2_1/kmip_attributes.rs
  crate/server/src/core/operations/attributes/add.rs
  crate/server/src/core/operations/attributes/delete.rs
  crate/server/src/core/operations/attributes/get.rs
  crate/server/src/core/operations/attributes/modify.rs
  crate/server/src/core/operations/attributes/set.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/server/src/core/operations/rekey/keypair.rs
  crate/server/src/core/operations/rekey/symmetric.rs
  crate/server/src/core/uid_utils.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/locate_query.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/sqlite.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  pkg/kms.toml
  resources/kms.toml
  ui/src/components/common/Locate.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
