Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

test(audit): run all live audit tests from `mise test:audit`
  .github/workflows/test_all.yml
  .mise/scripts/test/test_audit_postgres_log.sh
  .mise/tasks/test/audit
  .mise/tasks/test/audit-postgres
  CHANGELOG/feat_audit_postgres_backend.md
  crate/hsm/aws_cloudhsm/Cargo.toml
  crate/server/Cargo.toml
  crate/server/src/main.rs
  crate/server_database/src/stores/audit/audit.sql
  crate/server_database/src/stores/audit/mod.rs
  crate/server_database/src/stores/audit/pgsql.rs
  documentation/docs/configuration/audit-events.md
  documentation/docs/configuration/audit-file-backend.md
  documentation/docs/configuration/audit-logs.md
  documentation/docs/configuration/audit-postgresql-backend.md
  documentation/docs/configuration/cef-export.md
  documentation/docs/configuration/siems.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(pkcs11): GnuPG smartcard interface via gnupg-pkcs11-scd (#853)
  .github/workflows/test_all.yml
  .mise/lib/nix_helpers.sh
  .mise/scripts/test/gnupg_pkcs11_scd_driver.py
  .mise/scripts/test/test_gnupg_smartcard.sh
  .mise/tasks/test/_default
  .mise/tasks/test/gnupg-smartcard
  CHANGELOG/feat_kmip_pgp.md
  crate/clients/pkcs11/provider/src/backend.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/tests.rs
  deny.toml
  documentation/docs/SUMMARY.md
  documentation/docs/integrations/gnupg_smartcard.md
  documentation/docs/integrations/pkcs11_provider.md
  shell.nix
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(ui): reload when the SPA form does not render in e2e key-creation helpers
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests

refactor(test,docs): run gnupg-smartcard as part of test:gnupg; move GnuPG docs under integrations/gnupg
  .github/workflows/test_all.yml
  .mise/scripts/test/test_gnupg_smartcard.sh
  .mise/tasks/test/_default
  .mise/tasks/test/gnupg
  .mise/tasks/test/gnupg-smartcard
  CHANGELOG/feat_kmip_pgp.md
  documentation/docs/SUMMARY.md
  documentation/docs/index.md
  documentation/docs/integrations/gnupg/openpgp.md
  documentation/docs/integrations/gnupg/smartcard.md
  documentation/docs/integrations/pkcs11_provider.md
  documentation/nav.yml
Due: none

test(ui): do not export gotoUntilVisible (knip unused export)
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests

refactor(pgp): convert OpenPGP armor to binary in WASM; remove /v1/crypto/openpgp/binary endpoint
  CHANGELOG/feat_kmip_pgp.md
  Cargo.lock
  crate/clients/client_utils/Cargo.toml
  crate/clients/client_utils/src/export_utils.rs
  crate/clients/client_utils/src/lib.rs
  crate/clients/client_utils/src/openpgp_format.rs
  crate/clients/wasm/Cargo.toml
  crate/clients/wasm/src/wasm.rs
  crate/clients/wasm/tests/wasm_bindings.rs
  crate/crypto/Cargo.toml
  crate/crypto/src/crypto/openpgp/mod.rs
  crate/crypto/src/error/mod.rs
  crate/server/documentation/openapi.yaml
  crate/server/src/routes/mod.rs
  crate/server/src/routes/openpgp.rs
  crate/server/src/start_kms_server.rs
  crate/server_database/src/error/db_error.rs
  ui/src/actions/Keys/KeysExport.tsx
  ui/src/utils/utils.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(gnupg): cover KMS encrypt then decrypt of the .gpg file
  .mise/scripts/test/test_gnupg.sh
Due: none

fix(ui): binary OpenPGP encrypt/decrypt downloads, gate non-FIPS features in FIPS mode, fix lint warnings
  CHANGELOG/feat_kmip_pgp.md
  ui/src/App.tsx
  ui/src/actions/Certificates/CertificateGenerateCrl.tsx
  ui/src/actions/Objects/HsmStatus.tsx
  ui/src/actions/Pgp/PgpDecrypt.tsx
  ui/src/actions/Pgp/PgpEncrypt.tsx
  ui/src/components/layout/Header.tsx
  ui/src/components/layout/MainLayout.tsx
  ui/src/components/layout/NonFipsRoute.tsx
  ui/src/components/layout/Sidebar.tsx
  ui/src/contexts/AuthContext.tsx
  ui/src/hooks/useActionState.ts
  ui/tests/e2e/fips-menu.spec.ts
  ui/tests/e2e/pgp-key-flow.spec.ts
  ui/tests/unit/tsx-imports/menuItems.test.ts
Due: ui-wasm-react-unit-tests

fix(ui): keep MAC available in FIPS mode (HMAC is FIPS-approved)
  .github/workflows/main_base.yml
  .mise/lib/common.sh
  CHANGELOG/feat_kmip_pgp.md
  ui/src/App.tsx
  ui/src/menuItems.tsx
  ui/tests/e2e/fips-menu.spec.ts
  ui/tests/unit/tsx-imports/menuItems.test.ts
Due: ui-wasm-react-unit-tests

docs(benchs): add Proteccio HR reports
  .mise/lib/bench_helpers.sh
  .mise/scripts/bench/plot_version_compare.py
  .mise/tasks/bench/hsm
  .mise/tasks/bench/load
  .mise/tasks/bench/pkcs11
  documentation/docs/benchmarks/ckms_bench/env.json
  documentation/docs/benchmarks/ckms_bench/report.md
  documentation/docs/benchmarks/ckms_bench_hsm_delegated_proteccio_hr/env.json
  documentation/docs/benchmarks/ckms_bench_hsm_delegated_proteccio_hr/load/hsm_sign-verify_ecdsa-p256-5.28.0-ttlv-json.dat
  documentation/docs/benchmarks/ckms_bench_hsm_delegated_proteccio_hr/load/hsm_sign-verify_ecdsa-p256.gnuplot
  documentation/docs/benchmarks/ckms_bench_hsm_delegated_proteccio_hr/load/hsm_sign-verify_ecdsa-p256.svg
  documentation/docs/benchmarks/ckms_bench_hsm_delegated_proteccio_hr/load_ttlv-json.json
  documentation/docs/benchmarks/ckms_bench_hsm_delegated_proteccio_hr/report.md
  documentation/docs/benchmarks/ckms_bench_hsm_delegated_softhsm2/env.json
  documentation/docs/benchmarks/ckms_bench_hsm_kek_softhsm2/env.json
  documentation/docs/benchmarks/ckms_bench_hsm_kek_softhsm2/report.md
  documentation/docs/benchmarks/ckms_bench_pkcs11/env.json
  documentation/docs/benchmarks/ckms_bench_pkcs11_hsm_delegated_proteccio_hr/env.json
  documentation/docs/benchmarks/ckms_bench_pkcs11_hsm_delegated_proteccio_hr/load/sign_ecdsa-p256-5.28.0-pkcs11.dat
  documentation/docs/benchmarks/ckms_bench_pkcs11_hsm_delegated_proteccio_hr/load/sign_ecdsa-p256.gnuplot
  documentation/docs/benchmarks/ckms_bench_pkcs11_hsm_delegated_proteccio_hr/load/sign_ecdsa-p256.svg
  documentation/docs/benchmarks/ckms_bench_pkcs11_hsm_delegated_proteccio_hr/load/verify_ecdsa-p256-5.28.0-pkcs11.dat
  documentation/docs/benchmarks/ckms_bench_pkcs11_hsm_delegated_proteccio_hr/load/verify_ecdsa-p256.gnuplot
  documentation/docs/benchmarks/ckms_bench_pkcs11_hsm_delegated_proteccio_hr/load/verify_ecdsa-p256.svg
  documentation/docs/benchmarks/ckms_bench_pkcs11_hsm_delegated_proteccio_hr/load_pkcs11.json
  documentation/docs/benchmarks/ckms_bench_pkcs11_hsm_delegated_proteccio_hr/report.md
  documentation/docs/benchmarks/ckms_bench_pkcs11_hsm_delegated_softhsm2/env.json
  documentation/docs/benchmarks/ckms_bench_pkcs11_hsm_delegated_softhsm2/report.md
Due: none

fix(server): generate OpenPGP keys off the HTTP worker thread to avoid 408 timeouts
  CHANGELOG/feat_kmip_pgp.md
  crate/server/src/core/operations/create.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(ui): increase timeout for RSA-3072 OpenPGP key creation in e2e
  ui/tests/e2e/helpers.ts
  ui/tests/e2e/pgp-key-flow.spec.ts
Due: ui-wasm-react-unit-tests

test(hsm): server-layer EdDSA CreateKeyPair/Sign/SignatureVerify reachability test (#1182)
  crate/server/src/tests/hsm/eddsa_sign.rs
  crate/server/src/tests/hsm/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): override smol-toml >=1.9.0 and source-map-js >=1.2.2 (Dependabot security alerts)
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

ci: pin ubuntu-latest to ubuntu-24.04 ahead of the Ubuntu 26 label migration
  .github/README_WORKFLOWS.md
  .github/workflows/cargo-publish.yml
  .github/workflows/cla.yml
  .github/workflows/main_base.yml
  .github/workflows/nix-update-hashes.yml
  .github/workflows/packaging-kubernetes.yml
  .github/workflows/packaging.yml
  .github/workflows/release.yml
  .github/workflows/test_all.yml
  .github/workflows/update-log-index.yml
  .mise/tasks/test/audit-compat-splunk
Due: none

test(hsm): server-layer EdDSA CreateKeyPair/Sign/SignatureVerify reachability test (#1182) (#1256)
  crate/server/src/tests/hsm/eddsa_sign.rs
  crate/server/src/tests/hsm/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: pin ubuntu-latest to ubuntu-24.04 ahead of the Ubuntu 26 label migration (#1254)
  .github/README_WORKFLOWS.md
  .github/workflows/cargo-publish.yml
  .github/workflows/cla.yml
  .github/workflows/main_base.yml
  .github/workflows/nix-update-hashes.yml
  .github/workflows/packaging-kubernetes.yml
  .github/workflows/packaging.yml
  .github/workflows/release.yml
  .github/workflows/test_all.yml
  .github/workflows/update-log-index.yml
  .mise/tasks/test/audit-compat-splunk
Due: none

fix(ui): override smol-toml >=1.9.0 and source-map-js >=1.2.2 (Dependabot security alerts) (#1255)
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

fix: commit the tests
  crate/server_database/src/stores/redis/additional_redis_findex_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor: centralize attribute edit policy
  crate/kmip/src/kmip_2_1/attribute_policy.rs
  crate/kmip/src/kmip_2_1/kmip_attributes.rs
  crate/kmip/src/kmip_2_1/kmip_types.rs
  crate/kmip/src/kmip_2_1/mod.rs
  crate/server/src/core/operations/attributes/add.rs
  crate/server/src/core/operations/attributes/delete.rs
  crate/server/src/core/operations/attributes/mod.rs
  crate/server/src/core/operations/attributes/modify.rs
  crate/server/src/core/operations/attributes/policy.rs
  crate/server/src/core/operations/attributes/set.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

use safe openssl apis in pqc instead of raw ffi
  crate/crypto/src/crypto/pqc/hybrid_kem.rs
  crate/crypto/src/crypto/pqc/ml_kem.rs
  crate/crypto/src/crypto/pqc/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: ffi guard
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/module/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat:one commit
  .github/workflows/test_all.yml
  .mise/lib/test_slots.sh
  SECURITY.md
  crate/server/src/tests/mtls_db.rs
  crate/server_database/src/stores/audit/pgsql.rs
  crate/server_database/src/stores/sql/mod.rs
  crate/server_database/src/stores/sql/pgsql.rs
  documentation/docs/configuration/database/configuration.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(database): generic multi-region active-active PostgreSQL support
  .github/instructions/mise.instructions.md
  .github/workflows/test_all.yml
  .mise/lib/multi_region_guards.sh
  .mise/scripts/README.md
  .mise/tasks/test/db/pgedge
  .mise/tasks/test/multi-region-guards
  .mise/tasks/test/pgedge
  .mise/tasks/test/psql
  CHANGELOG/multi_region.md
  crate/interfaces/src/stores/objects_store.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/mod.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/core/operations/message.rs
  crate/server/src/cron.rs
  crate/server/src/main.rs
  crate/server/src/tests/crl_tests.rs
  crate/server/src/tests/key_ceremony_tests.rs
  crate/server/src/tests/mod.rs
  crate/server/src/tests/pgedge_ceremony_tests.rs
  crate/server/src/tests/pgedge_crl_tests.rs
  crate/server/src/tests/test_utils.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/tests/mod.rs
  docker-compose.yml
  documentation/adr/2026-09-19-multi-region-active-active-postgresql.md
  documentation/docs/configuration/database/configuration.md
  documentation/docs/configuration/database/tables.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/configuration/server_cli.md
  documentation/docs/use_cases/pki-revocation.md
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci(test-nix): regroup Docker-free matrix legs into combined mise tasks
  .github/workflows/test_all.yml
  .mise/tasks/test/client-protocol
  .mise/tasks/test/cloud
  .mise/tasks/test/pkcs11-clients
  .mise/tasks/test/pki
  .mise/tasks/test/web
  crate/server/src/config/params/server_params.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: Add NIST PQC ESV entropy compliance documentation
  crate/crypto/src/crypto/mod.rs
  crate/crypto/src/crypto/pqc/hybrid_kem.rs
  crate/crypto/src/crypto/pqc/ml_dsa.rs
  crate/crypto/src/crypto/pqc/ml_kem.rs
  crate/crypto/src/crypto/pqc/mod.rs
  crate/crypto/src/crypto/pqc/slh_dsa.rs
  crate/crypto/src/crypto/rng/mod.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/kms/other_kms_methods.rs
  crate/server/src/core/mod.rs
  crate/server/src/core/operations/certify/build_certificate.rs
  crate/server/src/core/operations/certify/certify_op.rs
  crate/server/src/core/operations/certify/resolve_subject.rs
  crate/server/src/core/operations/create.rs
  crate/server/src/core/operations/create_key_pair.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/recertify.rs
  crate/server/src/core/operations/rekey/keypair/sql.rs
  crate/server/src/core/operations/rekey/symmetric/sql.rs
  crate/server/src/core/operations/rng_retrieve.rs
  crate/server/src/core/operations/rng_seed.rs
  crate/server/src/core/rng/mod.rs
  documentation/docs/SUMMARY.md
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/pqc_entropy_compliance.md
  documentation/nav.yml
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update C2P doc + fix dependabot alerts on UI
  documentation/docs/hsm_support/crypt2pay.md
Due: none

docs(crypto): stop claiming PQC keygen uses KmsRng or ESV-validated entropy
  crate/crypto/src/crypto/pqc/hybrid_kem.rs
  crate/crypto/src/crypto/pqc/ml_dsa.rs
  crate/crypto/src/crypto/pqc/ml_kem.rs
  crate/crypto/src/crypto/pqc/mod.rs
  crate/crypto/src/crypto/pqc/slh_dsa.rs
  crate/crypto/src/crypto/rng/mod.rs
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/pqc_entropy_compliance.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): wait for the real postgres server in audit-postgres task
  .mise/tasks/test/audit-postgres
Due: none

fix(crypto): clippy fixes for KmsRng and PQC key pair functions
  crate/crypto/src/crypto/pqc/hybrid_kem.rs
  crate/crypto/src/crypto/pqc/ml_dsa.rs
  crate/crypto/src/crypto/pqc/ml_kem.rs
  crate/crypto/src/crypto/pqc/mod.rs
  crate/crypto/src/crypto/pqc/slh_dsa.rs
  crate/crypto/src/crypto/rng/mod.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/operations/create_split_key.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(server): silence unused rng param in FIPS builds of generate_key_pair
  crate/server/src/core/operations/create_key_pair.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(crypto): thread OpenSSL propquery + FIPS indicator check through PQC keygen; recenter PQC entropy doc on NIST SP 800-227
  crate/crypto/src/crypto/pqc/hybrid_kem.rs
  crate/crypto/src/crypto/pqc/ml_dsa.rs
  crate/crypto/src/crypto/pqc/ml_kem.rs
  crate/crypto/src/crypto/pqc/mod.rs
  crate/crypto/src/crypto/pqc/slh_dsa.rs
  crate/crypto/src/crypto/rng/mod.rs
  documentation/adr/2026-10-09-pqc-kmsrng-seeding-and-safe-openssl-migration.md
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/pqc_entropy_compliance.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: address PR review findings (zero entropy credit for RNGSeed, zeroize split-key seed, ServerError for RNG failures, bare fips term, cleanups)
  crate/crypto/src/crypto/pqc/mod.rs
  crate/crypto/src/crypto/rng/mod.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/kms/other_kms_methods.rs
  crate/server/src/core/operations/certify/build_certificate.rs
  crate/server/src/core/operations/certify/certify_op.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/recertify.rs
  crate/server/src/core/operations/rng_retrieve.rs
  crate/server/src/core/operations/rng_seed.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc
