Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

feat: implement auto CRL refresh and persist CRLs in DB
  crate/interfaces/src/stores/permissions_store.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/core/operations/revoke.rs
  crate/server/src/routes/crl.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/query_sqlite.sql
  crate/server_database/src/stores/sql/sqlite.rs
  crate/test_kms_server/src/crl_tests.rs
  documentation/docs/configuration/database/tables.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/kmip_support/_revoke.md
  documentation/docs/use_cases/pki.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: redis tests
  crate/server_database/src/stores/redis/redis_with_findex.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(crl): configurable validity, Cache-Control headers, background refresh scheduler
  crate/interfaces/src/stores/permissions_store.rs
  crate/server/documentation/openapi.yaml
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/cron.rs
  crate/server/src/main.rs
  crate/server/src/routes/crl.rs
  crate/server/src/start_kms_server.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  crate/test_kms_server/src/crl_tests.rs
  documentation/docs/SUMMARY.md
  documentation/docs/adr/2026-08-20-pki-crl-generation-distribution-auto-refresh.md
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(crl): remove CO guard — CRL is public information (RFC 5280 §3)
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/core/operations/revoke.rs
  crate/server/src/cron.rs
  documentation/docs/configuration/log-reference.md
  yo.der
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): use public CRL endpoint to include certs from all users
  crate/server/src/routes/crl.rs
  ui/src/actions/Certificates/CertificateGenerateCrl.tsx
  ui/src/menuItems.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(crl): verify CRL generation when CO role is disabled
  crate/test_kms_server/src/crl_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(crl): clarify two-endpoint design in OpenAPI and Rust doc comments
  crate/server/documentation/openapi.yaml
  crate/server/src/routes/crl.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: remove accidentally committed yo.der test file
  yo.der
Due: none

fix(test): bind dynamic port to configured hostname not 127.0.0.1
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(test): eliminate TOCTOU race in test server port allocation
  crate/server/src/main.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/ttlv_tests/mod.rs
  crate/server/src/windows_service.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: follow RFC 5280 for RemoveFromCRL reason mapping
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/main.rs
  crate/test_kms_server/src/crl_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: implement auto CRL refresh and persist CRLs in DB
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/core/operations/revoke.rs
  crate/server/src/routes/crl.rs
  crate/test_kms_server/src/crl_tests.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: support CRL generation
  ui/src/actions/Access/AccessGrant.tsx
  ui/src/actions/Objects/ObjectsDestroy.tsx
Due: ui-wasm-react-unit-tests

fix(test): use temp file in sr_crl_10 instead of test_data submodule
  documentation/docs/configuration/log-reference.md
Due: none

feat: support CRL generation
  lychee.toml
Due: none

fix: GHSA-rwc8-xwm6-52xc
  lychee.toml
Due: none

feat: support CRL generation
  documentation/docs/configuration/authorization/key_ceremony.md
Due: none

test: add new OPA test scenarios
  .mise/scripts/test/test_opa_rbac.sh
  crate/server/src/core/retrieve_object_utils.rs
  crate/server/src/middlewares/auth_verifier/mod.rs
  crate/server/src/middlewares/auth_verifier/token.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/middlewares/session_auth.rs
  crate/server/src/routes/ui_auth.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  ui/tests/e2e-auth/auth-verifier-login.spec.ts
  ui/tests/e2e/login-page-auth-method-matrix.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(test): properly mock all auth bootstrap endpoints in matrix tests
  ui/tests/e2e/login-page-auth-method-matrix.spec.ts
Due: ui-wasm-react-unit-tests

fix(test): skip login-page matrix tests when PLAYWRIGHT_CERT_DIR is set (mTLS CI)
  ui/tests/e2e/login-page-auth-method-matrix.spec.ts
Due: ui-wasm-react-unit-tests

fix(test): opt-in matrix tests via PLAYWRIGHT_AUTH_MATRIX_TESTS env var
  ui/tests/e2e/login-page-auth-method-matrix.spec.ts
Due: ui-wasm-react-unit-tests

test: simplify auth-verifier provisioning, add OPA RBAC vector tests and multi-tenancy coverage
  .mise/scripts/test/test_opa_rbac.sh
  crate/server/src/config/command_line/auth_verifier_config.rs
  crate/server/src/config/command_line/ui_config.rs
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/routes/ui_auth.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  docker-compose.yml
  documentation/docs/SUMMARY.md
  documentation/docs/configuration/authorization/index.md
  documentation/docs/configuration/authorization/mode3.md
  documentation/docs/configuration/authorization/opa-authverifier-setup.md
  documentation/docs/configuration/authorization/rbac-opa-jwt-setup.md
  documentation/nav.yml
  ui/src/App.tsx
  ui/src/pages/LoginPage.tsx
  ui/src/utils/utils.ts
  ui/tests/e2e/README.md
  ui/tests/e2e/login-page-auth-method-matrix.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(test): inline auth_verifier TOML in unit test (test_data submodule not available on CI)
  crate/server/src/config/command_line/auth_verifier_config.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: resolve WASM/UI and Windows CI failures
  .mise/scripts/windows/cargo_test.ps1
  ui/src/actions/Keys/JoinSplitKey.tsx
Due: ui-wasm-react-unit-tests

fix: toml test
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
