Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

feat: rebase + final fixes + review fixes
  .github/copilot-instructions.md
  .github/scripts/update_hashes.sh
  .vscode/settings.json
  crate/cli/src/actions/kms/aws/README.ms
  crate/cli/src/actions/kms/aws/byok/export_key_material.rs
  crate/cli/src/actions/kms/aws/byok/import_kek.rs
  crate/cli/src/actions/kms/aws/byok/wrapping_algorithms.rs
  crate/cli/src/actions/kms/azure/byok/export_byok.rs
  crate/cli/src/lib.rs
  crate/cli/src/tests/kms/access.rs
  crate/cli/src/tests/kms/auth_tests.rs
  crate/cli/src/tests/kms/aws/integration_tests.rs
  crate/cli/src/tests/kms/shared/export_import.rs
  crate/cli/src/tests/kms/xml/expected_response.rs
  crate/cli/src/tests/kms/xml/kmip_1_4/kmip.rs
  crate/cli/src/tests/kms/xml/kmip_2_1/kmip.rs
  crate/server/src/main.rs
  documentation/docs/aws/byok.md
  ui/eslint.config.js
  ui/src/AzureExportByok.tsx
  ui/src/AzureImportKek.tsx
  ui/src/Sidebar.tsx
  ui/src/menuItems.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: fix stuff about unused code
  crate/cli/src/tests/kms/auth_tests.rs
  crate/cli/src/tests/kms/shared/export_import.rs
  crate/cli/src/tests/kms/xml/expected_response.rs
  crate/cli/src/tests/kms/xml/kmip_1_4/kmip.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: fix stuff about unused code2
  crate/cli/src/tests/kms/xml/kmip_1_4/kmip.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: fix stuff about unused code3
  crate/cli/src/tests/kms/auth_tests.rs
  crate/cli/src/tests/kms/shared/export_import.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: restaure
  crate/cli/src/tests/kms/access.rs
  crate/cli/src/tests/kms/auth_tests.rs
  crate/cli/src/tests/kms/shared/export_import.rs
  crate/cli/src/tests/kms/xml/expected_response.rs
  crate/cli/src/tests/kms/xml/kmip_1_4/kmip.rs
  crate/cli/src/tests/kms/xml/kmip_2_1/kmip.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: rebase fixes
  crate/clients/ckms/src/tests/kms/access.rs
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: try not force
  crate/clients/ckms/src/tests/kms/access.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: tempdir
  crate/cli/src/tests/kms/aws/integration_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: final fixes
  CHANGELOG.md
  README.md
  crate/cli/src/tests/kms/shared/export_import.rs
  crate/cli/src/tests/kms/xml/kmip_2_1/kmip.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: some spelling fixes
  CHANGELOG.md
  crate/cli/src/tests/kms/aws/integration_tests.rs
  crate/cli/src/tests/kms/xml/kmip_2_1/kmip.rs
  documentation/docs/aws/byok.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: kmip allow ded code
  crate/cli/src/tests/kms/xml/kmip_2_1/kmip.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: intermittent ckms config parse error
  CHANGELOG.md
  crate/clients/ckms/src/config.rs
  crate/clients/ckms/src/tests/mod.rs
  crate/clients/pkcs11/provider/src/tests.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: intermittent ckms config parse error (#812)
  CHANGELOG.md
  crate/clients/ckms/src/config.rs
  crate/clients/ckms/src/tests/mod.rs
  crate/clients/pkcs11/provider/src/tests.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

windows OpenSSL instructions fix
  .gitignore
  CHANGELOG.md
  README.md
  documentation/docs/index.md
  documentation/docs/ms_sql_server.md
  documentation/mkdocs.yml
Due: none

feat: MS SQL Server External Key Management (#809)
  .gitignore
  CHANGELOG.md
  README.md
  documentation/docs/index.md
  documentation/docs/ms_sql_server.md
  documentation/mkdocs.yml
Due: none

chore: rebase
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests

chore: update Nix expected hashes
  crate/cli/src/actions/kms/aws/byok/export_key_material.rs
  crate/cli/src/actions/kms/aws/byok/import_kek.rs
  crate/cli/src/actions/kms/pqc/keys/mod.rs
  crate/cli/src/actions/kms/pqc/mod.rs
  crate/cli/src/tests/kms/access.rs
  crate/cli/src/tests/kms/auth_tests.rs
  crate/cli/src/tests/kms/aws/integration_tests.rs
  crate/cli/src/tests/kms/azure/mod.rs
  crate/cli/src/tests/kms/shared/export_import.rs
  crate/cli/src/tests/kms/shared/openssl_utils.rs
  crate/cli/src/tests/kms/xml/kmip_1_4/kmip.rs
  crate/cli/src/tests/kms/xml/kmip_2_1/kmip.rs
  crate/clients/pkcs11/provider/src/lib.rs
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
Due: none

chore: update AI instructions
  .github/copilot-instructions.md
Due: none

docs: add CLAUDE.md and AGENTS.md for cross-agent discoverability
  AGENTS.md
  CLAUDE.md
Due: none

chore: multiple lints
  .github/scripts/oracle/set_hsm.ps1
  .github/scripts/oracle/test_oracle_tde.ps1
  .github/workflows/forward_proxy.yml
  .pre-commit-config.yaml
  cli_documentation/docs/cli/main_commands.md
  cli_documentation/docs/usage.md
  crate/cli/src/actions/kms/aws/byok/export_key_material.rs
  crate/cli/src/actions/kms/aws/byok/import_kek.rs
  crate/cli/src/tests/kms/access.rs
  crate/cli/src/tests/kms/auth_tests.rs
  crate/cli/src/tests/kms/aws/integration_tests.rs
  crate/cli/src/tests/kms/azure/mod.rs
  crate/cli/src/tests/kms/shared/export_import.rs
  crate/cli/src/tests/kms/shared/openssl_utils.rs
  crate/cli/src/tests/kms/xml/kmip_1_4/kmip.rs
  crate/cli/src/tests/kms/xml/kmip_2_1/kmip.rs
  crate/clients/ckms/src/tests/kms/google_cmd/key_pairs_enabling.rs
  crate/test_kms_server/src/test_server.rs
  documentation/docs/aws/byok.md
  documentation/docs/aws/byok_scripts/run_aes_byok.sh
  documentation/docs/aws/byok_scripts/run_ecc_byok.sh
  documentation/docs/aws/byok_scripts/run_rsa_byok.sh
  documentation/docs/pkce_authentication.md
  shell.nix
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: maintenance on Cargo.toml's files and simplify test_server.rs
  .github/copilot-instructions.md
  .github/scripts/test_hsm_proteccio.sh
  .github/scripts/test_hsm_softhsm2.sh
  .github/scripts/test_hsm_utimaco.sh
  AGENTS.md
  CLAUDE.md
  Cargo.lock
  Cargo.toml
  crate/cli/Cargo.toml
  crate/cli/src/tests/kms/auth_tests.rs
  crate/clients/ckms/Cargo.toml
  crate/clients/ckms/src/tests/kms/auth_tests.rs
  crate/clients/ckms/src/tests/kms/forward_proxy_tests.rs
  crate/clients/ckms/src/tests/kms/vendor_id.rs
  crate/crypto/Cargo.toml
  crate/crypto/build.rs
  crate/hsm/base_hsm/src/session/rsa.rs
  crate/interfaces/src/crypto_oracle.rs
  crate/interfaces/src/hsm/interface.rs
  crate/kmip-derive/Cargo.toml
  crate/kmip/Cargo.toml
  crate/kms_client/Cargo.toml
  crate/server/Cargo.toml
  crate/server_database/Cargo.toml
  crate/test_kms_server/Cargo.toml
  crate/test_kms_server/src/lib.rs
  crate/test_kms_server/src/test_jwt.rs
  crate/test_kms_server/src/test_server.rs
  crate/wasm/Cargo.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: fix forward proxy tests
  .devcontainer/Dockerfile
  crate/clients/ckms/src/tests/kms/forward_proxy_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: multiple lints
  .github/scripts/test_pykmip.sh
  .github/workflows/forward_proxy.yml
Due: none

chore: windows fixes
  .github/scripts/azure_ekm_mtls_test.sh
  .github/scripts/azure_ekm_test.sh
  CHANGELOG.md
  Cargo.lock
  crate/clients/ckms/Cargo.toml
  crate/clients/ckms/src/tests/kms/access.rs
  crate/clients/ckms/src/tests/kms/shared/locate.rs
  crate/clients/ckms/src/tests/kms/utils/cmd_logs.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: add missing REPO_ROOT in azure_ekm_test.sh
  .github/scripts/azure_ekm_test.sh
  CHANGELOG.md
Due: none

test: simplify test_server.rs
  .devcontainer/Dockerfile
  .dockerignore
  .github/scripts/common.sh
  .github/scripts/nix.sh
  .github/scripts/smoke_test_linux.sh
  .github/scripts/test_hsm_softhsm2.sh
  README.md
  crate/clients/ckms/src/tests/kms/forward_proxy_tests.rs
  crate/clients/ckms/src/tests/kms/vendor_id.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(TLS): mention default supported TLS versions
  documentation/docs/tls.md
Due: none

fix: issue #796 — preserve OperationPolicyName and other KMIP 1.x attributes
  CHANGELOG.md
  crate/kmip/src/kmip_1_0/specifications/README.md
  crate/kmip/src/kmip_1_0/specifications/kmip-spec-1.0-os.html
  crate/kmip/src/kmip_1_4/kmip_attributes.rs
  crate/kmip/src/kmip_1_4/kmip_data_structures.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/kmip_1_4/kmip_types.rs
  crate/kmip/src/ttlv/xml/deserializer.rs
  crate/kmip/src/ttlv/xml/tests/kmip_1_0_xml_mandatory_test_vectors.rs
  crate/kmip/src/ttlv/xml/tests/kmip_1_0_xml_optional_test_vectors.rs
  crate/kmip/src/ttlv/xml/tests/mod.rs
  crate/server/src/core/operations/add_attribute.rs
  crate/server/src/core/operations/modify_attribute.rs
  crate/server/src/tests/ttlv_tests/integrations/mod.rs
  crate/server/src/tests/ttlv_tests/integrations/synology_dsm.rs
  crate/server/src/tests/ttlv_tests/mod.rs
  crate/server/src/tests/ttlv_tests/register_operation_policy_name_1_0.rs
  documentation/docs/synology_dsm.md
  scripts/synology_dsm_client.py
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: KMIP 1.2 requires echoing the modified attribute
  CHANGELOG.md
  cli_documentation/docs/cli/main_commands.md
  cli_documentation/docs/usage.md
  crate/cli/src/actions/kms/attributes/modify.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/kmip_2_1/kmip_operations.rs
  crate/server/src/core/operations/message.rs
  crate/server/src/core/operations/modify_attribute.rs
  crate/server/src/tests/ttlv_tests/integrations/synology_dsm.rs
  scripts/synology_dsm_client.py
  scripts/test_pykmip.sh
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: remove unused ModifyAttributeResponsePayload import
  scripts/synology_dsm_client.py
Due: none

test: assert ModifyAttributeResponse echoes the correct Name attribute
  crate/server/src/tests/ttlv_tests/integrations/synology_dsm.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: fmt..
  crate/server/src/tests/ttlv_tests/integrations/synology_dsm.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: issue #796 and #820: preserve OperationPolicyName and echoe Attribute Value on Modify. (#799)
  CHANGELOG.md
  cli_documentation/docs/cli/main_commands.md
  cli_documentation/docs/usage.md
  crate/cli/src/actions/kms/attributes/modify.rs
  crate/kmip/src/kmip_1_0/specifications/README.md
  crate/kmip/src/kmip_1_0/specifications/kmip-spec-1.0-os.html
  crate/kmip/src/kmip_1_4/kmip_attributes.rs
  crate/kmip/src/kmip_1_4/kmip_data_structures.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/kmip_1_4/kmip_types.rs
  crate/kmip/src/kmip_2_1/kmip_operations.rs
  crate/kmip/src/ttlv/xml/deserializer.rs
  crate/kmip/src/ttlv/xml/tests/kmip_1_0_xml_mandatory_test_vectors.rs
  crate/kmip/src/ttlv/xml/tests/kmip_1_0_xml_optional_test_vectors.rs
  crate/kmip/src/ttlv/xml/tests/mod.rs
  crate/server/src/core/operations/add_attribute.rs
  crate/server/src/core/operations/message.rs
  crate/server/src/core/operations/modify_attribute.rs
  crate/server/src/tests/ttlv_tests/integrations/mod.rs
  crate/server/src/tests/ttlv_tests/integrations/synology_dsm.rs
  crate/server/src/tests/ttlv_tests/mod.rs
  crate/server/src/tests/ttlv_tests/register_operation_policy_name_1_0.rs
  documentation/docs/synology_dsm.md
  scripts/synology_dsm_client.py
  scripts/test_pykmip.sh
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc
