Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

chore: update js dev-deps and CHANGELOG
  .github/scripts/release.sh
  .gitignore
  CHANGELOG.md
  nix/expected-hashes/ui.npm.sha256
  nix/ui.nix
  ui/package-lock.json
  ui/package.json
  ui/pnpm-lock.yaml
Due: nixfmt, statix

chore: update sbom reports
  sbom/openssl/bom.cdx.json
  sbom/openssl/bom.spdx.json
  sbom/openssl/graph.png
  sbom/openssl/meta.json
  sbom/openssl/vulns.csv
  sbom/server/fips/dynamic/bom.cdx.json
  sbom/server/fips/dynamic/bom.spdx.json
  sbom/server/fips/dynamic/graph.png
  sbom/server/fips/dynamic/meta.json
  sbom/server/fips/dynamic/vulns.csv
  sbom/server/fips/static/bom.cdx.json
  sbom/server/fips/static/bom.spdx.json
  sbom/server/fips/static/graph.png
  sbom/server/fips/static/meta.json
  sbom/server/fips/static/vulns.csv
  sbom/server/non-fips/dynamic/bom.cdx.json
  sbom/server/non-fips/dynamic/bom.spdx.json
  sbom/server/non-fips/dynamic/graph.png
  sbom/server/non-fips/dynamic/meta.json
  sbom/server/non-fips/dynamic/vulns.csv
  sbom/server/non-fips/static/bom.cdx.json
  sbom/server/non-fips/static/bom.spdx.json
  sbom/server/non-fips/static/graph.png
  sbom/server/non-fips/static/meta.json
  sbom/server/non-fips/static/vulns.csv
Due: none

test: fix wasm tests
  .github/scripts/test_wasm.sh
  nix/expected-hashes/ui.npm.sha256
  ui/package-lock.json
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/App.tsx
  ui/src/BrandingContext.tsx
  ui/src/Header.tsx
  ui/src/LoginPage.tsx
  ui/src/Sidebar.tsx
  ui/src/brandingContext.ts
  ui/src/useBranding.ts
Due: ui-wasm-react-unit-tests

fix: wasm test
  .github/scripts/test_wasm.sh
  ui/src/BrandingProvider.tsx
  ui/src/main.tsx
  ui/tests/unit/test-utils.tsx
  ui/tests/unit/tsx-imports/App.test.ts
Due: ui-wasm-react-unit-tests

test: fix startup launch
  ui/vite.config.ts
Due: ui-wasm-react-unit-tests

feat: commit essential files
  .github/scripts/azure_ekm_test.sh
  .github/scripts/azure_ekm_test_data/generate_azure_ekm_test_data.sh
  .github/scripts/run_azure_ekm_mtls_test.sh
  crate/server/src/config/command_line/azure_ekm_config.rs
  crate/server/src/routes/azure_ekm/mod.rs
  documentation/docs/azure/ekm/ekm.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: useless comment
  crate/server/src/tests/azure_ekm/integration_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add docs AND IMAGE
  documentation/docs/azure/ekm/high_level_arch.png
  documentation/docs/azure/ekm/sequence.svg
Due: none

feat: all commits squashed
  .cargo/config.toml
  .vscode/settings.json
  crate/crypto/src/crypto/symmetric/rfc5649.rs
  crate/server/src/config/command_line/azure_ekm_config.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/main.rs
  crate/server/src/routes/azure_ekm/contributing.md
  crate/server/src/routes/azure_ekm/error.rs
  crate/server/src/routes/azure_ekm/handlers.rs
  crate/server/src/routes/azure_ekm/mod.rs
  crate/server/src/routes/azure_ekm/models.rs
  crate/server/src/routes/google_cse/mod.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/azure_ekm/integration_tests.rs
  crate/server/src/tests/azure_ekm/mod.rs
  crate/server/src/tests/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: stuff fix
  crate/server/src/start_kms_server.rs
  documentation/docs/azure/byok/byok.md
  documentation/docs/azure/byok/byok_create_kek.png
  documentation/docs/azure/byok/byok_download_kek_public_key.png
  documentation/docs/azure/byok/byok_import_jwe.png
  documentation/docs/azure/ekm/ekm.md
  documentation/docs/index.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: stop timing out
  crate/server/src/routes/azure_ekm/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: finish the refactor and the fix and the documentation
  crate/server/src/routes/azure_ekm/handlers.rs
  crate/server/src/routes/azure_ekm/mod.rs
  crate/server/src/routes/mod.rs
  crate/server/src/routes/ms_dke/mod.rs
  crate/server/src/routes/utils.rs
  crate/server/src/tests/azure_ekm/integration_tests.rs
  documentation/docs/azure/ekm/ekm.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: review fixes
  .cargo/README.md
  .cargo/config.toml
  .vscode/settings.json
  crate/server/src/routes/azure_ekm/handlers.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: fortmat????
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: finish docs and fix some more todos3
  crate/server/src/routes/azure_ekm/handlers.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: commit certs i actually need
  .github/scripts/azure_ekm_test_data/client_ca_cert.pem
  .github/scripts/azure_ekm_test_data/client_cert.pem
  .github/scripts/azure_ekm_test_data/client_key.pem
  .github/scripts/azure_ekm_test_data/server_ca_cert.pem
  .github/scripts/azure_ekm_test_data/server_cert.pem
  .github/scripts/azure_ekm_test_data/server_key.pem
Due: none

feat: finish docs and fix some more todos
  .cargo/config.toml
  crate/crypto/src/crypto/symmetric/rfc5649.rs
  crate/server/src/config/command_line/azure_ekm_config.rs
  crate/server/src/routes/azure_ekm/contributing.md
  crate/server/src/routes/google_cse/mod.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/azure/ekm/ekm.md
  documentation/docs/azure/ekm/high_level_arch.png
  documentation/includes.yml
  documentation/mkdocs.yml
  documentation/theme_overrides/assets/stylesheets/extra.css
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add docs
  documentation/docs/azure/ekm/ekm.md
Due: none

feat: review fixes are never over
  crate/server/src/config/command_line/azure_ekm_config.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

a
  .github/copilot-instructions.md
  .github/scripts/azure_ekm_mtls_test.sh
  .github/scripts/azure_ekm_test.sh
  .github/scripts/azure_ekm_test_data/client_ca_cert.pem
  .github/scripts/azure_ekm_test_data/server_cert.pem
  .github/scripts/azure_ekm_test_data/server_key.pem
  .github/scripts/run_azure_ekm_mtls_test.sh
Due: none

feat: review fixes even mroe
  crate/server/src/config/command_line/azure_ekm_config.rs
  crate/server/src/routes/azure_ekm/error.rs
  crate/server/src/routes/azure_ekm/handlers.rs
  crate/server/src/routes/azure_ekm/mod.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/azure_ekm/integration_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: ufix
  crate/server/src/config/params/server_params.rs
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: ssl fix
  crate/server/src/routes/azure_ekm/mod.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: fixes
  crate/server/src/routes/azure_ekm/handlers.rs
  crate/server/src/tests/azure_ekm/integration_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: still messy
  crate/server/src/routes/azure_ekm/handlers.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: fmt fix
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: ekm certs to test dir
  .github/scripts/azure_ekm_mtls_test.sh
  .github/scripts/azure_ekm_test.sh
  .github/scripts/azure_ekm_test_data/client_ca_cert.pem
  .github/scripts/azure_ekm_test_data/client_cert.pem
  .github/scripts/azure_ekm_test_data/client_key.pem
  .github/scripts/azure_ekm_test_data/generate_azure_ekm_test_data.sh
  .github/scripts/azure_ekm_test_data/server_ca_cert.pem
  .github/scripts/azure_ekm_test_data/server_cert.pem
  .github/scripts/azure_ekm_test_data/server_key.pem
  .github/scripts/nix.sh
  .github/scripts/test_all.sh
  .github/scripts/test_azure_ekm.sh
  .github/workflows/test_all.yml
Due: none

feat: more up 7
  .github/scripts/test_all.sh
Due: none

fix: nix
  .github/scripts/nix.sh
Due: none

feat: nix fix 3
  .github/scripts/azure_ekm_test.sh
  .github/scripts/test_all.sh
Due: none

feat: nix fix 4
  .github/scripts/test_azure_ekm.sh
  .github/workflows/test_all.yml
Due: none

fix: nix5
  .github/scripts/azure_ekm_mtls_test.sh
Due: none

feat: azure_ekm_proxy_api_version=0.1-preview (#601)
  .cargo/README.md
  .cargo/config.toml
  .github/copilot-instructions.md
  .github/scripts/azure_ekm_mtls_test.sh
  .github/scripts/azure_ekm_test.sh
  .github/scripts/nix.sh
  .github/scripts/test_all.sh
  .github/scripts/test_azure_ekm.sh
  .github/workflows/test_all.yml
  crate/server/src/config/command_line/azure_ekm_config.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/main.rs
  crate/server/src/routes/azure_ekm/contributing.md
  crate/server/src/routes/azure_ekm/error.rs
  crate/server/src/routes/azure_ekm/handlers.rs
  crate/server/src/routes/azure_ekm/mod.rs
  crate/server/src/routes/azure_ekm/models.rs
  crate/server/src/routes/mod.rs
  crate/server/src/routes/ms_dke/mod.rs
  crate/server/src/routes/utils.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/azure_ekm/integration_tests.rs
  crate/server/src/tests/azure_ekm/mod.rs
  crate/server/src/tests/mod.rs
  documentation/docs/azure/byok/byok.md
  documentation/docs/azure/byok/byok_create_kek.png
  documentation/docs/azure/byok/byok_download_kek_public_key.png
  documentation/docs/azure/byok/byok_import_jwe.png
  documentation/docs/azure/ekm/ekm.md
  documentation/docs/azure/ekm/high_level_arch.png
  documentation/docs/azure/ekm/sequence.svg
  documentation/docs/index.md
  documentation/includes.yml
  documentation/mkdocs.yml
  documentation/theme_overrides/assets/stylesheets/extra.css
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
Due: none

fix: security issue on KMIP import when replace_existing is requested with an explicit UID, verify the caller owns the object
  .github/scripts/nix.sh
  .github/workflows/test_all.yml
  crate/server/src/core/operations/import.rs
  crate/server/src/main.rs
  crate/server/src/routes/azure_ekm/error.rs
  crate/server/src/routes/azure_ekm/handlers.rs
  crate/server/src/routes/azure_ekm/mod.rs
  crate/server/src/routes/utils.rs
  crate/server_database/src/stores/sql/query.sql
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
