Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

fix(ui): fix but on empty string arguments given to wasm
  crate/clients/wasm/tests/wasm_bindings.rs
  ui/tests/e2e/certificates-certify.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Revert "a"
  CHANGELOG/feat_crypto_JWE_api.md
  Cargo.lock
  crate/clients/ckms/Cargo.toml
  crate/clients/ckms/src/tests/mod.rs
  crate/clients/ckms/src/tests/rest_crypto/encrypt_decrypt.rs
  crate/clients/ckms/src/tests/rest_crypto/error_cases.rs
  crate/clients/ckms/src/tests/rest_crypto/mac.rs
  crate/clients/ckms/src/tests/rest_crypto/mod.rs
  crate/clients/ckms/src/tests/rest_crypto/sign_verify.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/integrations/api.md
  documentation/docs/integrations/rest_crypto_api.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add E2E tests
  .github/scripts/nix.sh
  .github/scripts/test/rest_crypto_test.sh
  .github/scripts/test/test_rest_crypto.sh
  .github/workflows/test_all.yml
Due: none

delet this commit before merge
  AGENTS.md
Due: none

a
  CHANGELOG/feat_crypto_JWE_api.md
  Cargo.lock
  crate/clients/ckms/Cargo.toml
  crate/clients/ckms/src/tests/mod.rs
  crate/clients/ckms/src/tests/rest_crypto/encrypt_decrypt.rs
  crate/clients/ckms/src/tests/rest_crypto/error_cases.rs
  crate/clients/ckms/src/tests/rest_crypto/mac.rs
  crate/clients/ckms/src/tests/rest_crypto/mod.rs
  crate/clients/ckms/src/tests/rest_crypto/sign_verify.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/integrations/api.md
  documentation/docs/integrations/rest_crypto_api.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: full integration
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/error.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/tests/mod.rs
  crate/server/src/tests/rest_crypto.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: docs
  .vscode/settings.json
  AGENTS.md
  documentation/docs/integrations/api.md
  documentation/docs/integrations/rest_crypto_api.md
  documentation/mkdocs.yml
Due: none

feat: integration test fix and improve
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/error.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/tests/rest_crypto.rs
  crate/server/src/tests/rest_crypto/common.rs
  crate/server/src/tests/rest_crypto/encrypt_decrypt.rs
  crate/server/src/tests/rest_crypto/error_cases.rs
  crate/server/src/tests/rest_crypto/mac.rs
  crate/server/src/tests/rest_crypto/mod.rs
  crate/server/src/tests/rest_crypto/rfc_vectors.rs
  crate/server/src/tests/rest_crypto/sign_verify.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: first blocks
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/test_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: fmt
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/tests/rest_crypto/error_cases.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: fix ci again
  shell.nix
Due: nixfmt, statix

fix: final diff
  CHANGELOG/feat_crypto_JWE_api.md
  crate/server/src/routes/crypto/error.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: fin
  .github/scripts/test/rest_crypto_test.sh
  crate/server/src/routes/crypto/error.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: ci
  .github/scripts/test/rest_crypto_test.sh
  CHANGELOG/feat_crypto_JWE_api.md
  crate/server/src/core/operations/signature_verify.rs
  crate/server/src/routes/crypto/error.rs
  crate/server/src/routes/crypto/verify.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor: replace str with JoseAlgorithm/JoseEncAlgorithm enums in crypto routes
  .github/scripts/test/test_jose.sh
  CHANGELOG/feat_crypto_JWE_api.md
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/error.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/rest_crypto/error_cases.rs
  shell.nix
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: ECDSA P1363 encoding and KMIP import tag for JOSE tests
  .github/scripts/nix.sh
  .github/scripts/test/jose_interop_helper.py
  .github/scripts/test/test_jose.sh
  .github/scripts/test/test_rest_crypto.sh
  .github/workflows/test_all.yml
  CHANGELOG/feat_crypto_JWE_api.md
  crate/server/src/core/operations/mod.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/error.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/tests/rest_crypto/common.rs
  crate/server/src/tests/rest_crypto/error_cases.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add non regression test vectors
  README.md
  crate/server/src/tests/rest_crypto/jose_vectors.rs
  crate/server/src/tests/rest_crypto/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: fix rebase
  .github/scripts/test/test_hsm_softhsm2.sh
  crate/clients/ckms/src/tests/hsm/multi_softhsm2.rs
  crate/test_kms_server/src/lib.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: clippy
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: support CNG Key Storage Provider
  crate/clients/clap/Cargo.toml
  crate/clients/clap/src/actions/cng.rs
  crate/clients/cng/Cargo.toml
  crate/clients/cng/src/error.rs
  crate/clients/cng_verify/Cargo.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: support CNG Key Storage Provider
  CHANGELOG/intune.md
  Cargo.lock
  Cargo.toml
  README.md
  crate/clients/clap/Cargo.toml
  crate/clients/clap/src/actions/cng.rs
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/mod.rs
  crate/clients/cng/Cargo.toml
  crate/clients/cng/src/backend.rs
  crate/clients/cng/src/blob.rs
  crate/clients/cng/src/error.rs
  crate/clients/cng/src/key.rs
  crate/clients/cng/src/lib.rs
  crate/clients/cng/src/provider.rs
  crate/clients/cng/src/registry.rs
  crate/clients/cng/src/tests.rs
  crate/clients/cng_verify/Cargo.toml
  crate/clients/cng_verify/build.rs
  crate/clients/cng_verify/src/main.rs
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: build on Linux
  Cargo.lock
  cli_documentation/docs/cli/main_commands.md
  cli_documentation/docs/usage.md
  crate/clients/clap/src/actions/cng.rs
  crate/clients/cng/Cargo.toml
  crate/clients/cng/README.md
  crate/clients/cng/src/backend.rs
  crate/clients/cng/src/blob.rs
  crate/clients/cng/src/error.rs
  crate/clients/cng/src/key.rs
  crate/clients/cng/src/lib.rs
  crate/clients/cng/src/provider.rs
  crate/clients/cng/src/registry.rs
  crate/clients/cng/src/tests.rs
  crate/clients/cng_verify/README.md
  crate/clients/cng_verify/build.rs
  crate/clients/cng_verify/src/main.rs
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: add tests
  .github/scripts/windows/test_cng_ksp.ps1
  .github/workflows/test_windows.yml
  CHANGELOG/intune.md
Due: none

ci: add tests
  .github/workflows/test_windows.yml
Due: none

fix: add ObjectType::PrivateKey filter to locate_key_by_name; fix all clippy errors in cng crate
  crate/clients/clap/src/actions/cng.rs
  crate/clients/cng/src/backend.rs
  crate/clients/cng/src/lib.rs
  crate/clients/cng/src/provider.rs
  crate/clients/cng/src/registry.rs
  crate/clients/cng_verify/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: fix CNG integration tests
  .github/scripts/windows/test_cng_ksp.ps1
Due: none

test: fix locate_key_by_name
  CHANGELOG/intune.md
  crate/clients/cng/src/backend.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add integration tests
  .github/scripts/windows/test_cng_ksp.ps1
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
Due: none

fix: cargo fmt
  crate/clients/cng/src/provider.rs
  crate/clients/cng_verify/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: build on Linux
  Cargo.lock
  crate/clients/cng/Cargo.toml
Due: none

refactor: rename cosmian_kms_cng_ksp to cosmian_cng and cosmian_kms_cng_ksp_verify to cosmian_cng_verify
  .github/scripts/windows/cargo_build.ps1
  .github/scripts/windows/test_cng_ksp.ps1
  .github/workflows/build_windows.yml
  CHANGELOG/intune.md
  Cargo.lock
  cli_documentation/docs/cli/main_commands.md
  crate/clients/clap/src/actions/cng.rs
  crate/clients/cng/Cargo.toml
  crate/clients/cng/src/lib.rs
  crate/clients/cng_verify/Cargo.toml
  crate/clients/cng_verify/build.rs
  crate/clients/cng_verify/src/main.rs
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  crate/clients/cng_verify/build.rs
  crate/clients/cng_verify/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: refactor
  .github/scripts/package/package_common.sh
  .github/scripts/package/package_pkcs11_zip.sh
  .github/scripts/windows/cargo_build.ps1
  .github/scripts/windows/cargo_test.ps1
  .github/scripts/windows/test_cng_ksp.ps1
  .github/workflows/build_windows.yml
  .github/workflows/main_base.yml
  CHANGELOG/intune.md
  Cargo.lock
  Cargo.toml
  crate/clients/ckms/Cargo.toml
  crate/clients/clap/Cargo.toml
  crate/clients/clap/src/actions/cng.rs
  crate/clients/clap/src/actions/cng_verify.rs
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/mod.rs
  crate/clients/clap/src/actions/pkcs11.rs
  crate/clients/clap/src/actions/pkcs11_verify.rs
  crate/clients/cng/src/lib.rs
  crate/clients/cng/src/provider.rs
  crate/clients/cng/src/registry.rs
  crate/clients/cng_verify/Cargo.toml
  crate/clients/cng_verify/README.md
  crate/clients/cng_verify/build.rs
  crate/clients/pkcs11/loader/Cargo.toml
  crate/clients/pkcs11/loader/README.md
  crate/clients/pkcs11/loader/build.rs
  crate/clients/pkcs11/loader/src/lib.rs
  crate/clients/pkcs11/loader/src/main.rs
  crate/clients/pkcs11/loader/src/tests.rs
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
  documentation/docs/integrations/databases/oracle_tde.md
  nix/cli.nix
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: package cosmian_kms_cng_ksp DLL and cng_ksp_verify as a zip archive in Windows CI
  .github/scripts/windows/cargo_build.ps1
  .github/workflows/build_windows.yml
  CHANGELOG/intune.md
Due: none

fix: test ckms installation
  .github/scripts/windows/test_cng_ksp.ps1
  CHANGELOG/intune.md
  crate/clients/clap/src/actions/pkcs11.rs
  crate/clients/client/src/config.rs
  crate/clients/cng/src/lib.rs
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
  documentation/docs/integrations/databases/oracle_tde.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: update
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
Due: none

chore: refactor
  .github/workflows/main_base.yml
  crate/clients/clap/src/actions/cng_verify.rs
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/pkcs11_verify.rs
  crate/clients/cng/src/provider.rs
  crate/clients/cng/src/registry.rs
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
  documentation/docs/integrations/databases/oracle_tde.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
