Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

chore: align tests with spire_spiffe doc
  .mise/tasks/test/spire
  docker-compose.yml
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
  documentation/docs/integrations/spire_spiffe.md
Due: none

fix(spire): remove vault-proxy step, point VAULT_ADDR to KMS
  .mise/tasks/test/spire
Due: none

fix: second wave of reviews
  CHANGELOG/spire.md
  crate/server/documentation/openapi.yaml
  crate/server/src/routes/spire/transit.rs
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: cover the 12 adversarial scenarios
  .mise/tasks/test/spire
  documentation/docs/integrations/spire_spiffe.md
Due: none

chore: update pre-commit conf
  .pre-commit-config.yaml
Due: none

fix(spire): reject unsupported auto_rotate_period instead of dropping it
  crate/server/documentation/openapi.yaml
  crate/server/src/routes/spire/transit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(spire): move non-FIPS transit key gates to function level
  crate/server/src/routes/spire/transit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: add SPIRE PoC getting-started (kms.md) and KMS config (kms.toml)
  kms.md
  kms.toml
Due: none

fix: RSA keys always sign with PSS, even when the client asked for PKCS#1 v1.5
  CHANGELOG/spire-vault-compatible-api.md
  crate/server/src/routes/spire/transit.rs
  documentation/docs/integrations/spire_spiffe.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(spire): reject path traversal in unauthenticated auth proxy
  AGENTS.md
  CHANGELOG/spire-vault-compatible-api.md
  crate/server/src/routes/spire/auth_proxy.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(spire): use restrictive CORS on Vault-compatible scopes
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(spire): bound token cache with opportunistic expired-entry eviction
  crate/server/src/middlewares/spire_token.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(spire): remove undocumentable 409 Conflict from transit create
  crate/server/documentation/openapi.yaml
Due: none

fix: Keys are not exportable
  CHANGELOG/spire-vault-compatible-api.md
  crate/server/src/routes/spire/transit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(spire): drop unused Subject fields from sign-intermediate request
  crate/server/documentation/openapi.yaml
  crate/server/src/routes/spire/pki.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(spire): reset leftover state so test:spire is idempotent
  .mise/tasks/test/spire
Due: none

docs: add details on auth-admin and role_id
  documentation/docs/integrations/spire_spiffe.md
Due: none

test(spire): add unit tests for transit and PKI pure helpers
  crate/server/src/routes/spire/pki.rs
  crate/server/src/routes/spire/transit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(changelog): rewrite SPIRE entry against shipped design
  CHANGELOG/spire-vault-compatible-api.md
Due: none

docs(adr): record whole-second creation_time precision limitation
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
Due: none

docs(adr): record FIPS SPIRE paths untested in CI
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
Due: none

docs: show mistral-agents AppRole usage in End-to-end flow diagram
  documentation/docs/integrations/spire_spiffe.md
Due: none

test: add multi SPIRE servers
  .mise/tasks/test/spire
  docker-compose.yml
Due: none

fix(spire): reject empty entity_id to preserve per-tenant key isolation
  CHANGELOG/spire-vault-compatible-api.md
  crate/server/src/middlewares/spire_token.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review - again
  .mise/tasks/test/spire
  CHANGELOG/spire.md
  crate/clients/clap/src/actions/vault/approle.rs
  crate/server/src/routes/spire/auth_proxy.rs
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
  documentation/docs/integrations/spire_spiffe.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: clippy
  crate/server/src/routes/spire/transit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(spire): document the /v1/auth/* transparent proxy in openapi
  crate/server/documentation/openapi.yaml
Due: none

docs(adr): record single-tier CA chain limitation for SPIRE PKI
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
Due: none

fix(spire): insert AuthenticatedUser in spire_token_middleware to fix auth bypass
  crate/server/src/middlewares/spire_token.rs
  crate/server/src/routes/spire/pki.rs
  nix/kms-server.nix
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(spire): preserve HTTP method in auth proxy instead of collapsing to POST
  crate/server/src/routes/spire/auth_proxy.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(spire): remove duplicate cache test functions
  crate/server/src/middlewares/spire_token.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

style(server): rustfmt import ordering and sync log-reference.md
  crate/server/src/start_kms_server.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(spire): add setup section, SPIRE server config, install-page links
  documentation/docs/integrations/spire_spiffe.md
Due: none

fix(spire): detect multi-tier CA and fail loudly; fix ADR LIM-002 wording
  .gitignore
  crate/server/src/routes/spire/pki.rs
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
  documentation/docs/integrations/spire_spiffe.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
