Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

ci: split flamegraph use to dedicated GH workflow
  .github/workflows/flamegraph.yml
Due: none

ci: fix toml test
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: fix benchmarks (#1049)
  .github/workflows/benchmark.yml
  .github/workflows/flamegraph.yml
  .mise/scripts/bench/bench_run_flamegraph.sh
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: make the wrapping_key_id backfill a one-time
  crate/server_database/src/stores/migrate.rs
  crate/server_database/src/stores/redis/additional_redis_findex_tests.rs
  crate/server_database/src/stores/redis/objects_db.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  crate/server_database/src/tests/database_tests.rs
  crate/server_database/src/tests/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: make the wrapping_key_id backfill a one-time
  CHANGELOG/fix_migration.md
Due: none

docs: fix database configuration doc
  documentation/docs/configuration/database.md
  documentation/docs/configuration/log-reference.md
Due: none

fix(docs): Potential fix for pull request finding
  crate/server_database/src/stores/sql/sqlite.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: make the wrapping_key_id backfill a one-time (#1050)
  CHANGELOG/fix_migration.md
  crate/server_database/src/stores/migrate.rs
  crate/server_database/src/stores/redis/additional_redis_findex_tests.rs
  crate/server_database/src/stores/redis/objects_db.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  crate/server_database/src/tests/database_tests.rs
  crate/server_database/src/tests/mod.rs
  documentation/docs/configuration/database.md
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(changelog): add entry for 5.25.0
  CHANGELOG.md
  CHANGELOG/ci_tests.md
  CHANGELOG/develop.md
  CHANGELOG/docs_key-autorotation-spec.md
  CHANGELOG/feat_automate_key_rotation.md
  CHANGELOG/feat_jwks_endpoint.md
  CHANGELOG/feat_key-rotation-ckms-ui.md
  CHANGELOG/feat_loggingExtendedDocumentation.md
  CHANGELOG/feat_perf.md
  CHANGELOG/feat_sort_on_KMIP.md
  CHANGELOG/fix_migration.md
  CHANGELOG/fix_psql_failover_retry.md
  CHANGELOG/perf.md
  crate/server/documentation/openapi.yaml
  crate/server/src/config/wizard/http_wizard.rs
  pkg/kms.toml
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): fix three CI failures
  .github/workflows/release.yml
  .github/workflows/test_all.yml
  .github/workflows/test_windows.yml
Due: none

chore: flatten test_data configs and remove _doc.toml files
  .mise/scripts/docs/gen_vector_readme.py
  TESTS.md
  crate/clients/ckms/src/config.rs
  crate/clients/ckms/src/tests/utils/config.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/test_server.rs
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/configuration/database.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: tests - wip
  .mise/scripts/pykmip/kms.toml
  documentation/docs/configuration/log-reference.md
  documentation/docs/integrations/cloud_providers/aws/xks_migration.md
Due: none

fix: tests - wip
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/core/uid_utils.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: fix benchmarks publish
  .github/workflows/benchmark.yml
  .github/workflows/flamegraph.yml
Due: none

ci: fix benchmarks publish (#1054)
  .github/workflows/benchmark.yml
  .github/workflows/flamegraph.yml
Due: none

fix: PR review
  .gitignore
  Cargo.lock
  Cargo.toml
  crate/server/Cargo.toml
  crate/server/src/config/command_line/clap_config.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review 2
  crate/kmip/src/ttlv/wire/ttlv_bytes_serializer.rs
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/tests/migrate/redis_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: nix upgrade due to Rust toolchain upgrade
  crate/clients/wasm/src/wasm.rs
  crate/crypto/build.rs
  default.nix
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/ui.nix
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: nix upgrade due to Rust toolchain upgrade (#1057)
  crate/clients/wasm/src/wasm.rs
  crate/crypto/build.rs
  default.nix
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/ui.nix
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: stale connections in ckms
  crate/clients/client/src/http_client/client.rs
  crate/clients/client/src/http_client/tests.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: add changelog
  .github/skills/kms-changelog/SKILL.md
  AGENTS.md
  CHANGELOG/fix_stale_connections_in_ckms.md
Due: none

fix: start
  crate/server/README.md
Due: none

fix: update aws_xks_service
  crate/server/src/main.rs
  documentation/docs/integrations/cloud_providers/aws/xks.md
  documentation/docs/integrations/cloud_providers/aws/xks_migration.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: fix nix hash for cargo-generate-rpm
  default.nix
Due: nixfmt, statix

fix: PR review
  AGENTS.md
  crate/clients/client/src/http_client/client.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review 2
  crate/clients/client/src/http_client/client.rs
  crate/clients/client/src/http_client/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: stale connections in ckms (#1061)
  .github/skills/kms-changelog/SKILL.md
  AGENTS.md
  CHANGELOG/fix_stale_connections_in_ckms.md
  crate/clients/client/src/http_client/client.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: update aws_xks_service (#1065)
  crate/server/src/main.rs
  documentation/docs/integrations/cloud_providers/aws/xks.md
  documentation/docs/integrations/cloud_providers/aws/xks_migration.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: init
  deleteMe
Due: none

feat: big commit deleted history
  Cargo.lock
  crate/access/Cargo.toml
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/access/src/lib.rs
  crate/clients/ckms/src/commands.rs
  crate/clients/clap/src/actions/audit.rs
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/mod.rs
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/audit/mod.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/mod.rs
  crate/server/src/main.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: don't log "kmip" only
  Cargo.lock
  crate/access/src/audit/cef.rs
  crate/access/src/audit/hash.rs
  crate/clients/clap/src/actions/audit.rs
  crate/clients/clap/src/actions/kms_actions.rs
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/kmip.rs
  crate/server/src/start_kms_server.rs
  deleteMe
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: amazing update, IDs and algo are now recorded by audit
  AGENTS.md
  CHANGELOG/feat_audit_and_siem.md
  SECURITY.md
  cli_documentation/docs/audit.md
  cli_documentation/mkdocs.yml
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/clients/clap/src/actions/audit.rs
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/routes/kmip/handlers.rs
  crate/server/src/routes/kmip/mod.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/mod.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/adr/0003-audit-log-single-writer-design.md
  documentation/docs/adr/0004-audit-middleware-extension-injection.md
  documentation/docs/adr/0005-cef-siem-export-format.md
  documentation/docs/configuration/audit-logs.md
  documentation/docs/configuration/logging.md
  documentation/docs/configuration/siems.md
  documentation/mkdocs.yml
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: batching now works
  CHANGELOG/feat_audit_and_siem.md
  Cargo.lock
  crate/access/Cargo.toml
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/clients/clap/src/actions/audit.rs
  crate/clients/client_utils/Cargo.toml
  crate/kmip/src/ttlv/kmip_ttlv_deserializer/deserializer.rs
  crate/kmip/src/ttlv/kmip_ttlv_serializer.rs
  crate/server/Cargo.toml
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/main.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/adr/0003-audit-log-single-writer-design.md
  documentation/docs/adr/0004-audit-middleware-extension-injection.md
  documentation/docs/configuration/audit-logs.md
  documentation/docs/configuration/log-reference.md
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: iris
  .mise/scripts/test/test_iris.sh
  CHANGELOG/feat_audit_and_siem.md
Due: none

fix: another fix
  .mise/scripts/test/test_iris.sh
Due: none

ci: freeze iris db container version
  .github/workflows/test_all.yml
  docker-compose.yml
Due: none
