Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

chore: split off observability/OTel/monitoring content unrelated to audit (see feat/other_changes_than_audit)
  .github/workflows/test_all.yml
  .mise/lib/test_slots.sh
  .mise/scripts/test/monitoring-collector-config.yaml
  .mise/scripts/test/otlp-audit-collector-config.yaml
  .mise/scripts/test/test_monitoring.sh
  .mise/tasks/test/monitoring
  documentation/docs/SUMMARY.md
  documentation/docs/configuration/logging.md
  documentation/docs/configuration/monitoring-setup.md
  documentation/docs/configuration/otlp-metrics.md
  documentation/nav.yml
Due: none

chore: drop ADR references from test scripts (ADR filenames/numbers churn too much to hardcode)
  .mise/scripts/test/test_audit_log.sh
  .mise/scripts/test/test_cef_format.sh
  .mise/tasks/test/audit
  .mise/tasks/test/cef
  .mise/tasks/test/cef-format
  .mise/tasks/test/cef-syslog
  .mise/tasks/test/cef-tcp-syslog
Due: none

fix: post rebase fixes
  crate/server/src/core/otel_metrics.rs
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(audit): centralize event construction
  crate/access/src/audit/event.rs
  crate/access/src/audit/mod.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/audit/mod.rs
  crate/server/src/middlewares/audit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(audit): split middleware module
  crate/server/src/middlewares/audit/client_ip.rs
  crate/server/src/middlewares/audit/extensions.rs
  crate/server/src/middlewares/audit/mod.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(audit): define backend sink contract
  Cargo.lock
  crate/interfaces/Cargo.toml
  crate/interfaces/src/lib.rs
  crate/interfaces/src/stores/audit_sink.rs
  crate/interfaces/src/stores/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(audit): separate file sink internals
  crate/server/src/core/audit/file_sink.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/audit/mod.rs
  crate/server/src/core/audit/store.rs
  crate/server/src/core/audit/writer.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(audit): generalize AuditStore over AuditSink
  Cargo.lock
  crate/access/src/audit/event.rs
  crate/interfaces/src/stores/audit_sink.rs
  crate/server/Cargo.toml
  crate/server/src/core/audit/file_sink.rs
  crate/server/src/core/audit/store.rs
  crate/server/src/core/audit/writer.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(audit): add PostgreSQL persistence backend
  Cargo.lock
  crate/server_database/Cargo.toml
  crate/server_database/src/lib.rs
  crate/server_database/src/stores/audit/audit.sql
  crate/server_database/src/stores/audit/mod.rs
  crate/server_database/src/stores/audit/pgsql.rs
  crate/server_database/src/stores/audit/row.rs
  crate/server_database/src/stores/mod.rs
  crate/server_database/src/stores/sql/mod.rs
  crate/server_database/src/stores/sql/pgsql.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(audit): wire selectable audit backend
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/mod.rs
  crate/server/src/config/params/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_sink.rs
  crate/server/src/core/audit/mod.rs
  crate/server/src/core/audit/store.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/middlewares/audit/mod.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/test_utils.rs
  crate/server_database/src/core/main_db_params.rs
  crate/server_database/src/core/mod.rs
  crate/server_database/src/lib.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(cli): read PostgreSQL audit chains
  Cargo.lock
  crate/clients/clap/Cargo.toml
  crate/clients/clap/src/actions/audit.rs
  documentation/docs/kms_clients/cli/main_commands.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test/docs: PostgreSQL audit backend
  .mise/lib/test_slots.sh
  .mise/scripts/test/test_audit_postgres_log.sh
  .mise/tasks/test/audit-postgres
  CHANGELOG/feat_audit_pgSQL.md
  crate/clients/clap/src/actions/audit.rs
  docker-compose.yml
  documentation/docs/configuration/audit-logs.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/kms_clients/audit.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: post rebase fixes
  documentation/docs/kms_clients/cli/main_commands.md
Due: none

test(ci): add JSONL audit compat checks for OpenSearch/Splunk
  .github/workflows/audit-compat-opensearch.yml
  .github/workflows/audit-compat-splunk.yml
  .mise/scripts/test/fixtures/sample-audit.jsonl
  .mise/scripts/test/requirements-audit-compat.txt
  .mise/scripts/test/validate_audit_compat.py
  .mise/tasks/test/audit-compat-opensearch
  .mise/tasks/test/audit-compat-splunk
  deny.toml
  lychee.toml
  mise.toml
  schemas/kms-audit-fields.json
  schemas/kms-audit-mapping.json
Due: none

chore(ci): pin Splunk image to 10.4.2 instead of :latest
  .mise/tasks/test/audit-compat-splunk
Due: none

chore(ci): bump pinned OpenSearch image from 2.17.1 to 3.8.0
  .mise/tasks/test/audit-compat-opensearch
Due: none

feat(ci): generate live KMS audit fixture instead of static sample for SIEM compat checks
  .github/workflows/audit-compat-opensearch.yml
  .github/workflows/audit-compat-splunk.yml
  .mise/scripts/test/generate_live_audit_fixture.sh
  .mise/tasks/test/audit-compat-generate-fixture
  lychee.toml
Due: none

test: add SAP Sybase ASE and IBM Db2 LUW KMIP TDE integration tests
  .github/workflows/test_all.yml
  .mise/lib/test_slots.sh
  .mise/scripts/docker/ase/.gitignore
  .mise/scripts/docker/ase/Dockerfile
  .mise/scripts/docker/ase/configure_kmip.sql
  .mise/scripts/docker/ase/entrypoint.sh
  .mise/scripts/docker/ase/response.txt
  .mise/scripts/nix.sh
  .mise/scripts/test/test_ase_tde.sh
  .mise/scripts/test/test_db2_tde.sh
  .mise/tasks/test/ase
  .mise/tasks/test/db2
  _typos.toml
  crate/clients/client/src/http_client/client.rs
  crate/clients/client/src/http_client/tls.rs
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/module/src/tests.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/lib.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  deny.toml
  docker-compose.yml
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): avoid unaligned packed field references
  crate/clients/pkcs11/module/src/pkcs11.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: resolve nextest flakiness and expand mise test coverage
  .github/instructions/mise.instructions.md
  .mise/lib/common.sh
  .mise/tasks/test/_default
  .mise/tasks/test/iris
  CHANGELOG/fix_shared-resource-races.md
  crate/clients/ckms/src/tests/ensure_binary.rs
  crate/crypto/src/crypto/symmetric/tests.rs
  crate/interfaces/src/stores/permissions_store.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/tests/ttlv_tests/mod.rs
  crate/server/src/tests/ttlv_tests/pykmip.rs
  crate/server_database/src/stores/redis/permissions.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  crate/server_database/src/tests/permissions_test.rs
  documentation/docs/configuration/log-reference.md
  lychee.toml
  ui/src/utils/utils.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): capture certutil output safely on Windows
  .mise/scripts/windows/test_cng_ksp.ps1
Due: none

fix(ci): capture CNG list output on Windows
  .mise/scripts/windows/test_cng_ksp.ps1
Due: none

fix(mise): remove usage dep provoking github rate limite exceeded
  mise.toml
Due: none

feat(hsm): PKCS#11 v3.0 rollout — interface discovery + CKM_AES_GCM (#1156)
  CHANGELOG/pkcs11_v3_rollout.md
  README.md
  crate/clients/pkcs11/module/src/core/mechanism.rs
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/module/src/traits/backend.rs
  crate/clients/pkcs11/module/src/traits/encryption_algorithms.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  documentation/docs/adr/2026-09-04-pkcs11-v3-provider-rollout.md
  documentation/docs/integrations/disk_encryption/luks.md
  documentation/docs/integrations/disk_encryption/veracrypt.md
  documentation/docs/integrations/openssh.md
  documentation/docs/integrations/pkcs11_provider.md
  documentation/nav.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): keep legacy CK_FUNCTION_LIST.version at 2.40 for v2.40 compatibility
  crate/clients/pkcs11/module/src/pkcs11.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): reject undersized AES-GCM output buffers and report correct mechanism flags
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/provider/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): use read_unaligned for CK_GCM_PARAMS and CK_RSA_PKCS_PSS_PARAMS
  crate/clients/pkcs11/module/src/core/mechanism.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(pkcs11): fix Windows DLL naming, RSA mechanism table, and logging location
  documentation/docs/integrations/pkcs11_provider.md
Due: none

fix(pkcs11): bind CK_MECHANISM_INFO.flags to a local before formatting
  crate/clients/pkcs11/provider/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(pkcs11): add Ed25519 discovery regression tests for issue #1183
  CHANGELOG/pkcs11_v3_rollout.md
  crate/clients/pkcs11/provider/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): classify undersized AES-GCM decrypt input as a caller error
  crate/clients/pkcs11/provider/src/kms_object.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): bind CK_GCM_PARAMS.ulTagBits to a local before formatting
  crate/clients/pkcs11/module/src/core/mechanism.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add PKCS11 v3 client tests from pkcs11-tool
  .github/workflows/test_all.yml
  .mise/scripts/test/test_hsm_kek_pkcs11_sign.sh
  .mise/tasks/test/hsm-pkcs11-tool
  .mise/tasks/test/hsm-softhsm2
  CHANGELOG/pkcs11_v3_rollout.md
  crate/clients/pkcs11/module/src/traits/key_algorithm.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(nix): keep gcc lib path on LD_LIBRARY_PATH for WITH_HSM=1 shells
  CHANGELOG/pkcs11_v3_rollout.md
  shell.nix
Due: nixfmt, statix

docs(ci): sync log-reference.md with new CKM_AES_GCM log call-sites
  documentation/docs/configuration/log-reference.md
Due: none

test: improve coverage of PKCS11 interface
  .mise/lib/pkcs11_helpers.sh
  .mise/scripts/test/test_hsm_kek_pkcs11_sign.sh
  .mise/tasks/test/hsm-softhsm2
  CHANGELOG/pkcs11_v3_rollout.md
  Cargo.lock
  crate/clients/clap/src/actions/pkcs11.rs
  crate/clients/clap/src/actions/pkcs11_verify.rs
  crate/clients/pkcs11/module/src/core/object.rs
  crate/clients/pkcs11/module/src/error/mod.rs
  crate/clients/pkcs11/module/src/lib.rs
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/module/src/tests.rs
  crate/clients/pkcs11/module/src/tests_v3.rs
  crate/clients/pkcs11/module/src/traits/backend.rs
  crate/clients/pkcs11/module/src/traits/mod.rs
  crate/clients/pkcs11/provider/Cargo.toml
  crate/clients/pkcs11/provider/src/backend.rs
  crate/clients/pkcs11/provider/src/error/mod.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/lib.rs
  crate/clients/pkcs11/provider/src/pkcs11_public_key.rs
  crate/clients/pkcs11/provider/src/tests.rs
  crate/clients/pkcs11/provider/src/tests_v3.rs
  crate/crypto/src/crypto/elliptic_curves/verify.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(windows): tests
  crate/clients/clap/src/actions/pkcs11_verify.rs
  documentation/docs/configuration/log-reference.md
  ui/src/utils/utils.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(hsm): softhsm2 tests
  .mise/lib/pkcs11_helpers.sh
Due: none
