Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

fix(ci): re-grant XKS permissions on persistent server before test suite
  .mise/scripts/test/test_xks_remote.sh
Due: none

fix(ci): use correct operation name 'getattributes' in access/grant call
  .mise/scripts/test/test_xks_remote.sh
Due: none

fix(xks): support SigV4 secret keys >40 chars; update test_data submodule
  Cargo.lock
  crate/server/Cargo.toml
  crate/server/src/routes/aws_xks/sigv4_middleware.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: create a dedicated AWS-XKS user and grant permissions for him
  .mise/scripts/test/test_xks.sh
  CHANGELOG/fix_xks-proxy-acl-1093.md
  crate/server/src/routes/aws_xks/README.md
  crate/server/src/routes/aws_xks/encrypt_decrypt/decrypt_.rs
  crate/server/src/routes/aws_xks/encrypt_decrypt/encrypt_.rs
  crate/server/src/routes/aws_xks/encrypt_decrypt/mod.rs
  crate/server/src/routes/aws_xks/key_metadata.rs
  crate/server/src/routes/aws_xks/mod.rs
  crate/server/src/routes/aws_xks/tests.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/configuration/log-reference.md
  documentation/docs/integrations/cloud_providers/aws/xks.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(ci): add AWS KMS XKS end-to-end test via real AWS API
  .github/workflows/test_xks_remote.yml
  .mise/scripts/test/test_xks_aws_e2e.sh
Due: none

fix(ci): exclude percona.github.io from lychee — returns 503 to bots
  lychee.toml
Due: none

First working version
  cosmian-auth-bug-repro/.gitignore
  cosmian-auth-bug-repro/PROCEDURE_forwardauth_test.md
  cosmian-auth-bug-repro/README.md
  cosmian-auth-bug-repro/config/apisix-config.yaml
  cosmian-auth-bug-repro/config/auth-server.toml
  cosmian-auth-bug-repro/docker-compose.override.yml
  cosmian-auth-bug-repro/docker-compose.yml
Due: none

Included previously gitignored scripts
  cosmian-auth-bug-repro/PROCEDURE_forwardauth_test.md
  cosmian-auth-bug-repro/README.md
  cosmian-auth-bug-repro/test-scripts/reproduce.sh
  cosmian-auth-bug-repro/test-scripts/setup.sh
  cosmian-auth-bug-repro/test-scripts/teardown.sh
  cosmian-auth-bug-repro/test-scripts/verify_fixed.sh
Due: none

chore: init
  deleteMe
Due: none

feat: big commit deleted history
  Cargo.lock
  crate/access/Cargo.toml
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/access/src/lib.rs
  crate/clients/ckms/src/commands.rs
  crate/clients/clap/src/actions/audit.rs
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/mod.rs
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/audit/mod.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/mod.rs
  crate/server/src/main.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: don't log "kmip" only
  crate/access/src/audit/cef.rs
  crate/access/src/audit/hash.rs
  crate/clients/clap/src/actions/audit.rs
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/kmip.rs
  crate/server/src/start_kms_server.rs
  deleteMe
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: amazing update, IDs and algo are now recorded by audit
  AGENTS.md
  CHANGELOG/feat_audit_and_siem.md
  SECURITY.md
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/clients/clap/src/actions/audit.rs
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/routes/kmip/handlers.rs
  crate/server/src/routes/kmip/mod.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/mod.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/adr/0003-audit-log-single-writer-design.md
  documentation/docs/adr/0004-audit-middleware-extension-injection.md
  documentation/docs/adr/0005-cef-siem-export-format.md
  documentation/docs/configuration/audit-logs.md
  documentation/docs/configuration/logging.md
  documentation/docs/configuration/siems.md
  documentation/docs/kms_clients/audit.md
  documentation/nav.yml
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: batching now works
  CHANGELOG/feat_audit_and_siem.md
  Cargo.lock
  crate/access/Cargo.toml
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/clients/clap/src/actions/audit.rs
  crate/clients/client_utils/Cargo.toml
  crate/kmip/src/ttlv/kmip_ttlv_deserializer/deserializer.rs
  crate/kmip/src/ttlv/kmip_ttlv_serializer.rs
  crate/server/Cargo.toml
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/main.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/adr/0003-audit-log-single-writer-design.md
  documentation/docs/adr/0004-audit-middleware-extension-injection.md
  documentation/docs/configuration/audit-logs.md
  documentation/docs/configuration/log-reference.md
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: review fixes
  crate/kmip/src/ttlv/kmip_ttlv_serializer.rs
  crate/server/src/middlewares/audit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: post rebase fixes
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: post rebase fixes v2
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: some last fixes and review fixes
  crate/access/src/audit/cef.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/routes/kmip/handlers.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/test_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add CEF audit test suite
  .mise/scripts/nix.sh
  .mise/scripts/test/cef_interop_helper.py
  .mise/scripts/test/requirements-cef.txt
  .mise/scripts/test/test_cef_interop.sh
  .mise/tasks/test/cef-interop
Due: none

fix: add doc comment
  crate/access/src/audit/cef.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

WIP on fix/restrict_audit_info2
  crate/server/src/core/otel_metrics.rs
  crate/server/src/routes/kmip/audit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add coverage for per-user metric labels and cardinality overflow
  crate/access/src/audit/cef.rs
  crate/access/src/audit/hash.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/otel_metrics.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/routes/kmip/handlers.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: stick to CEF v27, create CEF doc page and test CEF format dynamically
  .github/skills/code-quality/SKILL.md
  .github/skills/mise/SKILL.md
  .github/workflows/test_all.yml
  .mise/scripts/nix.sh
  .mise/scripts/test/cef_helper.py
  .mise/scripts/test/cef_interop_helper.py
  .mise/scripts/test/test_cef.sh
  .mise/scripts/test/test_cef_interop.sh
  .mise/tasks/test/cef
  CHANGELOG/feat_audit_and_siem.md
  _typos.toml
  crate/access/src/audit/cef.rs
  crate/server/src/tests/audit_middleware.rs
  documentation/docs/SUMMARY.md
  documentation/docs/adr/2026-07-09-003-audit-log-single-writer-design.md
  documentation/docs/adr/2026-07-09-004-audit-middleware-extension-injection.md
  documentation/docs/adr/2026-07-09-005-cef-siem-export-format.md
  documentation/docs/configuration/cef-export.md
  documentation/docs/configuration/siems.md
  documentation/docs/kms_clients/audit.md
  documentation/nav.yml
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: cherry picked commit
  crate/server/src/core/otel_metrics.rs
  monitoring/OTLP_METRICS.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: fix docs
  crate/clients/clap/src/actions/audit.rs
  documentation/docs/configuration/siems.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): e2e tests
  ui/src/actions/Attributes/AttributeGet.tsx
  ui/tests/e2e/locate-filters.spec.ts
  ui/tests/e2e/locate-hsm.spec.ts
  ui/tests/e2e/tokenize.spec.ts
Due: ui-wasm-react-unit-tests

feat: reject mode
  CHANGELOG/feat_audit_and_siem.md
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/configuration/audit-logs.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: huge commit
  CHANGELOG/feat_audit_startup.md
  Cargo.lock
  crate/access/Cargo.toml
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/file_hash.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/clients/clap/src/actions/audit.rs
  crate/server/Cargo.toml
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/adr/2026-07-09-003-audit-log-single-writer-design.md
  documentation/docs/adr/2026-08-14-006-audit-log-always-start-recovery.md
  documentation/docs/configuration/audit-logs.md
  documentation/docs/installation/high_availability_mode.md
  documentation/docs/integrations/kubernetes/helm.md
  documentation/docs/kms_clients/audit.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: fix ci
  crate/clients/clap/src/actions/audit.rs
  crate/server/src/core/audit/file_store.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: reject mode audit middleware coverage
  crate/server/src/core/audit/file_store.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/test_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: ci again
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Revert "test: reject mode audit middleware coverage"
  crate/server/src/core/audit/file_store.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/test_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: rust sec
  Cargo.lock
  deny.toml
Due: none

test: add rejection mode tests
  crate/server/src/core/audit/file_store.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/test_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add max size
  CHANGELOG/feat_audit_startup.md
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/tests/audit_middleware.rs
  documentation/docs/configuration/audit-logs.md
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: log index
  documentation/docs/configuration/log-reference.md
Due: none

docs: add gh stack usage note to AGENTS.md
  AGENTS.md
Due: none

fix: PR review
  crate/server/src/core/operations/validate.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/stores/redis/additional_redis_findex_tests.rs
  crate/server_database/src/stores/redis/permissions.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  deny.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: threat model fixes
  .gitignore
  crate/clients/wasm/src/wasm.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/routes/access.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/key_ceremony_tests.rs
  threat-model-20260803-120000/0-architecture.md
  threat-model-20260803-120000/0-assessment.md
  threat-model-20260803-120000/1-dfd.md
  threat-model-20260803-120000/2-stride-analysis.md
  threat-model-20260803-120000/3-findings.md
  threat-model-20260803-120000/threat-inventory.json
  ui/src/actions/Access/CryptoOfficerRole.tsx
  ui/src/actions/Keys/JoinSplitKey.tsx
  ui/src/actions/Keys/SplitKey.tsx
  ui/tests/unit/split-key-logic.test.ts
  ui/tests/unit/tsx-imports/SplitKey.test.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(co-ceremony): add target_user to disable endpoint for peer revocation
  crate/server/src/core/kms/permissions.rs
  crate/server/src/routes/access.rs
  crate/server/src/tests/key_ceremony_tests.rs
  documentation/docs/adr/2026-06-24-two-role-rbac-crypto-officer-operator.md
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc
