Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

fix: PR review
  crate/clients/ckms/src/tests/certificates/certify_pqc.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(test): ignore test_server_with_pqc_tls_cert on all platforms
  crate/clients/ckms/src/tests/certificates/certify_pqc.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: add ADR
  documentation/docs/adr/0002-key-auto-rotation-keyset-chain-design.md
Due: none

test: add E2E tests on ckms and webui for keysets rotation
  .gitmodules
  .pre-commit-config.yaml
  crate/clients/ckms/src/tests/symmetric/rotation_policy.rs
  crate/clients/client_utils/src/attributes_utils.rs
  crate/clients/wasm/src/wasm.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/test_kms_server/src/vector_runner.rs
  ui/src/actions/Access/AccessObtained.tsx
  ui/src/actions/Objects/ObjectsOwned.tsx
  ui/src/components/common/Locate.tsx
  ui/tests/e2e/README.md
  ui/tests/e2e/keyset-addressing.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: dispatch functions to appropriate structs
  .gitmodules
  CHANGELOG/docs_key-autorotation-spec.md
  crate/interfaces/src/stores/object_with_metadata.rs
  crate/server/src/core/kms/other_kms_methods.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/certify/resolve_subject.rs
  crate/server/src/core/operations/create.rs
  crate/server/src/core/operations/create_key_pair.rs
  crate/server/src/core/operations/destroy.rs
  crate/server/src/core/operations/import.rs
  crate/server/src/core/operations/key_ops/authorization.rs
  crate/server/src/core/operations/key_ops/crypto_op.rs
  crate/server/src/core/operations/key_ops/key_resolution.rs
  crate/server/src/core/operations/key_ops/lifecycle.rs
  crate/server/src/core/operations/key_ops/mod.rs
  crate/server/src/core/operations/key_ops/usage_limits.rs
  crate/server/src/core/operations/recertify.rs
  crate/server/src/core/operations/register.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/server/src/core/operations/rekey/keypair.rs
  crate/server/src/core/operations/rekey/symmetric.rs
  crate/server/src/core/operations/revoke.rs
  crate/server/src/tests/rest_crypto/key_state.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): locate fix
  crate/server/src/core/operations/attributes/set.rs
  documentation/docs/kmip_support/key_auto_rotation.md
  ui/src/components/common/Locate.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: dispatch functions to appropriate existing structs
  crate/kmip/src/kmip_2_1/kmip_attributes.rs
  crate/kmip/src/kmip_2_1/kmip_objects.rs
  crate/kmip/src/kmip_2_1/kmip_types.rs
  crate/server/src/core/operations/create.rs
  crate/server/src/core/operations/create_key_pair.rs
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/core/operations/key_ops/crypto_op.rs
  crate/server/src/core/operations/key_ops/mod.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/core/operations/recertify.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/server/src/core/operations/rekey/keypair.rs
  crate/server/src/core/operations/rekey/mod.rs
  crate/server/src/core/operations/rekey/symmetric.rs
  crate/server/src/core/operations/sign.rs
  crate/server/src/core/operations/signature_verify.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: test keyset on rsa keypair
  .github/workflows/main_base.yml
  .mise/scripts/docs/update_log_index.py
  .mise/scripts/test/find_unused_vector_json.py
  crate/server/src/core/operations/key_ops/crypto_op.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): add ReCertify op
  .mise/scripts/git/loc_diff.py
  .mise/tasks/git/loc-diff
  documentation/docs/configuration/log-reference.md
  ui/src/App.tsx
  ui/src/actions/Certificates/CertificateReCertify.tsx
  ui/src/menuItems.tsx
Due: ui-wasm-react-unit-tests

feat: hsm keyset feature
  crate/clients/ckms/src/tests/hsm/mod.rs
  crate/clients/ckms/src/tests/hsm/rekey.rs
  crate/clients/clap/src/actions/shared/rotation_policy_args.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/interfaces/src/crypto_oracle.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/interfaces/src/hsm/interface.rs
  crate/server/src/core/operations/attributes/set.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/server/src/core/operations/rekey/keypair/covercrypt.rs
  crate/server/src/core/operations/rekey/keypair/mod.rs
  crate/server/src/core/operations/rekey/keypair/sql.rs
  crate/server/src/core/operations/rekey/symmetric.rs
  crate/server/src/core/operations/rekey/symmetric/hsm.rs
  crate/server/src/core/operations/rekey/symmetric/mod.rs
  crate/server/src/core/operations/rekey/symmetric/sql.rs
  crate/server/src/core/uid_utils.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/lib.rs
  crate/test_kms_server/src/test_server.rs
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/adr/0002-key-auto-rotation-keyset-chain-design.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/kmip_support/key_rotation/_re-certify.md
  documentation/docs/kmip_support/key_rotation/_re-key.md
  documentation/docs/kmip_support/key_rotation/_re-key_key_pair.md
  documentation/docs/kmip_support/key_rotation/auto_rotation_policy.md
  documentation/docs/kmip_support/key_rotation/hsm.md
  documentation/docs/kmip_support/key_rotation/index.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): fix DOC_FILE path in update_log_index.py
  .mise/scripts/docs/update_log_index.py
Due: none

fix: rotate of HSM wrapping key id
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/server/src/core/operations/attributes/get.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/server/src/core/operations/rekey/symmetric/hsm.rs
  crate/server/src/core/operations/rekey/symmetric/mod.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/kmip_support/key_rotation/hsm.md
  documentation/docs/kmip_support/key_rotation/index.md
  ui/src/components/common/Locate.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(docs): migrate update_log_index.py to .mise/scripts/docs/
  .mise/scripts/docs/generate_docs.sh
  .mise/scripts/docs/update_log_index.py
  .mise/tasks/docs/log-index-check
  .pre-commit-config.yaml
  documentation/docs/kmip_support/key_rotation/_re-key.md
  documentation/docs/kmip_support/key_rotation/_re-key_key_pair.md
  documentation/docs/kmip_support/key_rotation/auto_rotation_policy.md
  documentation/docs/kmip_support/key_rotation/hsm.md
  documentation/docs/kmip_support/key_rotation/index.md
  scripts/update_log_index.py
Due: none

fix: change find_due_for_rotation signature to also return owner
  .pre-commit-config.yaml
  crate/interfaces/src/hsm/hsm_store.rs
  crate/interfaces/src/stores/objects_store.rs
  crate/server/src/core/operations/auto_rotate.rs
  crate/server/src/core/operations/rekey/symmetric/hsm.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/stores/sql/locate_query.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/sqlite.rs
  crate/test_kms_server/benches/http_throughput.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: fill wrapping key id as KMIP attritubte when present
  .mise/scripts/docs/gen_vector_readme.py
  .mise/tasks/docs/vector-readme
  .pre-commit-config.yaml
  crate/clients/clap/src/actions/elliptic_curves/keys/create_key_pair.rs
  crate/clients/clap/src/actions/pqc/keys/create_key_pair.rs
  crate/clients/clap/src/actions/rsa/keys/create_key_pair.rs
  crate/clients/clap/src/actions/shared/rotation_policy_args.rs
  crate/clients/clap/src/actions/symmetric/keys/create_key.rs
  crate/server/src/core/operations/create.rs
  crate/server/src/core/operations/create_key_pair.rs
  crate/server/src/core/operations/import.rs
  crate/server/src/tests/security_regression.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/test_server.rs
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/kmip_support/key_rotation/auto_rotation_policy.md
  documentation/docs/kmip_support/key_rotation/index.md
  ui/src/actions/EC/ECKeysCreate.tsx
  ui/src/actions/Keys/SymKeysCreate.tsx
  ui/src/actions/PQC/PqcKeysCreate.tsx
  ui/src/actions/RSA/RsaKeysCreate.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: test in non-fips
  .github/copilot-instructions.md
  .github/skills/README.md
  .github/skills/rust-simplify/SKILL.md
  AGENTS.md
  crate/server/src/core/operations/export_get.rs
  crate/server/src/core/operations/recertify.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/server/src/core/operations/rekey/keypair/sql.rs
  crate/server/src/core/operations/rekey/symmetric/hsm.rs
  crate/server/src/core/operations/rekey/symmetric/sql.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add Known-Answer Test files
  CHANGELOG/docs_key-autorotation-spec.md
  crate/server/src/core/operations/attributes/get.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/server/src/core/operations/rekey/keypair/sql.rs
  crate/server/src/core/operations/rekey/symmetric/mod.rs
  crate/server/src/core/operations/rekey/symmetric/sql.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: implement find_due_for_rotation for Redis
  .mise/lib/softhsm2.sh
  .mise/scripts/git/loc_diff.py
  .mise/tasks/test/mariadb
  .mise/tasks/test/mysql
  .mise/tasks/test/percona
  .mise/tasks/test/psql
  .mise/tasks/test/redis
  .mise/tasks/test/sqlite
  crate/interfaces/src/hsm/hsm_store.rs
  crate/interfaces/src/stores/objects_store.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/stores/redis/objects_db.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/locate_query.rs
  crate/server_database/src/stores/sql/mod.rs
  crate/server_database/src/tests/database_tests.rs
  crate/server_database/src/tests/mod.rs
  crate/test_kms_server/src/db_hsm_tests.rs
  crate/test_kms_server/src/lib.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: multiple fixes
  .mise/tasks/bench/regression
  .mise/tasks/test/sqlite
  documentation/docs/configuration/log-reference.md
Due: none

refactor: simplify code
  crate/clients/clap/src/actions/certificates/revoke_certificate.rs
  crate/clients/clap/src/actions/cover_crypt/keys/revoke_key.rs
  crate/clients/clap/src/actions/elliptic_curves/keys/revoke_key.rs
  crate/clients/clap/src/actions/fpe/keys/revoke_key.rs
  crate/clients/clap/src/actions/opaque_object/revoke.rs
  crate/clients/clap/src/actions/pqc/keys/revoke_key.rs
  crate/clients/clap/src/actions/rsa/keys/revoke_key.rs
  crate/clients/clap/src/actions/secret_data/revoke_secret.rs
  crate/clients/clap/src/actions/shared/mod.rs
  crate/clients/clap/src/actions/shared/revoke_reason_args.rs
  crate/clients/clap/src/actions/symmetric/keys/revoke_key.rs
  crate/clients/clap/src/tests/metrics.rs
  crate/clients/clap/src/tests/oom/large_payloads.rs
  crate/server/src/core/uid_utils.rs
  crate/server/src/cron.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: tests
  crate/clients/ckms/src/commands.rs
  crate/clients/pkcs11/module/src/core/object.rs
  crate/clients/wasm/src/wasm.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/otel_metrics.rs
  crate/server/src/routes/kmip.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: update log-reference
  Cargo.lock
  documentation/docs/configuration/log-reference.md
Due: none

chore: add AI skills simplify
  .github/skills/simplify-code/SKILL.md
Due: none

fix: PR review: revoke state must be Compromised depending on Reason Code
  crate/clients/clap/src/actions/shared/utils/revoke_utils.rs
  crate/clients/client_utils/src/lib.rs
  crate/clients/client_utils/src/revoke_utils.rs
  crate/clients/wasm/src/wasm.rs
  crate/clients/wasm/tests/wasm_bindings.rs
  crate/server/src/core/operations/certify/resolve_issuer.rs
  crate/server/src/core/operations/recertify.rs
  crate/server/src/core/operations/revoke.rs
  crate/server/src/tests/mod.rs
  crate/server/src/tests/revoke_tests.rs
  documentation/docs/kmip_support/key_rotation/index.md
  ui/src/App.tsx
  ui/src/actions/EC/ECReKey.tsx
  ui/src/actions/Keys/KeysReKey.tsx
  ui/src/actions/Objects/ObjectsReKey.tsx
  ui/src/actions/Objects/ObjectsRevoke.tsx
  ui/src/actions/PQC/PqcReKey.tsx
  ui/src/actions/RSA/RsaReKey.tsx
  ui/tests/e2e/rekey-flow.spec.ts
  ui/tests/e2e/routes.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(ui): attributes + key usage
  crate/clients/client_utils/src/attributes_utils.rs
  crate/clients/wasm/Cargo.toml
  crate/clients/wasm/src/wasm.rs
  ui/src/actions/Attributes/AttributeDelete.tsx
  ui/src/actions/Attributes/AttributeGet.tsx
  ui/src/actions/Attributes/AttributeModify.tsx
  ui/src/actions/Attributes/AttributeSet.tsx
  ui/src/actions/Attributes/AttributeValueInput.tsx
  ui/src/actions/Attributes/attributeRegistry.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: automate key rotation using scheduler
  CHANGELOG/feat_automate_key_rotation.md
  crate/clients/clap/src/actions/certificates/mod.rs
  crate/server/src/core/operations/attributes/set.rs
  crate/server/src/core/operations/auto_rotate.rs
  crate/server/src/core/operations/certify/build_certificate.rs
  crate/server/src/core/operations/certify/certify_op.rs
  crate/server/src/core/operations/recertify.rs
  crate/server/src/core/otel_metrics.rs
  crate/server/src/cron.rs
  documentation/docs/adr/0002-key-auto-rotation-keyset-chain-design.md
  documentation/docs/configuration/log-reference.md
  ui/src/actions/Certificates/CertificateCertify.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update adr skill
  .github/skills/adr/SKILL.md
Due: none

feat: automate key rotation using scheduler (#1037)
  .github/skills/adr/SKILL.md
  CHANGELOG/feat_automate_key_rotation.md
  crate/clients/clap/src/actions/certificates/mod.rs
  crate/server/src/core/operations/attributes/set.rs
  crate/server/src/core/operations/auto_rotate.rs
  crate/server/src/core/operations/certify/build_certificate.rs
  crate/server/src/core/operations/certify/certify_op.rs
  crate/server/src/core/operations/recertify.rs
  crate/server/src/core/otel_metrics.rs
  crate/server/src/cron.rs
  documentation/docs/adr/0002-key-auto-rotation-keyset-chain-design.md
  documentation/docs/configuration/log-reference.md
  ui/src/actions/Certificates/CertificateCertify.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review and bump quick-xml version
  Cargo.lock
  crate/kmip/Cargo.toml
  crate/kmip/src/ttlv/xml/deserializer.rs
  crate/kmip/src/ttlv/xml/parser.rs
  crate/server/src/core/operations/rekey/symmetric/hsm.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: rust security
  CHANGELOG/fix_rustsec.md
  Cargo.lock
  crate/kmip/Cargo.toml
  crate/kmip/src/ttlv/xml/deserializer.rs
  crate/kmip/src/ttlv/xml/parser.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: fix
  crate/clients/client_utils/src/attributes_utils.rs
  ui/src/components/common/Locate.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: hangelog
  CHANGELOG/feat_sort_on_KMIP.md
  ui/tests/e2e/locate-attributes.spec.ts
Due: ui-wasm-react-unit-tests

feat: final refactor and push
  ui/src/components/common/Locate.tsx
Due: ui-wasm-react-unit-tests

fix: changelog
  CHANGELOG/feat_sort_on_KMIP.md
Due: none

fix: del conflict chunk
  ui/src/components/common/Locate.tsx
Due: ui-wasm-react-unit-tests

a
  CHANGELOG/feat_sort_on_KMIP.md
  ui/src/components/common/HashMapDisplay.tsx
  ui/src/components/common/Locate.tsx
Due: ui-wasm-react-unit-tests

fix: delete slop manually
  ui/src/components/common/Locate.tsx
Due: ui-wasm-react-unit-tests
