Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

fix(certify): CSR-based Certify with TTL — regression tests + CHANGELOG
  CHANGELOG/rbac_rego.md
  crate/server/src/tests/crl_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: allow CO key ceremony when OPA enforcing mode is enabled
  crate/server/src/config/command_line/opa_config.rs
  crate/server/src/core/retrieve_object_utils.rs
  crate/server/src/tests/key_ceremony_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(server_database): execute create_crls table in SQLite init transaction
  crate/server_database/src/stores/sql/sqlite.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add new OPA test scenarios
  .mise/scripts/test/test_opa_rbac.sh
  crate/server/src/core/retrieve_object_utils.rs
  crate/server/src/middlewares/auth_verifier/mod.rs
  crate/server/src/middlewares/auth_verifier/token.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/middlewares/session_auth.rs
  crate/server/src/routes/ui_auth.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  ui/tests/e2e-auth/auth-verifier-login.spec.ts
  ui/tests/e2e/login-page-auth-method-matrix.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(test): properly mock all auth bootstrap endpoints in matrix tests
  ui/tests/e2e/login-page-auth-method-matrix.spec.ts
Due: ui-wasm-react-unit-tests

test(opa): exhaustive unit tests for all OPA modules + middleware domain extraction
  CHANGELOG/rbac_rego.md
  crate/clients/ckms/src/tests/security/privilege_bypass.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/opa_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/opa/client.rs
  crate/server/src/core/opa/config.rs
  crate/server/src/core/opa/context.rs
  crate/server/src/core/opa/input.rs
  crate/server/src/core/operations/dispatch.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/core/retrieve_object_utils.rs
  crate/server/src/middlewares/auth_verifier/token.rs
  crate/server/src/middlewares/jwt/jwt_token_auth.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/adr/2026-06-24-rbac-opa-authorization.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(server): use find_active_co in auto-CRL trigger after revocation
  crate/server/src/core/operations/revoke.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: french files
  CHANGELOG/feat_french_kms.md
  ui/src/i18n/localeRegistry.ts
  ui/src/i18n/locales/fr/actions.json
  ui/src/i18n/locales/fr/common.json
  ui/src/i18n/locales/fr/layout.json
  ui/src/i18n/locales/fr/locate.json
  ui/src/i18n/locales/fr/menu.json
  ui/src/i18n/useAppLocale.ts
Due: ui-wasm-react-unit-tests

fix: wrong doc indentation
  documentation/docs/SUMMARY.md
Due: none

feat: translation
  ui/src/actions/Access/CryptoOfficerRole.tsx
  ui/src/actions/CloudProviders/AwsImportKek.tsx
  ui/src/i18n/locales/fr/actions.json
  ui/src/i18n/locales/fr/common.json
  ui/src/i18n/locales/fr/menu.json
Due: ui-wasm-react-unit-tests

feat: refactor
  ui/src/actions/Access/CryptoOfficerRole.tsx
  ui/src/actions/CloudProviders/AwsImportKek.tsx
  ui/src/components/layout/Header.tsx
  ui/src/utils/utils.ts
Due: ui-wasm-react-unit-tests

fix(server): align crypto officer ceremony handling
  crate/clients/clap/src/actions/access.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/config/wizard/advanced_wizard.rs
  crate/server/src/config/wizard/mod.rs
  crate/server/src/tests/crl_tests.rs
  crate/server_database/src/core/database_permissions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(docs): update log reference index
  .mise/scripts/docs/update_log_index.py
  documentation/docs/configuration/log-reference.md
Due: none

docs: add en version
  documentation/presentation/slides_desc_en.md
Due: none

chore: init
  deleteMe
Due: none

feat: big commit deleted history
  Cargo.lock
  crate/access/Cargo.toml
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/access/src/lib.rs
  crate/clients/ckms/src/commands.rs
  crate/clients/clap/src/actions/audit.rs
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/mod.rs
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/audit/mod.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/mod.rs
  crate/server/src/main.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: don't log "kmip" only
  crate/access/src/audit/cef.rs
  crate/access/src/audit/hash.rs
  crate/clients/clap/src/actions/audit.rs
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/kmip.rs
  crate/server/src/start_kms_server.rs
  deleteMe
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: amazing update, IDs and algo are now recorded by audit
  AGENTS.md
  CHANGELOG/feat_audit_and_siem.md
  SECURITY.md
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/clients/clap/src/actions/audit.rs
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/routes/kmip/handlers.rs
  crate/server/src/routes/kmip/mod.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/mod.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/adr/0003-audit-log-single-writer-design.md
  documentation/docs/adr/0004-audit-middleware-extension-injection.md
  documentation/docs/adr/0005-cef-siem-export-format.md
  documentation/docs/configuration/audit-logs.md
  documentation/docs/configuration/logging.md
  documentation/docs/configuration/siems.md
  documentation/docs/kms_clients/audit.md
  documentation/nav.yml
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: batching now works
  CHANGELOG/feat_audit_and_siem.md
  Cargo.lock
  crate/access/Cargo.toml
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/clients/clap/src/actions/audit.rs
  crate/clients/client_utils/Cargo.toml
  crate/kmip/src/ttlv/kmip_ttlv_deserializer/deserializer.rs
  crate/kmip/src/ttlv/kmip_ttlv_serializer.rs
  crate/server/Cargo.toml
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/main.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/adr/0003-audit-log-single-writer-design.md
  documentation/docs/adr/0004-audit-middleware-extension-injection.md
  documentation/docs/configuration/audit-logs.md
  documentation/docs/configuration/log-reference.md
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: review fixes
  crate/kmip/src/ttlv/kmip_ttlv_serializer.rs
  crate/server/src/middlewares/audit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: post rebase fixes
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: post rebase fixes v2
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: some last fixes and review fixes
  crate/access/src/audit/cef.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/routes/kmip/handlers.rs
  crate/server/src/tests/audit_middleware.rs
  crate/server/src/tests/test_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add CEF audit test suite
  .mise/scripts/nix.sh
  .mise/scripts/test/cef_interop_helper.py
  .mise/scripts/test/requirements-cef.txt
  .mise/scripts/test/test_cef_interop.sh
  .mise/tasks/test/cef-interop
Due: none

fix: add doc comment
  crate/access/src/audit/cef.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add coverage for per-user metric labels and cardinality overflow
  crate/access/src/audit/cef.rs
  crate/access/src/audit/hash.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/otel_metrics.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/routes/kmip/audit.rs
  crate/server/src/routes/kmip/handlers.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

WIP on fix/restrict_audit_info2
  crate/server/src/core/otel_metrics.rs
  crate/server/src/routes/kmip/audit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: stick to CEF v27, create CEF doc page and test CEF format dynamically
  .github/skills/code-quality/SKILL.md
  .github/skills/mise/SKILL.md
  .github/workflows/test_all.yml
  .mise/scripts/nix.sh
  .mise/scripts/test/cef_helper.py
  .mise/scripts/test/cef_interop_helper.py
  .mise/scripts/test/test_cef.sh
  .mise/scripts/test/test_cef_interop.sh
  .mise/tasks/test/cef
  CHANGELOG/feat_audit_and_siem.md
  _typos.toml
  crate/access/src/audit/cef.rs
  crate/server/src/tests/audit_middleware.rs
  documentation/docs/SUMMARY.md
  documentation/docs/adr/2026-07-09-003-audit-log-single-writer-design.md
  documentation/docs/adr/2026-07-09-004-audit-middleware-extension-injection.md
  documentation/docs/adr/2026-07-09-005-cef-siem-export-format.md
  documentation/docs/configuration/cef-export.md
  documentation/docs/configuration/siems.md
  documentation/docs/kms_clients/audit.md
  documentation/nav.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: cherry picked commit
  crate/server/src/core/otel_metrics.rs
  monitoring/OTLP_METRICS.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): e2e tests
  ui/tests/e2e/locate-filters.spec.ts
  ui/tests/e2e/locate-hsm.spec.ts
  ui/tests/e2e/tokenize.spec.ts
Due: ui-wasm-react-unit-tests

fix: fix docs
  crate/clients/clap/src/actions/audit.rs
  documentation/docs/configuration/siems.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: reject mode
  CHANGELOG/feat_audit_and_siem.md
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/configuration/audit-logs.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: post rebase fixes
  crate/server/src/middlewares/audit.rs
  crate/server/src/tests/test_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: rebase
  .mise/tasks/test/edb-tde
  .mise/tasks/test/hsm-proteccio
  .pre-commit-config.yaml
  crate/server/src/tests/crl_tests.rs
  crate/server_database/src/core/database_permissions.rs
  crate/test_kms_server/README.md
  documentation/docs/configuration/authorization/key_ceremony.md
  documentation/docs/configuration/log-reference.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: fix rebase
  .pre-commit-config.yaml
  crate/server_database/src/stores/redis/redis_with_findex.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: log index
  crate/server/src/main.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: huge commit
  CHANGELOG/feat_audit_startup.md
  Cargo.lock
  crate/access/Cargo.toml
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/file_hash.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/clients/clap/src/actions/audit.rs
  crate/server/Cargo.toml
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/middlewares/audit.rs
  documentation/docs/adr/2026-07-09-003-audit-log-single-writer-design.md
  documentation/docs/adr/2026-08-14-006-audit-log-always-start-recovery.md
  documentation/docs/configuration/audit-logs.md
  documentation/docs/installation/high_availability_mode.md
  documentation/docs/integrations/kubernetes/helm.md
  documentation/docs/kms_clients/audit.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: fix ci
  crate/clients/clap/src/actions/audit.rs
  crate/server/src/core/audit/file_store.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
