Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

fix: fixes
  AGENTS.md
Due: none

fix: bring back hooks
  AGENTS.md
Due: none

ci: fix edb test
  .github/workflows/test_all.yml
  CHANGELOG/feat_edb_tde.md
Due: none

refactor: move EDB container lifecycle to nix wrapper and test_all.yml
  .github/scripts/edb_tde/test_edb_tde.sh
  .github/scripts/test/test_edb_tde.sh
  .github/workflows/test_all.yml
  CHANGELOG/feat_edb_tde.md
Due: none

feat(deploy): add OPA + KMS and Keycloak RBAC docker-compose stacks
  CHANGELOG/feat_deploy_opa.md
  crate/server/src/middlewares/jwt/jwt_config.rs
  deploy/rbac/.gitignore
  deploy/rbac/docker-compose.yml
  deploy/rbac/keycloak/realm-export.json
  deploy/rbac/opa/policy/data.json
  deploy/rbac/opa/policy/default_rbac.rego
  deploy/rbac/test.sh
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: AGENTS.md consolidated (#982)
  .github/copilot-instructions.md
  AGENTS.md
Due: none

fix: tests
  crate/server/src/core/operations/attributes/set.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: bad prefix for exported RSA key + fix on PEM export
  .github/scripts/windows/test_cng_ksp.ps1
  CHANGELOG/intune.md
  crate/clients/clap/src/actions/cng_verify.rs
  crate/clients/cng/src/blob.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: handle already registered DLL. Make intune a hard dependency of CI
  .github/scripts/windows/test_cng_ksp.ps1
  CHANGELOG/intune.md
  crate/clients/clap/src/actions/cng.rs
  crate/clients/cng/src/registry.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: rustfmt and PS5.1 re-launch for Intune CNG tests
  .github/scripts/windows/test_cng_ksp.ps1
  CHANGELOG/intune.md
  crate/clients/clap/src/actions/cng.rs
  crate/clients/cng/src/registry.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: bad prefix for exported RSA key + fix on PEM export (#996)
  .github/scripts/windows/test_cng_ksp.ps1
  CHANGELOG/intune.md
  crate/clients/clap/src/actions/cng.rs
  crate/clients/clap/src/actions/cng_verify.rs
  crate/clients/cng/src/blob.rs
  crate/clients/cng/src/registry.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: support EDB PostgreSQL TDE + fix Intune keys export (#994)
  .github/scripts/edb_tde/Dockerfile.edb
  .github/scripts/edb_tde/README.md
  .github/scripts/edb_tde/create_master_key.py
  .github/scripts/edb_tde/edb_startup.sh
  .github/scripts/edb_tde/pykmip.conf
  .github/scripts/edb_tde/pykmip_docker.conf
  .github/scripts/edb_tde/setup_edb_tde.sh
  .github/scripts/edb_tde/sitecustomize.py
  .github/scripts/edb_tde/test_edb_tde.sh
  .github/scripts/nix.sh
  .github/scripts/test/test_edb_tde.sh
  .github/scripts/windows/test_cng_ksp.ps1
  .github/workflows/test_all.yml
  CHANGELOG/feat_edb_tde.md
  CHANGELOG/intune.md
  README.md
  crate/clients/clap/src/actions/cng.rs
  crate/clients/clap/src/actions/cng_verify.rs
  crate/clients/cng/src/blob.rs
  crate/clients/cng/src/registry.rs
  crate/server/src/core/operations/attributes/set.rs
  crate/server/src/core/operations/decrypt.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  docker-compose.yml
  documentation/docs/integrations/databases/edb_postgres_tde.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: add IRIS database mTLS integration test with Cosmian KMS
  .github/scripts/nix.sh
  .github/scripts/test/test_iris.sh
  .github/workflows/packaging-docker.yml
  .github/workflows/test_all.yml
  docker-compose.yml
  documentation/docs/integrations/databases/intersystems_iris.md
  documentation/mkdocs.yml
  shell.nix
Due: nixfmt, statix

fix: add PrivateKeyFile to IRIS TLS config — required when CertificateFile is set
  .github/scripts/test/test_iris.sh
Due: none

fix: wait for USER namespace availability before baseline insert
  .github/scripts/test/test_iris.sh
Due: none

fix: skip KMIP operations gracefully when #1224 (Community Edition limitation)
  .github/scripts/test/test_iris.sh
Due: none

ci: add IRIS database mTLS integration test with Cosmian KMS (#965)
  .github/scripts/nix.sh
  .github/scripts/test/test_iris.sh
  .github/workflows/packaging-docker.yml
  .github/workflows/test_all.yml
  docker-compose.yml
  documentation/docs/integrations/databases/intersystems_iris.md
  documentation/mkdocs.yml
  shell.nix
Due: nixfmt, statix

docs: add key auto-rotation specification
  CHANGELOG/docs_key-autorotation-spec.md
  README.md
  documentation/docs/kmip_support/key_auto_rotation.md
  documentation/mkdocs.yml
Due: none

[auto-rotation feature] feat(rekey): Manual rotation for all key types + test vectors (#969)
  CHANGELOG/feat_key-rotation-manual.md
  crate/interfaces/src/stores/objects_store.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/kmip_2_1/kmip_messages.rs
  crate/kmip/src/kmip_2_1/kmip_operations.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/certify/build_certificate.rs
  crate/server/src/core/operations/certify/issuer.rs
  crate/server/src/core/operations/certify/mod.rs
  crate/server/src/core/operations/certify/resolve_issuer.rs
  crate/server/src/core/operations/certify/resolve_subject.rs
  crate/server/src/core/operations/certify/subject.rs
  crate/server/src/core/operations/dispatch.rs
  crate/server/src/core/operations/key_ops/mod.rs
  crate/server/src/core/operations/message.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/core/operations/recertify.rs
  crate/server/src/core/operations/rekey.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/server/src/core/operations/rekey/keypair.rs
  crate/server/src/core/operations/rekey/mod.rs
  crate/server/src/core/operations/rekey/symmetric.rs
  crate/server/src/core/operations/rekey_common.rs
  crate/server/src/core/operations/rekey_keypair.rs
  crate/server/src/core/wrapping/wrap.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/sqlite.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/kmip_support/key_auto_rotation.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(key-auto-rotation): update implementation roadmap from 5 PRs to 4 (merge spec+manual into PR1)
  documentation/docs/kmip_support/key_auto_rotation.md
Due: none

fix: PR review
  crate/kmip/src/kmip_2_1/kmip_operations.rs
  documentation/docs/kmip_support/attributes.md
  documentation/docs/kmip_support/introduction/index.md
  documentation/docs/kmip_support/key_auto_rotation.md
  documentation/docs/kmip_support/operations.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review
  CHANGELOG/docs_key-autorotation-spec.md
  crate/kmip/src/kmip_2_1/kmip_operations.rs
  crate/server/src/core/operations/recertify.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/kmip_support/key_auto_rotation.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: doc reviewed
  documentation/docs/kmip_support/key_auto_rotation.md
Due: none

fix(redis-findex): index wrapped key under the wrapping-key ID
  crate/server_database/src/stores/redis/objects_db.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: state restriction - PreActive and Compromise cannot be rotated
  CHANGELOG/docs_key-autorotation-spec.md
  crate/server/src/core/operations/key_ops/mod.rs
  crate/server/src/core/operations/recertify.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/server/src/core/retrieve_object_utils.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/kmip_policy/basic.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/kmip_support/key_auto_rotation.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: fix rebase and tests
  CHANGELOG/docs_key-autorotation-spec.md
  crate/server/src/routes/crypto/keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  nix/expected-hashes/ui.vendor.fips.sha256
Due: none

fix: test on CRL check
  CHANGELOG/docs_key-autorotation-spec.md
  crate/test_kms_server/src/vector_runner.rs
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add negative test on renewal of non latest key of a key-set
  CHANGELOG/docs_key-autorotation-spec.md
  crate/server/src/core/operations/rekey/keypair.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  nix/expected-hashes/server.vendor.static.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: wrap_and_cache must not attempt to wrap an HSM-resident key
  CHANGELOG/docs_key-autorotation-spec.md
  crate/server/src/core/wrapping/wrap.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/lib.rs
  crate/test_kms_server/src/test_env.rs
  crate/test_kms_server/src/test_server.rs
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: update doc
  documentation/docs/kmip_support/key_auto_rotation.md
Due: none

fix: build
  ui/src/App.tsx
  ui/src/actions/EC/ECKeysCreate.tsx
  ui/src/actions/Keys/GetRotationPolicy.tsx
  ui/src/actions/Keys/SetRotationPolicy.tsx
  ui/src/actions/Keys/SymKeysCreate.tsx
  ui/src/actions/PQC/PqcKeysCreate.tsx
  ui/src/actions/RSA/RsaKeysCreate.tsx
Due: ui-wasm-react-unit-tests

chore: update Nix expected hashes
  nix/expected-hashes/server.vendor.static.sha256
Due: none

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
