Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

feat(hsm): add PKCS#11 v3.0 capability-probe FFI foundation
  crate/clients/pkcs11/provider/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(pkcs11): PKCS#11 v3.0/v3.1 rollout in libcosmian_pkcs11 (interfaces, CKM_AES_GCM, C_Verify, Ed25519 fixes)
  documentation/docs/configuration/log-reference.md
Due: none

chore: update log-index
  documentation/docs/configuration/log-reference.md
Due: none

fix: test
  crate/clients/pkcs11/provider/src/tests.rs
  crate/clients/pkcs11/provider/src/tests_v3.rs
  crate/server/src/config/command_line/clap_config.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: C2P tests
  crate/hsm/base_hsm/src/session/session_impl.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(hsm): HSM-delegated EC/ECDSA/RSA-PSS/EdDSA key generation and signing
  CHANGELOG/hsm_delegation.md
  Cargo.lock
  crate/clients/clap/src/actions/elliptic_curves/sign.rs
  crate/hsm/base_hsm/Cargo.toml
  crate/hsm/base_hsm/src/kms_hsm.rs
  crate/hsm/base_hsm/src/session/ec.rs
  crate/hsm/base_hsm/src/session/mod.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/hsm/crypt2pay/Cargo.toml
  crate/hsm/proteccio/Cargo.toml
  crate/hsm/smartcardhsm/Cargo.toml
  crate/hsm/softhsm2/Cargo.toml
  crate/hsm/softhsm2/src/tests.rs
  crate/hsm/utimaco/Cargo.toml
  crate/interfaces/Cargo.toml
  crate/interfaces/src/crypto_oracle.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/interfaces/src/hsm/interface.rs
  crate/interfaces/src/hsm/mod.rs
  crate/interfaces/src/lib.rs
  crate/server/Cargo.toml
  crate/server/src/core/operations/destroy.rs
  crate/server/src/core/operations/sign.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/adr/2026-09-05-hsm-track-a-rsa-pss-scope-decision.md
  documentation/docs/adr/2026-09-06-hsm-track-a-ec-ecdsa-completion-pbkdf2-deferral.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/hsm_support/hsm_operations.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: move PKCS11-v3 generic functions to tests_shared
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/hsm/kryoptic/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: re-expose test_init() fct
  crate/clients/pkcs11/provider/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(alpine): add cargo+musl-tools cross-check pipeline, fix libgcc comment
  .mise/tasks/test/musl-crosscheck
  .mise/tasks/test/musl-openssl-prebuild
  nix/cli-musl.nix
  nix/expected-hashes/cli.vendor.musl-non-fips.sha256
  nix/kms-server-musl.nix
Due: nixfmt, statix

feat(alpine): wire CI for musl cross-check and Alpine smoke tests
  .github/workflows/packaging.yml
  .mise/scripts/test/test_alpine_musl.sh
Due: none

fix: review
  CHANGELOG/dp_wasm-cc-rekey-actions.md
  crate/clients/client_utils/src/cover_crypt_utils.rs
  crate/clients/wasm/src/wasm.rs
  crate/clients/wasm/tests/wasm_bindings.rs
  crate/crypto/src/crypto/cover_crypt/attributes.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(alpine): bundle FIPS provider module in musl server tarball
  .mise/scripts/package/package_musl_tarball.sh
  .mise/scripts/test/test_alpine_musl.sh
Due: none

docs(alpine): document Alpine/musl support and write changelog
  CHANGELOG/alpine.md
  README.md
  documentation/docs/installation/installation_getting_started.md
Due: none

style(alpine): apply pre-commit auto-fixes (nixfmt, end-of-file-fixer)
  nix/cli-musl.nix
  nix/expected-hashes/cli.vendor.musl-fips.sha256
  nix/expected-hashes/cli.vendor.musl-non-fips.sha256
  nix/expected-hashes/server.vendor.musl-fips.sha256
  nix/expected-hashes/server.vendor.musl-non-fips.sha256
  nix/kms-server-musl.nix
Due: nixfmt, statix

fix(alpine): allow clippy::expect_used in the new test module
  crate/server/src/openssl_providers.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(alpine): use sudo for musl sysroot header copy in CI
  .mise/tasks/test/musl-openssl-prebuild
Due: none

fix(alpine): skip building OpenSSL fuzz/test binaries in musl prebuild
  .mise/tasks/test/musl-openssl-prebuild
Due: none

fix(alpine): disable aarch64 outline-atomics in musl OpenSSL prebuild
  .mise/tasks/test/musl-openssl-prebuild
Due: none

fix(alpine): redirect crate/crypto/build.rs to the prebuilt musl OpenSSL
  .mise/tasks/test/musl-openssl-prebuild
Due: none

docs(alpine): update musl-crosscheck comments — the static-pie gap is resolved
  .mise/tasks/test/musl-crosscheck
Due: none

feat(kmip): add OpenPGP (PGP Key) support via KMIP
  .mise/scripts/test/test_gnupg.sh
  .mise/tasks/test/_default
  .mise/tasks/test/gnupg
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  crate/crypto/Cargo.toml
  crate/crypto/src/crypto/mod.rs
  crate/crypto/src/crypto/openpgp/mod.rs
  crate/kmip/src/kmip_1_4/kmip_types.rs
  crate/kmip/src/kmip_2_1/extra/mod.rs
  crate/kmip/src/kmip_2_1/extra/tagging.rs
  crate/kmip/src/kmip_2_1/kmip_data_structures.rs
  crate/kmip/src/kmip_2_1/kmip_types.rs
  crate/server/src/core/operations/attributes/get.rs
  crate/server/src/core/operations/create.rs
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/core/operations/export_get.rs
  crate/server/src/core/operations/import.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/core/operations/pgp_ops.rs
  crate/server/src/core/operations/sign.rs
  crate/server/src/core/operations/signature_verify.rs
  crate/test_kms_server/Cargo.toml
  crate/test_kms_server/src/lib.rs
  crate/test_kms_server/src/pgp_gnupg_tests.rs
  crate/test_kms_server/src/pgp_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(kmip): update KMIP documentation and tables for OpenPGP PGPKey support
  .mise/scripts/docs/update_readme_kmip.py
  README.md
  documentation/docs/kmip_support/_create.md
  documentation/docs/kmip_support/_decrypt.md
  documentation/docs/kmip_support/_encrypt.md
  documentation/docs/kmip_support/_export.md
  documentation/docs/kmip_support/_import.md
  documentation/docs/kmip_support/_signature.md
  documentation/docs/kmip_support/formats.md
  documentation/docs/kmip_support/objects.md
  documentation/docs/kmip_support/support.md
  documentation/docs/kmip_support/tagging.md
Due: none

feat: work on moving
  .github/skills/adr/SKILL.md
  documentation/adr/2026-06-24-two-role-rbac-crypto-officer-operator.md
  documentation/adr/2026-06-26-unwrapped-cache-configurable-max-size.md
  documentation/adr/2026-06-30-key-auto-rotation-keyset-chain-design.md
  documentation/adr/2026-07-08-two-tier-cache-architecture.md
  documentation/adr/2026-07-09-audit-log-single-writer-design.md
  documentation/adr/2026-07-09-audit-middleware-extension-injection.md
  documentation/adr/2026-07-09-cef-siem-export-format.md
  documentation/adr/2026-07-26-spire-spiffe-via-vault-api.md
  documentation/adr/2026-08-14-audit-log-always-start-recovery.md
  documentation/adr/2026-08-20-pki-crl-generation-distribution-auto-refresh.md
  documentation/adr/2026-09-02-ocsp-responder-rfc-6960.md
  documentation/adr/2026-09-19-spiffe-jwt-svid-authentication.md
  documentation/docs/SUMMARY.md
  documentation/docs/configuration/authorization/key_ceremony.md
  documentation/docs/integrations/spire_webui.md
  documentation/docs/kms_clients/main_commands.md
Due: none

fix(alpine): make musl-tarball temp-dir cleanup robust to read-only Nix paths
  .mise/scripts/package/package_musl_tarball.sh
  .mise/scripts/test/test_alpine_musl.sh
Due: none

fix(server): log failed batch operations at error level
  crate/server/src/core/operations/message.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: run sanity-benches
  .github/workflows/test_all.yml
Due: none

feat(alpine): add native Alpine-container build as a third validation path
  .github/workflows/packaging.yml
  .mise/tasks/test/alpine-native-build
Due: none

fix(alpine): install git before actions/checkout in alpine-native-build
  .github/workflows/packaging.yml
Due: none

fix(alpine): consolidate alpine-native-build's apk installs into one early step
  .github/workflows/packaging.yml
Due: none

fix(alpine): restrict alpine-native-build to x64 (arm64 unsupported upstream)
  .github/workflows/packaging.yml
Due: none

docs(alpine): changelog entry for the native Alpine-container build
  CHANGELOG/alpine.md
Due: none

fix: benchmarks
  .github/README_WORKFLOWS.md
  .github/workflows/benchmark.yml
  .github/workflows/test_all.yml
  .mise/lib/bench_helpers.sh
  .mise/scripts/README.md
  .mise/scripts/bench/plot_version_compare.py
  .mise/scripts/bench/tests/test_plot_version_compare.py
  .mise/tasks/bench/README.md
  .mise/tasks/bench/_default
  .mise/tasks/bench/hsm
  .mise/tasks/bench/pkcs11
  CHANGELOG/hsm_delegation_benchs.md
  crate/clients/clap/src/actions/pkcs11/bench/criterion_bench.rs
  crate/clients/clap/src/actions/pkcs11/bench/load.rs
  crate/clients/clap/src/actions/pkcs11/bench/report.rs
  crate/clients/pkcs11/README.md
  crate/clients/pkcs11/module/src/profiling.rs
  documentation/docs/adr/2026-09-24-hsm-delegated-benchmarking-infrastructure.md
  documentation/docs/adr/2026-09-24-rotate-name-cache-for-delegated-hsm-keyset-resolution.md
  documentation/docs/benchmarks/ckms_bench_delegated_crypto_operations/report.md
  documentation/docs/benchmarks/ckms_bench_pkcs11/report.md
  documentation/docs/benchmarks/ckms_bench_pkcs11_delegated/report.md
  documentation/docs/kms_clients/cli/main_commands.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(server): log failed batch operations at error level
  .github/README_WORKFLOWS.md
  .github/workflows/benchmark.yml
  .github/workflows/test_all.yml
  .mise/lib/bench_helpers.sh
  .mise/scripts/README.md
  .mise/scripts/bench/plot_version_compare.py
  .mise/scripts/bench/tests/test_plot_version_compare.py
  .mise/tasks/bench/README.md
  .mise/tasks/bench/_default
  .mise/tasks/bench/hsm
  .mise/tasks/bench/pkcs11
  CHANGELOG/hsm_delegation_benchs.md
  crate/clients/clap/src/actions/pkcs11/bench/criterion_bench.rs
  crate/clients/clap/src/actions/pkcs11/bench/load.rs
  crate/clients/clap/src/actions/pkcs11/bench/loader.rs
  crate/clients/clap/src/actions/pkcs11/bench/report.rs
  crate/clients/pkcs11/README.md
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/module/src/profiling.rs
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/module/src/tests.rs
  crate/clients/pkcs11/module/src/tests_v3.rs
  crate/clients/pkcs11/module/src/traits/backend.rs
  crate/clients/pkcs11/module/src/traits/mod.rs
  crate/clients/pkcs11/provider/src/backend.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/server/src/core/operations/message.rs
  documentation/docs/adr/2026-09-24-hsm-delegated-benchmarking-infrastructure.md
  documentation/docs/adr/2026-09-24-rotate-name-cache-for-delegated-hsm-keyset-resolution.md
  documentation/docs/benchmarks/ckms_bench_delegated_crypto_operations/report.md
  documentation/docs/benchmarks/ckms_bench_pkcs11/report.md
  documentation/docs/benchmarks/ckms_bench_pkcs11_delegated/report.md
  documentation/docs/kms_clients/cli/main_commands.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): complete message AES-GCM capabilities
  crate/clients/ckms/src/tests/pkcs11.rs
  crate/clients/clap/src/actions/pkcs11/bench/load.rs
  crate/clients/clap/src/actions/pkcs11/bench/loader.rs
  crate/clients/clap/src/actions/pkcs11/capabilities.rs
  crate/clients/clap/src/actions/pkcs11/mod.rs
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/module/src/tests.rs
  crate/clients/pkcs11/module/src/tests_v3.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
