Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

fix(clippy): fix unseparated literal suffixes and add test module allows
  crate/clients/ckms/src/tests/rbac_tests.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/tests/key_ceremony_tests.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(co-ceremony): add create-split-key subcommand to crypto-officer CLI
  CHANGELOG/feat_split_key.md
  crate/clients/clap/src/actions/access.rs
  crate/clients/client/src/kms_rest_client.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/test_kms_server/src/test_server.rs
  documentation/docs/configuration/log-reference.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(e2e): retry on transient 'Failed to fetch' in key creation helpers
  ui/playwright.config.ts
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests

ci: fix errors
  .github/workflows/test_all.yml
  CHANGELOG.md
  crate/clients/client/Cargo.toml
  crate/clients/client/src/http_client/client.rs
  ui/tests/unit/tsx-imports/CryptoOfficerRevoke.test.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(wizard): remove dead fields from AuthWizardResult and wire auth_verifier
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/config/wizard/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(kmip-1.4): implement CreateSplitKey and JoinSplitKey for KMIP 1.4
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): gate CO revoke UI on is_crypto_officer + sync log-reference.md
  documentation/docs/configuration/log-reference.md
  ui/src/actions/Access/CryptoOfficerRole.tsx
Due: ui-wasm-react-unit-tests

ci: fix wasm
  crate/clients/clap/src/actions/google/key_pairs/create.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(db): reuse SQL statements, factorize locate_query.rs functions
  .mise/scripts/docs/generate_docs.sh
  .mise/scripts/kmip-go/README.md
  .mise/tasks/docs/generate
  crate/server/kms_template.toml
  crate/server/src/core/operations/query.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/stores/mod.rs
  crate/server_database/src/stores/sql/locate_query.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  documentation/docs/configuration/log-reference.md
  documentation/docs/configuration/server_configuration_file.md
  lychee.toml
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: stick to UserId
  crate/clients/clap/src/actions/symmetric/keys/join_split_key.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/routes/access.rs
  crate/server/src/tests/key_ceremony_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: fix server_cli.md generation to satisfy MD041 (prepend H1 heading)
  .mise/scripts/docs/renew_server_doc.sh
  crate/server_database/src/stores/sql/query_sqlite.sql
  documentation/docs/configuration/server_cli.md
Due: none

fix: KMIP SplitKey compliance
  crate/clients/clap/src/actions/access.rs
  crate/clients/clap/src/actions/symmetric/keys/create_split_key.rs
  crate/clients/clap/src/actions/symmetric/keys/join_split_key.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/kmip_2_1/kmip_operations.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/core/operations/message.rs
  crate/server/src/tests/key_ceremony_tests.rs
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor: simplify dispatch.rs
  crate/server/src/core/operations/dispatch.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(get-attrs): fix stale comment about SplitKey stored Attributes
  crate/server/src/core/operations/attributes/get.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: key_ceremony update
  crate/server/src/core/operations/join_split_key.rs
  documentation/docs/configuration/authorization/key_ceremony.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: remove useless crypto_sensor doc + code
  .mise/scripts/audit/audit.sh
  .mise/scripts/audit/crypto_sensor.sh
  .mise/scripts/audit/multi_framework.sh
  .mise/scripts/audit/risk_score.py
  .mise/scripts/audit/runtime_security.sh
  .mise/tasks/audit/crypto
  .mise/tasks/audit/multi
  .mise/tasks/audit/runtime
  documentation/docs/SUMMARY.md
  documentation/docs/certifications_and_compliance/audit/crypto_inventory.md
  documentation/docs/certifications_and_compliance/audit/multi_framework_security_audit.md
  documentation/docs/certifications_and_compliance/audit/owasp_security_audit.md
  documentation/docs/certifications_and_compliance/audit/runtime_security_audit.md
  documentation/nav.yml
Due: none

fix: ignore RUSTSEC-2026-0258 since actix-http only ships h2 0.3.x
  Cargo.lock
  deny.toml
Due: none

ci(lychee): do not block CI
  .github/workflows/main_base.yml
Due: none

fix(security): address security review findings on PR #991
  CHANGELOG/feat_split_key.md
  crate/access/src/access.rs
  crate/server/src/core/kms/permissions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(ci): add JSONL audit compat checks for OpenSearch/Splunk
  .github/workflows/audit-compat-opensearch.yml
  .github/workflows/audit-compat-splunk.yml
  .mise/scripts/test/fixtures/sample-audit.jsonl
  .mise/scripts/test/requirements-audit-compat.txt
  .mise/scripts/test/validate_audit_compat.py
  .mise/tasks/test/audit-compat-opensearch
  .mise/tasks/test/audit-compat-splunk
  deny.toml
  lychee.toml
  mise.toml
  schemas/kms-audit-fields.json
  schemas/kms-audit-mapping.json
Due: none

chore(ci): bump pinned OpenSearch image from 2.17.1 to 3.8.0
  .mise/tasks/test/audit-compat-opensearch
Due: none

fix(permissions): replace stale 'privileged_users' terminology in error messages
  crate/server/src/core/kms/permissions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(ceremony): correct dual-control description to match actual server check
  crate/clients/clap/src/actions/access.rs
  documentation/docs/configuration/authorization/key_ceremony.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(adr): correct CO role matrix — remove GrantAccess/RevokeAccess from allowed ops
  documentation/docs/adr/2026-06-24-two-role-rbac-crypto-officer-operator.md
Due: none

docs(destroy): clarify CO bypass and silent-skip semantics vs Revoke
  crate/server/src/core/operations/destroy.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(permissions): document PM-2 and PM-3 design intent in enforce_create_permission
  crate/server/src/core/kms/permissions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(dispatch): route CO lifecycle ops through enforce_create_permission explicitly
  crate/server/src/core/operations/dispatch.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(locate): clarify CO ownership bypass behavior for Locate (PM-6)
  crate/server/src/core/operations/locate.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(access): correct CryptoOfficerConfig doc — CO has no crypto-use bypass on foreign objects
  crate/access/src/access.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: tests
  .gitignore
  documentation/docs/configuration/log-reference.md
Due: none

test: .gitignore udpate
  .gitignore
Due: none

test: add coverage for per-user metric labels and cardinality overflow
  .gitignore
Due: none

fix(ceremony): elevate split-key share audit logs to ERROR, add session_id correlation
  crate/access/src/access.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ceremony): F-2 + F-3 + F-9 security fixes for CO split-key ceremony
  crate/access/src/access.rs
  crate/interfaces/src/stores/permissions_store.rs
  crate/server/src/config/command_line/roles_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/tests/key_ceremony_tests.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  documentation/docs/configuration/log-reference.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(changelog): record F-2/F-3/F-6/F-7/F-8/F-9 security improvements
  CHANGELOG/feat_split_key.md
Due: none

chore: remove internal plan references (F-x, PM-x) from source and docs
  CHANGELOG/feat_split_key.md
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/core/operations/locate.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/configuration/log-reference.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore(ci): pin Splunk image to 10.4.2 instead of :latest
  .mise/tasks/test/audit-compat-splunk
Due: none
