Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

docs: show mistral-agents AppRole usage in End-to-end flow diagram
  documentation/docs/integrations/spire_spiffe.md
Due: none

fix(spire): use restrictive CORS on Vault-compatible scopes
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(adr): record single-tier CA chain limitation for SPIRE PKI
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
Due: none

fix(spire): preserve HTTP method in auth proxy instead of collapsing to POST
  crate/server/src/routes/spire/auth_proxy.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(spire): authenticate test harness admin ops against vault-API-enabled KMS
  .mise/tasks/test/spire
Due: none

style(server): rustfmt import ordering and sync log-reference.md
  crate/server/src/start_kms_server.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: align tests with spire_spiffe doc
  .mise/tasks/test/spire
  docker-compose.yml
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
  documentation/docs/integrations/spire_spiffe.md
Due: none

fix(spire): reject path traversal in unauthenticated auth proxy
  AGENTS.md
  CHANGELOG/spire-vault-compatible-api.md
  crate/server/src/routes/spire/auth_proxy.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: Keys are not exportable
  CHANGELOG/spire-vault-compatible-api.md
  crate/server/src/routes/spire/transit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(spire): remove duplicate cache test functions
  crate/server/src/middlewares/spire_token.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): add sudo to netbird up command
  .github/workflows/packaging-docker.yml
Due: none

chore: bump authentication submodule to 61e1b40 (fix app_auth_api.md)
  .mise/scripts/package/package_common.sh
  nix/kms-server.nix
Due: nixfmt, statix

typo fix
  crate/server/src/middlewares/jwt/jwks.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(spire): integrate kms.md into spire_spiffe.md; move kms_setup.sh to test_data
  documentation/docs/integrations/spire_spiffe.md
  kms.md
  kms_setup.sh
Due: none

feat: add AppRole authentication with ckms + fix CI failures
  .mise/scripts/test/test_ui_auth.sh
  CHANGELOG/feat_auth-server-integration.md
  crate/clients/ckms/src/tests/login_tests.rs
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/login.rs
  crate/clients/client/src/http_client/client.rs
  crate/clients/client/src/http_client/login.rs
  crate/clients/client/src/http_client/mod.rs
  crate/clients/client/src/http_client/tests.rs
  crate/clients/wasm/package.json
  crate/server/documentation/openapi.yaml
  crate/server/src/main.rs
  crate/server/src/routes/swagger.rs
  crate/server/src/routes/ui_auth.rs
  crate/server/src/start_kms_server.rs
  ui/tests/e2e/locate-attributes.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(spire): bound token cache with opportunistic expired-entry eviction
  crate/server/src/middlewares/spire_token.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: sync log-reference.md with vault_token_optional_middleware log entries
  documentation/docs/configuration/log-reference.md
Due: none

docs: update spire CHANGELOG with auth-verifier route fix and SPIRE config syntax fixes
  CHANGELOG/spire.md
Due: none

fix(spire): detect multi-tier CA and fail loudly; fix ADR LIM-002 wording
  .gitignore
  crate/server/src/routes/spire/pki.rs
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
  documentation/docs/integrations/spire_spiffe.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(spire): remove undocumentable 409 Conflict from transit create
  crate/server/documentation/openapi.yaml
Due: none

test: add test on webui auth
  .mise/scripts/test/test_ui_auth.sh
  Cargo.lock
  crate/server/src/config/command_line/auth_verifier_config.rs
  crate/server/src/routes/ui_auth.rs
  crate/test_kms_server/Cargo.toml
  crate/test_kms_server/src/auth_verifier_tests.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: security review
  crate/server/src/core/kms/permissions.rs
  crate/server/src/middlewares/api_token/api_token_middleware.rs
  crate/server/src/middlewares/auth_verifier/token.rs
  crate/server/src/middlewares/ensure_auth.rs
  crate/server/src/middlewares/jwt/jwks.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/middlewares/jwt/jwt_token_auth.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/middlewares/session_auth.rs
  crate/server/src/middlewares/spire_token.rs
  crate/server/src/middlewares/tls_auth.rs
  crate/server/src/routes/google_cse/jwt.rs
  crate/server/src/routes/kmip.rs
  crate/server/src/routes/spire/auth_proxy.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/google_cse/mod.rs
  documentation/docs/configuration/log-reference.md
  threat-model-20260803-120000/0-architecture.md
  threat-model-20260803-120000/0-assessment.md
  threat-model-20260803-120000/1-dfd.md
  threat-model-20260803-120000/2-stride-analysis.md
  threat-model-20260803-120000/3-findings.md
  threat-model-20260803-120000/threat-inventory.json
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: remove HashiCorp brand references from spire branch code and docs
  crate/server/src/config/command_line/vault_config.rs
  crate/server/src/routes/spire/pki.rs
  crate/server/src/routes/spire/transit.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(spire): add unit tests for SpireTokenCache and spire_token_middleware
  crate/server/src/middlewares/spire_token.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: RSA keys always sign with PSS, even when the client asked for PKCS#1 v1.5
  CHANGELOG/spire-vault-compatible-api.md
  crate/server/src/routes/spire/transit.rs
  documentation/docs/integrations/spire_spiffe.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): fix spire CI matrix and test_toml assertion
  .github/workflows/test_all.yml
  .mise/tasks/test/spire
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(spire): bump SPIRE images to 1.15.2 and accept PUT on transit key create/sign
  crate/server/src/routes/spire/transit.rs
  crate/server/src/start_kms_server.rs
  docker-compose.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Cosmian Auth Server UI Integration
  CHANGELOG/feat_auth-server-integration.md
  CHANGELOG/test_plan_cosmian-auth-ui-login.md
  crate/server/documentation/openapi.yaml
  crate/server/src/config/command_line/cosmian_auth_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/command_line/ui_config.rs
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/middlewares/cosmian_auth/cosmian_auth_token.rs
  crate/server/src/middlewares/cosmian_auth/mod.rs
  crate/server/src/middlewares/jwt/jwks.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/ui_auth.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/configuration/ui.md
  ui/src/App.tsx
  ui/src/components/layout/MainLayout.tsx
  ui/src/pages/LoginPage.tsx
  ui/src/utils/utils.ts
  ui/tests/unit/tsx-imports/LoginPage.test.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: add cross-agent skill symlinks and update .gitignore
  .deepcode/skills
  .gitignore
  .qwen/skills
  QWEN.md
Due: none

fix: second wave of reviews
  CHANGELOG/spire.md
  crate/server/documentation/openapi.yaml
  crate/server/src/routes/spire/transit.rs
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: add details on auth-admin and role_id
  documentation/docs/integrations/spire_spiffe.md
Due: none

test: cover the 12 adversarial scenarios
  .mise/tasks/test/spire
  documentation/docs/integrations/spire_spiffe.md
Due: none

Formalized testing plan
  CHANGELOG/test_plan_oidc-session-auth.md
Due: none

fix(spire): run SPIRE 1.15 containers as root to fix sqlite datastore access
  docker-compose.yml
Due: none

Changed jwks to a cached on startup refresh on miss policy instead of every call
  CHANGELOG/feat_auth-server-integration.md
  crate/server/src/config/command_line/ui_config.rs
  crate/server/src/middlewares/jwt/jwks.rs
  crate/server/src/routes/ui_auth.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
