Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

test(hsm): englobe Linux distrib without /etc/lsb-release (#798)
  .github/scripts/test_all.sh
  .github/scripts/test_hsm_crypt2pay.sh
  .github/scripts/test_hsm_proteccio.sh
  .github/scripts/test_hsm_softhsm2.sh
  .github/scripts/test_hsm_utimaco.sh
Due: none

fix: Utimaco HSM tests
  .github/scripts/test_hsm_utimaco.sh
Due: none

chore: trace warning on pkcs11-tool
  .github/scripts/common.sh
  .github/scripts/test_hsm_proteccio.sh
  .github/scripts/test_hsm_softhsm2.sh
  .github/scripts/test_hsm_utimaco.sh
  documentation/docs/hsms/proteccio.md
Due: none

fix: set CKA_VERIFY_RECOVER=false on RSA public keys via C_SetAttributeValue; ignore macOS AppleDouble files
  .gitignore
  cli_documentation/docs/cli/main_commands.md
  crate/hsm/base_hsm/src/hsm_lib.rs
  crate/hsm/base_hsm/src/session/rsa.rs
  crate/server/kms_template.toml
  documentation/docs/server_cli.md
  documentation/docs/server_configuration_file.md
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: last CI failure
  .github/copilot-instructions.md
  .github/scripts/test_hsm_proteccio.sh
  .github/scripts/test_hsm_softhsm2.sh
  .github/scripts/test_hsm_utimaco.sh
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests

fix: strip Nix LD_LIBRARY_PATH from KMS server start in pkcs11-tool warning tests
  .github/scripts/test_hsm_proteccio.sh
  .github/scripts/test_hsm_softhsm2.sh
Due: none

test: fix Proteccio against non-fips conf
  .github/workflows/test_all.yml
Due: none

fix: keep OPENSSL_CONF/OPENSSL_MODULES for KMS server in Proteccio pkcs11-tool test
  .github/scripts/test_hsm_proteccio.sh
Due: none

fix: use custom openssl.cnf with activate=0 for FIPS in Proteccio pkcs11-tool test
  .github/scripts/test_hsm_proteccio.sh
Due: none

docs: update changelog
  CHANGELOG.md
Due: none

fix: PR review
  .github/copilot-instructions.md
  CHANGELOG.md
  crate/hsm/base_hsm/src/hsm_lib.rs
  crate/hsm/base_hsm/src/session/rsa.rs
  crate/hsm/base_hsm/src/tests_shared.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

reworking jwt_config
  Cargo.lock
  Cargo.toml
  crate/server/Cargo.toml
  crate/server/src/middlewares/jwt/jwt_config.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

completed migration to jsonwebtoken
  .vscode/settings.json
  CHANGELOG.md
  crate/server/src/middlewares/jwt/jwks.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/routes/google_cse/jwt.rs
  crate/server/src/routes/ui_auth.rs
  crate/server/src/tests/google_cse/mod.rs
  deny.toml
  documentation/docs/authentication.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Apply suggestions from code review
  crate/server/src/routes/ui_auth.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Potential fix for pull request finding
  crate/server/src/middlewares/jwt/jwt_config.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Apply suggestions from code review
  crate/server/src/routes/google_cse/jwt.rs
Due: none

Potential fix for pull request finding
  .vscode/settings.json
Due: none

Clarified OIDC support for UI
  crate/server/src/routes/ui_auth.rs
  documentation/docs/authentication.md
  documentation/docs/pkce_authentication.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Google CSE JWT fixes
  crate/server/src/routes/google_cse/jwt.rs
Due: none

Potential fix for pull request finding
  documentation/docs/authentication.md
Due: none

fixed returned code
  crate/server/src/routes/ui_auth.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

chore: update Nix expected hashes
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
Due: none

fmt
  crate/server/src/tests/google_cse/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: React E2E tests
  .github/scripts/test_ui.sh
  CHANGELOG.md
  nix/expected-hashes/ui.pnpm.darwin.sha256
  ui/package.json
  ui/playwright.config.ts
  ui/pnpm-lock.yaml
  ui/src/AttributeGet.tsx
  ui/src/CovercryptMasterKey.tsx
  ui/src/Locate.tsx
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests

fix: update Nix hashes
  nix/expected-hashes/ui.pnpm.linux.sha256
Due: none

chore: Migration to `jsonwebtoken`to support more JWT algorithms (#790)
  .github/scripts/test_ui.sh
  .vscode/settings.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crate/server/Cargo.toml
  crate/server/src/middlewares/jwt/jwks.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/routes/google_cse/jwt.rs
  crate/server/src/routes/ui_auth.rs
  crate/server/src/tests/google_cse/mod.rs
  deny.toml
  documentation/docs/authentication.md
  documentation/docs/pkce_authentication.md
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.pnpm.darwin.sha256
  nix/expected-hashes/ui.pnpm.linux.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
  ui/package.json
  ui/playwright.config.ts
  ui/pnpm-lock.yaml
  ui/src/AttributeGet.tsx
  ui/src/CovercryptMasterKey.tsx
  ui/src/Locate.tsx
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: TDE Oracle integration on WIndows
  .github/scripts/oracle/set_hsm.ps1
  .github/scripts/oracle/test_oracle_tde.ps1
  CHANGELOG.md
  Cargo.toml
  cli_documentation/docs/pkcs11/oracle/tde.md
  crate/clients/pkcs11/module/src/core/object.rs
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/provider/src/backend.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/lib.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

changed disabled flag for menu items to only work in production environements
  ui/src/Sidebar.tsx
Due: ui-wasm-react-unit-tests

fix: TDE Oracle integration on WIndows (#794)
  .github/scripts/oracle/set_hsm.ps1
  .github/scripts/oracle/test_oracle_tde.ps1
  CHANGELOG.md
  Cargo.toml
  cli_documentation/docs/pkcs11/oracle/tde.md
  crate/clients/pkcs11/module/src/core/object.rs
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/provider/src/backend.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/lib.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: init
  .vscode/settings.json
  crate/cli/src/actions/kms/aws/README.ms
  crate/cli/src/actions/kms/aws/byok/export_key_material.rs
  crate/cli/src/actions/kms/aws/byok/import_kek.rs
  crate/cli/src/actions/kms/aws/byok/mod.rs
  crate/cli/src/actions/kms/aws/byok/wrapping_algorithms.rs
  crate/cli/src/actions/kms/aws/mod.rs
  crate/cli/src/actions/kms/azure/byok/export_byok.rs
  crate/cli/src/actions/kms/console.rs
  crate/cli/src/actions/kms/mod.rs
  crate/cli/src/actions/kms/shared/import_key.rs
  crate/cli/src/tests/kms/aws/integration_tests.rs
  crate/cli/src/tests/kms/aws/mod.rs
  crate/cli/src/tests/kms/aws/unwrap_utils.rs
  crate/cli/src/tests/kms/mod.rs
  crate/crypto/README.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: temporary commit to save files
  documentation/docs/aws/byok.md
  documentation/docs/aws/byok_scripts/run_aes_byok.sh
  documentation/docs/aws/byok_scripts/run_ecc_byok.sh
  documentation/docs/aws/byok_scripts/run_rsa_byok.sh
  documentation/docs/azure/byok/byok.md
  ui/src/AwsImportKek.tsx
  ui/src/Sidebar.tsx
  ui/src/menuItems.tsx
Due: ui-wasm-react-unit-tests

feat: tests ok
  crate/cli/src/actions/kms/actions.rs
  crate/cli/src/actions/kms/aws/byok/export_key_material.rs
  crate/cli/src/actions/kms/aws/byok/import_kek.rs
  crate/cli/src/lib.rs
  crate/cli/src/tests/kms/aws/integration_tests.rs
  crate/cli/src/tests/kms/aws/mod.rs
  crate/cli/src/tests/kms/aws/unwrap_utils.rs
  crate/cli/src/tests/kms/azure/mod.rs
  crate/cli/src/tests/kms/mod.rs
  crate/cli/src/tests/kms/shared/mod.rs
  crate/cli/src/tests/kms/shared/openssl_utils.rs
  crate/crypto/README.md
  documentation/docs/aws/aws_import_kek.png
  documentation/docs/aws/byok.md
  ui/eslint.config.js
  ui/src/App.tsx
  ui/src/AwsExportKeyMaterial.tsx
  ui/src/AwsImportKek.tsx
  ui/src/AzureExportByok.tsx
  ui/src/AzureImportKek.tsx
  ui/src/CseInfo.tsx
  ui/src/Sidebar.tsx
  ui/src/components/ExternalLink.tsx
  ui/src/menuItems.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: work
  crate/cli/src/actions/kms/aws/byok/export_key_material.rs
  crate/cli/src/actions/kms/aws/byok/wrapping_algorithms.rs
  crate/cli/src/tests/kms/aws/integration_tests.rs
  crate/cli/src/tests/kms/aws/mod.rs
  crate/cli/src/tests/kms/aws/unwrap_utils.rs
  documentation/docs/aws/aws_import_kek.png
  documentation/docs/aws/byok.md
  documentation/docs/aws/create_rsa.png
  documentation/docs/aws/export_key_material.png
  documentation/docs/aws/fargate.md
  documentation/docs/aws/import_kek.png
  documentation/docs/index.md
  documentation/mkdocs.yml
  ui/src/AwsImportKek.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc
