Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

fix: allow CO key ceremony when OPA enforcing mode is enabled
  crate/server/src/config/command_line/opa_config.rs
  crate/server/src/core/retrieve_object_utils.rs
  crate/server/src/tests/key_ceremony_tests.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(server_database): execute create_crls table in SQLite init transaction
  crate/server_database/src/stores/sql/sqlite.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: clarify --opa-url requirement
  CHANGELOG/rbac_rego.md
  crate/server/src/config/params/server_params.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: tests
  documentation/docs/configuration/log-reference.md
Due: none

fix(server): use find_active_co in auto-CRL trigger after revocation
  crate/server/src/core/operations/revoke.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: log-ref update
  crate/server/src/routes/crl.rs
  crate/test_kms_server/src/crl_tests.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(spire): add mentions to SPIRE KMS plugins
  deny.toml
  documentation/docs/SUMMARY.md
  documentation/docs/integrations/spire_spiffe_kmip_plugin.md
  documentation/nav.yml
  lychee.toml
Due: none

fix(server): fix remaining UserId type errors in tests and spire middleware
  crate/server/src/middlewares/auth_verifier/token.rs
  crate/server/src/middlewares/session_auth.rs
  crate/server/src/middlewares/spire_token.rs
  crate/server/src/routes/spire/pki.rs
  crate/server/src/routes/spire/transit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: clippy
  crate/server/src/tests/test_always_sensitive.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review
  crate/server/src/core/operations/validate.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/stores/redis/additional_redis_findex_tests.rs
  crate/server_database/src/stores/redis/permissions.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  deny.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: update log-ref
  documentation/docs/configuration/log-reference.md
Due: none

fix: fmt
  crate/server/src/middlewares/tls_auth.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(e2e): retry on transient 'Failed to fetch' in key creation helpers
  ui/playwright.config.ts
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests

ci(lychee): do not block CI
  .github/workflows/main_base.yml
Due: none

docs: address docs review comments on PR #991
  documentation/docs/configuration/database/configuration.md
  documentation/docs/configuration/database/redis.md
  documentation/docs/configuration/database/tables.md
Due: none

docs: key_ceremony update
  crate/server/src/core/operations/join_split_key.rs
  documentation/docs/configuration/authorization/key_ceremony.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: on KMS startup, using default_username + CO role fails
  crate/server/src/config/params/server_params.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: remove useless crypto_sensor doc + code
  .mise/scripts/audit/audit.sh
  .mise/scripts/audit/crypto_sensor.sh
  .mise/scripts/audit/multi_framework.sh
  .mise/scripts/audit/risk_score.py
  .mise/scripts/audit/runtime_security.sh
  .mise/tasks/audit/crypto
  .mise/tasks/audit/multi
  .mise/tasks/audit/runtime
  documentation/docs/SUMMARY.md
  documentation/docs/certifications_and_compliance/audit/crypto_inventory.md
  documentation/docs/certifications_and_compliance/audit/multi_framework_security_audit.md
  documentation/docs/certifications_and_compliance/audit/owasp_security_audit.md
  documentation/docs/certifications_and_compliance/audit/runtime_security_audit.md
  documentation/nav.yml
Due: none

fix: move hardcoded allowed ops from dispatch
  .github/copilot-instructions.md
  .github/instructions/rust-cli.instructions.md
  .github/skills/README.md
  .github/skills/ckms-subcommand-test/SKILL.md
  .github/workflows/test_all.yml
  .mise/scripts/kmip-go/README.md
  AGENTS.md
  crate/access/src/access.rs
  crate/clients/ckms/src/tests/symmetric/mod.rs
  crate/clients/ckms/src/tests/symmetric/split_key.rs
  crate/crypto/src/crypto/split_key/mod.rs
  crate/kmip/src/kmip_2_1/mod.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/dispatch.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/tests/key_ceremony_tests.rs
  crate/server_database/src/ceremony_keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: log-ref update
  documentation/docs/configuration/log-reference.md
Due: none

refactor: simplify dispatch.rs
  crate/server/src/core/operations/dispatch.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(kmip-1.4): implement CreateSplitKey and JoinSplitKey for KMIP 1.4
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: fix AI skill
  .github/copilot-instructions.md
  .github/instructions/cli-ui-sync.instructions.md
  .github/instructions/docs.instructions.md
  .github/instructions/kmip-operations.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/middlewares.instructions.md
  .github/instructions/playwright.instructions.md
  .github/instructions/ui-routes.instructions.md
  .github/skills/README.md
  .github/skills/adr/SKILL.md
  .github/skills/docs-writer/SKILL.md
  .github/skills/kms-last-test-v5/SKILL.md
  .github/skills/kms-sync-rules/SKILL.md
  AGENTS.md
Due: none

fix(co-ceremony): add target_user to disable endpoint for peer revocation
  crate/server/src/core/kms/permissions.rs
  crate/server/src/routes/access.rs
  crate/server/src/tests/key_ceremony_tests.rs
  documentation/docs/adr/2026-06-24-two-role-rbac-crypto-officer-operator.md
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: fix server_cli.md generation to satisfy MD041 (prepend H1 heading)
  .mise/scripts/docs/renew_server_doc.sh
  crate/server_database/src/stores/sql/query_sqlite.sql
  documentation/docs/configuration/server_cli.md
Due: none

fix(ceremony): surface wrapping-key-not-found as 422 so operator receives the diagnostic message
  crate/server/src/core/operations/create_split_key.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: c2p still unavailable
  .github/workflows/test_all.yml
Due: none

fix(ui): gate CO revoke UI on is_crypto_officer + sync log-reference.md
  documentation/docs/configuration/log-reference.md
  ui/src/actions/Access/CryptoOfficerRole.tsx
Due: ui-wasm-react-unit-tests

fix(access): correct CryptoOfficerConfig doc — CO has no crypto-use bypass on foreign objects
  crate/access/src/access.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(dispatch): route CO lifecycle ops through enforce_create_permission explicitly
  crate/server/src/core/operations/dispatch.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(get-attrs): fix stale comment about SplitKey stored Attributes
  crate/server/src/core/operations/attributes/get.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(security): address security review findings on PR #991
  CHANGELOG/feat_split_key.md
  crate/access/src/access.rs
  crate/server/src/core/kms/permissions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: doc fix
  documentation/docs/SUMMARY.md
Due: none

fix(ceremony): F-2 + F-3 + F-9 security fixes for CO split-key ceremony
  crate/access/src/access.rs
  crate/interfaces/src/stores/permissions_store.rs
  crate/server/src/config/command_line/roles_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/tests/key_ceremony_tests.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  documentation/docs/configuration/log-reference.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: threat model fixes
  .gitignore
  crate/clients/wasm/src/wasm.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/routes/access.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/key_ceremony_tests.rs
  threat-model-20260803-120000/0-architecture.md
  threat-model-20260803-120000/0-assessment.md
  threat-model-20260803-120000/1-dfd.md
  threat-model-20260803-120000/2-stride-analysis.md
  threat-model-20260803-120000/3-findings.md
  threat-model-20260803-120000/threat-inventory.json
  ui/src/actions/Access/CryptoOfficerRole.tsx
  ui/src/actions/Keys/JoinSplitKey.tsx
  ui/src/actions/Keys/SplitKey.tsx
  ui/tests/unit/split-key-logic.test.ts
  ui/tests/unit/tsx-imports/SplitKey.test.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(permissions): replace stale 'privileged_users' terminology in error messages
  crate/server/src/core/kms/permissions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
