Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

fix: add
  .github/skills/cosmian-kms-last-tester-v4/README.md
  .github/skills/cosmian-kms-last-tester-v4/SKILL.md
Due: none

fix(azure_ekm): support RSA-OAEP-SHA1
  .mise/scripts/test/azure_ekm_test.sh
  crate/server/src/routes/azure_ekm/handlers.rs
  crate/server/src/routes/azure_ekm/mod.rs
  crate/server/src/routes/azure_ekm/models.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update docs
  documentation/docs/configuration/log-reference.md
Due: none

feat: improve
  .github/copilot-instructions.md
Due: none

add content to ekm doc
  documentation/docs/integrations/cloud_providers/azure/ekm.md
Due: none

docs(ekm): add content to ekm doc (#1043)
  documentation/docs/integrations/cloud_providers/azure/ekm.md
Due: none

fix(azure_ekm): support RSA-OAEP-SHA1 (#1042)
  .mise/scripts/test/azure_ekm_test.sh
  crate/server/src/routes/azure_ekm/handlers.rs
  crate/server/src/routes/azure_ekm/mod.rs
  crate/server/src/routes/azure_ekm/models.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: stuff final3
  crate/server/src/config/command_line/http_config.rs
  crate/server/src/main.rs
  crate/server/src/routes/jwks.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: revert changelog
  CHANGELOG/feat_jwks_endpoint.md
Due: none

feat: add config flag to disable JWKS auto-tagging
  documentation/docs/integrations/jose/jwks_key_selection.md
Due: none

ci: fix logs
  documentation/docs/configuration/log-reference.md
Due: none

feat: last updates
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/main.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/jwks.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/jwks_endpoint.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/integrations/jose/jwks_endpoint.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: we almost over
  crate/server/documentation/openapi.yaml
  crate/server/src/main.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/tags.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/rest_crypto/mod.rs
  crate/server/src/tests/rest_crypto/tags.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/integrations/jose/jwks_key_selection.md
  documentation/docs/integrations/jose/rest_crypto_api.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: auto tag
  crate/server/src/config/command_line/jwks_endpoint_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/routes/crypto/keys.rs
  crate/server/src/routes/jwks.rs
  crate/server/src/tests/jwks_endpoint.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: first batch
  CHANGELOG/feat_jwks_endpoint.md
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/http_config.rs
  crate/server/src/config/command_line/jwks_endpoint_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/config/wizard/http_wizard.rs
  crate/server/src/config/wizard/tests.rs
  crate/server/src/main.rs
  crate/server/src/routes/jwks.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/jwks_endpoint.rs
  crate/server/src/tests/mod.rs
  crate/server/src/tests/test_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add smol rfc test
  crate/server/src/tests/rest_crypto/rfc_vectors.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: changelog
  crate/server/src/tests/rest_crypto/rfc_vectors.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: logs
  documentation/docs/configuration/log-reference.md
Due: none

fix: rebase fixes
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/tests/jwks_endpoint.rs
  crate/server/src/tests/rest_crypto/rfc_vectors.rs
  crate/server/src/tests/rest_crypto/tags.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add single roundtrip for encrypt/decrypt with wrapped DEK + non-reg test vectors
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/tags.rs
  crate/server/src/routes/jwks.rs
  crate/server/src/tests/rest_crypto/common.rs
  crate/server/src/tests/rest_crypto/encrypt_decrypt.rs
  crate/server/src/tests/rest_crypto/error_cases.rs
  crate/server/src/tests/rest_crypto/jose_vectors.rs
  crate/server/src/tests/rest_crypto/tags.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: rename rest_crypto to jose for clarity
  .pre-commit-config.yaml
  CHANGELOG.md
  crate/server/src/routes/jose/aes_gcm.rs
  crate/server/src/routes/jose/algorithm.rs
  crate/server/src/routes/jose/decrypt.rs
  crate/server/src/routes/jose/encrypt.rs
  crate/server/src/routes/jose/error.rs
  crate/server/src/routes/jose/keys.rs
  crate/server/src/routes/jose/mac.rs
  crate/server/src/routes/jose/mod.rs
  crate/server/src/routes/jose/models.rs
  crate/server/src/routes/jose/sign.rs
  crate/server/src/routes/jose/tags.rs
  crate/server/src/routes/jose/unwrap.rs
  crate/server/src/routes/jose/verify.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/jose/common.rs
  crate/server/src/tests/jose/encrypt_decrypt.rs
  crate/server/src/tests/jose/error_cases.rs
  crate/server/src/tests/jose/jose_vectors.rs
  crate/server/src/tests/jose/key_state.rs
  crate/server/src/tests/jose/mac.rs
  crate/server/src/tests/jose/mod.rs
  crate/server/src/tests/jose/rfc_vectors.rs
  crate/server/src/tests/jose/sign_verify.rs
  crate/server/src/tests/jose/tags.rs
  crate/server/src/tests/jose/unwrap.rs
  crate/server/src/tests/mod.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/configuration/log-reference.md
  documentation/docs/integrations/api.md
  documentation/docs/integrations/jose/jose_api.md
  documentation/docs/integrations/jose/jwks_endpoint.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(psql): wait for PostgreSQL to be ready before launching failover test
  .mise/tasks/test/psql
Due: none

docs(changelog): add CHANGELOG for fix/psql_failover_retry
  CHANGELOG/fix_psql_failover_retry.md
Due: none

docs(log): fill in structured fields for PostgreSQL retry warn entries
  documentation/docs/configuration/log-reference.md
Due: none

fix: wip
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/tests/mod.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PostgreSQL failover retry
  .mise/tasks/test/psql
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/tests/mod.rs
  docker-compose.yml
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PostgreSQL failover retry (#1039)
  .mise/tasks/test/psql
  CHANGELOG/fix_psql_failover_retry.md
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/tests/mod.rs
  docker-compose.yml
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: KMIP protocol versions
  .mise/scripts/docs/gen_vector_readme.py
  crate/kmip/src/ttlv/enum_lookup.rs
  crate/kmip/src/ttlv/ttlv_struct.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: issue 1035
  ui/src/components/common/HashMapDisplay.tsx
  ui/src/components/common/Locate.tsx
Due: ui-wasm-react-unit-tests

test: KMIP protocol versions (#1044)
  .mise/scripts/docs/gen_vector_readme.py
  crate/kmip/src/ttlv/enum_lookup.rs
  crate/kmip/src/ttlv/ttlv_struct.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: dehardcode VENDOR_ID_COSMIAN
  crate/clients/client_utils/src/attributes_utils.rs
  crate/clients/wasm/src/wasm.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(ui): sort KMIP attributes on Locate page results (#1036)
  CHANGELOG/feat_sort_on_KMIP.md
  crate/clients/client_utils/src/attributes_utils.rs
  crate/clients/wasm/src/wasm.rs
  ui/src/components/common/HashMapDisplay.tsx
  ui/src/components/common/Locate.tsx
  ui/tests/e2e/locate-attributes.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: consolidate object cache
  .mise/lib/bench_helpers.sh
  .mise/tasks/bench/load-hsm
  Cargo.lock
  Cargo.toml
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/kms/other_kms_methods.rs
  crate/server/src/core/operations/certify/resolve_issuer.rs
  crate/server/src/core/operations/certify/resolve_subject.rs
  crate/server/src/core/operations/derive_key.rs
  crate/server/src/core/operations/export_get.rs
  crate/server/src/core/operations/import.rs
  crate/server/src/core/operations/key_ops/crypto_op.rs
  crate/server/src/core/operations/message.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/server/src/core/retrieve_object_utils.rs
  crate/server/src/core/wrapping/unwrap.rs
  crate/server/src/core/wrapping/wrap.rs
  crate/server/src/main.rs
  crate/server/src/routes/jwks.rs
  crate/server/src/routes/kmip.rs
  crate/server/src/start_kms_server.rs
  crate/server_database/Cargo.toml
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/fingerprinter.rs
  crate/server_database/src/core/mod.rs
  crate/server_database/src/core/object_cache.rs
  crate/server_database/src/core/unwrapped_cache.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/sqlite.rs
  crate/test_kms_server/src/test_server.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: HSM tests
  .mise/tasks/test/hsm-crypt2pay
  .mise/tasks/test/hsm-proteccio
  .mise/tasks/test/hsm-utimaco
  crate/hsm/crypt2pay/src/tests.rs
  crate/kmip/src/ttlv/wire/ttlv_bytes_serializer.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc
