Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

feat: PostgreSQL HA retry improvements
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/tests/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: PostgreSQL multi-host URL support
  crate/server/src/config/command_line/db.rs
  crate/server_database/src/core/main_db_params.rs
  crate/server_database/src/core/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: add PostgreSQL HA changelog entry
  CHANGELOG.md
Due: none

feat: PostgreSQL HA cluster support with multi-host URLs (#818)
  CHANGELOG.md
  crate/server/src/config/command_line/db.rs
  crate/server_database/src/core/main_db_params.rs
  crate/server_database/src/core/mod.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/tests/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: add PostgreSQL High-Availability
  CHANGELOG.md
  documentation/docs/database.md
Due: none

fix: add ckms SBOM reports
  nix/expected-hashes/ui.pnpm.darwin.sha256
  nix/expected-hashes/ui.pnpm.linux.sha256
  sbom/ckms/fips/dynamic/bom.cdx.json
  sbom/ckms/fips/dynamic/bom.spdx.json
  sbom/ckms/fips/dynamic/meta.json
  sbom/ckms/fips/static/bom.cdx.json
  sbom/ckms/fips/static/bom.spdx.json
  sbom/ckms/fips/static/meta.json
  sbom/ckms/non-fips/dynamic/bom.cdx.json
  sbom/ckms/non-fips/dynamic/bom.spdx.json
  sbom/ckms/non-fips/dynamic/meta.json
  sbom/ckms/non-fips/static/bom.cdx.json
  sbom/ckms/non-fips/static/bom.spdx.json
  sbom/ckms/non-fips/static/meta.json
Due: none

fix(ckms): make ssl deprecated but still supported - avoiding breaking changes
  .github/copilot-instructions.md
  CHANGELOG/docs_load_tests.md
  crate/kms_client/src/http_client/client.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: sync UI with ckms
  .github/copilot-instructions.md
  .github/scripts/nix.sh
  .pre-commit-config.yaml
  CHANGELOG.md
  CHANGELOG/docs_load_tests.md
  crate/server/src/config/command_line/ui_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/main.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/wasm/src/wasm.rs
  documentation/docs/server_cli.md
  nix/scripts/generate_sbom.sh
  scripts/run_benchmarks_docker.sh
  scripts/run_benchmarks_load_tests.sh
  scripts/run_benchmarks_load_tests_docker.sh
  ui/.prettierignore
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/App.tsx
  ui/src/DeriveKey.tsx
  ui/src/Header.tsx
  ui/src/MainLayout.tsx
  ui/src/Sidebar.tsx
  ui/src/menuItems.tsx
  ui/tests/e2e/README.md
  ui/tests/e2e/aws-flow.spec.ts
  ui/tests/e2e/derive-key-flow.spec.ts
  ui/tests/e2e/helpers.ts
  ui/tests/e2e/routes.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: rename ssl to tls
  .github/scripts/google_cse_with_hsm.sh
  .github/scripts/test_docker_image.sh
  CHANGELOG.md
  crate/cli/src/tests/kms/auth_tests.rs
  crate/clients/ckms/src/commands.rs
  crate/clients/ckms/src/config.rs
  crate/clients/ckms/src/tests/kms/auth_tests.rs
  crate/kms_client/src/http_client/client.rs
  crate/kms_client/src/http_client/tests.rs
  crate/kms_client/src/http_client/tls.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/middlewares/tls_auth.rs
  crate/server/src/start_kms_server.rs
  crate/server_database/src/stores/sql/sqlite.rs
  crate/test_kms_server/src/test_server.rs
  documentation/docs/benchmarks/docker/benchmarks-5.17-vs-5.18.md
  documentation/docs/benchmarks/docker/load-tests-5.17-vs-5.18.md
  documentation/docs/benchmarks/docker/load-tests-5.17.md
  documentation/docs/benchmarks/docker/load-tests-5.18.md
  documentation/docs/benchmarks_load_tests.md
  scripts/run_benchmarks_load_tests_docker.sh
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(cli): nest server commands and decode pg ssl paths
  cli_documentation/docs/cli/main_commands.md
  cli_documentation/docs/usage.md
  crate/cli/src/actions/kms/actions.rs
  crate/cli/src/tests/kms/discover_versions.rs
  crate/cli/src/tests/kms/query.rs
  crate/clients/ckms/src/tests/kms/custom_headers_tests.rs
  crate/clients/ckms/src/tests/kms/forward_proxy_tests.rs
  crate/server_database/src/stores/sql/pgsql.rs
  scripts/run_benchmarks_docker.sh
  ui/src/App.tsx
  ui/src/MainLayout.tsx
  ui/src/Sidebar.tsx
  ui/src/menuItems.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: protect against a system-level /etc/cosmian/kms.toml
  .github/scripts/common.sh
  .github/scripts/test_hsm_proteccio.sh
  .github/scripts/test_hsm_softhsm2.sh
  .github/scripts/test_hsm_utimaco.sh
  CHANGELOG/feat_sync_ui_with_ckms.md
Due: none

ci: do not skip tests when db services down
  .github/scripts/common.sh
  CHANGELOG/feat_sync_ui_with_ckms.md
Due: none

chore(ui): remove debug console.log
  ui/src/App.tsx
  ui/src/MainLayout.tsx
  ui/src/Sidebar.tsx
  ui/src/utils.ts
Due: ui-wasm-react-unit-tests

documentation
  cli_documentation/docs/pkcs11/cryhod.md
  cli_documentation/docs/pkcs11/luks.md
  cli_documentation/docs/pkcs11/openssh.md
  cli_documentation/docs/pkcs11/veracrypt.md
Due: none

openssh documentation start
  cli_documentation/docs/pkcs11/openssh.md
Due: none

chore: resume OpenSSH integration
  .github/scripts/nix.sh
  .github/scripts/test_luks.sh
  .github/scripts/test_openssh.sh
  .github/workflows/test_all.yml
  CHANGELOG.md
  cli_documentation/docs/pkcs11/openssh.md
  cli_documentation/mkdocs.yml
  crate/clients/pkcs11/module/src/core/mechanism.rs
  crate/clients/pkcs11/module/src/core/object.rs
  crate/clients/pkcs11/module/src/objects_store.rs
  crate/clients/pkcs11/module/src/tests.rs
  crate/clients/pkcs11/module/src/traits/backend.rs
  crate/clients/pkcs11/module/src/traits/signature_algorithm.rs
  crate/clients/pkcs11/provider/src/backend.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/pkcs11_private_key.rs
  crate/clients/pkcs11/provider/src/pkcs11_public_key.rs
  crate/clients/pkcs11/provider/src/tests.rs
  shell.nix
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: add changelog
  CHANGELOG/openssh
Due: none

fix: fix CI failures (openssh/luks timeout, wasm prettier, psql mTLS filter)
  .github/scripts/common.sh
  .github/scripts/test_luks.sh
  .github/scripts/test_openssh.sh
  CHANGELOG/openssh
  ui/.prettierignore
Due: none

fix(test): clear stale port 9998 before openssh/luks rust tests
  .github/scripts/test_luks.sh
  .github/scripts/test_openssh.sh
  CHANGELOG/openssh
Due: none

ix(ci): use root endpoint for openssh/luks KMS readiness
  .github/scripts/test_luks.sh
  .github/scripts/test_openssh.sh
  CHANGELOG/openssh
Due: none

fix(ci): use explicit KMS config in openssh/luks integration tests
  .github/scripts/test_luks.sh
  .github/scripts/test_openssh.sh
  CHANGELOG/openssh
Due: none

fix(ci): include curl for openssh/luks readiness probes
  .github/scripts/common.sh
  .github/scripts/nix.sh
  CHANGELOG/openssh
Due: none

docs: reorganize docs
  .github/copilot-instructions.md
  CHANGELOG/openssh
  README.md
  cli_documentation/docs/index.md
  cli_documentation/mkdocs.yml
  documentation/docs/images/kms-ui.png
  documentation/docs/index.md
  documentation/docs/integrations/databases/mongodb.md
  documentation/docs/integrations/databases/ms_sql_server.md
  documentation/docs/integrations/databases/mysql.md
  documentation/docs/integrations/databases/oracle_tde.md
  documentation/docs/integrations/databases/percona.md
  documentation/docs/integrations/databases/snowflake_native_app/index.md
  documentation/docs/integrations/disk_encryption/cryhod.md
  documentation/docs/integrations/disk_encryption/images/Veracrypt-library-loading.png
  documentation/docs/integrations/disk_encryption/images/Veracrypt-select-token-1.png
  documentation/docs/integrations/disk_encryption/images/Veracrypt-select-token-2.png
  documentation/docs/integrations/disk_encryption/images/Veracrypt-select-token-3.png
  documentation/docs/integrations/disk_encryption/images/cryhod_cosmian_kms.png
  documentation/docs/integrations/disk_encryption/images/cryhod_encryption_center.png
  documentation/docs/integrations/disk_encryption/images/cryhod_need_additional_configuration.png
  documentation/docs/integrations/disk_encryption/images/cryhod_p131.png
  documentation/docs/integrations/disk_encryption/images/cryhod_p296.png
  documentation/docs/integrations/disk_encryption/images/cryhod_p821.png
  documentation/docs/integrations/disk_encryption/images/cryhod_pkcs11.png
  documentation/docs/integrations/disk_encryption/images/cryhod_policies_app.png
  documentation/docs/integrations/disk_encryption/images/veracrypt_ckms.svg
  documentation/docs/integrations/disk_encryption/luks.md
  documentation/docs/integrations/disk_encryption/veracrypt.md
  documentation/docs/integrations/openssh.md
  documentation/mkdocs.yml
Due: none

refactor: pkcs11 lib
  .github/scripts/renew_server_doc.sh
  .github/scripts/test_luks.sh
  .pre-commit-config.yaml
  CHANGELOG/openssh
  Cargo.lock
  crate/clients/pkcs11/module/Cargo.toml
  crate/clients/pkcs11/module/src/core/object.rs
  crate/clients/pkcs11/module/src/pkcs11.rs
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/module/src/tests.rs
  crate/clients/pkcs11/module/src/traits/backend.rs
  crate/clients/pkcs11/module/src/traits/certificate.rs
  crate/clients/pkcs11/module/src/traits/data_object.rs
  crate/clients/pkcs11/module/src/traits/mod.rs
  crate/clients/pkcs11/module/src/traits/private_key.rs
  crate/clients/pkcs11/module/src/traits/public_key.rs
  crate/clients/pkcs11/module/src/traits/symmetric_key.rs
  crate/clients/pkcs11/provider/src/backend.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/pkcs11_certificate.rs
  crate/clients/pkcs11/provider/src/pkcs11_data_object.rs
  crate/clients/pkcs11/provider/src/pkcs11_private_key.rs
  crate/clients/pkcs11/provider/src/pkcs11_public_key.rs
  crate/clients/pkcs11/provider/src/pkcs11_symmetric_key.rs
  crate/clients/pkcs11/provider/src/tests.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/test_kms_server/src/test_server.rs
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/benchmarks/benchmarks.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: security, CLI type-safety, UI auth, docs, bench CI (closes #811 #695 #763 #739 #688 #776)
  .github/scripts/benchmarks.sh
  CHANGELOG/openssh
  crate/cli/src/actions/kms/cover_crypt/keys/destroy_key.rs
  crate/cli/src/actions/kms/elliptic_curves/keys/destroy_key.rs
  crate/cli/src/actions/kms/pqc/keys/destroy_key.rs
  crate/cli/src/actions/kms/rsa/keys/destroy_key.rs
  crate/cli/src/actions/kms/symmetric/keys/destroy_key.rs
  crate/cli/src/tests/kms/shared/destroy.rs
  crate/server/kms_template.toml
  crate/server/src/config/command_line/hsm_config.rs
  crate/server/src/middlewares/tls_auth.rs
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/algorithms.md
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/kmip_support/_export.md
  documentation/docs/kmip_support/_import.md
  pkg/kms.toml
  ui/src/Sidebar.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: update changelog
  .github/copilot-instructions.md
  CHANGELOG/openssh
Due: none

fix(hsm): guard HSM key destroy against type mismatch via PKCS#11 roundtrip (#763)
  .github/scripts/benchmarks/benchmark_regression.sh
  .github/workflows/benchmark.yml
  .pre-commit-config.yaml
  CHANGELOG/openssh
  crate/cli/src/actions/kms/certificates/destroy_certificate.rs
  crate/cli/src/actions/kms/cover_crypt/keys/destroy_key.rs
  crate/cli/src/actions/kms/elliptic_curves/keys/destroy_key.rs
  crate/cli/src/actions/kms/opaque_object/destroy.rs
  crate/cli/src/actions/kms/pqc/keys/destroy_key.rs
  crate/cli/src/actions/kms/rsa/keys/destroy_key.rs
  crate/cli/src/actions/kms/secret_data/destroy_secret.rs
  crate/cli/src/actions/kms/shared/unwrap_key.rs
  crate/cli/src/actions/kms/shared/utils/destroy_utils.rs
  crate/cli/src/actions/kms/symmetric/keys/destroy_key.rs
  crate/cli/src/tests/kms/error_messages/activate.rs
  crate/cli/src/tests/kms/xml/kmip_1_4/kmip.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/kmip_2_1/kmip_operations.rs
  crate/server/src/core/operations/destroy.rs
  crate/server/src/main.rs
  crate/server/src/tests/cover_crypt_tests/integration_tests.rs
  crate/server/src/tests/cover_crypt_tests/integration_tests_tags.rs
  crate/server/src/tests/hsm/issues.rs
  crate/server/src/tests/hsm/mod.rs
  crate/server/src/tests/secret_data_tests.rs
  crate/wasm/src/wasm.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): fix Windows script paths and REPO_ROOT in pykmip/synology/azure scripts after reorganization (#835)
  .github/copilot-instructions.md
  .github/scripts/test/azure_ekm_mtls_test.sh
  .github/scripts/test/test_pykmip.sh
  .github/scripts/test/test_synology_dsm.sh
  .github/workflows/build_windows.yml
  .github/workflows/test_windows.yml
  CHANGELOG/openssh
Due: none

fix(ci): fix RepoRoot path in test_ui.ps1 (3 levels up, not 2) (#835)
  .github/scripts/windows/test_ui.ps1
Due: none

fix(ci): fix REPO_ROOT in test_xks.sh and test_gcp_cmek.sh
  .github/scripts/test/test_gcp_cmek.sh
  .github/scripts/test/test_xks.sh
Due: none

test: do not skip test
  .github/copilot-instructions.md
  .github/scripts/benchmarks/run_benchmarks.sh
  .github/scripts/build/build_ui_all.sh
  .github/scripts/common.sh
  .github/scripts/release/release.sh
  .github/scripts/test/test_lb_kms_shutdown.sh
  CHANGELOG/openssh
Due: none

chore: update Nix expected hashes
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

chore: update Nix expected hashes
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
Due: none

chore: update Nix expected hashes
  .github/scripts/nix.sh
  .github/scripts/test/test_docker_image.sh
  .github/workflows/packaging.yml
Due: none

ci: fix sbom generation
  .github/scripts/sbom/generate_sbom.sh
Due: none

ci: fix sbom generation
  .github/scripts/sbom/dedup_cves.py
  .github/scripts/sbom/generate_sbom.sh
  CHANGELOG/openssh
Due: none
