Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

fix(ci): exclude flaky Ubuntu manpages from lychee link check
  lychee.toml
Due: none

docs(spire): update AppRole rotations
  documentation/docs/integrations/spire_spiffe.md
  documentation/docs/integrations/spire_spiffe_kmip_plugin.md
Due: none

ci(spire): add spire-kmip e2e test to CI matrix
  .github/workflows/test_all.yml
Due: none

chore: commit submodules new refs
  documentation/docs/SUMMARY.md
Due: none

chore: update test_data repo to develop branch
  .github/workflows/test_all.yml
Due: none

docs(spire): update global schema + add spire script tests
  .mise/tasks/test/spire-kmip
  .mise/tasks/test/spire-kmip-key-manager
  .mise/tasks/test/spire-kmip-upstream-authority
  documentation/docs/integrations/spire_spiffe.md
  documentation/docs/integrations/spire_spiffe_kmip_plugin.md
Due: none

docs(spire): add incident response and endpoints description (#1134)
  .github/instructions/mermaid.instructions.md
  .mise/tasks/test/spire
  .mise/tasks/test/spire-kmip
  .mise/tasks/test/spire-kmip-key-manager
  .mise/tasks/test/spire-kmip-upstream-authority
  .mise/tasks/test/spire-sds
  deny.toml
  docker-compose.yml
  documentation/docs/SUMMARY.md
  documentation/docs/integrations/spire_spiffe.md
  documentation/docs/integrations/spire_spiffe_kmip_plugin.md
  documentation/nav.yml
  lychee.toml
Due: none

fix(sbom): add missing enrich_cpe.py script for CPE 2.3 enrichment
  .mise/scripts/sbom/enrich_cpe.py
Due: none

test: renew CSR test_data
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add SAP Sybase ASE and IBM Db2 LUW KMIP TDE integration tests
  .github/workflows/test_all.yml
  .gitignore
  .mise/lib/test_slots.sh
  .mise/scripts/docker/ase/.gitignore
  .mise/scripts/docker/ase/Dockerfile
  .mise/scripts/docker/ase/configure_kmip.sql
  .mise/scripts/docker/ase/entrypoint.sh
  .mise/scripts/docker/ase/response.txt
  .mise/scripts/nix.sh
  .mise/scripts/test/test_ase_tde.sh
  .mise/scripts/test/test_db2_tde.sh
  .mise/tasks/test/ase
  .mise/tasks/test/db2
  _typos.toml
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  docker-compose.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(test): correct IBM Db2 KMIP TDE integration test
  .mise/scripts/test/test_db2_tde.sh
  .mise/tasks/test/db2
Due: none

fix: current work saved
  crate/server/src/tests/key_ceremony_tests.rs
  crate/server_database/src/stores/sql/pgsql.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: issue #909
  CHANGELOG/fix_lot_of_fixes.md
  SECURITY.md
  crate/server/src/tests/key_ceremony_tests.rs
  crate/server_database/src/core/database_objects.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: version
  SECURITY.md
Due: none

feat: clippy
  crate/server_database/src/stores/sql/pgsql.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: wildcard issue (#909)
  CHANGELOG/fix_lot_of_fixes.md
  SECURITY.md
  crate/server/src/tests/key_ceremony_tests.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/stores/sql/pgsql.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: public CRL distribution point is not primed by certificate revocation
  crate/server/src/core/operations/revoke.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(security): correct advisory ID in CRL SSRF mitigation comments
  crate/server/src/core/certificate/mod.rs
  crate/server/src/core/operations/validate.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: fix rebase
  .pre-commit-config.yaml
  crate/server_database/src/stores/redis/redis_with_findex.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: rebase
  .mise/tasks/test/edb-tde
  .mise/tasks/test/hsm-proteccio
  .pre-commit-config.yaml
  crate/server/src/tests/crl_tests.rs
  crate/server_database/src/core/database_permissions.rs
  crate/test_kms_server/README.md
  documentation/docs/configuration/authorization/key_ceremony.md
  documentation/docs/configuration/log-reference.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(security): close IPv6 SSRF bypass in CRL Distribution Point validation
  SECURITY.md
  crate/server/src/core/certificate/mod.rs
  crate/server/src/core/operations/validate.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: rename COSMIAN-2026-020 to COSMIAN-2026-021
  SECURITY.md
  crate/server/src/core/certificate/mod.rs
  crate/server/src/core/operations/validate.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(deps): bump brace-expansion and nanoid in UI overrides
  ui/package.json
  ui/pnpm-lock.yaml
Due: none

fix: restore broken test config path (auth/verifier.toml -> auth_verifier.toml)
  crate/server/src/config/command_line/auth_verifier_config.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(oidc): honor idp_auth_accept_invalid_certs for UI OIDC discovery
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add OCSP responder support
  .github/workflows/test_all.yml
  .mise/tasks/test/ocsp
  .mise/tasks/test/pki-revocation
  CHANGELOG/ocsp.md
  Cargo.lock
  _typos.toml
  crate/crypto/src/openssl/mod.rs
  crate/crypto/src/openssl/ocsp.rs
  crate/crypto/src/openssl/ocsp_ffi.rs
  crate/interfaces/Cargo.toml
  crate/interfaces/src/stores/objects_store.rs
  crate/server/documentation/openapi.yaml
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/command_line/ocsp_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/operations/revoke.rs
  crate/server/src/core/operations/validate.rs
  crate/server/src/main.rs
  crate/server/src/routes/mod.rs
  crate/server/src/routes/ocsp/handler.rs
  crate/server/src/routes/ocsp/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/test_validate.rs
  crate/server_database/Cargo.toml
  crate/server_database/src/core/database_objects.rs
  documentation/docs/SUMMARY.md
  documentation/docs/adr/2026-09-02-ocsp-responder-rfc-6960.md
  documentation/docs/use_cases/pki-ocsp.md
  documentation/docs/use_cases/pki-revocation.md
  documentation/docs/use_cases/pki.md
  documentation/nav.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: cross-platform c_long conversions in OCSP FFI layer (Windows LLP64 build failure)
  crate/crypto/src/openssl/ocsp.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ocsp): enforce delegated responder authorization and GET length cap
  CHANGELOG/ocsp.md
  crate/crypto/src/openssl/ocsp.rs
  crate/server/src/config/command_line/ocsp_config.rs
  crate/server/src/routes/ocsp/handler.rs
  crate/server/src/routes/ocsp/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: address security review findings + Windows-only test flakiness
  CHANGELOG/ocsp.md
  crate/crypto/src/openssl/ocsp.rs
  crate/server/src/config/command_line/ocsp_config.rs
  crate/server/src/core/operations/validate.rs
  crate/server/src/tests/test_validate.rs
  documentation/docs/adr/2026-09-02-ocsp-responder-rfc-6960.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: update log-ref
  documentation/docs/configuration/log-reference.md
Due: none

fix(pkcs11): default CKA_SENSITIVE to false when caller omits it
  .mise/scripts/test/test_ase_tde.sh
  crate/clients/pkcs11/module/src/sessions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): add missing FR/EN/ZH-CN translations for CRL download and FR login methods
  CHANGELOG/feat_french_kms.md
  ui/src/i18n/locales/en/actions.json
  ui/src/i18n/locales/fr/actions.json
  ui/src/i18n/locales/fr/layout.json
  ui/src/i18n/locales/zh-CN/actions.json
Due: none

fix: docker deps in nix.sh, pipefail in ASE Dockerfile install
  .mise/scripts/docker/ase/Dockerfile
  .mise/scripts/nix.sh
Due: none

feat: Le KMS français 🥖🇫🇷 (#1124)
  CHANGELOG/feat_french_kms.md
  documentation/docs/SUMMARY.md
  ui/src/actions/Access/CryptoOfficerRole.tsx
  ui/src/actions/CloudProviders/AwsImportKek.tsx
  ui/src/components/layout/Header.tsx
  ui/src/i18n/localeRegistry.ts
  ui/src/i18n/locales/en/actions.json
  ui/src/i18n/locales/fr/actions.json
  ui/src/i18n/locales/fr/common.json
  ui/src/i18n/locales/fr/layout.json
  ui/src/i18n/locales/fr/locate.json
  ui/src/i18n/locales/fr/menu.json
  ui/src/i18n/locales/zh-CN/actions.json
  ui/src/i18n/useAppLocale.ts
  ui/src/utils/utils.ts
Due: ui-wasm-react-unit-tests

feat: add OCSP responder support (#1164)
  .github/workflows/test_all.yml
  .mise/tasks/test/ocsp
  .mise/tasks/test/pki-revocation
  CHANGELOG/ocsp.md
  Cargo.lock
  _typos.toml
  crate/crypto/src/openssl/mod.rs
  crate/crypto/src/openssl/ocsp.rs
  crate/crypto/src/openssl/ocsp_ffi.rs
  crate/interfaces/Cargo.toml
  crate/interfaces/src/stores/objects_store.rs
  crate/server/documentation/openapi.yaml
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/command_line/ocsp_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/operations/revoke.rs
  crate/server/src/core/operations/validate.rs
  crate/server/src/main.rs
  crate/server/src/routes/mod.rs
  crate/server/src/routes/ocsp/handler.rs
  crate/server/src/routes/ocsp/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/test_validate.rs
  crate/server_database/Cargo.toml
  crate/server_database/src/core/database_objects.rs
  documentation/docs/SUMMARY.md
  documentation/docs/adr/2026-09-02-ocsp-responder-rfc-6960.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/use_cases/pki-ocsp.md
  documentation/docs/use_cases/pki-revocation.md
  documentation/docs/use_cases/pki.md
  documentation/nav.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
