Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

fix(pkcs11): skip unsupported HSM benchmark modes
  crate/clients/clap/src/actions/pkcs11/bench/load.rs
  crate/clients/clap/src/actions/pkcs11/bench/setup.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): probe HSM benchmark capabilities per provider
  CHANGELOG/hsm_delegation_benchs.md
  crate/clients/clap/src/actions/pkcs11/bench/criterion_bench.rs
  crate/clients/clap/src/actions/pkcs11/bench/load.rs
  crate/clients/clap/src/actions/pkcs11/bench/loader.rs
  crate/clients/clap/src/actions/pkcs11/bench/mod.rs
  crate/clients/clap/src/actions/pkcs11/bench/setup.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(crypt2pay): stop tracing VPN credentials
  CHANGELOG/hsm_delegation_benchs.md
  crate/hsm/base_hsm/src/session/session_impl.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(bench): support any --hsm-model without --delegated
  .mise/lib/bench_helpers.sh
  .mise/tasks/bench/hsm
Due: none

fix(test): source local Crypt2Pay credentials in hsm-crypt2pay task
  .mise/tasks/test/hsm-crypt2pay
Due: none

fix(pkcs11): avoid unaligned reads of packed CK_ATTRIBUTE fields in tests
  crate/clients/pkcs11/module/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(alpine): replace musl release tarballs with Alpine .apk packages
  .github/workflows/packaging.yml
  .mise/scripts/package/package_apk.sh
  .mise/scripts/package/package_musl_tarball.sh
  .mise/scripts/test/test_alpine_musl.sh
  .mise/tasks/package/apk
  .mise/tasks/package/musl-tarball
  .mise/tasks/test/alpine-native-build
  .mise/tasks/test/musl-crosscheck
  CHANGELOG/alpine.md
  README.md
  crate/server/src/openssl_providers.rs
  default.nix
  documentation/docs/installation/installation_getting_started.md
  pkg/apk/cosmian_kms.confd
  pkg/apk/cosmian_kms.initd
  pkg/apk/postinstall.sh
  pkg/apk/preremove.sh
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(bench): add RSA-OAEP and ECDSA P-384 pkcs11 bench coverage
  CHANGELOG/hsm_delegation_benchs.md
  crate/clients/clap/src/actions/pkcs11/bench/load.rs
  crate/clients/clap/src/actions/pkcs11/bench/loader.rs
  crate/clients/clap/src/actions/pkcs11/bench/setup.rs
  crate/clients/pkcs11/module/src/core/mechanism.rs
  crate/clients/pkcs11/module/src/traits/encryption_algorithms.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(crypt2pay): tests
  crate/clients/clap/src/actions/pkcs11/bench/setup.rs
  crate/clients/pkcs11/module/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): fix ECDSA DER/raw signature format and message-based AES-GCM IV generation
  .mise/lib/bench_helpers.sh
  .mise/scripts/bench/plot_version_compare.py
  .mise/scripts/bench/tests/fixtures/pkcs11_overhead_full.json
  .mise/scripts/bench/tests/fixtures/pkcs11_overhead_partial.json
  .mise/scripts/bench/tests/test_plot_version_compare.py
  .mise/tasks/bench/pkcs11
  Cargo.lock
  crate/clients/clap/Cargo.toml
  crate/clients/clap/src/actions/pkcs11/bench/criterion_bench.rs
  crate/clients/clap/src/actions/pkcs11/bench/error.rs
  crate/clients/clap/src/actions/pkcs11/bench/load.rs
  crate/clients/clap/src/actions/pkcs11/bench/loader.rs
  crate/clients/clap/src/actions/pkcs11/bench/mod.rs
  crate/clients/clap/src/actions/pkcs11/bench/ops.rs
  crate/clients/clap/src/actions/pkcs11/bench/overhead.rs
  crate/clients/clap/src/actions/pkcs11/bench/report.rs
  crate/clients/pkcs11/module/src/core/attribute.rs
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/module/src/tests.rs
  crate/clients/pkcs11/module/src/traits/backend.rs
  crate/clients/pkcs11/provider/src/backend.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/lib.rs
  crate/clients/pkcs11/provider/src/pkcs11_private_key.rs
  crate/clients/pkcs11/provider/src/pkcs11_public_key.rs
  crate/clients/pkcs11/provider/src/tests_v3.rs
  crate/hsm/base_hsm/src/hsm_lib.rs
  crate/hsm/base_hsm/src/session/message_aead.rs
  crate/hsm/base_hsm/src/session/message_sign.rs
  crate/hsm/base_hsm/src/session/mod.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(test): resolve clippy violations in ECDSA test functions
  crate/clients/pkcs11/provider/src/kms_object.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: add KeyAlgorithm parameter to remote_sign calls after API change
  crate/clients/pkcs11/provider/src/tests.rs
  crate/clients/pkcs11/provider/src/tests_v3.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

style: cleanup trailing whitespace and empty comment lines in message_aead
  crate/clients/pkcs11/module/src/tests.rs
  crate/clients/pkcs11/provider/src/backend.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/tests.rs
  crate/clients/pkcs11/provider/src/tests_v3.rs
  crate/hsm/base_hsm/src/session/message_aead.rs
  crate/hsm/base_hsm/src/session/message_sign.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Revert "style: cleanup trailing whitespace and empty comment lines in message_aead"
  crate/clients/pkcs11/module/src/tests.rs
  crate/clients/pkcs11/provider/src/backend.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/tests.rs
  crate/clients/pkcs11/provider/src/tests_v3.rs
  crate/hsm/base_hsm/src/session/message_aead.rs
  crate/hsm/base_hsm/src/session/message_sign.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: stabilize non-FIPS tests and PGP key inputs
  crate/server/src/start_kms_server.rs
  ui/src/actions/Pgp/PgpDecrypt.tsx
  ui/src/actions/Pgp/PgpEncrypt.tsx
  ui/src/actions/Pgp/PgpSign.tsx
  ui/src/actions/Pgp/PgpVerify.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(hsm): fix RSA-OAEP-SHA1 SoftHSM2 regression and ECDSA KMIP-verify format mismatch
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/tests_v3.rs
  crate/hsm/softhsm2/src/tests.rs
  crate/test_kms_server/README.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

style: apply cargo fmt
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/tests.rs
  crate/clients/pkcs11/provider/src/tests_v3.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pkcs11): fix dangling-pointer UB in CKM_AES_GCM mechanism test helper
  crate/clients/pkcs11/module/src/core/mechanism.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: resolve PKCS11 and FIPS PGP CI failures
  crate/clients/pkcs11/module/src/tests.rs
  ui/tests/e2e/pgp-key-flow.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(hsm): add per-model PKCS#11 algorithm support comparison page
  documentation/docs/SUMMARY.md
  documentation/docs/hsm_support/algorithm_support.md
  documentation/docs/hsm_support/hsm_operations.md
  documentation/docs/hsm_support/multi_hsm.md
  documentation/nav.yml
Due: none

test: fix c2p bench
  crate/hsm/base_hsm/src/kms_hsm.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(pgp): repair lifecycle and stabilize UI E2E
  .mise/scripts/test/test_ui.sh
  CHANGELOG/feat_kmip_pgp.md
  crate/server/src/core/operations/destroy.rs
  crate/server/src/core/operations/revoke.rs
  crate/test_kms_server/src/pgp_tests.rs
  ui/playwright.config.ts
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(hsm): cross-backend shared test coverage, Kryoptic findings, secp192k1
  CHANGELOG/hsm_delegation_benchs.md
  crate/clients/clap/src/actions/elliptic_curves/sign.rs
  crate/clients/client_utils/src/create_utils.rs
  crate/crypto/src/crypto/elliptic_curves/operation.rs
  crate/crypto/src/openssl/private_key.rs
  crate/crypto/src/openssl/public_key.rs
  crate/hsm/base_hsm/src/kms_hsm.rs
  crate/hsm/base_hsm/src/session/ec.rs
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/hsm/crypt2pay/src/tests.rs
  crate/hsm/kryoptic/src/tests.rs
  crate/hsm/proteccio/src/tests.rs
  crate/hsm/smartcardhsm/src/tests.rs
  crate/hsm/utimaco/src/tests.rs
  crate/interfaces/src/crypto_oracle.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/interfaces/src/hsm/interface.rs
  crate/server/src/core/operations/create_key_pair.rs
  documentation/docs/hsm_support/algorithm_support.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: bench on HSM simulators
  .github/workflows/test_all.yml
Due: none

fix(crypto): preserve PGP recipient subkey metadata
  CHANGELOG/feat_kmip_pgp.md
  crate/crypto/src/crypto/openpgp/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(hsm): skip per-combination sign capability gaps instead of hard-failing
  CHANGELOG/hsm_delegation_benchs.md
  crate/hsm/base_hsm/src/tests_shared.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(hsm): scope Utimaco composite test back to its last-known-green shape
  CHANGELOG/hsm_delegation_benchs.md
  crate/hsm/utimaco/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(nix): provide libclang to the HSM shell for bindgen-based crates
  shell.nix
Due: nixfmt, statix

fix(kryoptic): select workspace OpenSSL and native SQLite dependencies
  .mise/lib/kryoptic.sh
  CHANGELOG/hsm_delegation_benchs.md
  shell.nix
Due: nixfmt, statix

fix(kryoptic): isolate OpenSSL overrides from later workspace builds
  .mise/lib/kryoptic.sh
  CHANGELOG/hsm_delegation_benchs.md
Due: none

fix(kryoptic): pass workspace OpenSSL headers to bindgen
  .mise/lib/kryoptic.sh
  CHANGELOG/hsm_delegation_benchs.md
Due: none

docs(ai): scope audit and CI repair workflows
  .github/copilot-instructions.md
  .github/instructions/lockfile-hashes.instructions.md
  .github/instructions/middlewares.instructions.md
  .github/instructions/routes.instructions.md
  .github/instructions/rust-crypto.instructions.md
  .github/instructions/rust-database.instructions.md
  .github/instructions/rust-kmip.instructions.md
  .github/instructions/rust-server.instructions.md
  .github/instructions/rust.instructions.md
  .github/instructions/server-config.instructions.md
  .github/skills/README.md
  .github/skills/ci-efficiency/SKILL.md
  .github/skills/ci-fix/SKILL.md
  .github/skills/code-quality/SKILL.md
  .github/skills/kms-caveman/SKILL.md
  .github/skills/kms-last-test-v5/SKILL.md
  .github/skills/meta-security/SKILL.md
  .github/skills/rust-panic-audit/SKILL.md
  .github/skills/rust-review-all/SKILL.md
  .github/skills/security-review/SKILL.md
  AGENTS.md
Due: none

fix CLI derivation
  crate/clients/clap/src/actions/cover_crypt/access_structure.rs
  crate/server/src/core/cover_crypt/rekey_keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

add actions to add a Covercrypt dimension to the master keys
  crate/clients/clap/src/actions/cover_crypt/access_structure.rs
  crate/crypto/src/crypto/cover_crypt/attributes.rs
  crate/server/src/core/cover_crypt/rekey_keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix clippy
  crate/clients/clap/src/actions/cover_crypt/access_structure.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

style fix
  crate/clients/clap/src/actions/cover_crypt/access_structure.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

revert more code to narrow down the issue
  crate/server/src/core/cover_crypt/rekey_keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

revert client modifications to narrow down the stack overflow
  crate/clients/clap/src/actions/cover_crypt/access_structure.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

reinstall some code to narrow down the issue
  crate/server/src/core/cover_crypt/rekey_keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc
