Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

refactor(config): extract CRL lifecycle settings into CrlConfig struct
  CHANGELOG/fix_put_kms_public_url_in_allowed_cors_by_default.md
  crate/crypto/src/openssl/crl.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/crl_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: redis tests
  crate/server_database/src/stores/redis/redis_with_findex.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: GHSA-rwc8-xwm6-52xc
  SECURITY.md
  crate/server/src/core/certificate/mod.rs
  crate/server/src/core/operations/import.rs
  crate/server/src/core/operations/validate.rs
  documentation/docs/configuration/log-reference.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(test): use temp file in sr_crl_10 instead of test_data submodule
  crate/server/src/core/operations/validate.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: follow RFC 5280 for RemoveFromCRL reason mapping
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/main.rs
  crate/test_kms_server/src/crl_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(test_kms_server): update config paths to match test_data feature/split_key layout
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: CRLs RFCs compliance review
  crate/crypto/src/openssl/crl.rs
  crate/interfaces/src/stores/permissions_store.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/sqlite.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): rebase issue
  ui/src/actions/Access/AccessGrant.tsx
  ui/src/actions/Objects/ObjectsDestroy.tsx
Due: ui-wasm-react-unit-tests

test(crl): verify CRL generation when CO role is disabled
  crate/test_kms_server/src/crl_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(crl): remove CO guard — CRL is public information (RFC 5280 §3)
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/core/operations/revoke.rs
  crate/server/src/cron.rs
  documentation/docs/configuration/log-reference.md
  yo.der
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(test): update test_toml expected string for CrlConfig TOML section
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(pki): split revocation on dedicated page
  documentation/docs/SUMMARY.md
  documentation/docs/adr/2026-08-20-pki-crl-generation-distribution-auto-refresh.md
  documentation/docs/use_cases/pki-revocation.md
  documentation/docs/use_cases/pki.md
Due: none

test(ci): add Kubernetes pod smoke-test for KMS Docker image (issue #1132)
  .github/workflows/packaging-docker.yml
  .mise/tasks/test/k8s/README.md
  .mise/tasks/test/k8s/kms-image
  deny.toml
  lychee.toml
Due: none

fix(nix): make all fakeRootCommands write targets writable, not just /etc
  nix/docker.nix
Due: nixfmt, statix

fix(nix): include grep in Docker runtime env for CA bundle validation
  CHANGELOG/fix_k8s-kms-pod-ci-test.md
  nix/docker.nix
Due: nixfmt, statix

fix(nix): replace etc symlink with real directory in fakeRootCommands
  nix/docker.nix
Due: nixfmt, statix

fix(docker): restore /etc files in image and add curl; improve CI coverage (issue #1132)
  .mise/lib/test_slots.sh
  .mise/scripts/docker-compose.yml
  .mise/scripts/test/test_docker_image.sh
  nix/docker.nix
Due: nixfmt, statix

fix(docker): use pkgs.runCommand for /etc layer — fixes missing files in Kubernetes pod (issue #1132)
  nix/docker.nix
Due: nixfmt, statix

fix(nix): chmod 755 etc/ before writing /etc files in fakeRootCommands
  nix/docker.nix
Due: nixfmt, statix

test(ci): cover plain non-root, CA bundle, and k8s runAsNonRoot regressions (#1132)
  .mise/lib/test_slots.sh
  .mise/scripts/docker-compose.yml
  .mise/scripts/test/test_docker_image.sh
  .mise/tasks/test/k8s/kms-image
Due: none

test(ci): close Docker image coverage gaps — TLS+nonroot, readOnlyRootFilesystem, FIPS variant
  .mise/lib/test_slots.sh
  .mise/scripts/docker-compose.yml
  .mise/scripts/test/test_docker_image.sh
Due: none

ci(docker): add arm64 to k8s-kms-pod test matrix; add docker/k8s instructions
  .github/copilot-instructions.md
  .github/instructions/docker.instructions.md
  .github/workflows/packaging-docker.yml
  .gitignore
  .mise/tasks/test/k8s/README.md
  AGENTS.md
Due: none

test(ci): add Kubernetes pod smoke-test for KMS Docker image (#1133)
  .github/copilot-instructions.md
  .github/instructions/docker.instructions.md
  .github/workflows/packaging-docker.yml
  .gitignore
  .mise/lib/test_slots.sh
  .mise/scripts/docker-compose.yml
  .mise/scripts/test/test_docker_image.sh
  .mise/tasks/test/k8s/README.md
  .mise/tasks/test/k8s/kms-image
  AGENTS.md
  CHANGELOG/fix_k8s-kms-pod-ci-test.md
  deny.toml
  lychee.toml
  nix/docker.nix
Due: nixfmt, statix

fix: threat model fixes
  .gitignore
  crate/clients/wasm/src/wasm.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/routes/access.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/key_ceremony_tests.rs
  threat-model-20260803-120000/0-architecture.md
  threat-model-20260803-120000/0-assessment.md
  threat-model-20260803-120000/1-dfd.md
  threat-model-20260803-120000/2-stride-analysis.md
  threat-model-20260803-120000/3-findings.md
  threat-model-20260803-120000/threat-inventory.json
  ui/src/actions/Access/CryptoOfficerRole.tsx
  ui/src/actions/Keys/JoinSplitKey.tsx
  ui/src/actions/Keys/SplitKey.tsx
  ui/tests/unit/split-key-logic.test.ts
  ui/tests/unit/tsx-imports/SplitKey.test.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(co-ceremony): add target_user to disable endpoint for peer revocation
  crate/server/src/core/kms/permissions.rs
  crate/server/src/routes/access.rs
  crate/server/src/tests/key_ceremony_tests.rs
  documentation/docs/adr/2026-06-24-two-role-rbac-crypto-officer-operator.md
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(co-ceremony): add create-split-key subcommand to crypto-officer CLI
  CHANGELOG/feat_split_key.md
  crate/clients/clap/src/actions/access.rs
  crate/clients/client/src/kms_rest_client.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/test_kms_server/src/test_server.rs
  documentation/docs/configuration/log-reference.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(clippy): fix unseparated literal suffixes and add test module allows
  crate/clients/ckms/src/tests/rbac_tests.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/tests/key_ceremony_tests.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(e2e): retry on transient 'Failed to fetch' in key creation helpers
  ui/playwright.config.ts
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests

fix(wizard): remove dead fields from AuthWizardResult and wire auth_verifier
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/config/wizard/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(kmip-1.4): implement CreateSplitKey and JoinSplitKey for KMIP 1.4
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: fix errors
  .github/workflows/test_all.yml
  CHANGELOG.md
  crate/clients/client/Cargo.toml
  crate/clients/client/src/http_client/client.rs
  ui/tests/unit/tsx-imports/CryptoOfficerRevoke.test.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): gate CO revoke UI on is_crypto_officer + sync log-reference.md
  documentation/docs/configuration/log-reference.md
  ui/src/actions/Access/CryptoOfficerRole.tsx
Due: ui-wasm-react-unit-tests

docs(get-attrs): fix stale comment about SplitKey stored Attributes
  crate/server/src/core/operations/attributes/get.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: stick to UserId
  crate/clients/clap/src/actions/symmetric/keys/join_split_key.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/routes/access.rs
  crate/server/src/tests/key_ceremony_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: KMIP SplitKey compliance
  crate/clients/clap/src/actions/access.rs
  crate/clients/clap/src/actions/symmetric/keys/create_split_key.rs
  crate/clients/clap/src/actions/symmetric/keys/join_split_key.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/kmip_2_1/kmip_operations.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/core/operations/message.rs
  crate/server/src/tests/key_ceremony_tests.rs
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor: simplify dispatch.rs
  crate/server/src/core/operations/dispatch.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc
