Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

docs: key_ceremony update
  crate/server/src/core/operations/join_split_key.rs
  documentation/docs/configuration/authorization/key_ceremony.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: fix wasm
  crate/clients/clap/src/actions/google/key_pairs/create.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: fix server_cli.md generation to satisfy MD041 (prepend H1 heading)
  .mise/scripts/docs/renew_server_doc.sh
  crate/server_database/src/stores/sql/query_sqlite.sql
  documentation/docs/configuration/server_cli.md
Due: none

fix: remove useless crypto_sensor doc + code
  .mise/scripts/audit/audit.sh
  .mise/scripts/audit/crypto_sensor.sh
  .mise/scripts/audit/multi_framework.sh
  .mise/scripts/audit/risk_score.py
  .mise/scripts/audit/runtime_security.sh
  .mise/tasks/audit/crypto
  .mise/tasks/audit/multi
  .mise/tasks/audit/runtime
  documentation/docs/SUMMARY.md
  documentation/docs/certifications_and_compliance/audit/crypto_inventory.md
  documentation/docs/certifications_and_compliance/audit/multi_framework_security_audit.md
  documentation/docs/certifications_and_compliance/audit/owasp_security_audit.md
  documentation/docs/certifications_and_compliance/audit/runtime_security_audit.md
  documentation/nav.yml
Due: none

fix(db): reuse SQL statements, factorize locate_query.rs functions
  .mise/scripts/docs/generate_docs.sh
  .mise/scripts/kmip-go/README.md
  .mise/tasks/docs/generate
  crate/server/kms_template.toml
  crate/server/src/core/operations/query.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/stores/mod.rs
  crate/server_database/src/stores/sql/locate_query.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  documentation/docs/configuration/log-reference.md
  documentation/docs/configuration/server_configuration_file.md
  lychee.toml
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: ignore RUSTSEC-2026-0258 since actix-http only ships h2 0.3.x
  Cargo.lock
  deny.toml
Due: none

fix(security): address security review findings on PR #991
  CHANGELOG/feat_split_key.md
  crate/access/src/access.rs
  crate/server/src/core/kms/permissions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci(lychee): do not block CI
  .github/workflows/main_base.yml
Due: none

fix(permissions): replace stale 'privileged_users' terminology in error messages
  crate/server/src/core/kms/permissions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(changelog): record F-2/F-3/F-6/F-7/F-8/F-9 security improvements
  CHANGELOG/feat_split_key.md
Due: none

docs(adr): correct CO role matrix — remove GrantAccess/RevokeAccess from allowed ops
  documentation/docs/adr/2026-06-24-two-role-rbac-crypto-officer-operator.md
Due: none

fix(ceremony): F-2 + F-3 + F-9 security fixes for CO split-key ceremony
  crate/access/src/access.rs
  crate/interfaces/src/stores/permissions_store.rs
  crate/server/src/config/command_line/roles_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/tests/key_ceremony_tests.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  documentation/docs/configuration/log-reference.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(permissions): document PM-2 and PM-3 design intent in enforce_create_permission
  crate/server/src/core/kms/permissions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(access): correct CryptoOfficerConfig doc — CO has no crypto-use bypass on foreign objects
  crate/access/src/access.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ceremony): elevate split-key share audit logs to ERROR, add session_id correlation
  crate/access/src/access.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(locate): clarify CO ownership bypass behavior for Locate (PM-6)
  crate/server/src/core/operations/locate.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(dispatch): route CO lifecycle ops through enforce_create_permission explicitly
  crate/server/src/core/operations/dispatch.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(ceremony): correct dual-control description to match actual server check
  crate/clients/clap/src/actions/access.rs
  documentation/docs/configuration/authorization/key_ceremony.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(destroy): clarify CO bypass and silent-skip semantics vs Revoke
  crate/server/src/core/operations/destroy.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ceremony): surface wrapping-key-not-found as 422 so operator receives the diagnostic message
  crate/server/src/core/operations/create_split_key.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(ceremony): correct dual-control wording — assembler can own shares, requires at least one from another CO
  crate/server/src/core/operations/join_split_key.rs
  documentation/docs/configuration/authorization/key_ceremony.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(i18n): still non-conformed strings
  CHANGELOG/feat_split_key.md
  documentation/docs/adr/2026-06-24-two-role-rbac-crypto-officer-operator.md
  ui/src/actions/Access/AccessList.tsx
  ui/src/actions/Certificates/CertificateDecrypt.tsx
  ui/src/actions/Certificates/CertificateEncrypt.tsx
  ui/src/actions/Certificates/CertificateExport.tsx
  ui/src/actions/Certificates/CertificateReCertify.tsx
  ui/src/actions/Covercrypt/CovercryptDecrypt.tsx
  ui/src/actions/Covercrypt/CovercryptEncrypt.tsx
  ui/src/actions/EC/ECDecrypt.tsx
  ui/src/actions/EC/ECEncrypt.tsx
  ui/src/actions/EC/ECSign.tsx
  ui/src/actions/EC/ECVerify.tsx
  ui/src/actions/FPE/FpeDecrypt.tsx
  ui/src/actions/FPE/FpeEncrypt.tsx
  ui/src/actions/MAC/MacCompute.tsx
  ui/src/actions/MAC/MacVerify.tsx
  ui/src/actions/PQC/PqcDecapsulate.tsx
  ui/src/actions/PQC/PqcEncapsulate.tsx
  ui/src/actions/PQC/PqcSign.tsx
  ui/src/actions/PQC/PqcVerify.tsx
  ui/src/actions/RSA/RsaDecrypt.tsx
  ui/src/actions/RSA/RsaEncrypt.tsx
  ui/src/actions/RSA/RsaSign.tsx
  ui/src/actions/RSA/RsaVerify.tsx
  ui/src/actions/Symmetric/SymmetricDecrypt.tsx
  ui/src/actions/Symmetric/SymmetricEncrypt.tsx
  ui/src/components/common/KeyIdInput.tsx
  ui/src/components/common/LocateButton.tsx
  ui/src/i18n/locales/en/actions.json
  ui/src/i18n/locales/zh-CN/actions.json
Due: ui-wasm-react-unit-tests

chore: remove internal plan references (F-x, PM-x) from source and docs
  CHANGELOG/feat_split_key.md
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/core/operations/locate.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/configuration/log-reference.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: log-ref update
  documentation/docs/configuration/log-reference.md
Due: none

fix(ceremony): destroy orphaned source key when CreateSplitKey fails (compensating delete)
  crate/clients/clap/src/actions/access.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: fix AI skill
  .github/copilot-instructions.md
  .github/instructions/cli-ui-sync.instructions.md
  .github/instructions/docs.instructions.md
  .github/instructions/kmip-operations.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/middlewares.instructions.md
  .github/instructions/playwright.instructions.md
  .github/instructions/ui-routes.instructions.md
  .github/skills/README.md
  .github/skills/adr/SKILL.md
  .github/skills/docs-writer/SKILL.md
  .github/skills/kms-last-test-v5/SKILL.md
  .github/skills/kms-sync-rules/SKILL.md
  AGENTS.md
Due: none

fix(ui): bug in minimized left menu where tooltips were invisible + fix Back-button theme
  ui/src/App.tsx
  ui/src/components/layout/Sidebar.tsx
Due: ui-wasm-react-unit-tests

fix: update old ref to OpenSSL 3.6.0 to 3.6.2
  .github/copilot-instructions.md
  .github/instructions/nix.instructions.md
  .github/instructions/rust-crypto.instructions.md
  AGENTS.md
Due: none

fix: on KMS startup, using default_username + CO role fails
  crate/server/src/config/params/server_params.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: c2p still unavailable
  .github/workflows/test_all.yml
Due: none

fix: doc fix
  documentation/docs/SUMMARY.md
Due: none

fix: move hardcoded allowed ops from dispatch
  .github/copilot-instructions.md
  .github/instructions/rust-cli.instructions.md
  .github/skills/README.md
  .github/skills/ckms-subcommand-test/SKILL.md
  .github/workflows/test_all.yml
  .mise/scripts/kmip-go/README.md
  AGENTS.md
  crate/access/src/access.rs
  crate/clients/ckms/src/tests/symmetric/mod.rs
  crate/clients/ckms/src/tests/symmetric/split_key.rs
  crate/crypto/src/crypto/split_key/mod.rs
  crate/kmip/src/kmip_2_1/mod.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/dispatch.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/tests/key_ceremony_tests.rs
  crate/server_database/src/ceremony_keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: address docs review comments on PR #991
  documentation/docs/configuration/database/configuration.md
  documentation/docs/configuration/database/redis.md
  documentation/docs/configuration/database/tables.md
Due: none

docs: enable MathJax rendering in mdBook for key_ceremony.md
  documentation/book.toml
Due: none

fix(ui): address PR #991 UI review comments
  CHANGELOG/feat_split_key.md
  ui/src/App.tsx
  ui/src/actions/Access/CryptoOfficerRole.tsx
  ui/src/actions/Keys/SplitKey.tsx
  ui/src/components/layout/Sidebar.tsx
  ui/src/i18n/locales/en/actions.json
  ui/src/i18n/locales/zh-CN/actions.json
  ui/src/styles.css
  ui/src/utils/splitKeyUtils.ts
  ui/tests/unit/split-key-logic.test.ts
  ui/tests/unit/tsx-imports/CryptoOfficerRevoke.test.ts
Due: ui-wasm-react-unit-tests

refactor(user_id): remove new(), enforce try_new for request-derived strings
  crate/interfaces/src/user_id.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/auto_rotate.rs
  crate/server/src/tests/azure_ekm/integration_tests.rs
  crate/server/src/tests/curve_25519_tests.rs
  crate/server/src/tests/derive_key_tests.rs
  crate/server/src/tests/google_cse/mod.rs
  crate/server/src/tests/locate.rs
  crate/server/src/tests/secret_data_tests.rs
  crate/server/src/tests/security_regression.rs
  crate/server/src/tests/test_sign.rs
  crate/server/src/tests/test_validate.rs
  crate/server_database/src/tests/find_attributes_test.rs
  crate/server_database/src/tests/json_access_test.rs
  crate/server_database/src/tests/owner_test.rs
  crate/server_database/src/tests/permissions_test.rs
  crate/server_database/src/tests/tagging_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review UI, docs
  documentation/docs/SUMMARY.md
  documentation/docs/configuration/database/redis.md
  documentation/docs/configuration/database/tables.md
  ui/src/actions/Access/CryptoOfficerRole.tsx
  ui/src/actions/Keys/SplitKey.tsx
  ui/src/components/layout/Sidebar.tsx
Due: ui-wasm-react-unit-tests

fix(split_key): mark shares Sensitive to block clear-text Get/Export
  crate/server/src/core/operations/create_split_key.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(key_ceremony): expand revocation section to explain reconstructed key retention
  documentation/docs/configuration/authorization/key_ceremony.md
Due: none

fix(ceremony_keys): heap-pin obfuscation_key to avoid move-copy of key bytes
  crate/server_database/src/ceremony_keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc
