Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

feat: add openapi/swagger endpoint
  .github/copilot-instructions.md
  CHANGELOG/openapi.md
  Cargo.lock
  crate/server/documentation/openapi.yaml
  crate/server/src/routes/mod.rs
  crate/server/src/routes/swagger.rs
  crate/server/src/start_kms_server.rs
  crate/test_kms_server/Cargo.toml
  crate/test_kms_server/src/lib.rs
  deny.toml
  documentation/docs/integrations/api.md
  ui/src/components/layout/Footer.tsx
  ui/tests/e2e/README.md
  ui/tests/e2e/swagger.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: PR review
  .pre-commit-config.yaml
  CHANGELOG/openapi.md
  crate/server/documentation/swagger-ui/swagger-ui-bundle.js
  crate/server/documentation/swagger-ui/swagger-ui.css
  crate/server/src/routes/swagger.rs
  crate/test_kms_server/src/openapi_validation.rs
  documentation/docs/integrations/api.md
  ui/tests/e2e/README.md
  ui/tests/e2e/swagger.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): remove unused openOperations variable in swagger.spec.ts
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  ui/tests/e2e/README.md
  ui/tests/e2e/swagger.spec.ts
Due: ui-wasm-react-unit-tests

feat: add openapi/swagger endpoints (#962)
  .github/copilot-instructions.md
  .pre-commit-config.yaml
  CHANGELOG/openapi.md
  Cargo.lock
  README.md
  crate/server/documentation/openapi.yaml
  crate/server/documentation/swagger-ui/swagger-ui-bundle.js
  crate/server/documentation/swagger-ui/swagger-ui.css
  crate/server/src/routes/mod.rs
  crate/server/src/routes/swagger.rs
  crate/server/src/start_kms_server.rs
  crate/test_kms_server/Cargo.toml
  crate/test_kms_server/src/lib.rs
  crate/test_kms_server/src/openapi_validation.rs
  deny.toml
  documentation/docs/integrations/api.md
  documentation/docs/kmip_support/openapi.md
  documentation/mkdocs.yml
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
  ui/src/components/layout/Footer.tsx
  ui/tests/e2e/README.md
  ui/tests/e2e/swagger.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add non-regression tests for certificatePolicies CPS qualifier bug
  .github/scripts/test/certificatePolicies/v3_ca_ko.cnf
  .github/scripts/test/certificatePolicies/v3_ca_ok.cnf
  crate/crypto/src/openssl/x509_extensions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(openssl): parse certificate policies with CPS qualifier
  CHANGELOG/fix_openssl_certificate_policies.md
  crate/crypto/src/openssl/x509_extensions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: handle openssl certificate policies (#964)
  .github/scripts/test/certificatePolicies/v3_ca_ko.cnf
  .github/scripts/test/certificatePolicies/v3_ca_ok.cnf
  CHANGELOG/fix_openssl_certificate_policies.md
  crate/crypto/src/openssl/x509_extensions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(changelog): consolidate 5.23.0 entry
  .github/scripts/release/release.sh
  CHANGELOG.md
  documentation/docs/integrations/databases/demo_tde/setup_oracle_tde.sh
  nix/README.md
  nix/signing-keys/README.md
Due: none

docs: add key auto-rotation specification
  CHANGELOG/docs_key-autorotation-spec.md
  README.md
  documentation/docs/kmip_support/key_auto_rotation.md
  documentation/mkdocs.yml
Due: none

feat(rekey): implement symmetric key ReKey with wrapping key re-wrap
  CHANGELOG/feat_key-rotation-manual.md
  crate/interfaces/src/stores/objects_store.rs
  crate/server/src/core/operations/rekey.rs
  crate/server/src/core/wrapping/wrap.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/sqlite.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

build(nix): change fetchCrate to fetchTarball
  default.nix
  nix/ui.nix
Due: nixfmt, statix

ci(rust): add autogeneration of all licenses used
  .github/workflows/release.yml
  .pre-commit-config.yaml
  sbom/licenses.txt
Due: none

ci: refactor benchmarks scripts for CI
  .github/README_WORKFLOWS.md
  .github/scripts/README.md
  .github/scripts/benchmarks/README.md
  .github/scripts/benchmarks/bench_ci.sh
  .github/scripts/benchmarks/bench_regression.sh
  .github/scripts/benchmarks/bench_run.sh
  .github/scripts/benchmarks/bench_run_load.sh
  .github/scripts/benchmarks/common.sh
  .github/scripts/benchmarks/docker/bench_docker.sh
  .github/scripts/benchmarks/docker/bench_docker_load.sh
  .github/scripts/benchmarks/docker/docker_helpers.sh
  .github/scripts/benchmarks/run_benchmarks.sh
  .github/scripts/benchmarks/run_benchmarks_load_tests.sh
  .github/workflows/benchmark.yml
  sbom/README.md
Due: none

fix: replace actix-governor and fix UI encryption 966
  CHANGELOG/fix_openssl_certificate_policies.md
  CHANGELOG/openapi.md
  CHANGELOG/vast_rekey.md
  Cargo.lock
  Cargo.toml
  crate/server/Cargo.toml
  crate/server/src/middlewares/mod.rs
  crate/server/src/middlewares/rate_limiter.rs
  crate/server/src/start_kms_server.rs
  deny.toml
  sbom/licenses.txt
  ui/src/components/common/FormUpload.tsx
  ui/src/utils/utils.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  CHANGELOG/fix_ui-encryption-error-display.md
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.static.sha256
Due: none

fix: PR review
  crate/server/src/middlewares/rate_limiter.rs
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
  ui/src/components/common/FormUpload.tsx
  ui/src/utils/utils.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: manual cleanup on runner
  .github/workflows/packaging.yml
  .github/workflows/test_all.yml
  sbom/openssl_3_6_2/bom.cdx.json
  sbom/openssl_3_6_2/bom.spdx.json
  sbom/openssl_3_6_2/graph.png
  sbom/openssl_3_6_2/meta.json
  sbom/openssl_3_6_2/vulns.csv
Due: none

docs(changelog): consolidate 5.23.0 entry
  CHANGELOG.md
  CHANGELOG/fix_ui-encryption-error-display.md
Due: none

ci: manual clean up only on Linux
  .github/workflows/packaging.yml
Due: none

ci(nix): use fetchzip instead of fetchTarball
  default.nix
  nix/ui.nix
Due: nixfmt, statix

ci(nix): use fetchurl for .crate files and fix vendor hashes
  .github/scripts/release/nix_build_update_hash.sh
  .github/scripts/release/update_hashes.sh
  .github/workflows/packaging.yml
  .github/workflows/release.yml
  CHANGELOG/ci_build.md
  default.nix
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/kms-server.nix
  nix/ui.nix
Due: nixfmt, statix

fix: consolidate rekey operations using trait
  CHANGELOG/feat_key-rotation-manual.md
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/kmip_2_1/kmip_operations.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/certify/build_certificate.rs
  crate/server/src/core/operations/certify/issuer.rs
  crate/server/src/core/operations/certify/mod.rs
  crate/server/src/core/operations/certify/resolve_issuer.rs
  crate/server/src/core/operations/certify/resolve_subject.rs
  crate/server/src/core/operations/certify/subject.rs
  crate/server/src/core/operations/dispatch.rs
  crate/server/src/core/operations/message.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/core/operations/rekey.rs
  crate/server/src/core/operations/rekey_common.rs
  crate/server/src/core/operations/rekey_keypair.rs
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add 824 non-reg test
  .github/workflows/packaging.yml
  CHANGELOG/ci_build.md
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci(nix): build fix (#974)
  .github/scripts/release/nix_build_update_hash.sh
  .github/scripts/release/update_hashes.sh
  .github/workflows/packaging.yml
  .github/workflows/release.yml
  CHANGELOG/ci_build.md
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  default.nix
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/kms-server.nix
  nix/ui.nix
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: consolidate Recertify operation
  CHANGELOG/feat_key-rotation-manual.md
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/kmip_2_1/kmip_messages.rs
  crate/kmip/src/kmip_2_1/kmip_operations.rs
  crate/server/src/core/operations/key_ops/mod.rs
  crate/server/src/core/operations/recertify.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/server/src/core/operations/rekey/keypair.rs
  crate/server/src/core/operations/rekey/mod.rs
  crate/server/src/core/operations/rekey/symmetric.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/kmip_support/key_auto_rotation.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

[auto-rotation feature] feat(rekey): Manual rotation for all key types + test vectors (#969)
  CHANGELOG/feat_key-rotation-manual.md
  crate/interfaces/src/stores/objects_store.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/kmip_2_1/kmip_messages.rs
  crate/kmip/src/kmip_2_1/kmip_operations.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/certify/build_certificate.rs
  crate/server/src/core/operations/certify/issuer.rs
  crate/server/src/core/operations/certify/mod.rs
  crate/server/src/core/operations/certify/resolve_issuer.rs
  crate/server/src/core/operations/certify/resolve_subject.rs
  crate/server/src/core/operations/certify/subject.rs
  crate/server/src/core/operations/dispatch.rs
  crate/server/src/core/operations/key_ops/mod.rs
  crate/server/src/core/operations/message.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/core/operations/recertify.rs
  crate/server/src/core/operations/rekey.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/server/src/core/operations/rekey/keypair.rs
  crate/server/src/core/operations/rekey/mod.rs
  crate/server/src/core/operations/rekey/symmetric.rs
  crate/server/src/core/operations/rekey_common.rs
  crate/server/src/core/operations/rekey_keypair.rs
  crate/server/src/core/wrapping/wrap.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/sqlite.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/kmip_support/key_auto_rotation.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(key-auto-rotation): update implementation roadmap from 5 PRs to 4 (merge spec+manual into PR1)
  documentation/docs/kmip_support/key_auto_rotation.md
Due: none

feat: add auto-rotation scheduler (cron) for key lifecycle management
  CHANGELOG/feat_key-rotation-scheduler.md
  Cargo.lock
  crate/interfaces/Cargo.toml
  crate/interfaces/src/stores/objects_store.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/operations/auto_rotate.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/cron.rs
  crate/server/src/main.rs
  crate/server/src/start_kms_server.rs
  crate/server_database/Cargo.toml
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/stores/sql/locate_query.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/sqlite.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add notifications infrastructure for key auto-rotation events
  CHANGELOG/feat_key-rotation-notifications.md
  Cargo.lock
  Cargo.toml
  crate/interfaces/Cargo.toml
  crate/interfaces/src/lib.rs
  crate/interfaces/src/stores/mod.rs
  crate/interfaces/src/stores/notifications_store.rs
  crate/kmip/src/kmip_2_1/kmip_attributes.rs
  crate/server/Cargo.toml
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/command_line/notifications_config.rs
  crate/server/src/config/command_line/smtp_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/operations/auto_rotate.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/cron.rs
  crate/server/src/lib.rs
  crate/server/src/main.rs
  crate/server/src/notifications/email.rs
  crate/server/src/notifications/mod.rs
  crate/server/src/routes/mod.rs
  crate/server/src/routes/notifications.rs
  crate/server/src/start_kms_server.rs
  crate/server_database/src/core/mod.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  deny.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add CLI, WASM, and UI for key auto-rotation
  CHANGELOG/feat_key-rotation-ui.md
  crate/clients/clap/src/actions/symmetric/keys/get_rotation_policy.rs
  crate/clients/clap/src/actions/symmetric/keys/mod.rs
  crate/clients/clap/src/actions/symmetric/keys/set_rotation_policy.rs
  crate/clients/wasm/src/wasm.rs
  crate/server/src/core/operations/attributes/get.rs
  ui/src/App.tsx
  ui/src/actions/Keys/GetRotationPolicy.tsx
  ui/src/actions/Keys/KeysReKey.tsx
  ui/src/actions/Keys/SetRotationPolicy.tsx
  ui/src/components/layout/MainLayout.tsx
  ui/src/components/layout/NotificationsBell.tsx
  ui/src/menuItems.tsx
  ui/tests/e2e/key-rotation-flow.spec.ts
  ui/tests/e2e/routes.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: reuse Openssl instead of RustCrypt crates + align rand version
  .github/scripts/test/test_ui.sh
  CHANGELOG/feature_fpe-kmip.md
  Cargo.lock
  Cargo.toml
  cli_documentation/docs/cli/main_commands.md
  crate/clients/ckms/Cargo.toml
  crate/crypto/Cargo.toml
  crate/crypto/src/crypto/anonymization/error.rs
  crate/crypto/src/crypto/anonymization/noise.rs
  crate/crypto/src/crypto/anonymization/word.rs
  crate/crypto/src/crypto/fpe/alphabet.rs
  crate/crypto/src/crypto/fpe/ff1.rs
  crate/crypto/src/crypto/fpe/tests.rs
  crate/kmip/Cargo.toml
  crate/server/Cargo.toml
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/routes/tokenize/mod.rs
  crate/server/src/start_kms_server.rs
  deny.toml
  ui/src/actions/FPE/FpeDecrypt.tsx
  ui/src/actions/FPE/FpeEncrypt.tsx
  ui/src/contexts/AuthContext.tsx
  ui/tests/e2e/README.md
  ui/tests/e2e/fpe.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: FPE E2E test improvements
  ui/src/actions/FPE/FpeDecrypt.tsx
  ui/src/actions/FPE/FpeEncrypt.tsx
  ui/tests/e2e/tokenize.spec.ts
Due: ui-wasm-react-unit-tests

test: add fortigate tests
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: ui tests
  .github/scripts/test/test_ui.sh
Due: none

test: add fortigate tests (#976)
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  CHANGELOG/feat_implement_fpe.md
  crate/server/src/routes/mod.rs
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
