Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

docs(routes): note CLI+UI dual callers on activate_crypto_officer_ceremony
  crate/server/src/routes/access.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(openapi): add 3 missing crypto_officer endpoints + trigger instructions on openapi.yaml
  .github/copilot-instructions.md
  .github/instructions/routes.instructions.md
  AGENTS.md
  crate/server/documentation/openapi.yaml
Due: none

docs(config): add missing roles fields to kms_template.toml
  crate/server/kms_template.toml
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  pkg/kms.toml
Due: none

feat(ceremony): implement ceremony_key_id (ADP-26)
  crate/server/src/config/command_line/roles_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/kms/mod.rs
  crate/server_database/src/core/mod.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(wizard): add ceremony mode prompt when CO users are configured
  crate/server/src/config/wizard/advanced_wizard.rs
  crate/server/src/config/wizard/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ceremony): close TOCTOU race, remove drop(), fix audit trail in revoke
  crate/interfaces/src/stores/permissions_store.rs
  crate/server/src/core/kms/permissions.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/sqlite.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ceremony): switch to per-user activation model (multiple simultaneous COs)
  crate/interfaces/src/stores/permissions_store.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/tests/hsm/mod.rs
  crate/server/src/tests/hsm/permissions.rs
  crate/server/src/tests/key_ceremony_tests.rs
  crate/server/src/tests/migrate/redis_tests.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  crate/test_kms_server/src/test_server.rs
  documentation/docs/configuration/authorization/key_ceremony.md
  ui/src/actions/Access/CryptoOfficerRole.tsx
  ui/src/components/layout/Sidebar.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: compensating cleanup on failure
  crate/clients/clap/src/actions/access.rs
  crate/clients/clap/src/actions/shared/mod.rs
  crate/clients/clap/src/actions/symmetric/keys/create_split_key.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): Revoke CO visibility
  ui/src/actions/Access/CryptoOfficerRole.tsx
Due: ui-wasm-react-unit-tests

fix: add uid_string helper
  crate/server/src/tests/key_ceremony_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: simplify key_ceremony_tests.rs
  crate/server/src/tests/key_ceremony_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: doc rework
  crate/server/kms_template.toml
  crate/server/src/config/command_line/roles_config.rs
  crate/server/src/core/operations/join_split_key.rs
  documentation/docs/SUMMARY.md
  documentation/docs/adr/2026-06-24-two-role-rbac-crypto-officer-operator.md
  documentation/docs/configuration/authorization.md
  documentation/docs/configuration/authorization/crypto_officer_ceremony.png
  documentation/docs/configuration/authorization/key_ceremony.md
  documentation/docs/configuration/server_configuration_file.md
  documentation/nav.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): remove off-topic Go tests, add CI/tooling changelog entries, fix unit test
  CHANGELOG/feat_split_key.md
  ui/tests/unit/tsx-imports/CryptoOfficerRevoke.test.ts
Due: ui-wasm-react-unit-tests

chore: remove off-topic kmip-go test files from feat/split_key branch
  .mise/scripts/kmip-go/lifecycle_test.go
  .mise/scripts/kmip-go/locate_test.go
  .mise/scripts/kmip-go/operations_test.go
Due: none

fix(test): inject userId via initialUserId in smokeRender for CO tests
  ui/tests/unit/test-utils.tsx
  ui/tests/unit/tsx-imports/CryptoOfficerRevoke.test.ts
Due: ui-wasm-react-unit-tests

chore: revert changes on kmip-go compliance tests
  .mise/scripts/kmip-go/lifecycle_test.go
  .mise/scripts/kmip-go/locate_test.go
  .mise/scripts/kmip-go/operations_test.go
Due: none

fix(ui): make transparent the sidebar button
  ui/src/App.tsx
Due: ui-wasm-react-unit-tests

fix(ci): update docker-compose config paths for test_data reorganization
  .mise/scripts/docker-compose.yml
  .mise/scripts/pre-commit/sync-instructions.sh
Due: none

refactor(pre-commit): consolidate hooks, add per-crate testing and DB-specific docker
  .mise/scripts/docs/generate_docs.sh
  .pre-commit-config.yaml
  documentation/docs/configuration/authorization.md
  documentation/docs/configuration/authorization/key_ceremony.md
Due: none

feat(pre-commit): smart content-aware hooks + dev:check task
  .mise/scripts/pre-commit/smart-docs-regen.sh
  .mise/scripts/pre-commit/smart-log-index.sh
  .mise/tasks/dev/check
  .pre-commit-config.yaml
Due: none

chore: migrate pre-commit stage name push → pre-push
  .pre-commit-config.yaml
Due: none

fix(pre-commit): add cargo-format after clippy on pre-push stage
  .pre-commit-config.yaml
Due: none

fix(ci): update docker-compose config paths for test_data reorganization (#1145)
  .mise/scripts/docker-compose.yml
  .mise/scripts/docs/generate_docs.sh
  .mise/scripts/pre-commit/smart-docs-regen.sh
  .mise/scripts/pre-commit/smart-log-index.sh
  .mise/scripts/pre-commit/sync-instructions.sh
  .mise/tasks/dev/check
  .pre-commit-config.yaml
  documentation/docs/configuration/authorization.md
  documentation/docs/configuration/authorization/key_ceremony.md
Due: none

fix: small formatting fix
  documentation/docs/configuration/authorization.md
  documentation/docs/configuration/authorization/key_ceremony.md
Due: none

docs: add gh stack usage note to AGENTS.md
  AGENTS.md
Due: none

fix: small formatting fix (#1146)
  AGENTS.md
  documentation/docs/configuration/authorization.md
  documentation/docs/configuration/authorization/key_ceremony.md
Due: none

fix: docs: remove stray trailing double quotes on Auth0 provider examples
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
Due: none

docs: add presentation slides
  .pre-commit-config.yaml
  README.md
  _typos.toml
  documentation/.gitignore
  documentation/docs/index.md
  documentation/presentation/build.sh
  documentation/presentation/diagrams/auth_flow.mmd
  documentation/presentation/diagrams/auth_flow.svg
  documentation/presentation/diagrams/cloud_integrations.mmd
  documentation/presentation/diagrams/cloud_integrations.svg
  documentation/presentation/diagrams/cspn_certification.mmd
  documentation/presentation/diagrams/cspn_certification.svg
  documentation/presentation/diagrams/db_integrations.mmd
  documentation/presentation/diagrams/db_integrations.svg
  documentation/presentation/diagrams/ha_cluster.mmd
  documentation/presentation/diagrams/ha_cluster.svg
  documentation/presentation/diagrams/hsm_arch.mmd
  documentation/presentation/diagrams/hsm_arch.svg
  documentation/presentation/diagrams/key_lifecycle.mmd
  documentation/presentation/diagrams/key_lifecycle.svg
  documentation/presentation/diagrams/pki_chain.mmd
  documentation/presentation/diagrams/pki_chain.svg
  documentation/presentation/diagrams/xks_flow.mmd
  documentation/presentation/diagrams/xks_flow.svg
  documentation/presentation/slides.md
  documentation/presentation/slides_desc.md
Due: none

fix: threat model fixes
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/routes/access.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/key_ceremony_tests.rs
  ui/src/actions/Access/CryptoOfficerRole.tsx
  ui/src/actions/Keys/JoinSplitKey.tsx
  ui/src/actions/Keys/SplitKey.tsx
  ui/tests/unit/split-key-logic.test.ts
  ui/tests/unit/tsx-imports/SplitKey.test.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: fix errors
  CHANGELOG.md
  ui/tests/unit/tsx-imports/CryptoOfficerRevoke.test.ts
Due: ui-wasm-react-unit-tests

feat(co-ceremony): add create-split-key subcommand to crypto-officer CLI
  CHANGELOG/feat_split_key.md
  crate/clients/clap/src/actions/access.rs
  crate/clients/client/src/kms_rest_client.rs
  crate/server/src/core/operations/create_split_key.rs
  documentation/docs/configuration/log-reference.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: fix server_cli.md generation to satisfy MD041 (prepend H1 heading)
  documentation/docs/configuration/server_cli.md
Due: none

fix(access): correct CryptoOfficerConfig doc — CO has no crypto-use bypass on foreign objects
  crate/access/src/access.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: KMIP SplitKey compliance
  crate/clients/clap/src/actions/access.rs
  crate/clients/clap/src/actions/symmetric/keys/create_split_key.rs
  crate/clients/clap/src/actions/symmetric/keys/join_split_key.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/kmip_2_1/kmip_operations.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/tests/key_ceremony_tests.rs
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(ceremony): correct dual-control description to match actual server check
  crate/clients/clap/src/actions/access.rs
  documentation/docs/configuration/authorization/key_ceremony.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(ui): brand theme + configurable split key ID + peer CO revocation UI
  .github/copilot-instructions.md
  .github/instructions/cli-ui-sync.instructions.md
  .github/instructions/docs.instructions.md
  .github/instructions/kmip-operations.instructions.md
  .github/instructions/middlewares.instructions.md
  .github/instructions/routes.instructions.md
  .github/instructions/ui-routes.instructions.md
  .github/skills/README.md
  .github/skills/kms-sync-rules/SKILL.md
  .pre-commit-config.yaml
  AGENTS.md
  crate/clients/ckms/src/tests/rbac_tests.rs
  crate/clients/clap/src/actions/symmetric/keys/create_split_key.rs
  crate/server/src/config/command_line/roles_config.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/routes/access.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/test_kms_server/src/test_server.rs
  documentation/docs/SUMMARY.md
  documentation/docs/configuration/authorization/key_ceremony.md
  documentation/docs/configuration/database/configuration.md
  documentation/docs/configuration/database/redis.md
  documentation/docs/configuration/database/tables.md
  ui/src/App.tsx
  ui/src/actions/Access/CryptoOfficerRole.tsx
  ui/src/actions/Keys/SplitKey.tsx
  ui/src/styles.css
  ui/tests/e2e/README.md
  ui/tests/unit/split-key-logic.test.ts
  ui/tests/unit/tsx-imports/CryptoOfficerRevoke.test.ts
  ui/tests/unit/tsx-imports/SplitKey.test.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: key_ceremony update
  crate/server/src/core/operations/join_split_key.rs
  documentation/docs/configuration/authorization/key_ceremony.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
