Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

chore: update Nix expected hashes
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
Due: none

fix(windows): ui tests
  .github/scripts/windows/test_ui.ps1
  .github/workflows/test_windows.yml
Due: none

fix: freeze pnpm to 10.17.1
  .github/scripts/build/build_ui.sh
  .github/scripts/test/test_ui.sh
  .github/scripts/test/test_wasm.sh
  .github/workflows/test_windows.yml
  CHANGELOG/fix_improve_tde.md
  nix/ui.nix
  ui/README.md
  ui/package.json
  ui/pnpm-lock.yaml
Due: nixfmt, statix

fix: still debugging pnpm
  .pre-commit-config.yaml
  ui/pnpm-lock.yaml
Due: none

fix: still debugging
  .github/scripts/windows/test_ui.ps1
Due: none

chore: fix on Nix
  CHANGELOG/fix_improve_tde.md
  nix/ui.nix
  ui/README.md
Due: nixfmt, statix

fix: still debugging windows UI tests
  .github/scripts/windows/test_ui.ps1
  CHANGELOG/fix_improve_tde.md
Due: none

feat: delete usless error macro
  crate/crypto/src/crypto/anonymization/date_helper.rs
  crate/crypto/src/crypto/anonymization/error.rs
  crate/crypto/src/crypto/anonymization/hash.rs
  crate/crypto/src/crypto/anonymization/noise.rs
  crate/crypto/src/crypto/anonymization/number.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: ignore
  .vscode/settings.json
Due: none

feat: monolithic tokenize file
  Cargo.lock
  crate/crypto/Cargo.toml
  crate/server/Cargo.toml
  crate/server/src/routes/mod.rs
  crate/server/src/routes/tokenize/mod.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: divide monolith file to multiple files
  crate/clients/clap/src/actions/tokenize/aggregate_date.rs
  crate/clients/clap/src/actions/tokenize/aggregate_number.rs
  crate/clients/clap/src/actions/tokenize/hash.rs
  crate/clients/clap/src/actions/tokenize/mod.rs
  crate/clients/clap/src/actions/tokenize/noise.rs
  crate/clients/clap/src/actions/tokenize/scale_number.rs
  crate/clients/clap/src/actions/tokenize/word_mask.rs
  crate/clients/clap/src/actions/tokenize/word_pattern_mask.rs
  crate/clients/clap/src/actions/tokenize/word_tokenize.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: wip
  .github/scripts/windows/test_ui.ps1
  CHANGELOG/test_owasp.md
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: CORS preflight — move allow_any_method/allow_any_header before origin loop
  CHANGELOG/test_owasp.md
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: add supports_credentials to CORS config for browser WASM UI
  Cargo.lock
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: update CHANGELOG with complete CORS fix details
  CHANGELOG/test_owasp.md
Due: none

fix: hsm proteccio tests and windows test
  .github/scripts/test/test_ui.sh
  .github/scripts/windows/test_ui.ps1
Due: none

fix: add remidations on EXT-2 DoS and Auth Failures
  Cargo.lock
  audit.md
  crate/clients/clap/src/tests/security/uid_injection.rs
  scripts/audit.sh
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: upgrade OpenSSL to 3.6.2
  .gitignore
  8192
  CHANGELOG/test_owasp.md
  Cargo.lock
  crate/crypto/build.rs
  crate/kmip/Cargo.toml
  crate/kmip/src/bytes_ser_de.rs
  crate/kmip/src/data_to_encrypt.rs
  crate/kmip/src/error/mod.rs
  crate/kmip/src/lib.rs
  crate/kmip/src/ttlv/tests/wire_edge_cases.rs
  crate/kmip/src/ttlv/wire/mod.rs
  crate/kmip/src/ttlv/wire/ttlv_bytes_deserializer.rs
  documentation/docs/certifications_and_compliance/.gitignore
  documentation/docs/certifications_and_compliance/security_audit.md
  documentation/mkdocs.yml
  nix/common.nix
  nix/kms-server.nix
  scripts/audit.sh
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: tests
  .github/scripts/audit.sh
Due: none

ci: wip
  .github/copilot-instructions.md
  .github/scripts/test/test_ui.sh
  .github/scripts/windows/test_ui.ps1
  Cargo.lock
  crate/clients/pkcs11/module/src/traits/backend.rs
  crate/kmip/Cargo.toml
  documentation/docs/configuration/ui.md
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: rest of the module
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/mod.rs
  crate/clients/clap/src/actions/tokenize/noise.rs
  crate/clients/clap/src/tests/mod.rs
  crate/clients/clap/src/tests/tokenize.rs
  crate/clients/client/src/kms_rest_client.rs
  crate/crypto/src/crypto/anonymization/error.rs
  crate/crypto/src/crypto/anonymization/hash.rs
  crate/crypto/src/crypto/anonymization/noise.rs
  crate/crypto/src/crypto/anonymization/number.rs
  crate/crypto/src/crypto/anonymization/tests.rs
  crate/crypto/src/crypto/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix:gfodhfkfhjkdfhd
  CHANGELOG/feature_fpe-kmip.md
  Cargo.lock
  crate/clients/clap/src/actions/tokenize/mod.rs
  crate/crypto/Cargo.toml
  crate/crypto/src/crypto/anonymization/noise.rs
  crate/crypto/src/crypto/anonymization/tests.rs
  crate/crypto/src/crypto/fpe/alphabet.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: support of Fortigate
  CHANGELOG.md
  crate/kmip/src/kmip_0/kmip_messages.rs
  crate/kmip/src/kmip_0/kmip_types.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
  crate/kmip/src/ttlv/tests/kmip_2_1_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: prevent SIGSEGV in HSM _all tests by reusing single BaseHsm instance
  CHANGELOG/test_owasp.md
  crate/hsm/crypt2pay/src/tests.rs
  crate/hsm/proteccio/src/tests.rs
  crate/hsm/smartcardhsm/src/tests.rs
  crate/hsm/softhsm2/src/tests.rs
  crate/hsm/utimaco/src/tests.rs
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: filter locate by matching multiple objects
  CHANGELOG/support_fortigate.md
  crate/clients/pkcs11/module/src/traits/backend.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
  crate/server/src/tests/ttlv_tests/integrations/synology_dsm.rs
  crate/server/src/tests/ttlv_tests/locate_1_4.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: upgrade openssl 3.6.0 to 3.6.2 in default.nix and packaging scripts
  .github/scripts/README.md
  .github/scripts/nix.sh
  .github/scripts/package/package_common.sh
  .github/scripts/package/smoke_test_dmg.sh
  .github/scripts/package/smoke_test_linux.sh
  CHANGELOG/test_owasp.md
  crate/clients/ckms/Cargo.toml
  crate/server/Cargo.toml
  default.nix
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
Due: nixfmt, statix

fix: reduce Playwright workers on Windows to prevent 408 timeouts in E2E tests
  .github/scripts/windows/test_ui.ps1
  CHANGELOG/support_fortigate.md
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests

fix: flaky windows tests
  .github/scripts/windows/test_ui.ps1
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests

fix: fix clippy
  crate/clients/clap/src/actions/tokenize/mod.rs
  crate/crypto/src/crypto/anonymization/noise.rs
  crate/crypto/src/crypto/anonymization/number.rs
  crate/crypto/src/crypto/anonymization/tests.rs
  crate/crypto/src/crypto/anonymization/word.rs
  crate/server/src/routes/tokenize/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add new security checks
  .github/scripts/audit/audit.sh
  .github/scripts/audit/multi_framework.sh
  .github/scripts/audit/owasp.sh
  CHANGELOG/test_owasp.md
  _typos.toml
  crate/clients/clap/src/tests/security/cors_config.rs
  crate/clients/clap/src/tests/security/mod.rs
  crate/clients/clap/src/tests/security/privilege_bypass.rs
  crate/clients/clap/src/tests/serialization/batch_abuse.rs
  crate/clients/clap/src/tests/serialization/mod.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/db.rs
  crate/server/src/config/command_line/http_config.rs
  crate/server/src/config/command_line/tls_config.rs
  crate/server/src/middlewares/jwt/jwks.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/start_kms_server.rs
  deny.toml
  documentation/docs/certifications_and_compliance/multi_framework_security_audit.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat:missiing test
  crate/clients/clap/src/tests/fpe.rs
  crate/server/src/routes/tokenize/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore:debloat stupid comments
  crate/crypto/src/crypto/anonymization/hash.rs
  crate/crypto/src/crypto/anonymization/noise.rs
  crate/crypto/src/crypto/fpe/alphabet.rs
  crate/server/src/routes/tokenize/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: fix mermaid diagrams and add missing server+client config fields
  .github/scripts/audit/audit.sh
  .github/scripts/audit/crypto_sensor.sh
  .github/scripts/audit/custom_rules/rules_crypto.yml
  .github/scripts/audit/custom_rules/rules_secrets.yml
  .github/scripts/audit/multi_framework.sh
  .github/scripts/audit/owasp.sh
  .github/scripts/audit/risk_score.py
  .github/scripts/audit/runtime_security.sh
  .github/scripts/audit/scan_source.py
  .github/scripts/docs/generate_docs.sh
  .github/scripts/release/generate_cbom.sh
  .github/scripts/release/release.sh
  .github/scripts/sbom/generate_cbom.py
  .github/scripts/sbom/validate_cbom.py
  .github/scripts/test/test_ui.sh
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CHANGELOG/test_owasp.md
  OWASP_Security_Audit_Plan.md
  README.md
  cbom/.gitignore
  cbom/cbom.cdx.json
  crate/clients/ckms/src/commands.rs
  crate/server/kms_template.toml
  crate/server/src/middlewares/jwt/jwt_token_auth.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/certifications_and_compliance/audit/cbom.md
  documentation/docs/certifications_and_compliance/audit/crypto_inventory.md
  documentation/docs/certifications_and_compliance/audit/multi_framework_security_audit.md
  documentation/docs/certifications_and_compliance/audit/owasp_security_audit.md
  documentation/docs/certifications_and_compliance/audit/runtime_security_audit.md
  documentation/docs/certifications_and_compliance/audit/sbom.md
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/kmip_support/support.md
  documentation/mkdocs.yml
  documentation/setup_mkdocs.sh
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc
