Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

fix: fixing some audit issues
  Cargo.lock
  Cargo.toml
  crate/server/Cargo.toml
  crate/server/src/routes/aws_xks/sigv4_middleware.rs
  crate/server_database/Cargo.toml
  deny.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test c0p script
  .github/scripts/nix.sh
  .github/scripts/test/test_hsm.sh
  .github/scripts/test_hsm_crypt2pay.sh
  .github/workflows/test_all.yml
Due: none

add ovpn connexion
  .github/scripts/test_hsm_crypt2pay.sh
  .github/workflows/test_all.yml
Due: none

feat: add OpenSSH support (#835)
  .github/scripts/test_hsm_crypt2pay.sh
Due: none

fix: PR review - fix last comments
  .github/copilot-instructions.md
  .github/scripts/pykmip/kms.toml
  documentation/docs/integrations/disk_encryption/cryhod.md
Due: none

docs(ckms): document proxy params use
  cli_documentation/docs/authentication.md
Due: none

fix: last clean
  Cargo.lock
  crate/server/Cargo.toml
  crate/server/src/routes/aws_xks/sigv4_middleware.rs
  deny.toml
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.pnpm.darwin.sha256
  nix/expected-hashes/ui.pnpm.linux.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: bump and update encoding2
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

fix: fix server worker panic on the first JWT-authenticated request: jsonwebtoken 10.x requires an explicit crypto-backend feature
  CHANGELOG/fix_jsonwebtoken.md
  Cargo.lock
  Cargo.toml
  crate/cli/Cargo.toml
  crate/clients/ckms/src/tests/kms/auth_tests.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/test_kms_server/src/lib.rs
  crate/test_kms_server/src/test_jwt.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(deps): switch jsonwebtoken to aws_lc_rs feature and update aws-lc-rs to 1.16.2
  Cargo.lock
  Cargo.toml
Due: none

fix: stuck with rust_crypto backend for jsonwebtoken
  Cargo.lock
  Cargo.toml
  crate/clients/ckms/src/tests/kms/vendor_id.rs
  crate/test_kms_server/src/test_server.rs
  deny.toml
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.pnpm.darwin.sha256
  nix/expected-hashes/ui.pnpm.linux.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  .cargo/audit.toml
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

chore: update Nix expected hashes
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
Due: none

fix: JWT authentication using jsonwebtoken (#875)
  .cargo/audit.toml
  CHANGELOG/fix_jsonwebtoken.md
  Cargo.lock
  Cargo.toml
  crate/cli/Cargo.toml
  crate/clients/ckms/src/tests/kms/auth_tests.rs
  crate/clients/ckms/src/tests/kms/vendor_id.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/test_kms_server/src/lib.rs
  crate/test_kms_server/src/test_jwt.rs
  crate/test_kms_server/src/test_server.rs
  deny.toml
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.pnpm.darwin.sha256
  nix/expected-hashes/ui.pnpm.linux.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: renew SBOM reports
  sbom/ckms/fips/dynamic/bom.cdx.json
  sbom/ckms/fips/dynamic/bom.spdx.json
  sbom/ckms/fips/dynamic/meta.json
  sbom/ckms/fips/static/bom.cdx.json
  sbom/ckms/fips/static/bom.spdx.json
  sbom/ckms/fips/static/meta.json
  sbom/ckms/non-fips/dynamic/bom.cdx.json
  sbom/ckms/non-fips/dynamic/bom.spdx.json
  sbom/ckms/non-fips/dynamic/meta.json
  sbom/ckms/non-fips/static/bom.cdx.json
  sbom/ckms/non-fips/static/bom.spdx.json
  sbom/ckms/non-fips/static/meta.json
  sbom/server/fips/dynamic/bom.cdx.json
  sbom/server/fips/dynamic/bom.spdx.json
  sbom/server/fips/dynamic/meta.json
  sbom/server/fips/static/bom.cdx.json
  sbom/server/fips/static/bom.spdx.json
  sbom/server/fips/static/meta.json
  sbom/server/non-fips/dynamic/bom.cdx.json
  sbom/server/non-fips/dynamic/bom.spdx.json
  sbom/server/non-fips/dynamic/meta.json
  sbom/server/non-fips/static/bom.cdx.json
  sbom/server/non-fips/static/bom.spdx.json
  sbom/server/non-fips/static/meta.json
Due: none

refactor: align README.md with documentation/docs
  .github/copilot-instructions.md
  README.md
  crate/server/Cargo.toml
  documentation/docs/integrations/cloud_providers/aws/byok.md
  documentation/docs/integrations/cloud_providers/aws/fargate.md
  documentation/docs/integrations/cloud_providers/aws/xks.md
  documentation/docs/integrations/cloud_providers/azure/byok.md
  documentation/docs/integrations/cloud_providers/azure/ekm.md
  documentation/docs/integrations/cloud_providers/google_gcp/cmek.md
  documentation/docs/integrations/cloud_providers/google_gcp/csek.md
  documentation/docs/integrations/cloud_providers/google_workspace_client_side_encryption_cse/configuring-the-well-known-file-and-server.md
  documentation/docs/integrations/cloud_providers/google_workspace_client_side_encryption_cse/configuring_gmail_cse.md
  documentation/docs/integrations/cloud_providers/google_workspace_client_side_encryption_cse/getting_started/index.md
  documentation/docs/integrations/cloud_providers/google_workspace_client_side_encryption_cse/migrating_drive.md
  documentation/docs/integrations/cloud_providers/google_workspace_client_side_encryption_cse/migrating_gmail.md
  documentation/docs/integrations/cloud_providers/microsoft_365_double_key_encryption_dke/index.md
  documentation/mkdocs.yml
Due: none

changed disabled flag for menu items to only work in production environements
  ui/src/Sidebar.tsx
Due: ui-wasm-react-unit-tests

fix:commit
  Cargo.lock
  crate/server_database/Cargo.toml
Due: none

feat: nix
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

fix: start cleaning fix:more
  .github/.markdown-link-check.json
  .github/.markdownlint.yaml
  .gitignore
  .pre-commit-config.yaml
  .vale.ini
  _typos.toml
  dotenv
Due: none

fix: symlinks
  AGENTS.md
Due: none

build: add knip dead-code analysis and remove unused symbols
  _typos.toml
  ui/knip.json
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/actions/CloudProviders/AwsImportKek.tsx
  ui/src/components/common/Locate.tsx
  ui/src/contexts/brandingContext.ts
  ui/src/utils/branding.ts
  ui/tests/e2e/helpers.ts
  ui/tests/e2e/routes.ts
  ui/tests/unit/test-utils.tsx
Due: ui-wasm-react-unit-tests

feat: redirect toward agents.md
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: none

fix: a LOT of fixes hihi
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  SECURITY.md
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
  ui/eslint.config.js
  ui/package.json
  ui/pnpm-lock.yaml
  ui/src/actions/Attributes/AttributeModify.tsx
  ui/src/actions/Attributes/AttributeSet.tsx
  ui/src/utils/branding.ts
  ui/tests/vitest.int.config.ts
  ui/tests/vitest.unit.config.ts
  ui/tsconfig.app.json
  ui/tsconfig.json
  ui/tsconfig.node.json
Due: ui-wasm-react-unit-tests

feat: ok
  nix/expected-hashes/ui.pnpm.linux.sha256
  ui/package.json
Due: none

ci: hell
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

feat: add the other PR
  Cargo.lock
  crate/server_database/Cargo.toml
  nix/expected-hashes/ui.pnpm.darwin.sha256
Due: none

fix: PR review
  .github/copilot-instructions.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  crate/server_database/Cargo.toml
  ui/package.json
  ui/tests/vitest.int.config.ts
  ui/tests/vitest.unit.config.ts
Due: ui-wasm-react-unit-tests

fix: add Veeam Backup support
  CHANGELOG.md
  CHANGELOG/support_veeam.md
  README.md
  _typos.toml
  crate/server/src/routes/kmip.rs
  crate/server/src/socket_server.rs
  crate/server/src/tests/ttlv_tests/integrations/mod.rs
  crate/server/src/tests/ttlv_tests/integrations/veeam.rs
  documentation/docs/integrations/veeam.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  .github/scripts/test/test_wasm.sh
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

docs: reorganize docs
  .github/copilot-instructions.md
  CHANGELOG/support_veeam.md
  README.md
  documentation/docs/index.md
  documentation/docs/integrations/storage/synology_dsm.md
  documentation/docs/integrations/storage/user_defined_function_for_pyspark_databricks_in_python/index.md
  documentation/docs/integrations/storage/vcenter.md
  documentation/docs/integrations/storage/veeam.md
  documentation/mkdocs.yml
Due: none

chore: update Nix expected hashes
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
Due: none

fix: dead link
  documentation/docs/integrations/databases/snowflake_native_app/index.md
Due: none

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
