Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

ci: selective docker pull
  .github/workflows/test_all.yml
  CHANGELOG/chore_kmip_submodule.md
Due: none

fix: tests
  CHANGELOG/chore_kmip_submodule.md
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: make server default installation path to APPLOCALDATA
  CHANGELOG/fix_windows_installers.md
  crate/clients/ckms/installer.nsi
  crate/clients/clap/src/actions/cng.rs
  crate/clients/cng/src/lib.rs
  crate/server/installer.nsi
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: fix CI tests
  CHANGELOG/fix_windows_installers.md
  crate/clients/clap/src/actions/cng.rs
  crate/clients/clap/src/actions/cng_verify.rs
  crate/clients/cng/src/registry.rs
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  documentation/docs/configuration/logging.md
Due: none

fix: register correctly the CNG dll
  .github/scripts/windows/test_cng_ksp.ps1
  CHANGELOG/fix_windows_installers.md
  crate/clients/ckms/installer.nsi
  crate/clients/clap/src/actions/cng.rs
  crate/clients/cng/src/error.rs
  crate/clients/cng/src/provider.rs
  crate/clients/cng/src/registry.rs
  crate/server/installer.nsi
  crate/server/src/config/command_line/logging.rs
  crate/server/src/config/wizard/logging_wizard.rs
  documentation/docs/configuration/logging.md
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  nix/expected-hashes/server.vendor.static.sha256
Due: none

feat: add support of Intune subcommands
  .github/scripts/windows/test_cng_ksp.ps1
  CHANGELOG/fix_windows_installers.md
  Cargo.lock
  crate/clients/clap/src/actions/cng.rs
  crate/clients/clap/src/actions/cng_verify.rs
  crate/clients/cng/Cargo.toml
  crate/clients/cng/src/backend.rs
  crate/clients/cng/src/blob.rs
  crate/clients/cng/src/key.rs
  crate/clients/cng/src/provider.rs
  crate/clients/cng/src/tests.rs
  crate/clients/pkcs11/provider/src/backend.rs
  crate/clients/pkcs11/provider/src/kms_object.rs
  crate/clients/pkcs11/provider/src/tests.rs
  crate/server/Cargo.toml
  crate/server/installer.nsi
  crate/server/kms_template.toml
  crate/server/src/config/command_line/logging.rs
  crate/server/src/lib.rs
  crate/server/src/main.rs
  crate/server/src/windows_service.rs
  documentation/docs/configuration/logging.md
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/installation/installation_getting_started.md
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: default logging dir
  CHANGELOG/fix_windows_installers.md
  crate/clients/ckms/src/commands.rs
  crate/server/installer.nsi
  crate/server/kms_template.toml
  crate/server/src/config/command_line/logging.rs
  crate/server/src/config/wizard/advanced_wizard.rs
  crate/server/src/config/wizard/db_wizard.rs
  crate/server/src/config/wizard/logging_wizard.rs
  crate/server/src/main.rs
  documentation/docs/configuration/logging.md
  documentation/docs/configuration/server_configuration_file.md
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  nix/expected-hashes/ui.pnpm.darwin.sha256
Due: none

fix(windows): address PR #981 review comments
  .github/scripts/windows/test_cng_ksp.ps1
  CHANGELOG/fix_windows_installers.md
  crate/server/kms_template.toml
  crate/server/src/config/command_line/logging.rs
  crate/server/src/config/wizard/logging_wizard.rs
  crate/server/src/windows_service.rs
  documentation/docs/configuration/logging.md
  documentation/docs/configuration/server_configuration_file.md
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  nix/expected-hashes/server.vendor.dynamic.sha256
Due: none

ci: add queue:max as concurrency arg
  .github/workflows/packaging-docker.yml
  .github/workflows/packaging.yml
  .github/workflows/release.yml
Due: none

feat: display OpenSSL CPU hardware-acceleration feature flags at startup
  CHANGELOG/feat_openssl_cpu_features.md
  crate/server/src/main.rs
  crate/server/src/openssl_providers.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review
  CHANGELOG/feat_openssl_cpu_features.md
  crate/server/src/openssl_providers.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add JOSE interoperability tests with jwcrypto lib
  .github/scripts/test/jose_interop_helper.py
  .github/scripts/test/test_jose.sh
  CHANGELOG/test_jose_interoperability.md
  crate/server/src/routes/crypto/keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: display OpenSSL CPU hardware-acceleration feature flags at startup (#963)
  CHANGELOG/feat_openssl_cpu_features.md
  crate/server/src/main.rs
  crate/server/src/openssl_providers.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review
  CHANGELOG/test_jose_interoperability.md
  crate/server/src/routes/crypto/keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add JOSE interoperability tests with jwcrypto lib (#984)
  .github/scripts/test/jose_interop_helper.py
  .github/scripts/test/test_jose.sh
  CHANGELOG/test_jose_interoperability.md
  crate/server/src/routes/crypto/keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: update mysql_async
  CHANGELOG/fix_RUSTSEC-2026-0173.md
  Cargo.lock
  crate/server_database/Cargo.toml
Due: none

build(nix): retrieve nixpkgs from package.cosmian.com
  CHANGELOG/fix_RUSTSEC-2026-0173.md
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.static.sha256
  shell.nix
Due: nixfmt, statix

ci: windows build for OpenSSL build
  .github/scripts/windows/cargo_build.ps1
  .github/scripts/windows/cargo_test.ps1
  .github/workflows/build_windows.yml
  CHANGELOG/fix_RUSTSEC-2026-0173.md
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

docs: add RBAC/OPA design — CONTEXT, ADRs, diagrams, and deliverables
  CONTEXT.md
  docs/adr/0001-regorus-for-rego-evaluation.md
  docs/adr/0002-opa-sole-gatekeeper-in-rbac-mode.md
  docs/diagrams/bundle-loading.png
  docs/diagrams/bundle-loading.svg
  docs/diagrams/module-architecture.png
  docs/diagrams/module-architecture.svg
  docs/diagrams/request-flow.png
  docs/diagrams/request-flow.svg
  docs/diagrams/role-hierarchy.png
  docs/diagrams/role-hierarchy.svg
  docs/rbac-design.odt
  docs/rbac-design.pdf
  docs/rbac-design.pptx
Due: none

fix: update mysql_async (#990)
  .github/scripts/windows/cargo_build.ps1
  .github/scripts/windows/cargo_test.ps1
  .github/workflows/build_windows.yml
  CHANGELOG/fix_RUSTSEC-2026-0173.md
  Cargo.lock
  crate/server_database/Cargo.toml
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
  shell.nix
Due: nixfmt, statix

feat: db metrics
  .github/copilot-instructions.md
  CHANGELOG/feat_richOTELmetrics.md
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/otel_metrics.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/core/db_metrics.rs
  crate/server_database/src/core/mod.rs
  crate/server_database/src/core/unwrapped_cache.rs
  crate/server_database/src/lib.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: http middleware
  CHANGELOG/feat_richOTELmetrics.md
  crate/interfaces/src/stores/objects_store.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/otel_metrics.rs
  crate/server/src/cron.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/middlewares/otel_http_middleware.rs
  crate/server/src/start_kms_server.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/db_metrics.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: `kms.objects.total` (Step 3)
  CHANGELOG/feat_richOTELmetrics.md
  crate/interfaces/src/hsm/hsm_store.rs
  crate/interfaces/src/stores/objects_store.rs
  crate/server/src/core/otel_metrics.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/db_metrics.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: `kms.objects.total`, Redis-findex backend (Step 3 bis OK)
  CHANGELOG/feat_richOTELmetrics.md
  crate/server/src/core/kms/mod.rs
  crate/server_database/src/stores/redis/additional_redis_findex_tests.rs
  crate/server_database/src/stores/redis/objects_db.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/tests/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: improve agents.md
  .github/copilot-instructions.md
Due: none

feat: step 3.bis OK
  .github/copilot-instructions.md
  CHANGELOG/feat_richOTELmetrics.md
  crate/interfaces/src/hsm/hsm_store.rs
  crate/interfaces/src/stores/objects_store.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/otel_metrics.rs
  crate/server/src/cron.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/stores/redis/additional_redis_findex_tests.rs
  crate/server_database/src/stores/redis/objects_db.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  crate/server_database/src/tests/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: step 3Bis improvement fixes
  CHANGELOG/feat_richOTELmetrics.md
  Cargo.lock
  crate/interfaces/Cargo.toml
  crate/interfaces/src/hsm/hsm_store.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: support EDB PostgreSQL TDE
  .github/scripts/edb_tde/Dockerfile.edb
  .github/scripts/edb_tde/README.md
  .github/scripts/edb_tde/create_master_key.py
  .github/scripts/edb_tde/edb_startup.sh
  .github/scripts/edb_tde/pykmip.conf
  .github/scripts/edb_tde/pykmip_docker.conf
  .github/scripts/edb_tde/setup_edb_tde.sh
  .github/scripts/edb_tde/sitecustomize.py
  .github/scripts/edb_tde/test_edb_tde.sh
  .github/scripts/nix.sh
  .github/scripts/test/test_edb_tde.sh
  .github/workflows/test_all.yml
  CHANGELOG/feat_edb_tde.md
  README.md
  crate/server/src/core/operations/decrypt.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  docker-compose.yml
  documentation/docs/integrations/databases/edb_postgres_tde.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: suppress EDB_MASTER_KEY_UID warning in docker-compose when not set
  CHANGELOG/feat_edb_tde.md
  docker-compose.yml
Due: none

feat(deploy): add OPA + KMS docker-compose stack
  CHANGELOG/feat_rbac_is_back.md
  deploy/opa/docker-compose.yml
  deploy/opa/opa/policy/data.json
  deploy/opa/opa/policy/default_rbac.rego
Due: none

feat: huge refactor + some new instructions
  .github/copilot-instructions.md
Due: none

feat: LLM analysis fixes
  .github/copilot-instructions.md
Due: none

feat: fix symlinks
  .github/copilot-instructions.md
Due: none

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
