Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

fix Clippy lints II
  crate/server/src/core/kms/other_kms_methods.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: unwrap cache: internalize fingerprint check and seed SipHash (#778)
  crate/kmip/src/kmip_2_1/kmip_objects.rs
  crate/server/src/core/kms/other_kms_methods.rs
  crate/server/src/core/wrapping/wrap.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/mod.rs
  crate/server_database/src/core/unwrapped_cache.rs
  crate/server_database/src/lib.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: rebase issue
  .github/copilot-instructions.md
  crate/kms_client/src/config.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: fetch nix archives
  .github/workflows/packaging-docker.yml
  .github/workflows/packaging.yml
  .github/workflows/test_all.yml
Due: none

chore: move Nix archives to package.cosmian.com
  default.nix
Due: nixfmt, statix

fix: Pre-populate the Nix store — add a cache step in CI to avoid fetching errors
  .github/workflows/packaging-docker.yml
  .github/workflows/packaging.yml
  .github/workflows/test_all.yml
Due: none

fix: clippy
  crate/server/src/core/wrapping/wrap.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  .github/workflows/packaging-docker.yml
  .github/workflows/packaging.yml
  .github/workflows/test_all.yml
Due: none

fix: fail KMIP operation when multiple keys are found to process the operation
  cli_documentation/docs/cli/main_commands.md
  crate/cli/src/tests/kms/attributes/test_set_attribute.rs
  crate/hsm/base_hsm/src/hsm_lib.rs
  crate/hsm/base_hsm/src/kms_hsm.rs
  crate/hsm/base_hsm/src/lib.rs
  crate/hsm/base_hsm/src/session/mod.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/hsm/crypt2pay/src/tests.rs
  crate/hsm/proteccio/src/tests.rs
  crate/hsm/smartcardhsm/src/tests.rs
  crate/hsm/softhsm2/src/tests.rs
  crate/hsm/utimaco/src/tests.rs
  crate/interfaces/README.md
  crate/interfaces/src/README.md
  crate/interfaces/src/crypto_oracle.rs
  crate/interfaces/src/hsm/crypto_oracle_impl.rs
  crate/interfaces/src/hsm/interface.rs
  crate/interfaces/src/hsm/mod.rs
  crate/interfaces/src/lib.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/kms/other_kms_methods.rs
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/core/operations/sign.rs
  crate/server/src/core/operations/state_utils.rs
  crate/server/src/core/uid_utils.rs
  crate/server/src/core/wrapping/unwrap.rs
  crate/server/src/core/wrapping/wrap.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/core/operations/sign.rs
  crate/server/src/core/operations/state_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: update changelog
  CHANGELOG.md
Due: none

fix: fail KMIP operation when multiple keys are found to process the operation (#771)
  CHANGELOG.md
  cli_documentation/docs/cli/main_commands.md
  crate/cli/src/tests/kms/attributes/test_set_attribute.rs
  crate/hsm/base_hsm/src/hsm_lib.rs
  crate/hsm/base_hsm/src/kms_hsm.rs
  crate/hsm/base_hsm/src/lib.rs
  crate/hsm/base_hsm/src/session/mod.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/hsm/crypt2pay/src/tests.rs
  crate/hsm/proteccio/src/tests.rs
  crate/hsm/smartcardhsm/src/tests.rs
  crate/hsm/softhsm2/src/tests.rs
  crate/hsm/utimaco/src/tests.rs
  crate/interfaces/README.md
  crate/interfaces/src/README.md
  crate/interfaces/src/crypto_oracle.rs
  crate/interfaces/src/hsm/crypto_oracle_impl.rs
  crate/interfaces/src/hsm/interface.rs
  crate/interfaces/src/hsm/mod.rs
  crate/interfaces/src/lib.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/kms/other_kms_methods.rs
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/core/operations/sign.rs
  crate/server/src/core/operations/state_utils.rs
  crate/server/src/core/uid_utils.rs
  crate/server/src/core/wrapping/unwrap.rs
  crate/server/src/core/wrapping/wrap.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: tests
  crate/server/src/config/command_line/clap_config.rs
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add conf wizard
  .github/copilot-instructions.md
  .github/workflows/packaging-tests.yml
  .github/workflows/packaging.yml
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  crate/server/Cargo.toml
  crate/server/kms_template.toml
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/db.rs
  crate/server/src/config/command_line/hsm_config.rs
  crate/server/src/config/command_line/kmip_policy_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/command_line/ui_config.rs
  crate/server/src/config/mod.rs
  crate/server/src/config/wizard/advanced_wizard.rs
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/config/wizard/cert_gen.rs
  crate/server/src/config/wizard/db_wizard.rs
  crate/server/src/config/wizard/hsm_wizard.rs
  crate/server/src/config/wizard/http_wizard.rs
  crate/server/src/config/wizard/logging_wizard.rs
  crate/server/src/config/wizard/mod.rs
  crate/server/src/config/wizard/proxy_wizard.rs
  crate/server/src/config/wizard/socket_wizard.rs
  crate/server/src/config/wizard/tests.rs
  crate/server/src/config/wizard/tls_wizard.rs
  crate/server/src/main.rs
  documentation/docs/configurations.md
  documentation/docs/server_configuration_file.md
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: tests
  nix/expected-hashes/ui.vendor.fips.sha256
Due: none

fix: tests
  crate/server/src/config/command_line/clap_config.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update nix expected hashes
  nix/expected-hashes/server.vendor.dynamic.sha256
Due: none

chore: update nix expected hashes
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
Due: none

chore: fetch nix pkgs from package.cosmian.com
  .github/scripts/common.sh
  .github/workflows/packaging-docker.yml
  .github/workflows/packaging.yml
  .github/workflows/test_all.yml
  default.nix
  shell.nix
Due: nixfmt, statix

chore: fetch nix pkgs from package.cosmian.com
  .github/workflows/packaging.yml
Due: none

fix: proteccio signing with CKM_SHA1_RSA_PKCS is not supported
  CHANGELOG.md
  crate/hsm/base_hsm/src/tests_shared.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: ckms in fips
  .github/scripts/cargo_build.ps1
  .github/scripts/smoke_test_cli_deb.sh
  .github/scripts/smoke_test_cli_rpm.sh
  .github/workflows/packaging-tests.yml
  crate/clients/ckms/Cargo.toml
  nix/scripts/package_common.sh
Due: none

fix: packaging of ckms with dyn openssl
  .github/workflows/packaging-tests.yml
  crate/clients/ckms/Cargo.toml
  nix/scripts/package_common.sh
Due: none

fix: packaging CI test failures
  .github/workflows/packaging-tests.yml
Due: none

ci: pre-flight check
  .github/workflows/packaging-tests.yml
Due: none

fix: permissions ckms
  crate/clients/ckms/Cargo.toml
Due: none

test: re-enable hsm Proteccio tests (#781)
  .github/scripts/test_hsm_proteccio.sh
Due: none

fix: permissions ckms
  crate/clients/ckms/Cargo.toml
  nix/scripts/package_common.sh
Due: none

fix: ckms in fips (#775)
  .github/scripts/cargo_build.ps1
  .github/scripts/smoke_test_cli_deb.sh
  .github/scripts/smoke_test_cli_rpm.sh
  .github/workflows/packaging-tests.yml
  crate/clients/ckms/Cargo.toml
  nix/scripts/package_common.sh
Due: none

fix: make configure works on Windows
  crate/clients/ckms/src/tests/kms/shared/import_export_encodings.rs
  crate/clients/pkcs11/module/src/core/mechanism.rs
  crate/clients/pkcs11/module/src/lib.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/wizard/advanced_wizard.rs
  crate/server/src/config/wizard/cert_gen.rs
  crate/server/src/config/wizard/logging_wizard.rs
  crate/server/src/config/wizard/mod.rs
  crate/server/src/config/wizard/tls_wizard.rs
  crate/server/src/openssl_providers.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: fmt
  crate/server/src/openssl_providers.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: clippy
  .github/workflows/packaging.yml
  CHANGELOG.md
  cli_documentation/docs/cli/main_commands.md
  crate/clients/pkcs11/module/src/core/mechanism.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/openssl_providers.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: UI CMEK
  .github/scripts/nix.sh
  .github/scripts/run_ui.sh
  .github/scripts/test_gcp_cmek.sh
  documentation/docs/google_gcp/cmek.md
  ui/src/AccessGrant.tsx
  ui/src/KeysExport.tsx
  ui/src/KeysImport.tsx
  ui/tests/e2e/access-rights-flow.spec.ts
  ui/tests/e2e/google-cmek-wrap-flow.spec.ts
  ui/tests/e2e/helpers.ts
  ui/tests/e2e/rsa-export-options.spec.ts
  ui/tests/e2e/rsa-import-options.spec.ts
  ui/vite.config.ts
Due: ui-wasm-react-unit-tests

test: complete E2E tests
  .github/scripts/nix.sh
  ui/tests/e2e/cert-lifecycle.spec.ts
  ui/tests/e2e/ec-encrypt-sign.spec.ts
  ui/tests/e2e/helpers.ts
  ui/tests/e2e/locate-filters.spec.ts
  ui/tests/e2e/rsa-encrypt-sign.spec.ts
  ui/tests/e2e/symmetric-encrypt-decrypt.spec.ts
  ui/vite.config.ts
Due: ui-wasm-react-unit-tests

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
