Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

fix(hsm): AWS CloudHSM does not support CKA_START_DATE/CKA_END_DATE on keys
  CHANGELOG/hsm_delegation_benchs_delegated.md
  crate/hsm/aws_cloudhsm/src/lib.rs
  crate/hsm/base_hsm/src/hsm_capabilities.rs
  documentation/docs/kmip_support/key_rotation/hsm.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(db): rewrite Locate-by-tags and push LIMIT/destroyed filter into SQL
  CHANGELOG/fix_postgresql.md
  crate/interfaces/src/lib.rs
  crate/interfaces/src/stores/mod.rs
  crate/interfaces/src/stores/objects_store.rs
  crate/server/src/core/operations/locate.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/stores/sql/locate_query.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/sqlite.rs
  crate/server_database/src/tests/database_tests.rs
  crate/server_database/src/tests/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: log-ref update
  documentation/docs/configuration/log-reference.md
Due: none

fix(db): deterministic tag-join order in Locate SQL; add metrics_count_interval_secs to TOML templates
  crate/server/kms_template.toml
  crate/server_database/src/stores/sql/locate_query.rs
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(changelog): note sorted tag joins and metrics option in TOML templates
  CHANGELOG/fix_postgresql.md
Due: none

fix(auth): address review findings on SPIFFE JWT-SVID authentication
  .pre-commit-config.yaml
  crate/server/src/middlewares/jwt/jwt_token_auth.rs
  crate/server/src/routes/ui_auth.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(auth): avoid JSON indexing in SPIFFE real-validation tests
  crate/server/src/middlewares/jwt/jwt_token_auth.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: filter jobs
  .github/workflows/main_base.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/test_all.yml
  .github/workflows/update-log-index.yml
Due: none

fix: PR review - sort tags (#1227)
  .github/workflows/main_base.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/test_all.yml
  .github/workflows/update-log-index.yml
  CHANGELOG/fix_postgresql.md
  crate/server/kms_template.toml
  crate/server_database/src/stores/sql/locate_query.rs
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: cargo fmt
  crate/server/src/middlewares/jwt/jwt_token_auth.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: disable aws-cloudhsm
  .github/workflows/test_all.yml
Due: none

fix(ci): flatten Windows build artifact for signing
  .github/workflows/build_windows.yml
Due: none

fix(proteccio): serialization size error of CKA_LABEL
  .mise/tasks/bench/load-hsm
  CHANGELOG/claude_optimistic-carson-li1owh.md
  crate/hsm/base_hsm/src/session/mod.rs
  documentation/docs/configuration/object-cache.md
  documentation/docs/kmip_support/key_rotation/hsm.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: build PDF doc
  documentation/.gitignore
  documentation/build_pdf.sh
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/integrations/cloud_providers/google_workspace_client_side_encryption_cse/migrating_gmail.md
  documentation/pandoc/combine.py
  documentation/pandoc/pdf-header.tex
  documentation/pandoc/pdf.lua
Due: none

fix(db): add (tag, id) index on tags to speed up Locate-by-tags (#1224)
  .github/workflows/main_base.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/test_all.yml
  .github/workflows/update-log-index.yml
  CHANGELOG/fix_postgresql.md
  crate/interfaces/src/lib.rs
  crate/interfaces/src/stores/mod.rs
  crate/interfaces/src/stores/objects_store.rs
  crate/server/kms_template.toml
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/operations/locate.rs
  crate/server/src/core/otel_metrics.rs
  crate/server/src/cron.rs
  crate/server/src/main.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/stores/sql/locate_query.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/query_sqlite.sql
  crate/server_database/src/stores/sql/sqlite.rs
  crate/server_database/src/tests/database_tests.rs
  crate/server_database/src/tests/mod.rs
  documentation/.gitignore
  documentation/build_pdf.sh
  documentation/docs/configuration/database/tables.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/integrations/cloud_providers/google_workspace_client_side_encryption_cse/migrating_gmail.md
  documentation/pandoc/combine.py
  documentation/pandoc/pdf-header.tex
  documentation/pandoc/pdf.lua
  pkg/kms.toml
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(auth): add SPIRE JWT-SVID Web UI login and E2E verification
  .mise/tasks/test/spire-jwt-svid
  .pre-commit-config.yaml
  CHANGELOG.md
  crate/server/src/middlewares/jwt/jwt_token_auth.rs
  crate/server/src/middlewares/jwt/mod.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/ui_auth.rs
  crate/server/src/start_kms_server.rs
  docker-compose.yml
  documentation/docs/configuration/log-reference.md
  documentation/docs/integrations/spire_spiffe.md
  ui/src/App.tsx
  ui/src/components/layout/MainLayout.tsx
  ui/src/i18n/locales/en/layout.json
  ui/src/i18n/locales/fr/layout.json
  ui/src/i18n/locales/zh-CN/layout.json
  ui/src/pages/LoginPage.tsx
  ui/src/utils/utils.ts
  ui/tests/e2e/spiffe-jwt-svid-auth.spec.ts
  ui/tests/e2e/spiffe-ui-login.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(auth): support SPIFFE JWT-SVID authentication via sub-claim fallback
  .mise/tasks/test/spire-jwt-svid
  CHANGELOG/feat_spiffe_jwt_svid_auth.md
  crate/server/src/config/command_line/idp_auth_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/main.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/middlewares/jwt/jwt_token_auth.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/google_cse/jwt.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/google_cse/mod.rs
  crate/server/src/tests/google_cse/utils.rs
  documentation/docs/adr/2026-09-19-spiffe-jwt-svid-authentication.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/configuration/server_cli.md
  documentation/docs/integrations/spire_spiffe.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(ui): make SPIFFE login spec independent of JWT validation mode
  .mise/tasks/test/spire-jwt-svid
  ui/tests/e2e/spiffe-ui-login.spec.ts
Due: ui-wasm-react-unit-tests

fix(auth): harden SPIFFE JWT-SVID authentication after review
  .github/instructions/mise.instructions.md
  .mise/lib/spire_test.sh
  .mise/tasks/test/README.md
  .mise/tasks/test/spire-jwt-svid
  CHANGELOG.md
  CHANGELOG/feat_spiffe_jwt_svid_auth.md
  CHANGELOG/support_JWT-SVID_auth.md
  crate/clients/clap/src/actions/login.rs
  crate/server/documentation/openapi.yaml
  crate/server/kms_template.toml
  crate/server/src/config/command_line/idp_auth_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/middlewares/jwt/jwt_token_auth.rs
  crate/server/src/routes/ui_auth.rs
  crate/server/src/start_kms_server.rs
  docker-compose.yml
  documentation/docs/adr/2026-09-19-spiffe-jwt-svid-authentication.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/integrations/spire_ckms.md
  documentation/docs/integrations/spire_spiffe.md
  documentation/docs/integrations/spire_webui.md
  documentation/docs/kms_clients/cli/main_commands.md
  pkg/kms.toml
  ui/src/i18n/locales/en/layout.json
  ui/src/i18n/locales/fr/layout.json
  ui/src/i18n/locales/zh-CN/layout.json
  ui/src/pages/LoginPage.tsx
  ui/tests/e2e/spiffe-ui-login.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): provision ui/dist placeholder so /ui/login_svid routes register in spire test
  .mise/tasks/test/spire-jwt-svid
Due: none

fix(ci): provision pnpm for spire Playwright step and drop unused loginJwtSvid
  .mise/lib/common.sh
  .mise/tasks/test/spire-jwt-svid
  .mise/tasks/test/wasm
  ui/src/utils/utils.ts
Due: ui-wasm-react-unit-tests

feat: use spire-helper on APISIX
  .mise/lib/spire_test.sh
  .mise/tasks/test/README.md
  .mise/tasks/test/spire
  .mise/tasks/test/spire-jwt-svid
  .mise/tasks/test/spire-kmip-key-manager
  .mise/tasks/test/spire-kmip-upstream-authority
  .mise/tasks/test/spire-pki
  .mise/tasks/test/spire-sds
  Cargo.lock
  crate/clients/ckms/src/actions/markdown.rs
  crate/clients/ckms/src/tests/login_tests.rs
  crate/clients/clap/Cargo.toml
  crate/clients/clap/src/actions/login.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/SUMMARY.md
  documentation/docs/adr/2026-09-19-spiffe-jwt-svid-authentication.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/integrations/spire_ckms.md
  documentation/docs/integrations/spire_webui.md
  documentation/docs/kms_clients/cli/main_commands.md
  documentation/nav.yml
  ui/src/components/layout/MainLayout.tsx
  ui/src/pages/LoginPage.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(ui): gate SPIFFE tampered-signature spec on strict validation mode
  .mise/tasks/test/spire-jwt-svid
  ui/tests/e2e/spiffe-ui-login.spec.ts
Due: ui-wasm-react-unit-tests

fix(auth): address review findings on SPIFFE JWT-SVID authentication (#1228)
  .pre-commit-config.yaml
  crate/server/src/middlewares/jwt/jwt_token_auth.rs
  crate/server/src/routes/ui_auth.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: doc-index auto refresh
  .github/workflows/update-log-index.yml
  .mise/tasks/dev/check
  .mise/tasks/docs/sync-logs
  documentation/docs/configuration/log-reference.md
Due: none

fix(ci): flatten Windows build artifact for signing (#1229)
  .github/workflows/build_windows.yml
Due: none

add actions to add a Covercrypt dimension to the master keys
  crate/clients/clap/src/actions/cover_crypt/access_structure.rs
  crate/crypto/src/crypto/cover_crypt/attributes.rs
  crate/server/src/core/cover_crypt/rekey_keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix clippy
  crate/clients/clap/src/actions/cover_crypt/access_structure.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix CLI derivation
  crate/clients/clap/src/actions/cover_crypt/access_structure.rs
  crate/server/src/core/cover_crypt/rekey_keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

style fix
  crate/clients/clap/src/actions/cover_crypt/access_structure.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

revert client modifications to narrow down the stack overflow
  crate/clients/clap/src/actions/cover_crypt/access_structure.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

revert more code to narrow down the issue
  crate/server/src/core/cover_crypt/rekey_keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

reinstall some code to narrow down the issue
  crate/server/src/core/cover_crypt/rekey_keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

correct `after` use in add attribute
  crate/server/src/core/cover_crypt/rekey_keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc
