Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

test: flaky tests
  CHANGELOG/intune.md
  crate/clients/cng/src/backend.rs
  crate/server/src/socket_server.rs
  crate/server/src/tests/ttlv_tests/mod.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

chore: update Nix expected hashes
  crate/clients/cng/src/lib.rs
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

chore: update test_data git submodule
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review
  .github/scripts/common.sh
  .github/scripts/test/test_hsm_crypt2pay.sh
  .github/scripts/test/test_hsm_softhsm2.sh
  CHANGELOG/feat_multi_hsm_support.md
  crate/interfaces/README.md
  crate/interfaces/src/hsm/backend.rs
  crate/interfaces/src/hsm/mod.rs
  crate/interfaces/src/lib.rs
  crate/server/kms_template.toml
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/operations/modify_attribute.rs
  crate/server/src/core/operations/set_attribute.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/hsm/multi_hsm.rs
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/hsm_support/multi_hsm.md
  pkg/kms.toml
  ui/src/actions/Access/AccessObtained.tsx
  ui/src/components/common/Locate.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review
  .github/scripts/common.sh
  .github/scripts/test/test_hsm_crypt2pay.sh
  .github/scripts/test/test_hsm_softhsm2.sh
  CHANGELOG/feat_multi_hsm_support.md
  crate/interfaces/README.md
  crate/interfaces/src/hsm/hsm_store.rs
  crate/interfaces/src/hsm/mod.rs
  crate/interfaces/src/lib.rs
  crate/server/kms_template.toml
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/operations/modify_attribute.rs
  crate/server/src/core/operations/set_attribute.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/hsm/multi_hsm.rs
  docker-compose.yml
  documentation/docs/configuration/authorization.md
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/hsm_support/hsm_operations.md
  documentation/docs/hsm_support/multi_hsm.md
  pkg/kms.toml
  ui/src/actions/Access/AccessObtained.tsx
  ui/src/components/common/Locate.tsx
  ui/src/components/layout/Header.tsx
  ui/src/components/layout/MainLayout.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(server): fix clippy doc_markdown warnings and missing http_workers in test
  crate/server/src/config/command_line/http_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/config/wizard/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: HSM sensitive flag follow the sensitive KMIP attribute spec - false by default
  crate/interfaces/src/hsm/hsm_store.rs
  crate/server/src/tests/hsm/issues.rs
  crate/server/src/tests/hsm/mod.rs
  crate/server/src/tests/hsm/permissions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: relax PR: do not rebuild everything
  .github/README_WORKFLOWS.md
  .github/workflows/packaging.yml
Due: none

fix(ui): Get state from KMIP attributes (avoid Unknown state)
  CHANGELOG/feat_multi_hsm_support.md
  crate/clients/client_utils/src/attributes_utils.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/retrieve_object_utils.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

delet this commit before merge
  AGENTS.md
Due: none

a
  CHANGELOG/feat_crypto_JWE_api.md
  Cargo.lock
  crate/clients/ckms/Cargo.toml
  crate/clients/ckms/src/tests/mod.rs
  crate/clients/ckms/src/tests/rest_crypto/encrypt_decrypt.rs
  crate/clients/ckms/src/tests/rest_crypto/error_cases.rs
  crate/clients/ckms/src/tests/rest_crypto/mac.rs
  crate/clients/ckms/src/tests/rest_crypto/mod.rs
  crate/clients/ckms/src/tests/rest_crypto/sign_verify.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/integrations/api.md
  documentation/docs/integrations/rest_crypto_api.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Revert "a"
  CHANGELOG/feat_crypto_JWE_api.md
  Cargo.lock
  crate/clients/ckms/Cargo.toml
  crate/clients/ckms/src/tests/mod.rs
  crate/clients/ckms/src/tests/rest_crypto/encrypt_decrypt.rs
  crate/clients/ckms/src/tests/rest_crypto/error_cases.rs
  crate/clients/ckms/src/tests/rest_crypto/mac.rs
  crate/clients/ckms/src/tests/rest_crypto/mod.rs
  crate/clients/ckms/src/tests/rest_crypto/sign_verify.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/integrations/api.md
  documentation/docs/integrations/rest_crypto_api.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: first blocks
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/test_utils.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add E2E tests
  .github/scripts/nix.sh
  .github/scripts/test/rest_crypto_test.sh
  .github/scripts/test/test_rest_crypto.sh
  .github/workflows/test_all.yml
Due: none

feat: integration test fix and improve
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/error.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/tests/rest_crypto.rs
  crate/server/src/tests/rest_crypto/common.rs
  crate/server/src/tests/rest_crypto/encrypt_decrypt.rs
  crate/server/src/tests/rest_crypto/error_cases.rs
  crate/server/src/tests/rest_crypto/mac.rs
  crate/server/src/tests/rest_crypto/mod.rs
  crate/server/src/tests/rest_crypto/rfc_vectors.rs
  crate/server/src/tests/rest_crypto/sign_verify.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: fmt
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/tests/rest_crypto/error_cases.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: full integration
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/error.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/tests/mod.rs
  crate/server/src/tests/rest_crypto.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: docs
  .vscode/settings.json
  AGENTS.md
  documentation/docs/integrations/api.md
  documentation/docs/integrations/rest_crypto_api.md
  documentation/mkdocs.yml
Due: none

fix: ci
  .github/scripts/test/rest_crypto_test.sh
  CHANGELOG/feat_crypto_JWE_api.md
  crate/server/src/core/operations/signature_verify.rs
  crate/server/src/routes/crypto/error.rs
  crate/server/src/routes/crypto/verify.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: final diff
  CHANGELOG/feat_crypto_JWE_api.md
  crate/server/src/routes/crypto/error.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor: replace str with JoseAlgorithm/JoseEncAlgorithm enums in crypto routes
  .github/scripts/test/test_jose.sh
  CHANGELOG/feat_crypto_JWE_api.md
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/error.rs
  crate/server/src/routes/crypto/mac.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/rest_crypto/error_cases.rs
  shell.nix
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: ECDSA P1363 encoding and KMIP import tag for JOSE tests
  .github/scripts/nix.sh
  .github/scripts/test/jose_interop_helper.py
  .github/scripts/test/test_jose.sh
  .github/scripts/test/test_rest_crypto.sh
  .github/workflows/test_all.yml
  CHANGELOG/feat_crypto_JWE_api.md
  crate/server/src/core/operations/mod.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/error.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/sign.rs
  crate/server/src/routes/crypto/verify.rs
  crate/server/src/tests/rest_crypto/common.rs
  crate/server/src/tests/rest_crypto/error_cases.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: fin
  .github/scripts/test/rest_crypto_test.sh
  crate/server/src/routes/crypto/error.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: fix ci again
  shell.nix
Due: nixfmt, statix

test: add non regression test vectors
  README.md
  crate/server/src/tests/rest_crypto/jose_vectors.rs
  crate/server/src/tests/rest_crypto/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: create JOSE keys and add tests
  CHANGELOG/feat_crypto_JWE_api.md
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/keys.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/routes/crypto/models.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/rest_crypto/jose_vectors.rs
  crate/server/src/tests/test_utils.rs
  documentation/docs/integrations/rest_crypto_api.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add key_lifecycle vectors for full create/use/delete coverage
  crate/server/src/tests/rest_crypto/jose_vectors.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add more JOSE non-reg tests
  CHANGELOG/feat_crypto_JWE_api.md
  crate/server/src/tests/rest_crypto/jose_vectors.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(jose): support RSA-OAEP
  .github/scripts/test/jose/ex1_encrypt_dir.sh
  .github/scripts/test/jose/ex2_encrypt_rsa_oaep.sh
  .github/scripts/test/jose/ex3_sign_verify.sh
  .github/scripts/test/jose/ex4_mac.sh
  .github/scripts/test/jose_interop_helper.py
  .github/scripts/test/test_jose.sh
  CHANGELOG/feat_crypto_JWE_api.md
  crate/server/src/routes/crypto/aes_gcm.rs
  crate/server/src/routes/crypto/algorithm.rs
  crate/server/src/routes/crypto/decrypt.rs
  crate/server/src/routes/crypto/encrypt.rs
  crate/server/src/routes/crypto/error.rs
  crate/server/src/routes/crypto/mod.rs
  crate/server/src/tests/rest_crypto/error_cases.rs
  crate/server/src/tests/rest_crypto/jose_vectors.rs
  documentation/docs/integrations/rest_crypto_api.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

replace cosmian by eviden
  documentation/docs/index.md
Due: none

feat: rebrand UI and documentation from Cosmian to Eviden
  cli_documentation/docs/eviden-logo-black.svg
  cli_documentation/docs/eviden-logo-orange.svg
  cli_documentation/docs/favicon.png
  cli_documentation/mkdocs.yml
  cli_documentation/theme_overrides/partials/logo.html
  documentation/docs/eviden-logo-black.svg
  documentation/docs/eviden-logo-orange.svg
  documentation/docs/favicon.png
  documentation/theme_overrides/partials/logo.html
  ui/public/themes/eviden/branding.json
  ui/public/themes/eviden/eviden-favicon-32x32.png
  ui/public/themes/eviden/eviden-login-bg.svg
  ui/public/themes/eviden/eviden-logo-dark.svg
  ui/public/themes/eviden/eviden-logo-light.svg
  ui/src/pages/LoginPage.tsx
Due: ui-wasm-react-unit-tests

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
