Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

feat: add benchmarks via ckms
  .github/copilot-instructions.md
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli_documentation/docs/cli/main_commands.md
  crate/cli/Cargo.toml
  crate/cli/src/actions/kms/bench.rs
  crate/cli/tables.toml
  crate/clients/ckms/src/tests/kms/auth_tests.rs
  crate/server/src/config/wizard/advanced_wizard.rs
  crate/server/src/config/wizard/mod.rs
  crate/test_kms_server/Cargo.toml
  crate/test_kms_server/benches/benches.rs
  crate/test_kms_server/benches/sign_benches.rs
  crate/test_kms_server/tables.toml
  documentation/docs/benchmarks.md
  documentation/docs/benchmarks/docker/benchmarks-5.12.0-vs-5.17.0.md
  documentation/docs/benchmarks/docker/benchmarks-5.12.md
  documentation/docs/benchmarks/docker/benchmarks-5.17.0.md
  scripts/run_benchmarks.sh
  scripts/run_benchmarks_docker.sh
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add PQC benchs
  Cargo.lock
  crate/cli/Cargo.toml
  crate/cli/src/actions/kms/bench.rs
  crate/clients/ckms/src/tests/kms/auth_tests.rs
  scripts/run_benchmarks.sh
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

chore: update nix expected hashes
  documentation/docs/benchmarks.md
  documentation/docs/benchmarks/docker/benchmarks-5.12.0-vs-5.17.0.md
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  scripts/run_benchmarks.sh
Due: none

feat: display clear OK/KO on sanity checks
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli_documentation/docs/cli/main_commands.md
  cli_documentation/docs/usage.md
  crate/cli/src/actions/kms/actions.rs
  crate/cli/src/actions/kms/bench.rs
  crate/clients/ckms/src/commands.rs
  scripts/run_benchmarks.sh
  scripts/run_benchmarks_docker.sh
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update nix expected hashes
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

chore: update nix expected hashes
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
Due: none

chore: rename top comments section for bench reports
  crate/cli/tables.toml
Due: none

feat: add benchmarks via ckms (#816)
  .github/copilot-instructions.md
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  cli_documentation/docs/cli/main_commands.md
  cli_documentation/docs/usage.md
  crate/cli/Cargo.toml
  crate/cli/src/actions/kms/actions.rs
  crate/cli/src/actions/kms/bench.rs
  crate/cli/tables.toml
  crate/clients/ckms/src/commands.rs
  crate/server/src/config/wizard/advanced_wizard.rs
  crate/server/src/config/wizard/mod.rs
  crate/test_kms_server/Cargo.toml
  crate/test_kms_server/benches/benches.rs
  crate/test_kms_server/benches/sign_benches.rs
  crate/test_kms_server/tables.toml
  documentation/docs/benchmarks.md
  documentation/docs/benchmarks/docker/benchmarks-5.12.0-vs-5.17.0.md
  documentation/docs/benchmarks/docker/benchmarks-5.12.md
  documentation/docs/benchmarks/docker/benchmarks-5.17.0.md
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
  scripts/run_benchmarks.sh
  scripts/run_benchmarks_docker.sh
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: update hash fixes
  nix/expected-hashes/ui.pnpm.darwin.sha256
  nix/expected-hashes/ui.pnpm.linux.sha256
Due: none

fix: typo
  .github/scripts/test_wasm.sh
Due: none

ci: nix
  nix/expected-hashes/ui.pnpm.darwin.sha256
  nix/expected-hashes/ui.pnpm.linux.sha256
Due: none

fix:post rebase
  ui/pnpm-lock.yaml
  ui/public/branding.json
  ui/public/themes/cosmian/branding.json
  ui/public/themes/example/branding.json
  ui/src/App.tsx
  ui/src/Locate.tsx
  ui/src/PqcDecapsulate.tsx
  ui/src/PqcEncapsulate.tsx
  ui/src/PqcKeysCreate.tsx
  ui/src/PqcSign.tsx
  ui/src/PqcVerify.tsx
  ui/src/Sidebar.tsx
  ui/src/SymmetricHash.tsx
  ui/src/menuItems.tsx
  ui/tests/e2e/pqc-encaps-sign.spec.ts
Due: ui-wasm-react-unit-tests

fix: update hashes and fix stuff
  .github/scripts/update_hashes.sh
  nix/expected-hashes/ui.npm.sha256
  nix/expected-hashes/ui.pnpm.darwin.sha256
  ui/pnpm-lock.yaml
  ui/src/AzureExportByok.tsx
  ui/src/AzureImportKek.tsx
  ui/src/Locate.tsx
Due: ui-wasm-react-unit-tests

feat: add filters to the locate page
  ui/src/Locate.tsx
Due: ui-wasm-react-unit-tests

feat: multiple rebase fixes
  .github/scripts/test_wasm.sh
  ui/pnpm-lock.yaml
  ui/src/App.tsx
  ui/src/AttributeModify.tsx
  ui/src/AttributeSet.tsx
  ui/src/Locate.tsx
  ui/src/MacCompute.tsx
  ui/src/MacVerify.tsx
  ui/src/MainLayout.tsx
  ui/src/menuItems.tsx
  ui/tests/e2e/attributes-flow.spec.ts
  ui/tests/e2e/cert-lifecycle.spec.ts
  ui/tests/e2e/google-cmek-wrap-flow.spec.ts
  ui/tests/e2e/mac-flow.spec.ts
  ui/tests/e2e/rsa-export-options.spec.ts
  ui/tests/e2e/rsa-import-options.spec.ts
  ui/tests/e2e/symmetric-encrypt-decrypt.spec.ts
  ui/tests/e2e/vendor-id-flow.spec.ts
  ui/tests/integration/kms-attributes-set-get-delete.test.ts
Due: ui-wasm-react-unit-tests

fix: ci
  crate/server/src/tests/hsm/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add WASM error message
  ui/pnpm-lock.yaml
  ui/src/App.tsx
  ui/src/MainLayout.tsx
  ui/src/Sidebar.tsx
Due: ui-wasm-react-unit-tests

feat: sorting located keys
  .github/scripts/test_wasm.sh
  ui/package.json
  ui/src/Locate.tsx
  ui/src/Sidebar.tsx
Due: ui-wasm-react-unit-tests

fix(UI): listing of HSM keys
  .github/scripts/nix.sh
  .github/scripts/test_hsm_softhsm2.sh
  .github/scripts/test_ui.sh
  .github/scripts/test_ui_hsm.sh
  CHANGELOG.md
  crate/hsm/softhsm2/src/lib.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/kmip/src/kmip_2_1/extra/bulk_data.rs
  crate/server/src/core/kms/mod.rs
  shell.nix
  ui/src/Locate.tsx
  ui/tests/e2e/helpers.ts
  ui/tests/e2e/locate-hsm.spec.ts
Due: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: resolve develop merge in Locate.tsx and apply prettier formatting
  ui/.gitignore
  ui/src/Locate.tsx
  ui/tests/e2e/helpers.ts
  ui/tests/e2e/locate-hsm.spec.ts
Due: ui-wasm-react-unit-tests

chore: files reformatted
  .github/copilot-instructions.md
  .github/scripts/test_hsm_softhsm2.sh
  .github/scripts/test_ui.sh
Due: none

chore: merge test_ui_hsm.sh in test_ui.sh
  .github/copilot-instructions.md
  .github/scripts/nix.sh
  .github/scripts/test_ui.sh
  .github/scripts/test_ui_hsm.sh
  .gitignore
  CHANGELOG.md
  ui/tests/e2e/locate-hsm.spec.ts
Due: ui-wasm-react-unit-tests

chore: make softhsm2 mandatory in test_ui.sh
  .github/scripts/test_ui.sh
  CHANGELOG.md
  ui/tests/e2e/locate-hsm.spec.ts
Due: ui-wasm-react-unit-tests

fix: use CLI flags instead of TOML config in test_ui.sh to start KMS server
  .github/scripts/test_ui.sh
  CHANGELOG.md
Due: none

fix: use kill -0 in kms_wait_ready and TOML config for test_ui.sh
  .github/scripts/common.sh
  .github/scripts/test_ui.sh
  CHANGELOG.md
  ui/tests/e2e/locate-hsm.spec.ts
Due: ui-wasm-react-unit-tests

ci: fix windows HSM tests
  .github/scripts/test_ui.ps1
  ui/tests/e2e/locate-hsm.spec.ts
Due: ui-wasm-react-unit-tests

fix: UI hsm keys locate (#822)
  .github/copilot-instructions.md
  .github/scripts/common.sh
  .github/scripts/nix.sh
  .github/scripts/test_hsm_softhsm2.sh
  .github/scripts/test_ui.ps1
  .github/scripts/test_ui.sh
  .gitignore
  CHANGELOG.md
  crate/hsm/softhsm2/src/lib.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/kmip/src/kmip_2_1/extra/bulk_data.rs
  crate/server/src/core/kms/mod.rs
  shell.nix
  ui/.gitignore
  ui/src/Locate.tsx
  ui/tests/e2e/locate-hsm.spec.ts
Due: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add load tests benchmarks via ckms
  .github/workflows/main.yml
  .github/workflows/test_all.yml
  CHANGELOG.md
  cli_documentation/docs/cli/main_commands.md
  crate/cli/src/actions/kms/bench.rs
  documentation/docs/benchmarks.md
  documentation/docs/benchmarks/docker/benchmarks-5.12.md
  documentation/docs/benchmarks_load_tests.md
  documentation/mkdocs.yml
  scripts/run_benchmarks_docker.sh
  scripts/run_benchmarks_load_tests.sh
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add load tests benchmarks via ckms (#828)
  .github/workflows/main.yml
  .github/workflows/test_all.yml
  CHANGELOG.md
  cli_documentation/docs/cli/main_commands.md
  crate/cli/src/actions/kms/bench.rs
  documentation/docs/benchmarks.md
  documentation/docs/benchmarks/docker/benchmarks-5.12.md
  documentation/docs/benchmarks_load_tests.md
  documentation/mkdocs.yml
  scripts/run_benchmarks_docker.sh
  scripts/run_benchmarks_load_tests.sh
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add PEM files
  CHANGELOG.md
  cli_documentation/docs/authentication.md
  crate/clients/ckms/src/commands.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add test with certs PEM format
  crate/clients/ckms/src/commands.rs
  crate/clients/ckms/src/tests/kms/auth_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: fix dead links and markdown numerotations
  cli_documentation/docs/pkcs11/oracle/tde.md
Due: none

feat(ckms): add PEM format for TLS certificates in addition to PKCS12 format (#829)
  CHANGELOG.md
  cli_documentation/docs/authentication.md
  crate/clients/ckms/src/commands.rs
  crate/clients/ckms/src/tests/kms/auth_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: run pre-commit lints
  .github/scripts/README.md
  .github/scripts/azure_ekm_mtls_test.sh
  .github/scripts/azure_ekm_test.sh
  .github/scripts/build_ui.sh
  .github/scripts/oracle/set_hsm.ps1
  .github/scripts/oracle/test_oracle_tde.ps1
  .github/scripts/test_pykmip.sh
  .github/scripts/test_synology_dsm.sh
  .github/scripts/update_hashes.sh
  .github/workflows/main.yml
  README.md
  cli_documentation/docs/cli/main_commands.md
  documentation/docs/aws/byok.md
  documentation/docs/aws/byok_scripts/run_aes_byok.sh
  documentation/docs/aws/byok_scripts/run_ecc_byok.sh
  documentation/docs/aws/byok_scripts/run_rsa_byok.sh
  documentation/docs/benchmarks/docker/benchmarks-5.12.0-vs-5.17.0.md
  documentation/docs/benchmarks_load_tests.md
  documentation/docs/pkce_authentication.md
  documentation/docs/server_cli.md
  nix/README.md
  nix/expected-hashes/ui.npm.sha256
  nix/scripts/package_common.sh
Due: none

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
