Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

fix(permissions): replace stale 'privileged_users' terminology in error messages
  crate/server/src/core/kms/permissions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor: simplify dispatch.rs
  crate/server/src/core/operations/dispatch.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(db): reuse SQL statements, factorize locate_query.rs functions
  .mise/scripts/docs/generate_docs.sh
  .mise/scripts/kmip-go/README.md
  crate/server/kms_template.toml
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/stores/sql/locate_query.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  documentation/docs/configuration/log-reference.md
  documentation/docs/configuration/server_configuration_file.md
  lychee.toml
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(kmip-1.4): implement CreateSplitKey and JoinSplitKey for KMIP 1.4
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(security): address security review findings on PR #991
  CHANGELOG/feat_split_key.md
  crate/access/src/access.rs
  crate/server/src/core/kms/permissions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(dispatch): route CO lifecycle ops through enforce_create_permission explicitly
  crate/server/src/core/operations/dispatch.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(co-ceremony): add target_user to disable endpoint for peer revocation
  crate/server/src/core/kms/permissions.rs
  crate/server/src/routes/access.rs
  crate/server/src/tests/key_ceremony_tests.rs
  documentation/docs/adr/2026-06-24-two-role-rbac-crypto-officer-operator.md
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(adr): correct CO role matrix — remove GrantAccess/RevokeAccess from allowed ops
  documentation/docs/adr/2026-06-24-two-role-rbac-crypto-officer-operator.md
Due: none

docs(permissions): document PM-2 and PM-3 design intent in enforce_create_permission
  crate/server/src/core/kms/permissions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(wizard): remove dead fields from AuthWizardResult and wire auth_verifier
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/config/wizard/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: remove useless crypto_sensor doc + code
  documentation/docs/SUMMARY.md
  documentation/docs/certifications_and_compliance/audit/multi_framework_security_audit.md
Due: none

docs(get-attrs): fix stale comment about SplitKey stored Attributes
  crate/server/src/core/operations/attributes/get.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: stick to UserId
  crate/clients/clap/src/actions/symmetric/keys/join_split_key.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/routes/access.rs
  crate/server/src/tests/key_ceremony_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(locate): clarify CO ownership bypass behavior for Locate (PM-6)
  crate/server/src/core/operations/locate.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(e2e): retry on transient 'Failed to fetch' in key creation helpers
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests

fix: ensure the split key ceremony distribute correctly shares among CO
  .pre-commit-config.yaml
  AGENTS.md
  CHANGELOG/feat_split_key.md
  crate/server/src/core/kms/permissions.rs
  crate/server/src/routes/access.rs
  crate/server/src/tests/key_ceremony_tests.rs
  documentation/docs/configuration/log-reference.md
  ui/src/App.tsx
  ui/src/actions/Access/AccessGrant.tsx
  ui/src/actions/Access/AccessRevoke.tsx
  ui/src/actions/Access/CryptoOfficerRole.tsx
  ui/src/actions/Keys/JoinSplitKey.tsx
  ui/src/actions/Keys/SplitKey.tsx
  ui/src/components/layout/Sidebar.tsx
  ui/src/i18n/locales/en/actions.json
  ui/src/i18n/locales/zh-CN/actions.json
  ui/src/styles.css
  ui/tests/unit/tsx-imports/CryptoOfficerRevoke.test.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ceremony): F-2 + F-3 + F-9 security fixes for CO split-key ceremony
  crate/access/src/access.rs
  crate/interfaces/src/stores/permissions_store.rs
  crate/server/src/config/command_line/roles_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/tests/key_ceremony_tests.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  documentation/docs/configuration/log-reference.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: fix wasm
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): gate CO revoke UI on is_crypto_officer + sync log-reference.md
  ui/src/actions/Access/CryptoOfficerRole.tsx
Due: ui-wasm-react-unit-tests

fix(clippy): fix unseparated literal suffixes and add test module allows
  crate/clients/ckms/src/tests/rbac_tests.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/tests/key_ceremony_tests.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ceremony): elevate split-key share audit logs to ERROR, add session_id correlation
  crate/access/src/access.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ceremony): surface wrapping-key-not-found as 422 so operator receives the diagnostic message
  crate/server/src/core/operations/create_split_key.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: implement auto CRL refresh and persist CRLs in DB
  crate/interfaces/src/stores/permissions_store.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/core/operations/revoke.rs
  crate/server/src/routes/crl.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/query_sqlite.sql
  crate/server_database/src/stores/sql/sqlite.rs
  crate/test_kms_server/src/crl_tests.rs
  documentation/docs/configuration/database/tables.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/kmip_support/_revoke.md
  documentation/docs/use_cases/pki.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: c2p still unavailable
  .github/workflows/test_all.yml
Due: none

fix(ceremony): destroy orphaned source key when CreateSplitKey fails (compensating delete)
  crate/clients/clap/src/actions/access.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: comprehensive CRL test suite (unit, functional, security, non-regression)
  .github/instructions/rust.instructions.md
  crate/server/src/tests/crl_tests.rs
  crate/server/src/tests/mod.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/sqlite.rs
  crate/server_database/src/tests/permissions_test.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: remove internal plan references (F-x, PM-x) from source and docs
  CHANGELOG/feat_split_key.md
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/core/operations/locate.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: CRLs RFCs compliance review
  crate/crypto/src/openssl/crl.rs
  crate/interfaces/src/stores/permissions_store.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/sqlite.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(test): bind dynamic port to configured hostname not 127.0.0.1
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: move hardcoded allowed ops from dispatch
  .github/workflows/test_all.yml
  .mise/scripts/kmip-go/README.md
  crate/access/src/access.rs
  crate/crypto/src/crypto/split_key/mod.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/create_split_key.rs
  crate/server/src/core/operations/dispatch.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/tests/key_ceremony_tests.rs
  crate/server_database/src/ceremony_keys.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(crl): clarify two-endpoint design in OpenAPI and Rust doc comments
  crate/server/documentation/openapi.yaml
  crate/server/src/routes/crl.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(crl): configurable validity, Cache-Control headers, background refresh scheduler
  crate/interfaces/src/stores/permissions_store.rs
  crate/server/documentation/openapi.yaml
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/cron.rs
  crate/server/src/main.rs
  crate/server/src/routes/crl.rs
  crate/server/src/start_kms_server.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  crate/test_kms_server/src/crl_tests.rs
  documentation/docs/SUMMARY.md
  documentation/docs/adr/2026-08-20-pki-crl-generation-distribution-auto-refresh.md
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): bug in minimized left menu where tooltips were invisible + fix Back-button theme
  ui/src/App.tsx
Due: ui-wasm-react-unit-tests

fix(test): use temp file in sr_crl_10 instead of test_data submodule
  crate/server/src/core/operations/validate.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(ceremony): correct dual-control wording — assembler can own shares, requires at least one from another CO
  crate/server/src/core/operations/join_split_key.rs
  documentation/docs/configuration/authorization/key_ceremony.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: doc fix
  documentation/docs/SUMMARY.md
Due: none

fix(i18n): still non-conformed strings
  CHANGELOG/feat_split_key.md
  documentation/docs/adr/2026-06-24-two-role-rbac-crypto-officer-operator.md
  ui/src/actions/Access/AccessList.tsx
  ui/src/actions/Certificates/CertificateDecrypt.tsx
  ui/src/actions/Certificates/CertificateEncrypt.tsx
  ui/src/actions/Certificates/CertificateExport.tsx
  ui/src/actions/Certificates/CertificateReCertify.tsx
  ui/src/actions/Covercrypt/CovercryptDecrypt.tsx
  ui/src/actions/Covercrypt/CovercryptEncrypt.tsx
  ui/src/actions/EC/ECDecrypt.tsx
  ui/src/actions/EC/ECEncrypt.tsx
  ui/src/actions/EC/ECSign.tsx
  ui/src/actions/EC/ECVerify.tsx
  ui/src/actions/FPE/FpeDecrypt.tsx
  ui/src/actions/FPE/FpeEncrypt.tsx
  ui/src/actions/MAC/MacCompute.tsx
  ui/src/actions/MAC/MacVerify.tsx
  ui/src/actions/PQC/PqcDecapsulate.tsx
  ui/src/actions/PQC/PqcEncapsulate.tsx
  ui/src/actions/PQC/PqcSign.tsx
  ui/src/actions/PQC/PqcVerify.tsx
  ui/src/actions/RSA/RsaDecrypt.tsx
  ui/src/actions/RSA/RsaEncrypt.tsx
  ui/src/actions/RSA/RsaSign.tsx
  ui/src/actions/RSA/RsaVerify.tsx
  ui/src/actions/Symmetric/SymmetricDecrypt.tsx
  ui/src/actions/Symmetric/SymmetricEncrypt.tsx
  ui/src/components/common/KeyIdInput.tsx
  ui/src/components/common/LocateButton.tsx
Due: ui-wasm-react-unit-tests

fix(ui): rebase issue
  ui/src/actions/Access/AccessGrant.tsx
  ui/src/actions/Objects/ObjectsDestroy.tsx
Due: ui-wasm-react-unit-tests

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
