Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

perf(server): wrap crypto ops in spawn_blocking to free Tokio threads
  CHANGELOG/copilot_cpu-scaling-diagnosis.md
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/core/operations/sign.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

perf(postgres): prepare_cached + missing indexes
  CHANGELOG/copilot_cpu-scaling-diagnosis.md
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: consolidate tests according to logs
  CHANGELOG/vast.md
  crate/crypto/src/crypto/wrap/wrap_key.rs
  crate/server/src/tests/ttlv_tests/integrations/vast.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: fix non-fips tests
  CHANGELOG/vast.md
  crate/clients/ckms/src/tests/shared/export.rs
  crate/clients/ckms/src/tests/shared/import_export_wrapping.rs
  crate/clients/clap/src/tests/shared/export.rs
  crate/clients/clap/src/tests/shared/import_export_wrapping.rs
  crate/crypto/src/crypto/wrap/wrap_key.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: support Vast
  CHANGELOG/vast.md
  crate/crypto/src/crypto/wrap/unwrap_key.rs
  crate/crypto/src/crypto/wrap/wrap_key.rs
  crate/kmip/src/kmip_1_4/kmip_data_structures.rs
  crate/kmip/src/kmip_1_4/kmip_messages.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/kmip_1_4/kmip_types.rs
  crate/kmip/src/kmip_2_1/kmip_data_structures.rs
  crate/server/src/core/wrapping/wrap.rs
  crate/server/src/tests/ttlv_tests/integrations/mod.rs
  crate/server/src/tests/ttlv_tests/integrations/vast.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: missing PascalCase annotation on DerivationParameters
  CHANGELOG/vast.md
  crate/kmip/src/kmip_2_1/kmip_data_structures.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: add Vast as supported Storage integration
  .github/copilot-instructions.md
  CHANGELOG/vast.md
  README.md
  documentation/docs/integrations/storage/vast_data.md
  documentation/mkdocs.yml
Due: none

docs: add Vast as supported Storage integration
  CHANGELOG/vast.md
  README.md
  documentation/docs/integrations/storage/vast_data.md
Due: none

feat(config): add secret management for KMS config files
  .github/scripts/nix.sh
  .github/scripts/test/test_secret_aws.sh
  .github/scripts/test/test_secret_azure.sh
  .github/scripts/test/test_secret_vault.sh
  .github/workflows/test_all.yml
  CHANGELOG/feat_config-secret-management.md
  crate/server/Cargo.toml
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/command_line/secret_backends.rs
  deny.toml
  pkg/kms.toml
  pkg/secrets.toml
  shell.nix
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(clippy): fix restriction lint violations in secret_backends AWS module
  crate/server/src/config/command_line/secret_backends.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: add concurrency on test_docker_image
  .github/workflows/packaging-docker.yml
Due: none

feat: support Vast (#938)
  .github/copilot-instructions.md
  .github/workflows/packaging-docker.yml
  CHANGELOG/vast.md
  README.md
  crate/clients/ckms/src/tests/shared/export.rs
  crate/clients/ckms/src/tests/shared/import_export_wrapping.rs
  crate/clients/clap/src/tests/shared/export.rs
  crate/clients/clap/src/tests/shared/import_export_wrapping.rs
  crate/crypto/src/crypto/wrap/unwrap_key.rs
  crate/crypto/src/crypto/wrap/wrap_key.rs
  crate/kmip/src/kmip_1_4/kmip_data_structures.rs
  crate/kmip/src/kmip_1_4/kmip_messages.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/kmip_1_4/kmip_types.rs
  crate/kmip/src/kmip_2_1/kmip_data_structures.rs
  crate/server/src/core/wrapping/wrap.rs
  crate/server/src/tests/ttlv_tests/integrations/mod.rs
  crate/server/src/tests/ttlv_tests/integrations/vast.rs
  documentation/docs/integrations/storage/vast_data.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: disable real Oracle TDE tests for now
  .github/workflows/packaging-docker.yml
Due: none

ci: rewrite concurrency condition on publishing
  .github/workflows/packaging.yml
Due: none

feat(server): add --http-workers flag to tune actix-web thread count
  CHANGELOG/copilot_cpu-scaling-diagnosis.md
  crate/server/src/config/command_line/http_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/config/wizard/http_wizard.rs
  crate/server/src/main.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

build: fix Cargo.lock (add hmac dep) and reset Nix vendor hashes
  Cargo.lock
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.pnpm.darwin.sha256
  nix/expected-hashes/ui.pnpm.linux.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

feat: add PQC X.509 certificates with RFC 9881/9935 keyUsage enforcement
  .github/scripts/audit/owasp.sh
  .github/scripts/release/release.sh
  CHANGELOG.md
  cli_documentation/docs/cli/main_commands.md
  crate/clients/clap/src/tests/certificates/certify.rs
  crate/clients/client_utils/src/certificate_utils.rs
  crate/clients/wasm/src/wasm.rs
  crate/server/src/core/operations/certify/mod.rs
  crate/test_kms_server/src/lib.rs
  crate/test_kms_server/src/test_server.rs
  documentation/docs/kmip_support/support.md
  nix/README.md
  nix/signing-keys/README.md
  ui/src/actions/Certificates/CertificateCertify.tsx
  ui/tests/e2e/README.md
  ui/tests/e2e/certificates-certify.spec.ts
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add tests on PQC certs
  .github/workflows/test_all.yml
  CHANGELOG/feat_pqc_x509_certificates.md
  crate/server/src/core/operations/certify/mod.rs
  crate/server/src/core/operations/validate.rs
  crate/server/src/tests/test_validate.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: add CHANGELOG for PQC X.509 certificates branch
  CHANGELOG/feat_pqc_x509_certificates.md
Due: none

fix: wip
  CHANGELOG/feat_pqc_x509_certificates.md
  crate/clients/clap/src/tests/certificates/certify.rs
  documentation/docs/kmip_support/_certify.md
  documentation/docs/kmip_support/support.md
  documentation/docs/use_cases/pqc_x509_certificates.md
  documentation/mkdocs.yml
  ui/tests/e2e/certificates-certify.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  .github/scripts/release/update_hashes.sh
  documentation/docs/kmip_support/_certify.md
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

refactor: split certify in several modules
  crate/server/src/core/operations/certify/build_certificate.rs
  crate/server/src/core/operations/certify/certify_op.rs
  crate/server/src/core/operations/certify/mod.rs
  crate/server/src/core/operations/certify/resolve_issuer.rs
  crate/server/src/core/operations/certify/resolve_subject.rs
  crate/server/src/core/operations/certify/rfc9608.rs
  crate/server/src/core/operations/certify/rfc9935.rs
  crate/server/src/core/operations/certify/tests.rs
  crate/server/src/core/operations/validate.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: concurrency on hsm tests
  .github/workflows/test_all.yml
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
Due: none

fix: revert concurrency try
  .github/workflows/test_all.yml
Due: none

chore: update Nix expected hashes
  .github/scripts/release/update_hashes.sh
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
Due: none

chore: update Nix expected hashes
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

fix: follow RFC 9608 for auto-add id-pe-noRevAvail
  .github/scripts/test/test_hsm_crypt2pay.sh
  .pre-commit-config.yaml
  CHANGELOG.md
  CHANGELOG/feat_pqc_x509_certificates.md
  Cargo.lock
  Cargo.toml
  crate/clients/clap/src/tests/certificates/certify.rs
  crate/crypto/src/openssl/x509_extensions.rs
  crate/server/src/core/operations/certify/mod.rs
  crate/server/src/core/operations/validate.rs
  crate/server/src/tests/test_validate.rs
  documentation/docs/use_cases/pqc_x509_certificates.md
  ui/tests/e2e/cert-lifecycle.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

refactor: isolate function per RFCs
  .github/copilot-instructions.md
  CHANGELOG/feat_pqc_x509_certificates.md
  crate/server/src/core/operations/certify/mod.rs
  crate/server/src/core/operations/certify/rfc9608.rs
  crate/server/src/core/operations/certify/rfc9881.rs
  crate/server/src/core/operations/certify/rfc9909.rs
  crate/server/src/core/operations/certify/rfc9935.rs
  crate/test_kms_server/src/test_server.rs
  documentation/docs/use_cases/pki.md
  documentation/docs/use_cases/pqc_x509_certificates.md
  documentation/mkdocs.yml
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review
  .github/scripts/test/test_hsm_crypt2pay.sh
  .pre-commit-config.yaml
  CHANGELOG/feat_pqc_x509_certificates.md
  crate/clients/clap/src/tests/certificates/certify.rs
  crate/crypto/src/openssl/x509_extensions.rs
  crate/server/src/core/operations/certify/mod.rs
  crate/server/src/core/operations/validate.rs
  crate/server/src/tests/test_validate.rs
  documentation/docs/use_cases/pqc_x509_certificates.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: tests
  crate/test_kms_server/src/certify_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
Due: none

test: add new tests on certify
  .github/copilot-instructions.md
  CHANGELOG/feat_pqc_x509_certificates.md
  Cargo.lock
  crate/test_kms_server/Cargo.toml
  crate/test_kms_server/src/lib.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(config): add cosmian-kms:// secret URI backend
  CHANGELOG/feat_config-secret-management.md
  crate/server/Cargo.toml
  crate/server/src/config/command_line/secret_backends.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update Nix expected hashes
  .github/workflows/packaging.yml
Due: none

fix(ui): fix but on empty string arguments given to wasm
  CHANGELOG/feat_pqc_x509_certificates.md
  crate/clients/wasm/src/wasm.rs
  crate/clients/wasm/tests/wasm_bindings.rs
  ui/src/actions/Certificates/CertificateCertify.tsx
  ui/tests/e2e/certificates-certify.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

build: update Nix vendor hashes from CI
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.pnpm.darwin.sha256
  nix/expected-hashes/ui.pnpm.linux.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
