Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

fix(test): use temp file in sr_crl_10 instead of test_data submodule
  documentation/docs/configuration/log-reference.md
Due: none

fix: GHSA-rwc8-xwm6-52xc
  lychee.toml
Due: none

feat: support CRL generation
  lychee.toml
Due: none

feat: support CRL generation
  documentation/docs/configuration/authorization/key_ceremony.md
Due: none

fix: resolve WASM/UI and Windows CI failures
  .mise/scripts/windows/cargo_test.ps1
  ui/src/actions/Keys/JoinSplitKey.tsx
Due: ui-wasm-react-unit-tests

fix(test): opt-in matrix tests via PLAYWRIGHT_AUTH_MATRIX_TESTS env var
  ui/tests/e2e/login-page-auth-method-matrix.spec.ts
Due: ui-wasm-react-unit-tests

test: simplify auth-verifier provisioning, add OPA RBAC vector tests and multi-tenancy coverage
  .mise/scripts/test/test_opa_rbac.sh
  crate/server/src/config/command_line/auth_verifier_config.rs
  crate/server/src/config/command_line/ui_config.rs
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/routes/ui_auth.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  docker-compose.yml
  documentation/docs/SUMMARY.md
  documentation/docs/configuration/authorization/index.md
  documentation/docs/configuration/authorization/mode3.md
  documentation/docs/configuration/authorization/opa-authverifier-setup.md
  documentation/docs/configuration/authorization/rbac-opa-jwt-setup.md
  documentation/nav.yml
  ui/src/App.tsx
  ui/src/pages/LoginPage.tsx
  ui/src/utils/utils.ts
  ui/tests/e2e/README.md
  ui/tests/e2e/login-page-auth-method-matrix.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: tests
  documentation/docs/configuration/log-reference.md
Due: none

fix(test): inline auth_verifier TOML in unit test (test_data submodule not available on CI)
  crate/server/src/config/command_line/auth_verifier_config.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add new OPA test scenarios
  .mise/scripts/test/test_opa_rbac.sh
  crate/server/src/core/retrieve_object_utils.rs
  crate/server/src/middlewares/auth_verifier/mod.rs
  crate/server/src/middlewares/auth_verifier/token.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/middlewares/session_auth.rs
  crate/server/src/routes/ui_auth.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  ui/tests/e2e-auth/auth-verifier-login.spec.ts
  ui/tests/e2e/login-page-auth-method-matrix.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: toml test
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(test): properly mock all auth bootstrap endpoints in matrix tests
  ui/tests/e2e/login-page-auth-method-matrix.spec.ts
Due: ui-wasm-react-unit-tests

fix(test): skip login-page matrix tests when PLAYWRIGHT_CERT_DIR is set (mTLS CI)
  ui/tests/e2e/login-page-auth-method-matrix.spec.ts
Due: ui-wasm-react-unit-tests

fix: allow CO key ceremony when OPA enforcing mode is enabled
  crate/server/src/config/command_line/opa_config.rs
  crate/server/src/core/retrieve_object_utils.rs
  crate/server/src/tests/key_ceremony_tests.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: clarify --opa-url requirement
  CHANGELOG/rbac_rego.md
  crate/server/src/config/params/server_params.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(server_database): execute create_crls table in SQLite init transaction
  crate/server_database/src/stores/sql/sqlite.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(server): use find_active_co in auto-CRL trigger after revocation
  crate/server/src/core/operations/revoke.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: french files
  CHANGELOG/feat_french_kms.md
  ui/src/i18n/localeRegistry.ts
  ui/src/i18n/locales/fr/actions.json
  ui/src/i18n/locales/fr/common.json
  ui/src/i18n/locales/fr/layout.json
  ui/src/i18n/locales/fr/locate.json
  ui/src/i18n/locales/fr/menu.json
  ui/src/i18n/useAppLocale.ts
Due: ui-wasm-react-unit-tests

docs: address docs review comments on PR #991
  documentation/docs/configuration/database/configuration.md
  documentation/docs/configuration/database/redis.md
  documentation/docs/configuration/database/tables.md
Due: none

feat: add split keys translation
  .pre-commit-config.yaml
  ui/src/i18n/locales/en/actions.json
  ui/src/i18n/locales/fr/actions.json
  ui/src/i18n/locales/fr/common.json
  ui/src/i18n/locales/fr/layout.json
  ui/src/i18n/locales/fr/menu.json
Due: none

fix(ui): address PR #991 UI review comments
  CHANGELOG/feat_split_key.md
  ui/src/App.tsx
  ui/src/actions/Access/CryptoOfficerRole.tsx
  ui/src/actions/Keys/SplitKey.tsx
  ui/src/components/layout/Sidebar.tsx
  ui/src/i18n/locales/en/actions.json
  ui/src/i18n/locales/zh-CN/actions.json
  ui/src/styles.css
  ui/src/utils/splitKeyUtils.ts
  ui/tests/unit/split-key-logic.test.ts
  ui/tests/unit/tsx-imports/CryptoOfficerRevoke.test.ts
Due: ui-wasm-react-unit-tests

docs: enable MathJax rendering in mdBook for key_ceremony.md
  documentation/book.toml
Due: none

fix(test): use temp file in sr_crl_10 instead of test_data submodule
  crate/server/src/core/operations/validate.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: GHSA-rwc8-xwm6-52xc
  SECURITY.md
  crate/server/src/core/certificate/mod.rs
  crate/server/src/core/operations/import.rs
  crate/server/src/core/operations/validate.rs
  documentation/docs/configuration/log-reference.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): rebase issue
  ui/src/actions/Access/AccessGrant.tsx
  ui/src/actions/Objects/ObjectsDestroy.tsx
Due: ui-wasm-react-unit-tests

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
