Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

docs(changelog): rewrite SPIRE entry against shipped design
  CHANGELOG/spire-vault-compatible-api.md
Due: none

fix(spire): reject empty entity_id to preserve per-tenant key isolation
  CHANGELOG/spire-vault-compatible-api.md
  crate/server/src/middlewares/spire_token.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update pre-commit conf
  .pre-commit-config.yaml
Due: none

test: add multi SPIRE servers
  .mise/tasks/test/spire
  docker-compose.yml
Due: none

test: cover the 12 adversarial scenarios
  .mise/tasks/test/spire
  documentation/docs/integrations/spire_spiffe.md
Due: none

fix: second wave of reviews
  CHANGELOG/spire.md
  crate/server/documentation/openapi.yaml
  crate/server/src/routes/spire/transit.rs
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: add details on auth-admin and role_id
  documentation/docs/integrations/spire_spiffe.md
Due: none

fix: clippy
  crate/server/src/routes/spire/transit.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: PR review - again
  .mise/tasks/test/spire
  CHANGELOG/spire.md
  crate/clients/clap/src/actions/vault/approle.rs
  crate/server/src/routes/spire/auth_proxy.rs
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
  documentation/docs/integrations/spire_spiffe.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: add SPIRE PoC getting-started (kms.md) and KMS config (kms.toml)
  kms.md
  kms.toml
Due: none

docs: show mistral-agents AppRole usage in End-to-end flow diagram
  documentation/docs/integrations/spire_spiffe.md
Due: none

docs(spire): add setup section, SPIRE server config, install-page links
  documentation/docs/integrations/spire_spiffe.md
Due: none

fix: log-ref
  documentation/docs/configuration/log-reference.md
Due: none

docs(spire): update auth-verifier doc links for mdBook layout
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
  documentation/docs/integrations/spire_spiffe.md
Due: none

chore: bump authentication submodule to 61e1b40 (fix app_auth_api.md)
  .mise/scripts/package/package_common.sh
  nix/kms-server.nix
Due: nixfmt, statix

docs: rewrite kms.md/kms.toml for self-service AppRole + add kms_setup.sh
  kms.md
  kms.toml
  kms_setup.sh
Due: none

fix(spire): run SPIRE 1.15 containers as root to fix sqlite datastore access
  docker-compose.yml
Due: none

fix(spire): bump SPIRE images to 1.15.2 and accept PUT on transit key create/sign
  crate/server/src/routes/spire/transit.rs
  crate/server/src/start_kms_server.rs
  docker-compose.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

style(server): rustfmt import ordering and sync log-reference.md
  crate/server/src/start_kms_server.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: remove PoC artifacts from repository tracking
  .gitignore
  kms.md
  kms.toml
  kms_setup.sh
Due: none

fix(ci): add sudo to netbird up command
  .github/workflows/packaging-docker.yml
Due: none

docs: add POC doc
  .gitignore
  kms.md
  kms_setup.sh
Due: none

fix: opentelemetry_sdk from 0.29.0 to 0.32.1 + React deps updates (#1073)
  CHANGELOG/cve.md
  Cargo.lock
  Cargo.toml
  crate/server/src/core/otel_metrics.rs
  ui/package.json
  ui/pnpm-lock.yaml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: finish the B4 bug
  .mise/tasks/test/spire
  crate/server/src/middlewares/spire_token.rs
  crate/server/src/routes/spire/auth_proxy.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(postgresql): add details about failover retry and standby cluster
  documentation/docs/configuration/database.md
Due: none

fix: resolve 8 of 9 Dependabot security alerts
  CHANGELOG/fix_dependabot-alerts-2026-07-31.md
  Cargo.lock
  Cargo.toml
  crate/clients/pkcs11/provider/src/lib.rs
  crate/server/Cargo.toml
  ui/package.json
  ui/pnpm-lock.yaml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: resolve 8 of 9 Dependabot security alerts (#1083)
  CHANGELOG/fix_dependabot-alerts-2026-07-31.md
  Cargo.lock
  Cargo.toml
  crate/clients/pkcs11/provider/src/lib.rs
  crate/server/Cargo.toml
  ui/package.json
  ui/pnpm-lock.yaml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor: rename vault→spire modules, strip /v1 in auth proxy
  crate/server/src/config/params/server_params.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/middlewares/spire_token.rs
  crate/server/src/routes/mod.rs
  crate/server/src/routes/spire/auth_proxy.rs
  crate/server/src/routes/spire/error.rs
  crate/server/src/routes/spire/mod.rs
  crate/server/src/routes/spire/pki.rs
  crate/server/src/routes/spire/transit.rs
  crate/server/src/start_kms_server.rs
  docker-compose.yml
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/integrations/spire_spiffe.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: remove HashiCorp trademark language from SPIRE integration docs
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
  documentation/docs/integrations/spire_spiffe.md
Due: none

feat(spire): prove Vault drop-in replacement — conformance tests + bug fixes
  .mise/tasks/test/spire
  crate/crypto/src/crypto/elliptic_curves/sign.rs
  crate/crypto/src/crypto/elliptic_curves/verify.rs
  crate/server/src/routes/spire/transit.rs
  crate/server/src/start_kms_server.rs
  docker-compose.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: tests
  documentation/docs/integrations/spire_spiffe.md
Due: none

fix(spire): determine spire-agent docker network dynamically
  .mise/tasks/test/spire
Due: none

fix(ci): fix spire CI matrix and test_toml assertion
  .github/workflows/test_all.yml
  .mise/tasks/test/spire
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: support SPIRE server
  .github/workflows/test_all.yml
  .gitmodules
  .mise/tasks/test/spire
  CHANGELOG/spire-vault-compatible-api.md
  Cargo.lock
  README.md
  crate/clients/clap/Cargo.toml
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/mod.rs
  crate/clients/clap/src/actions/vault/approle.rs
  crate/clients/clap/src/actions/vault/mod.rs
  crate/server/Cargo.toml
  crate/server/documentation/openapi.yaml
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/command_line/vault_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/main.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/middlewares/vault_token.rs
  crate/server/src/routes/mod.rs
  crate/server/src/routes/vault/error.rs
  crate/server/src/routes/vault/mod.rs
  crate/server/src/routes/vault/pki.rs
  crate/server/src/routes/vault/transit.rs
  crate/server/src/start_kms_server.rs
  docker-compose.yml
  documentation/docs/adr/2026-07-26-spire-spiffe-via-vault-api.md
  documentation/docs/configuration/log-reference.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc
