Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

docs(spire): add incident response and endpoints description
  .github/instructions/mermaid.instructions.md
  .mise/tasks/test/spire
  .mise/tasks/test/spire-sds
  docker-compose.yml
  documentation/docs/integrations/spire_spiffe.md
Due: none

docs(ceremony): correct dual-control wording — assembler can own shares, requires at least one from another CO
  crate/server/src/core/operations/join_split_key.rs
  documentation/docs/configuration/authorization/key_ceremony.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ceremony): surface wrapping-key-not-found as 422 so operator receives the diagnostic message
  crate/server/src/core/operations/create_split_key.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ceremony): destroy orphaned source key when CreateSplitKey fails (compensating delete)
  crate/clients/clap/src/actions/access.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: on KMS startup, using default_username + CO role fails
  crate/server/src/config/params/server_params.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: log-ref update
  documentation/docs/configuration/log-reference.md
Due: none

test(ci): add Kubernetes pod smoke-test for KMS Docker image (issue #1132)
  .github/workflows/packaging-docker.yml
  .mise/tasks/test/k8s/README.md
  .mise/tasks/test/k8s/kms-image
  deny.toml
  lychee.toml
Due: none

fix(docker): restore /etc files in image and add curl; improve CI coverage (issue #1132)
  .mise/lib/test_slots.sh
  .mise/scripts/docker-compose.yml
  .mise/scripts/test/test_docker_image.sh
  nix/docker.nix
Due: nixfmt, statix

fix(docker): use pkgs.runCommand for /etc layer — fixes missing files in Kubernetes pod (issue #1132)
  nix/docker.nix
Due: nixfmt, statix

fix(ui): bug in minimized left menu where tooltips were invisible + fix Back-button theme
  ui/src/App.tsx
  ui/src/components/layout/Sidebar.tsx
Due: ui-wasm-react-unit-tests

test(ci): cover plain non-root, CA bundle, and k8s runAsNonRoot regressions (#1132)
  .mise/lib/test_slots.sh
  .mise/scripts/docker-compose.yml
  .mise/scripts/test/test_docker_image.sh
  .mise/tasks/test/k8s/kms-image
Due: none

fix(i18n): still non-conformed strings
  CHANGELOG/feat_split_key.md
  documentation/docs/adr/2026-06-24-two-role-rbac-crypto-officer-operator.md
  ui/src/actions/Access/AccessList.tsx
  ui/src/actions/Certificates/CertificateDecrypt.tsx
  ui/src/actions/Certificates/CertificateEncrypt.tsx
  ui/src/actions/Certificates/CertificateExport.tsx
  ui/src/actions/Certificates/CertificateReCertify.tsx
  ui/src/actions/Covercrypt/CovercryptDecrypt.tsx
  ui/src/actions/Covercrypt/CovercryptEncrypt.tsx
  ui/src/actions/EC/ECDecrypt.tsx
  ui/src/actions/EC/ECEncrypt.tsx
  ui/src/actions/EC/ECSign.tsx
  ui/src/actions/EC/ECVerify.tsx
  ui/src/actions/FPE/FpeDecrypt.tsx
  ui/src/actions/FPE/FpeEncrypt.tsx
  ui/src/actions/MAC/MacCompute.tsx
  ui/src/actions/MAC/MacVerify.tsx
  ui/src/actions/PQC/PqcDecapsulate.tsx
  ui/src/actions/PQC/PqcEncapsulate.tsx
  ui/src/actions/PQC/PqcSign.tsx
  ui/src/actions/PQC/PqcVerify.tsx
  ui/src/actions/RSA/RsaDecrypt.tsx
  ui/src/actions/RSA/RsaEncrypt.tsx
  ui/src/actions/RSA/RsaSign.tsx
  ui/src/actions/RSA/RsaVerify.tsx
  ui/src/actions/Symmetric/SymmetricDecrypt.tsx
  ui/src/actions/Symmetric/SymmetricEncrypt.tsx
  ui/src/components/common/KeyIdInput.tsx
  ui/src/components/common/LocateButton.tsx
  ui/src/i18n/locales/en/actions.json
  ui/src/i18n/locales/zh-CN/actions.json
Due: ui-wasm-react-unit-tests

fix(nix): chmod 755 etc/ before writing /etc files in fakeRootCommands
  nix/docker.nix
Due: nixfmt, statix

fix: update old ref to OpenSSL 3.6.0 to 3.6.2
  .github/copilot-instructions.md
  .github/instructions/nix.instructions.md
  .github/instructions/rust-crypto.instructions.md
  AGENTS.md
Due: none

fix(nix): replace etc symlink with real directory in fakeRootCommands
  nix/docker.nix
Due: nixfmt, statix

fix(nix): make all fakeRootCommands write targets writable, not just /etc
  nix/docker.nix
Due: nixfmt, statix

fix: fix AI skill
  .github/copilot-instructions.md
  .github/instructions/cli-ui-sync.instructions.md
  .github/instructions/docs.instructions.md
  .github/instructions/kmip-operations.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/middlewares.instructions.md
  .github/instructions/playwright.instructions.md
  .github/instructions/ui-routes.instructions.md
  .github/skills/README.md
  .github/skills/adr/SKILL.md
  .github/skills/docs-writer/SKILL.md
  .github/skills/kms-last-test-v5/SKILL.md
  .github/skills/kms-sync-rules/SKILL.md
  AGENTS.md
Due: none

fix(nix): include grep in Docker runtime env for CA bundle validation
  CHANGELOG/fix_k8s-kms-pod-ci-test.md
  nix/docker.nix
Due: nixfmt, statix

fix: doc fix
  documentation/docs/SUMMARY.md
Due: none

ci(docker): add arm64 to k8s-kms-pod test matrix; add docker/k8s instructions
  .github/copilot-instructions.md
  .github/instructions/docker.instructions.md
  .github/workflows/packaging-docker.yml
  .gitignore
  .mise/tasks/test/k8s/README.md
  AGENTS.md
Due: none

test(crl): verify CRL generation when CO role is disabled
  crate/test_kms_server/src/crl_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: follow RFC 5280 for RemoveFromCRL reason mapping
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/main.rs
  crate/test_kms_server/src/crl_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(crl): clarify two-endpoint design in OpenAPI and Rust doc comments
  crate/server/documentation/openapi.yaml
  crate/server/src/routes/crl.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: GHSA-rwc8-xwm6-52xc
  SECURITY.md
  crate/server/src/core/certificate/mod.rs
  crate/server/src/core/operations/import.rs
  crate/server/src/core/operations/validate.rs
  documentation/docs/configuration/log-reference.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(test): use temp file in sr_crl_10 instead of test_data submodule
  crate/server/src/core/operations/validate.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: redis tests
  crate/server_database/src/stores/redis/redis_with_findex.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: remove accidentally committed yo.der test file
  yo.der
Due: none

fix(test): eliminate TOCTOU race in test server port allocation
  crate/server/src/main.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/ttlv_tests/mod.rs
  crate/server/src/windows_service.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(crl): remove CO guard — CRL is public information (RFC 5280 §3)
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/core/operations/revoke.rs
  crate/server/src/cron.rs
  documentation/docs/configuration/log-reference.md
  yo.der
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): rebase issue
  ui/src/actions/Access/AccessGrant.tsx
  ui/src/actions/Objects/ObjectsDestroy.tsx
Due: ui-wasm-react-unit-tests

fix(ui): use public CRL endpoint to include certs from all users
  crate/server/src/routes/crl.rs
  ui/src/actions/Certificates/CertificateGenerateCrl.tsx
  ui/src/menuItems.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(test): bind dynamic port to configured hostname not 127.0.0.1
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(crl): configurable validity, Cache-Control headers, background refresh scheduler
  crate/interfaces/src/stores/permissions_store.rs
  crate/server/documentation/openapi.yaml
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/cron.rs
  crate/server/src/main.rs
  crate/server/src/routes/crl.rs
  crate/server/src/start_kms_server.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  crate/test_kms_server/src/crl_tests.rs
  documentation/docs/SUMMARY.md
  documentation/docs/adr/2026-08-20-pki-crl-generation-distribution-auto-refresh.md
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: implement auto CRL refresh and persist CRLs in DB
  crate/interfaces/src/stores/permissions_store.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/core/operations/revoke.rs
  crate/server/src/routes/crl.rs
  crate/server_database/src/core/database_permissions.rs
  crate/server_database/src/stores/redis/redis_with_findex.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/query_sqlite.sql
  crate/server_database/src/stores/sql/sqlite.rs
  crate/test_kms_server/src/crl_tests.rs
  documentation/docs/configuration/database/tables.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/kmip_support/_revoke.md
  documentation/docs/use_cases/pki.md
  lychee.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: support CRL generation
  ui/src/actions/Access/AccessGrant.tsx
  ui/src/actions/Objects/ObjectsDestroy.tsx
Due: ui-wasm-react-unit-tests
