Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

fix: replace favicons
  cli_documentation/docs/favicon.png
  documentation/docs/hsm_support/multi_hsm.md
  documentation/pandoc/favicon.png
Due: none

refactor: mutualize similar-named functions with pivot-functions
  CHANGELOG/refactor_reduce_loc.md
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/core/operations/sign.rs
  crate/server/src/core/operations/state_utils.rs
  crate/server/src/routes/azure_ekm/handlers.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: add CHANGELOG for refactor/reduce_loc branch
  CHANGELOG/refactor_reduce_loc.md
Due: none

feat: add HSM permissions system verifiction
  .github/scripts/test/test_hsm_softhsm2.sh
  CHANGELOG/refactor_reduce_loc.md
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/destroy.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/core/operations/register.rs
  crate/server/src/core/operations/revoke.rs
  crate/server/src/core/operations/sign.rs
  crate/server/src/core/operations/signature_verify.rs
  crate/server/src/core/operations/state_utils.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/lib.rs
  crate/test_kms_server/src/test_server.rs
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: tests
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor: key-id selection
  .github/scripts/pykmip/pykmip_client.py
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/core/operations/sign.rs
  crate/server/src/core/operations/signature_verify.rs
  crate/server/src/core/operations/state_utils.rs
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: do not unwrap keys on get_attributes request
  CHANGELOG/refactor_reduce_loc.md
  crate/server/src/core/retrieve_object_utils.rs
  crate/server/src/routes/kmip.rs
  crate/server/src/tests/ttlv_tests/integrations/synology_dsm.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add HSM key-selection tests
  .github/copilot-instructions.md
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/core/operations/sign.rs
  crate/server/src/core/operations/signature_verify.rs
  crate/server/src/core/operations/state_utils.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor: move functions to appropriate impl
  crate/interfaces/src/stores/object_with_metadata.rs
  crate/kmip/src/kmip_2_1/kmip_types.rs
  crate/server/src/core/operations/attributes/add.rs
  crate/server/src/core/operations/attributes/delete.rs
  crate/server/src/core/operations/attributes/dispatch_macros.rs
  crate/server/src/core/operations/attributes/get.rs
  crate/server/src/core/operations/attributes/get_list.rs
  crate/server/src/core/operations/attributes/mod.rs
  crate/server/src/core/operations/attributes/modify.rs
  crate/server/src/core/operations/attributes/set.rs
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/destroy.rs
  crate/server/src/core/operations/dispatch.rs
  crate/server/src/core/operations/import.rs
  crate/server/src/core/operations/message.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/core/operations/revoke.rs
  crate/server/src/core/operations/sign.rs
  crate/server/src/core/operations/signature_verify.rs
  crate/server/src/core/operations/state_utils.rs
  crate/server/src/core/operations/state_utils/crypto_op.rs
  crate/server/src/core/operations/state_utils/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: add resident HSM key + KEK scenarios for non-reg tests
  crate/server/src/core/operations/create.rs
  crate/server/src/core/operations/create_key_pair.rs
  crate/server/src/core/operations/destroy.rs
  crate/server/src/core/operations/key_ops/crypto_op.rs
  crate/server/src/core/operations/key_ops/mod.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/core/operations/revoke.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: C2P HSM tests
  crate/server/src/core/operations/dispatch.rs
  crate/server/src/tests/hsm/permissions.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: block HSM-key creation when no HSM plugin
  .github/copilot-instructions.md
  CHANGELOG/refactor_reduce_loc.md
  crate/server_database/src/core/database_objects.rs
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor: crypto-op generic flow
  .github/copilot-instructions.md
  CHANGELOG/refactor_reduce_loc.md
  crate/interfaces/src/crypto_oracle.rs
  crate/interfaces/src/error/mod.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/server/src/core/operations/add_attribute.rs
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/delete_attribute.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/core/operations/key_ops/crypto_op.rs
  crate/server/src/core/operations/key_ops/mod.rs
  crate/server/src/core/operations/mac.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/core/operations/modify_attribute.rs
  crate/server/src/core/operations/set_attribute.rs
  crate/server/src/core/operations/sign.rs
  crate/server/src/core/operations/signature_verify.rs
  crate/server/src/error.rs
  crate/server/src/tests/security_regression.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: address Copilot review comments and document security CVEs
  .github/scripts/test/requirements-jose.txt
  .github/scripts/test/test_jose.sh
  CHANGELOG/refactor_reduce_loc.md
  SECURITY.md
  crate/kmip/src/kmip_2_1/mod.rs
  crate/server/src/core/operations/attributes/add.rs
  crate/server/src/core/operations/attributes/delete.rs
  crate/server/src/core/operations/attributes/modify.rs
  crate/server/src/core/operations/attributes/set.rs
  crate/server/src/core/operations/key_ops/crypto_op.rs
  crate/server/src/core/retrieve_object_utils.rs
  crate/server/src/tests/security_regression.rs
  crate/server_database/src/core/database_objects.rs
  crate/test_kms_server/src/test_server.rs
  ui/src/actions/Symmetric/SymmetricHash.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor: reduce loc — sync docs, WASM ops, test infra, agent instructions
  .github/copilot-instructions.md
  AGENTS.md
  CHANGELOG/refactor_reduce_loc.md
  crate/clients/wasm/src/wasm.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/test_server.rs
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/configuration/authorization.md
  documentation/docs/hsm_support/hsm_operations.md
  ui/src/actions/Access/AccessGrant.tsx
  ui/src/actions/Access/AccessRevoke.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ui): fix serialize of new permissions
  CHANGELOG/refactor_reduce_loc.md
  crate/clients/clap/src/tests/access.rs
  crate/clients/wasm/src/wasm.rs
  ui/eslint.config.js
  ui/tests/e2e/access-rights-flow.spec.ts
  ui/tests/e2e/cert-lifecycle.spec.ts
  ui/tests/e2e/locate-attributes.spec.ts
  ui/tests/e2e/locate-hsm.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: update SECURITY.md
  SECURITY.md
Due: none

docs(changelog): create 5.23.0 entry
  CHANGELOG.md
  CHANGELOG/ci-oracle-tde.md
  CHANGELOG/feat_crypto_JWE_api.md
  CHANGELOG/feat_multi_hsm_support.md
  CHANGELOG/feat_pqc_x509_certificates.md
  CHANGELOG/feat_rebrand-ui-and-docs.md
  CHANGELOG/fix_cse_token_validation.md
  CHANGELOG/refactor_reduce_loc.md
  CHANGELOG/test_regression_vectors.md
  CHANGELOG/vast.md
Due: none

test(non-reg): fix race condition on server with HTTPS
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: Vast Re-key
  .pre-commit-config.yaml
  CHANGELOG/vast_rekey.md
  crate/clients/ckms/src/tests/symmetric/rekey.rs
  crate/clients/clap/src/tests/symmetric/rekey.rs
  crate/server/src/core/operations/rekey.rs
  crate/server/src/tests/ttlv_tests/integrations/vast.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/integrations/storage/vast_data.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: fix Mermaid sequence diagram semicolon parse error in vast_data.md
  documentation/docs/integrations/storage/vast_data.md
Due: none

fix(security): upgrade jwcrypto to 1.5.7 (CVE-2026-39373 / GHSA-fjrm-76x2-c4q4)
  .github/scripts/test/requirements-jose.txt
  CHANGELOG/vast_rekey.md
Due: none

fix: PR review
  CHANGELOG/vast_rekey.md
  crate/server/src/core/operations/rekey.rs
  crate/server/src/tests/ttlv_tests/integrations/vast.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: COSMIAN-2026-017 and COSMIAN-2026-018
  .github/copilot-instructions.md
  CHANGELOG/vast_rekey.md
  SECURITY.md
  crate/clients/clap/src/tests/access.rs
  crate/clients/wasm/src/wasm.rs
  crate/kmip/src/kmip_2_1/mod.rs
  crate/server/src/core/operations/activate.rs
  crate/server/src/core/operations/rekey_keypair.rs
  crate/server/src/core/retrieve_object_utils.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(security): re-sort by published date
  .github/copilot-instructions.md
  CHANGELOG/vast_rekey.md
  SECURITY.md
Due: none

fix: tests
  CHANGELOG/vast_rekey.md
  SECURITY.md
  crate/server/src/core/retrieve_object_utils.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor: rekey keypair according to specs
  CHANGELOG/vast_rekey.md
  crate/clients/clap/src/tests/security/privilege_bypass.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/dispatch.rs
  crate/server/src/core/operations/message.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/core/operations/rekey.rs
  crate/server/src/core/operations/rekey_common.rs
  crate/server/src/core/operations/rekey_keypair.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/configuration/authorization.md
  scripts/generate_rekey_vectors.sh
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: tests
  CHANGELOG/vast_rekey.md
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(kmip): fix on rekey/rekey-keypair for KMIP compliance (#961)
  .github/copilot-instructions.md
  .github/scripts/test/requirements-jose.txt
  .pre-commit-config.yaml
  CHANGELOG/vast_rekey.md
  SECURITY.md
  crate/clients/ckms/src/tests/symmetric/rekey.rs
  crate/clients/clap/src/tests/access.rs
  crate/clients/clap/src/tests/security/privilege_bypass.rs
  crate/clients/clap/src/tests/symmetric/rekey.rs
  crate/clients/wasm/src/wasm.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/kmip_2_1/mod.rs
  crate/server/src/core/kms/kmip.rs
  crate/server/src/core/operations/activate.rs
  crate/server/src/core/operations/dispatch.rs
  crate/server/src/core/operations/message.rs
  crate/server/src/core/operations/mod.rs
  crate/server/src/core/operations/rekey.rs
  crate/server/src/core/operations/rekey_common.rs
  crate/server/src/core/operations/rekey_keypair.rs
  crate/server/src/core/retrieve_object_utils.rs
  crate/server/src/tests/ttlv_tests/integrations/vast.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/test_server.rs
  crate/test_kms_server/src/vector_runner.rs
  documentation/docs/configuration/authorization.md
  documentation/docs/integrations/storage/vast_data.md
  scripts/generate_rekey_vectors.sh
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: add OpenAPI/Swagger documentation page and update README
  CHANGELOG/openapi.md
  README.md
  documentation/docs/kmip_support/openapi.md
  documentation/mkdocs.yml
Due: none

chore: update Nix expected hashes
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none
