Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

fix(crypto): fail closed when FIPS indicator unavailable; update PQC entropy doc for propquery support
  crate/crypto/src/crypto/pqc/mod.rs
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/pqc_entropy_compliance.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(crypto): unit-test fail-closed FIPS indicator decision and fips=yes matching
  crate/crypto/src/crypto/pqc/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(enrollment): harden templates, startup validation and EST simpleenroll after review (#871)
  CHANGELOG/scep.md
  crate/server/src/config/command_line/est_config.rs
  crate/server/src/config/command_line/scep_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/operations/certify/template.rs
  crate/server/src/routes/enrollment.rs
  crate/server/src/routes/est/enroll.rs
  crate/server/src/tests/enrollment_tests.rs
  documentation/docs/configuration/log-reference.md
  documentation/docs/configuration/server_cli.md
  documentation/docs/use_cases/pki-enrollment.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(cli,ui): add EST client commands (ckms est cacerts/enroll) and Web UI pages (#871)
  CHANGELOG/est_cli_ui.md
  crate/clients/ckms/src/tests/est.rs
  crate/clients/ckms/src/tests/mod.rs
  crate/clients/clap/Cargo.toml
  crate/clients/clap/src/actions/est/cacerts.rs
  crate/clients/clap/src/actions/est/enroll.rs
  crate/clients/clap/src/actions/est/mod.rs
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/mod.rs
  crate/clients/clap/src/error/mod.rs
  crate/clients/client/src/http_client/client.rs
  documentation/adr/2026-10-10-est-client-cli-and-ui-scope.md
  documentation/docs/kms_clients/cli/main_commands.md
  documentation/docs/kms_clients/usage.md
  ui/src/App.tsx
  ui/src/actions/Certificates/EstCaCerts.tsx
  ui/src/actions/Certificates/EstEnroll.tsx
  ui/src/i18n/locales/en/actions.json
  ui/src/i18n/locales/en/menu.json
  ui/src/i18n/locales/fr/actions.json
  ui/src/i18n/locales/fr/menu.json
  ui/src/i18n/locales/zh-CN/actions.json
  ui/src/i18n/locales/zh-CN/menu.json
  ui/src/menuItems.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(agents): replace per-layer PR cascade with independent per-layer commits
  .github/copilot-instructions.md
  AGENTS.md
Due: none

fix(ci): install Go on the macOS EST/SCEP interop job
  .github/workflows/main_base.yml
Due: none

fix(server): skip HSM EdDSA Sign/Verify leg when the PKCS#11 library lacks CKM_EDDSA
  crate/server/src/tests/hsm/eddsa_sign.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): provide Go to est-interop/scep-interop through the Nix shell
  .mise/tasks/test/est-interop
  .mise/tasks/test/scep-interop
Due: none

fix(ci): make kms_build FEATURES_FLAG expansion safe under bash 3.2 (macOS) with set -u
  .mise/lib/kms_build.sh
Due: none

ci(db2): retry icr.io image pull in test_db2_tde.sh
  .mise/scripts/test/test_db2_tde.sh
Due: none

refactor: replace too_many_arguments suppressions with parameter structs
  crate/clients/clap/src/actions/bench/load.rs
  crate/clients/clap/src/actions/certificates/certify.rs
  crate/clients/clap/src/actions/pgp/keys/create_key.rs
  crate/clients/clap/src/actions/shared/import_key.rs
  crate/clients/clap/src/actions/shared/locate.rs
  crate/clients/clap/src/actions/symmetric/decrypt.rs
  crate/clients/clap/src/actions/symmetric/encrypt.rs
  crate/clients/client_utils/src/certificate_utils.rs
  crate/clients/client_utils/src/import_utils.rs
  crate/clients/client_utils/src/locate_utils.rs
  crate/clients/pkcs11/provider/src/tests.rs
  crate/clients/wasm/src/wasm.rs
  crate/crypto/src/crypto/cover_crypt/master_keys.rs
  crate/crypto/src/crypto/elliptic_curves/operation.rs
  crate/crypto/src/crypto/mod.rs
  crate/crypto/src/crypto/pqc/hybrid_kem.rs
  crate/crypto/src/crypto/pqc/ml_dsa.rs
  crate/crypto/src/crypto/pqc/ml_kem.rs
  crate/crypto/src/crypto/pqc/mod.rs
  crate/crypto/src/crypto/pqc/slh_dsa.rs
  crate/hsm/base_hsm/src/hsm_lib.rs
  crate/hsm/base_hsm/src/lib.rs
  crate/hsm/base_hsm/src/session/mod.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/kmip/src/kmip_2_1/requests/create.rs
  crate/kmip/src/kmip_2_1/requests/mod.rs
  crate/server/src/core/operations/create_key_pair.rs
  crate/test_kms_server/src/certify_tests.rs
  crate/test_kms_server/src/crl_tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(crypto): build the FIPS provider from the CMVP-validated OpenSSL 3.1.2
  crate/crypto/build.rs
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/pqc_entropy_compliance.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: KmsRng review
  crate/crypto/build.rs
  crate/crypto/src/crypto/rng/mod.rs
  crate/crypto/tests/fips_rng_provider.rs
  crate/server/src/core/operations/rng_retrieve.rs
  crate/server_database/src/core/rotate_name_cache.rs
  documentation/docs/certifications_and_compliance/cryptographic_algorithms/pqc_entropy_compliance.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs(alpine): document Alpine/musl support and write changelog
  CHANGELOG/alpine.md
  README.md
  documentation/docs/installation/installation_getting_started.md
Due: none

feat(alpine): wire CI for musl cross-check and Alpine smoke tests
  .github/workflows/packaging.yml
  .mise/scripts/test/test_alpine_musl.sh
Due: none

feat(alpine): add musl/Alpine-compatible release tarballs (WIP checkpoint)
  .github/workflows/packaging.yml
  .mise/scripts/package/package_musl_tarball.sh
  .mise/tasks/package/musl-tarball
  crate/server/src/openssl_providers.rs
  default.nix
  nix/cli-musl.nix
  nix/expected-hashes/cli.vendor.musl-fips.sha256
  nix/expected-hashes/server.vendor.musl-fips.sha256
  nix/expected-hashes/server.vendor.musl-non-fips.sha256
  nix/kms-server-musl.nix
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(alpine): add cargo+musl-tools cross-check pipeline, fix libgcc comment
  .mise/tasks/test/musl-crosscheck
  .mise/tasks/test/musl-openssl-prebuild
  nix/cli-musl.nix
  nix/expected-hashes/cli.vendor.musl-non-fips.sha256
  nix/kms-server-musl.nix
Due: nixfmt, statix

fix(alpine): bundle FIPS provider module in musl server tarball
  .mise/scripts/package/package_musl_tarball.sh
  .mise/scripts/test/test_alpine_musl.sh
Due: none

style(alpine): apply pre-commit auto-fixes (nixfmt, end-of-file-fixer)
  nix/cli-musl.nix
  nix/expected-hashes/cli.vendor.musl-fips.sha256
  nix/expected-hashes/cli.vendor.musl-non-fips.sha256
  nix/expected-hashes/server.vendor.musl-fips.sha256
  nix/expected-hashes/server.vendor.musl-non-fips.sha256
  nix/kms-server-musl.nix
Due: nixfmt, statix

fix(alpine): redirect crate/crypto/build.rs to the prebuilt musl OpenSSL
  .mise/tasks/test/musl-openssl-prebuild
Due: none

fix(alpine): disable aarch64 outline-atomics in musl OpenSSL prebuild
  .mise/tasks/test/musl-openssl-prebuild
Due: none

fix(alpine): allow clippy::expect_used in the new test module
  crate/server/src/openssl_providers.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(alpine): use sudo for musl sysroot header copy in CI
  .mise/tasks/test/musl-openssl-prebuild
Due: none

fix(alpine): skip building OpenSSL fuzz/test binaries in musl prebuild
  .mise/tasks/test/musl-openssl-prebuild
Due: none

feat(alpine): replace musl release tarballs with Alpine .apk packages
  .github/workflows/packaging.yml
  .mise/scripts/package/package_apk.sh
  .mise/scripts/package/package_musl_tarball.sh
  .mise/scripts/test/test_alpine_musl.sh
  .mise/tasks/package/apk
  .mise/tasks/package/musl-tarball
  .mise/tasks/test/alpine-native-build
  .mise/tasks/test/musl-crosscheck
  CHANGELOG/alpine.md
  README.md
  crate/server/src/openssl_providers.rs
  default.nix
  documentation/docs/installation/installation_getting_started.md
  pkg/apk/cosmian_kms.confd
  pkg/apk/cosmian_kms.initd
  pkg/apk/postinstall.sh
  pkg/apk/preremove.sh
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(alpine): add native Alpine-container build as a third validation path
  .github/workflows/packaging.yml
  .mise/tasks/test/alpine-native-build
Due: none

fix(alpine): consolidate alpine-native-build's apk installs into one early step
  .github/workflows/packaging.yml
Due: none

fix(alpine): restrict alpine-native-build to x64 (arm64 unsupported upstream)
  .github/workflows/packaging.yml
Due: none

fix(alpine): install git before actions/checkout in alpine-native-build
  .github/workflows/packaging.yml
Due: none

build: update musl vendor hashes for 5.28.0
  nix/expected-hashes/cli.vendor.musl-fips.sha256
  nix/expected-hashes/cli.vendor.musl-non-fips.sha256
  nix/expected-hashes/server.vendor.musl-fips.sha256
  nix/expected-hashes/server.vendor.musl-non-fips.sha256
Due: none

fix(alpine): make musl-tarball temp-dir cleanup robust to read-only Nix paths
  .mise/scripts/package/package_musl_tarball.sh
  .mise/scripts/test/test_alpine_musl.sh
Due: none

docs(alpine): changelog entry for the native Alpine-container build
  CHANGELOG/alpine.md
Due: none

docs(alpine): update musl-crosscheck comments — the static-pie gap is resolved
  .mise/tasks/test/musl-crosscheck
Due: none

ci(packaging): merge publish-apk job into publish-release
  .github/workflows/packaging.yml
Due: none

fix(packaging): gate apk publication on alpine smoke tests passing
  .github/workflows/packaging.yml
  CHANGELOG/alpine.md
Due: none

docs(alpine): verify apk GPG signature before apk add --allow-untrusted
  CHANGELOG/alpine.md
  documentation/docs/installation/installation_getting_started.md
  documentation/docs/kms_clients/installation.md
Due: none

fix(alpine): avoid clippy::panic in openssl_providers test
  crate/server/src/openssl_providers.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(alpine): run the Alpine apk server as an unprivileged "kms" user
  .mise/scripts/package/package_apk.sh
  CHANGELOG/alpine.md
  documentation/docs/installation/installation_getting_started.md
  pkg/apk/cosmian_kms.initd
  pkg/apk/postinstall.sh
  pkg/apk/preinstall.sh
Due: none
