Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

feat: support of Fortigate and DSM Synolgy (#827)
  .github/scripts/test/test_hsm_softhsm2.sh
  CHANGELOG.md
  CHANGELOG/support_fortigate.md
  README.md
  crate/interfaces/src/hsm/hsm_store.rs
  crate/kmip/src/kmip_0/kmip_messages.rs
  crate/kmip/src/kmip_0/kmip_types.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/ttlv/tests/kmip_1_4_tests.rs
  crate/kmip/src/ttlv/tests/kmip_2_1_tests.rs
  crate/server/src/tests/hsm/issues.rs
  crate/server/src/tests/hsm/mod.rs
  crate/server/src/tests/hsm/test_helpers.rs
  crate/server/src/tests/ttlv_tests/integrations/synology_dsm.rs
  crate/server/src/tests/ttlv_tests/locate_1_4.rs
  documentation/docs/kmip_support/support.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

build: fix darwin dynamic CLI vendor hash
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
Due: none

docs: create entry for CHANGELOG 5.22.0
  .github/scripts/test/test_hsm_proteccio.sh
  .github/workflows/release.yml
  .github/workflows/test_all.yml
  CHANGELOG.md
  CHANGELOG/ci_tests_c2p.md
  CHANGELOG/fix_span.md
  CHANGELOG/support_fortigate.md
  README.md
  documentation/docs/index.md
  documentation/docs/integrations/fortigate.md
  documentation/mkdocs.yml
  nix/expected-hashes/ui.pnpm.darwin.sha256
Due: none

feat: support Vast
  CHANGELOG/vast.md
  crate/crypto/src/crypto/wrap/unwrap_key.rs
  crate/crypto/src/crypto/wrap/wrap_key.rs
  crate/kmip/src/kmip_1_4/kmip_data_structures.rs
  crate/kmip/src/kmip_1_4/kmip_messages.rs
  crate/kmip/src/kmip_1_4/kmip_operations.rs
  crate/kmip/src/kmip_1_4/kmip_types.rs
  crate/kmip/src/kmip_2_1/kmip_data_structures.rs
  crate/server/src/core/wrapping/wrap.rs
  crate/server/src/tests/ttlv_tests/integrations/mod.rs
  crate/server/src/tests/ttlv_tests/integrations/vast.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: consolidate tests according to logs
  CHANGELOG/vast.md
  crate/crypto/src/crypto/wrap/wrap_key.rs
  crate/server/src/tests/ttlv_tests/integrations/vast.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: fix non-fips tests
  CHANGELOG/vast.md
  crate/clients/ckms/src/tests/shared/export.rs
  crate/clients/ckms/src/tests/shared/import_export_wrapping.rs
  crate/clients/clap/src/tests/shared/export.rs
  crate/clients/clap/src/tests/shared/import_export_wrapping.rs
  crate/crypto/src/crypto/wrap/wrap_key.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

build: merge develop and update pnpm vendor hashes
  nix/expected-hashes/ui.pnpm.linux.sha256
Due: none

chore: update UI Nix expected hash
  nix/expected-hashes/ui.pnpm.linux.sha256
Due: none

docs: add CHANGELOG for multi-HSM support branch
  CHANGELOG/feat_multi_hsm_support.md
Due: none

docs: add CHANGELOG for PQC X.509 certificates branch
  CHANGELOG/feat_pqc_x509_certificates.md
Due: none

add aws xks documentation
  documentation/docs/integrations/cloud_providers/aws/xks_migration.md
Due: none

add screenshots
  documentation/docs/integrations/cloud_providers/aws/xks-confirm-disconnect.png
  documentation/docs/integrations/cloud_providers/aws/xks-confirm-update.png
  documentation/docs/integrations/cloud_providers/aws/xks-disconnect.png
  documentation/docs/integrations/cloud_providers/aws/xks-disconnected.png
  documentation/docs/integrations/cloud_providers/aws/xks-edit.png
  documentation/docs/integrations/cloud_providers/aws/xks-update-endpoint.png
  documentation/docs/integrations/cloud_providers/aws/xks-updated.png
  documentation/docs/integrations/cloud_providers/aws/xks_migration.md
Due: none

build: fix darwin static CLI vendor hash
  nix/expected-hashes/cli.vendor.static.darwin.sha256
Due: none

chore: split works into multiples branches
  .github/scripts/docs/update_readme_kmip.py
  .github/workflows/benchmark.yml
  README.md
  crate/hsm/base_hsm/src/hsm_lib.rs
  crate/interfaces/README.md
  crate/interfaces/src/README.md
  crate/interfaces/src/hsm/backend.rs
  crate/interfaces/src/hsm/crypto_oracle_impl.rs
  crate/interfaces/src/hsm/mod.rs
  crate/interfaces/src/lib.rs
  crate/server/Cargo.toml
  crate/server/kms_template.toml
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/hsm_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/uid_utils.rs
  crate/server/src/cron.rs
  crate/server/src/main.rs
  crate/server/src/routes/mod.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/hsm/mod.rs
  crate/server/src/tests/hsm/multi_hsm.rs
  crate/test_kms_server/src/lib.rs
  crate/test_kms_server/src/test_server.rs
  docker-compose.yml
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/hsm_support/multi_hsm.md
  documentation/docs/kmip_support/support.md
  documentation/mkdocs.yml
  pkg/kms.toml
  resources/kms.toml
  ui/src/App.tsx
  ui/src/actions/Objects/HsmStatus.tsx
  ui/src/components/common/Locate.tsx
  ui/src/components/layout/Header.tsx
  ui/src/components/layout/MainLayout.tsx
  ui/src/menuItems.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: add PQC X.509 certificates with RFC 9881/9935 keyUsage enforcement
  .github/scripts/audit/owasp.sh
  .github/scripts/release/release.sh
  CHANGELOG.md
  README.md
  cli_documentation/docs/cli/main_commands.md
  crate/clients/clap/src/tests/certificates/certify.rs
  crate/clients/client_utils/src/certificate_utils.rs
  crate/clients/wasm/src/wasm.rs
  crate/server/src/core/operations/certify/mod.rs
  crate/test_kms_server/src/lib.rs
  crate/test_kms_server/src/test_server.rs
  documentation/docs/kmip_support/support.md
  nix/README.md
  nix/signing-keys/README.md
  ui/src/actions/Certificates/CertificateCertify.tsx
  ui/tests/e2e/README.md
  ui/tests/e2e/certificates-certify.spec.ts
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: big commit deleted history
  Cargo.lock
  crate/access/Cargo.toml
  crate/access/src/audit/cef.rs
  crate/access/src/audit/event.rs
  crate/access/src/audit/hash.rs
  crate/access/src/audit/mod.rs
  crate/access/src/lib.rs
  crate/clients/ckms/src/commands.rs
  crate/clients/clap/src/actions/audit.rs
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/mod.rs
  crate/server/src/config/command_line/audit_config.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/audit/file_store.rs
  crate/server/src/core/audit/mod.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/mod.rs
  crate/server/src/main.rs
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/start_kms_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: don't log "kmip" only
  crate/server/src/middlewares/audit.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/kmip.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: fix CORS usage
  .github/scripts/docs/generate_docs.sh
  README.md
  crate/server/kms_template.toml
  crate/server/src/config/command_line/http_config.rs
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/kmip_support/support.md
  pkg/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: build on Linux
  Cargo.lock
  cli_documentation/docs/cli/main_commands.md
  cli_documentation/docs/usage.md
  crate/clients/clap/src/actions/cng.rs
  crate/clients/cng/Cargo.toml
  crate/clients/cng/README.md
  crate/clients/cng/src/backend.rs
  crate/clients/cng/src/blob.rs
  crate/clients/cng/src/error.rs
  crate/clients/cng/src/key.rs
  crate/clients/cng/src/lib.rs
  crate/clients/cng/src/provider.rs
  crate/clients/cng/src/registry.rs
  crate/clients/cng/src/tests.rs
  crate/clients/cng_verify/README.md
  crate/clients/cng_verify/build.rs
  crate/clients/cng_verify/src/main.rs
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: support CNG Key Storage Provider
  crate/clients/clap/Cargo.toml
  crate/clients/clap/src/actions/cng.rs
  crate/clients/cng/Cargo.toml
  crate/clients/cng/src/error.rs
  crate/clients/cng_verify/Cargo.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: support CNG Key Storage Provider
  CHANGELOG/intune.md
  Cargo.lock
  Cargo.toml
  README.md
  crate/clients/clap/Cargo.toml
  crate/clients/clap/src/actions/cng.rs
  crate/clients/clap/src/actions/kms_actions.rs
  crate/clients/clap/src/actions/mod.rs
  crate/clients/cng/Cargo.toml
  crate/clients/cng/src/backend.rs
  crate/clients/cng/src/blob.rs
  crate/clients/cng/src/error.rs
  crate/clients/cng/src/key.rs
  crate/clients/cng/src/lib.rs
  crate/clients/cng/src/provider.rs
  crate/clients/cng/src/registry.rs
  crate/clients/cng/src/tests.rs
  crate/clients/cng_verify/Cargo.toml
  crate/clients/cng_verify/build.rs
  crate/clients/cng_verify/src/main.rs
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: build on Linux
  Cargo.lock
  crate/clients/cng/Cargo.toml
Due: none

ci: add tests
  .github/workflows/test_windows.yml
Due: none

test: add integration tests
  .github/scripts/windows/test_cng_ksp.ps1
  documentation/docs/integrations/cloud_providers/microsoft/windows_cng_ksp.md
Due: none

test: fix CNG integration tests
  .github/scripts/windows/test_cng_ksp.ps1
Due: none

ci: add tests
  .github/scripts/windows/test_cng_ksp.ps1
  .github/workflows/test_windows.yml
  CHANGELOG/intune.md
Due: none

revert: remove multi-HSM uid format from docs and CI scripts (moved to feat/multi_hsm_support)
  .github/scripts/test/google_cse_with_hsm.sh
  .github/scripts/test/test_hsm_utimaco.sh
  .github/scripts/test/test_ui.sh
  documentation/docs/hsm_support/hsm_operations.md
  documentation/docs/kmip_support/key_auto_rotation.md
  ui/src/App.tsx
  ui/src/actions/Objects/HsmStatus.tsx
  ui/src/menuItems.tsx
Due: ui-wasm-react-unit-tests

feat: rebrand UI and documentation from Cosmian to Eviden
  cli_documentation/docs/eviden-logo-black.svg
  cli_documentation/docs/eviden-logo-orange.svg
  cli_documentation/docs/favicon.png
  cli_documentation/mkdocs.yml
  cli_documentation/theme_overrides/partials/logo.html
  documentation/docs/eviden-logo-black.svg
  documentation/docs/eviden-logo-orange.svg
  documentation/docs/favicon.png
  documentation/mkdocs.yml
  documentation/theme_overrides/partials/logo.html
  ui/public/themes/eviden/branding.json
  ui/public/themes/eviden/eviden-favicon-32x32.png
  ui/public/themes/eviden/eviden-login-bg.svg
  ui/public/themes/eviden/eviden-logo-dark.svg
  ui/public/themes/eviden/eviden-logo-light.svg
  ui/src/pages/LoginPage.tsx
Due: ui-wasm-react-unit-tests

chore: update expected hashes
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

chore: update expected hashes
  nix/expected-hashes/cli.vendor.dynamic.darwin.sha256
  nix/expected-hashes/cli.vendor.static.darwin.sha256
Due: none

fix: wip
  .github/scripts/test/test_hsm_crypt2pay.sh
  ui/src/actions/Certificates/CertificateCertify.tsx
  ui/tests/e2e/certificates-certify.spec.ts
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests

fix: allow sub-day rotate_interval in test builds
  crate/server/src/core/operations/modify_attribute.rs
  crate/server/src/core/operations/set_attribute.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: reuse Openssl instead of RustCrypt crates + align rand version
  CHANGELOG/feature_fpe-kmip.md
  Cargo.lock
  Cargo.toml
  cli_documentation/docs/cli/main_commands.md
  crate/clients/ckms/Cargo.toml
  crate/crypto/Cargo.toml
  crate/crypto/src/crypto/anonymization/error.rs
  crate/crypto/src/crypto/anonymization/noise.rs
  crate/crypto/src/crypto/anonymization/word.rs
  crate/crypto/src/crypto/fpe/alphabet.rs
  crate/crypto/src/crypto/fpe/ff1.rs
  crate/crypto/src/crypto/fpe/tests.rs
  crate/kmip/Cargo.toml
  crate/server/Cargo.toml
  crate/server/src/core/operations/decrypt.rs
  crate/server/src/core/operations/encrypt.rs
  crate/server/src/routes/tokenize/mod.rs
  deny.toml
  ui/src/actions/FPE/FpeDecrypt.tsx
  ui/src/actions/FPE/FpeEncrypt.tsx
  ui/tests/e2e/README.md
  ui/tests/e2e/fpe.spec.ts
  ui/tests/e2e/tokenize.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

add xks link
  documentation/mkdocs.yml
Due: none

fix: FPE E2E test improvements
  nix/expected-hashes/cli.vendor.linux.sha256
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
  ui/src/actions/FPE/FpeDecrypt.tsx
  ui/src/actions/FPE/FpeEncrypt.tsx
  ui/tests/e2e/tokenize.spec.ts
Due: ui-wasm-react-unit-tests

fix indentation
  documentation/mkdocs.yml
Due: none

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
