Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

fix: add Veeam Backup support (#874)
  .github/copilot-instructions.md
  CHANGELOG.md
  CHANGELOG/support_veeam.md
  README.md
  _typos.toml
  crate/server/src/routes/kmip.rs
  crate/server/src/socket_server.rs
  crate/server/src/tests/ttlv_tests/integrations/mod.rs
  crate/server/src/tests/ttlv_tests/integrations/veeam.rs
  documentation/docs/index.md
  documentation/docs/integrations/databases/snowflake_native_app/index.md
  documentation/docs/integrations/storage/synology_dsm.md
  documentation/docs/integrations/storage/user_defined_function_for_pyspark_databricks_in_python/index.md
  documentation/docs/integrations/storage/vcenter.md
  documentation/docs/integrations/storage/veeam.md
  documentation/mkdocs.yml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(systemd): set IPAddressAllow=any
  .github/scripts/benchmarks/run_benchmarks_load_tests_docker.sh
  crate/server/src/middlewares/jwt/jwks.rs
  documentation/docs/configuration/openssl_override.md
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  pkg/cosmian_kms.service
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: update SBOM reports
  sbom/ckms/fips/dynamic/bom.cdx.json
  sbom/ckms/fips/dynamic/bom.spdx.json
  sbom/ckms/fips/dynamic/meta.json
  sbom/ckms/fips/static/bom.cdx.json
  sbom/ckms/fips/static/bom.spdx.json
  sbom/ckms/fips/static/meta.json
  sbom/ckms/non-fips/dynamic/bom.cdx.json
  sbom/ckms/non-fips/dynamic/bom.spdx.json
  sbom/ckms/non-fips/dynamic/meta.json
  sbom/ckms/non-fips/static/bom.cdx.json
  sbom/ckms/non-fips/static/bom.spdx.json
  sbom/ckms/non-fips/static/meta.json
  sbom/server/fips/dynamic/bom.cdx.json
  sbom/server/fips/dynamic/bom.spdx.json
  sbom/server/fips/dynamic/meta.json
  sbom/server/fips/static/bom.cdx.json
  sbom/server/fips/static/bom.spdx.json
  sbom/server/fips/static/meta.json
  sbom/server/non-fips/dynamic/bom.cdx.json
  sbom/server/non-fips/dynamic/bom.spdx.json
  sbom/server/non-fips/dynamic/meta.json
  sbom/server/non-fips/static/bom.cdx.json
  sbom/server/non-fips/static/bom.spdx.json
  sbom/server/non-fips/static/meta.json
Due: none

ci: automate release workflow
  .github/.markdown-link-check.json
  .github/README_WORKFLOWS.md
  .github/copilot-instructions.md
  .github/scripts/release/nix_build_update_hash.sh
  .github/scripts/release/release.sh
  .github/workflows/benchmark.yml
  .github/workflows/main_base.yml
  .github/workflows/packaging.yml
  .github/workflows/release.yml
  CHANGELOG/automate_release.md
  RELEASE.md
Due: none

ci: automate release workflow (#903)
  .github/.markdown-link-check.json
  .github/README_WORKFLOWS.md
  .github/copilot-instructions.md
  .github/scripts/release/nix_build_update_hash.sh
  .github/scripts/release/release.sh
  .github/workflows/benchmark.yml
  .github/workflows/main_base.yml
  .github/workflows/packaging.yml
  .github/workflows/release.yml
  CHANGELOG/automate_release.md
  RELEASE.md
Due: none

fix: use proxy params to fetch CRLs
  crate/server/src/core/operations/import.rs
  crate/server/src/core/operations/validate.rs
  crate/server/src/tests/test_utils.rs
  crate/server/src/tests/test_validate.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: disable http proxy when running cargo test
  crate/server/src/tests/test_utils.rs
  crate/test_kms_server/src/test_server.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: pin test_validate_with_certificates
  .github/scripts/common.sh
Due: none

test: enable validation cert-tests on Nix
  crate/server/src/tests/test_validate.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: first fix
  Cargo.lock
Due: none

WIP on feat/fix_auth_issues
  Cargo.lock
  ui/src/App.tsx
  ui/src/components/layout/MainLayout.tsx
  ui/src/contexts/AuthContext.tsx
  ui/src/utils/utils.ts
  ui/testfig.toml
Due: ui-wasm-react-unit-tests

feat: ok
  ui/src/App.tsx
  ui/src/components/layout/MainLayout.tsx
  ui/src/components/layout/Sidebar.tsx
  ui/src/pages/LoginPage.tsx
Due: ui-wasm-react-unit-tests

fix: update hashes
  ui/server_config.toml
  ui/testfig.toml
Due: none

feat: pre last commit
  .github/copilot-instructions.md
  CHANGELOG/feat_fix_auth_issues.md
  documentation/docs/configuration/ui.md
  ui/src/components/layout/MainLayout.tsx
  ui/src/components/layout/Sidebar.tsx
  ui/src/pages/LoginPage.tsx
Due: ui-wasm-react-unit-tests

ci: fix bench error
  .github/workflows/benchmark.yml
Due: none

chore: update Nix expected hashes
  nix/expected-hashes/ui.pnpm.darwin.sha256
  nix/expected-hashes/ui.pnpm.linux.sha256
Due: none

ci: fix Nix auto hashes update
  .github/scripts/release/nix_build_update_hash.sh
Due: none

fix: hardcode wasm-bindgen-cli version
  crate/clients/wasm/Cargo.toml
  nix/ui.nix
Due: nixfmt, statix

ci: fix release workflow
  .github/workflows/release.yml
Due: none

ci: fix release workflow
  .github/scripts/release/nix_build_update_hash.sh
  .github/workflows/release.yml
Due: none

ci: fix release workflow
  .github/scripts/release/nix_build_update_hash.sh
Due: none

test: disable http proxy on cargo test (#825)
  .github/scripts/common.sh
  .github/scripts/release/nix_build_update_hash.sh
  .github/workflows/benchmark.yml
  .github/workflows/release.yml
  crate/clients/wasm/Cargo.toml
  crate/server/src/core/operations/import.rs
  crate/server/src/core/operations/validate.rs
  crate/server/src/tests/test_utils.rs
  crate/server/src/tests/test_validate.rs
  crate/test_kms_server/src/test_server.rs
  nix/expected-hashes/ui.pnpm.darwin.sha256
  nix/expected-hashes/ui.pnpm.linux.sha256
  nix/ui.nix
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

ci: workflow_dispatch added on pr.yml
  .github/workflows/pr.yml
Due: none

ci: regenerate doc on release.yml
  .github/workflows/release.yml
Due: none

feat: before rebase of "feat/fix_auth_issues"
  cli_documentation/docs/index.md
Due: none

fix: fix
  Cargo.lock
  ui/server_config.toml
Due: none

fix: fix issue with ci
  CHANGELOG/feat_fix_auth_issues.md
  ui/src/App.tsx
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests

fix: ci
  .github/copilot-instructions.md
  CHANGELOG/feat_fix_auth_issues.md
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests

fix: ci attempts
  ui/src/App.tsx
  ui/src/pages/LoginPage.tsx
  ui/tests/e2e/helpers.ts
  ui/tests/e2e/vendor-id-flow.spec.ts
Due: ui-wasm-react-unit-tests

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
