Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system
  pass_filenames: true

statix:
  name: statix check
  entry: bash -c 'for f in "$@"; do statix fix "$f"; done' --
  language: system
  pass_filenames: true

ui-wasm-react-unit-tests:
  name: UI wasm + React tests (incl. integration if Docker)
  entry: bash .github/scripts/test_wasm.sh
  language: system
  pass_filenames: false

cargo-test-fips:
  name: cargo test (sqlite fips)
  entry: bash .github/scripts/test_sqlite.sh --variant fips
  language: system
  pass_filenames: false

redis-cargo-test-non-fips:
  name: Redis and cargo test (non-fips)
  entry: bash .github/scripts/test_redis.sh --variant non-fips
  language: system
  pass_filenames: false

nix-cargo-test-fips:
  name: Nix cargo test (sqlite fips)
  entry: bash .github/scripts/nix.sh --variant fips test sqlite
  language: system
  pass_filenames: false

kms-server-package:
  name: Nix KMS server non-fips packaging
  entry: bash .github/scripts/nix.sh --variant non-fips package
  language: system
  pass_filenames: false

renew-server-doc:
  name: renew server cli doc
  entry: bash .github/scripts/renew_server_doc.sh
  language: system
  pass_filenames: false

feat(hsm): add GCP Cloud HSM loader
  .mise/tasks/test/hsm-gcp-cloud-hsm
  .mise/tasks/test/hsm/gcp-cloud-hsm
  Cargo.lock
  Cargo.toml
  crate/hsm/gcp_cloud_hsm/Cargo.toml
  crate/hsm/gcp_cloud_hsm/README.md
  crate/hsm/gcp_cloud_hsm/src/lib.rs
  crate/hsm/gcp_cloud_hsm/src/tests.rs
  crate/server/Cargo.toml
  crate/server/src/config/command_line/hsm_config.rs
  crate/server/src/core/kms/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(hsm): add Azure Dedicated HSM loader
  .mise/tasks/test/hsm-azure-dedicated-hsm
  .mise/tasks/test/hsm/azure-dedicated-hsm
  Cargo.lock
  Cargo.toml
  crate/hsm/azure_dedicated_hsm/Cargo.toml
  crate/hsm/azure_dedicated_hsm/README.md
  crate/hsm/azure_dedicated_hsm/src/lib.rs
  crate/hsm/azure_dedicated_hsm/src/tests.rs
  crate/server/Cargo.toml
  crate/server/src/config/command_line/hsm_config.rs
  crate/server/src/core/kms/mod.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(crypto,hsm): determine EC key bit length from curve and support generated IV in GCM test
  crate/crypto/src/crypto/elliptic_curves/operation.rs
  crate/hsm/base_hsm/src/slots.rs
  crate/hsm/base_hsm/src/tests_shared.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: a
  documentation/docs/configuration/audit-logs.md
Due: none

chore: mark TLS downgrade fix site in pgsql.rs
  crate/server_database/src/stores/sql/pgsql.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(auth): support SPIFFE JWT-SVID authentication via sub-claim fallback
  .mise/tasks/test/spire-jwt-svid
  CHANGELOG/feat_spiffe_jwt_svid_auth.md
  crate/server/src/config/command_line/idp_auth_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/main.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/middlewares/jwt/jwt_token_auth.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/google_cse/jwt.rs
  crate/server/src/start_kms_server.rs
  crate/server/src/tests/google_cse/mod.rs
  crate/server/src/tests/google_cse/utils.rs
  documentation/docs/adr/2026-09-19-spiffe-jwt-svid-authentication.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/configuration/server_cli.md
  documentation/docs/integrations/spire_spiffe.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(auth): add SPIRE JWT-SVID Web UI login and E2E verification
  .mise/tasks/test/spire-jwt-svid
  .pre-commit-config.yaml
  CHANGELOG.md
  crate/server/src/middlewares/jwt/jwt_token_auth.rs
  crate/server/src/middlewares/jwt/mod.rs
  crate/server/src/middlewares/mod.rs
  crate/server/src/routes/ui_auth.rs
  crate/server/src/start_kms_server.rs
  docker-compose.yml
  documentation/docs/configuration/log-reference.md
  documentation/docs/integrations/spire_spiffe.md
  ui/src/App.tsx
  ui/src/components/layout/MainLayout.tsx
  ui/src/i18n/locales/en/layout.json
  ui/src/i18n/locales/fr/layout.json
  ui/src/i18n/locales/zh-CN/layout.json
  ui/src/pages/LoginPage.tsx
  ui/src/utils/utils.ts
  ui/tests/e2e/spiffe-jwt-svid-auth.spec.ts
  ui/tests/e2e/spiffe-ui-login.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: use spire-helper on APISIX
  .mise/lib/spire_test.sh
  .mise/tasks/test/README.md
  .mise/tasks/test/spire
  .mise/tasks/test/spire-jwt-svid
  .mise/tasks/test/spire-kmip-key-manager
  .mise/tasks/test/spire-kmip-upstream-authority
  .mise/tasks/test/spire-pki
  .mise/tasks/test/spire-sds
  Cargo.lock
  crate/clients/ckms/src/actions/markdown.rs
  crate/clients/ckms/src/tests/login_tests.rs
  crate/clients/clap/Cargo.toml
  crate/clients/clap/src/actions/login.rs
  crate/server/src/start_kms_server.rs
  documentation/docs/SUMMARY.md
  documentation/docs/adr/2026-09-19-spiffe-jwt-svid-authentication.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/integrations/spire_ckms.md
  documentation/docs/integrations/spire_webui.md
  documentation/docs/kms_clients/cli/main_commands.md
  documentation/nav.yml
  ui/src/components/layout/MainLayout.tsx
  ui/src/pages/LoginPage.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(ci): provision pnpm for spire Playwright step and drop unused loginJwtSvid
  .mise/lib/common.sh
  .mise/tasks/test/spire-jwt-svid
  .mise/tasks/test/wasm
  ui/src/utils/utils.ts
Due: ui-wasm-react-unit-tests

fix(ci): provision ui/dist placeholder so /ui/login_svid routes register in spire test
  .mise/tasks/test/spire-jwt-svid
Due: none

feat(database): generic multi-region active-active PostgreSQL support
  .github/workflows/test_all.yml
  .mise/tasks/test/db/pgedge
  .mise/tasks/test/pgedge
  .mise/tasks/test/psql
  crate/interfaces/src/stores/objects_store.rs
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/command_line/mod.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/kms/permissions.rs
  crate/server/src/core/mod.rs
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/core/operations/join_split_key.rs
  crate/server/src/core/operations/message.rs
  crate/server/src/cron.rs
  crate/server/src/main.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/tests/mod.rs
  docker-compose.yml
  documentation/docs/adr/2026-09-19-multi-region-active-active-postgresql.md
  documentation/docs/configuration/database/configuration.md
  documentation/docs/configuration/database/tables.md
  documentation/docs/configuration/server_cli.md
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(database): allow backward state transition on upsert and sync log-reference
  crate/server_database/src/stores/sql/pgsql.rs
  documentation/docs/configuration/log-reference.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(server): add live 2-node pgEdge tests for CO ceremony and CRL multi-region behavior
  .mise/tasks/test/pgedge
  Cargo.lock
  Cargo.toml
  crate/server/Cargo.toml
  crate/server/src/core/operations/generate_crl.rs
  crate/server/src/tests/crl_tests.rs
  crate/server/src/tests/mod.rs
  crate/server/src/tests/pgedge_ceremony_tests.rs
  crate/server/src/tests/pgedge_crl_tests.rs
  crate/server/src/tests/test_utils.rs
  crate/server_database/Cargo.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat(server_database): fail secure on ceremony verification mismatch and update multi-region docs
  crate/server/src/tests/key_ceremony_tests.rs
  crate/server_database/src/core/database_permissions.rs
  documentation/docs/adr/2026-09-19-multi-region-active-active-postgresql.md
  documentation/docs/configuration/database/configuration.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/use_cases/pki-revocation.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(mise): add multi-region active-active PostgreSQL guard suite
  .github/instructions/mise.instructions.md
  .github/workflows/test_all.yml
  .mise/lib/multi_region_guards.sh
  .mise/scripts/README.md
  .mise/tasks/test/multi-region-guards
  CHANGELOG/multi_region.md
Due: none

fix: remediate review findings
  .mise/scripts/docs/update_log_index.py
  crate/clients/clap/src/actions/pkcs11/bench/error.rs
  crate/clients/clap/src/actions/pkcs11/bench/load.rs
  crate/clients/clap/src/actions/pkcs11/bench/setup.rs
  crate/clients/pkcs11/provider/src/backend.rs
  crate/hsm/base_hsm/src/base_hsm.rs
  crate/hsm/base_hsm/src/kms_hsm.rs
  crate/hsm/base_hsm/src/lib.rs
  crate/hsm/base_hsm/src/session/aes.rs
  crate/hsm/base_hsm/src/session/ec.rs
  crate/hsm/base_hsm/src/session/mod.rs
  crate/hsm/base_hsm/src/session/rsa.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/base_hsm/src/slots.rs
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/interfaces/src/hsm/interface.rs
  crate/server_database/src/core/rotate_name_cache.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: GHSA-jwv3-5hgf-82ww
  .mise/scripts/test/requirements-jose.txt
Due: none

fix(hsm): run Kryoptic loader tests in selected variant
  .mise/tasks/test/hsm-kryoptic
  crate/hsm/kryoptic/Cargo.toml
Due: none

fix(ci): align HSM tests with build variants
  .mise/tasks/test/hsm-aws-cloudhsm
  .mise/tasks/test/hsm-crypt2pay
  .mise/tasks/test/hsm-proteccio
  .mise/tasks/test/hsm-softhsm2
  .mise/tasks/test/hsm-utimaco
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/hsm/kryoptic/src/tests.rs
  crate/hsm/smartcardhsm/src/tests.rs
  crate/hsm/softhsm2/src/tests.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/test_kms_server/README.md
  crate/test_kms_server/src/vector_runner.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: document RotateName cache
  documentation/docs/configuration/object-cache.md
Due: none

fix(hsm): gate optional message encryption capability
  crate/clients/clap/src/actions/pkcs11/bench/setup.rs
  crate/hsm/aws_cloudhsm/src/lib.rs
  crate/hsm/base_hsm/src/hsm_capabilities.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/crypt2pay/src/lib.rs
  crate/hsm/proteccio/src/lib.rs
  crate/hsm/smartcardhsm/src/lib.rs
  crate/hsm/softhsm2/src/lib.rs
  crate/hsm/softhsm2/src/tests.rs
  crate/hsm/utimaco/src/lib.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(hsm): gate message-based AES-GCM decrypt
  crate/hsm/base_hsm/src/session/session_impl.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(hsm): align SoftHSM FIPS RSA capabilities
  crate/hsm/base_hsm/src/session/rsa.rs
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/hsm/softhsm2/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(hsm): skip unsupported SoftHSM FIPS RSA OAEP
  crate/hsm/softhsm2/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: HSM tests
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/softhsm2/src/lib.rs
  crate/hsm/softhsm2/src/tests.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(db): add (tag, id) index on tags to speed up Locate-by-tags
  CHANGELOG/fix_postgresql.md
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/sqlite.rs
  documentation/docs/configuration/database/tables.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(auth): harden SPIFFE JWT-SVID authentication after review
  .github/instructions/mise.instructions.md
  .mise/lib/spire_test.sh
  .mise/tasks/test/README.md
  .mise/tasks/test/spire-jwt-svid
  CHANGELOG.md
  CHANGELOG/feat_spiffe_jwt_svid_auth.md
  CHANGELOG/support_JWT-SVID_auth.md
  crate/clients/clap/src/actions/login.rs
  crate/server/documentation/openapi.yaml
  crate/server/kms_template.toml
  crate/server/src/config/command_line/idp_auth_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/config/wizard/auth_wizard.rs
  crate/server/src/middlewares/jwt/jwt_config.rs
  crate/server/src/middlewares/jwt/jwt_token_auth.rs
  crate/server/src/routes/ui_auth.rs
  crate/server/src/start_kms_server.rs
  docker-compose.yml
  documentation/docs/adr/2026-09-19-spiffe-jwt-svid-authentication.md
  documentation/docs/configuration/log-reference.md
  documentation/docs/configuration/server_cli.md
  documentation/docs/configuration/server_configuration_file.md
  documentation/docs/integrations/spire_ckms.md
  documentation/docs/integrations/spire_spiffe.md
  documentation/docs/integrations/spire_webui.md
  documentation/docs/kms_clients/cli/main_commands.md
  pkg/kms.toml
  ui/src/i18n/locales/en/layout.json
  ui/src/i18n/locales/fr/layout.json
  ui/src/i18n/locales/zh-CN/layout.json
  ui/src/pages/LoginPage.tsx
  ui/tests/e2e/spiffe-ui-login.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test(ui): make SPIFFE login spec independent of JWT validation mode
  .mise/tasks/test/spire-jwt-svid
  ui/tests/e2e/spiffe-ui-login.spec.ts
Due: ui-wasm-react-unit-tests

test(ui): gate SPIFFE tampered-signature spec on strict validation mode
  .mise/tasks/test/spire-jwt-svid
  ui/tests/e2e/spiffe-ui-login.spec.ts
Due: ui-wasm-react-unit-tests

fix(db): index rotation/ObjectType lookups and make metrics COUNT interval configurable
  CHANGELOG/fix_postgresql.md
  crate/server/src/config/command_line/clap_config.rs
  crate/server/src/config/params/server_params.rs
  crate/server/src/core/kms/mod.rs
  crate/server/src/core/otel_metrics.rs
  crate/server/src/cron.rs
  crate/server/src/main.rs
  crate/server_database/src/stores/sql/mysql.rs
  crate/server_database/src/stores/sql/pgsql.rs
  crate/server_database/src/stores/sql/query.sql
  crate/server_database/src/stores/sql/query_mysql.sql
  crate/server_database/src/stores/sql/query_sqlite.sql
  crate/server_database/src/stores/sql/sqlite.rs
  crate/server_database/src/tests/database_tests.rs
  crate/server_database/src/tests/mod.rs
  documentation/docs/configuration/database/tables.md
  documentation/docs/configuration/server_cli.md
  resources/kms.toml
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(hsm): review fixes for Cosmian/kms#1210 (FIPS SHA-1 gate, hash inference, RotateName cache) (#2)
  .github/README_WORKFLOWS.md
  .github/workflows/test_all.yml
  CHANGELOG/claude_optimistic-carson-li1owh.md
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/module/src/traits/backend.rs
  crate/clients/pkcs11/module/src/traits/mod.rs
  crate/hsm/base_hsm/src/kms_hsm.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/base_hsm/src/slots.rs
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/interfaces/src/crypto_oracle.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/server/src/core/operations/rekey/symmetric/hsm.rs
  crate/server/src/main.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/rotate_name_cache.rs
  documentation/docs/configuration/object-cache.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(hsm): review fixes for Cosmian/kms#1210 (FIPS SHA-1 gate, hash inference, RotateName cache) (#2) (#1225)
  .github/README_WORKFLOWS.md
  .github/workflows/test_all.yml
  CHANGELOG/claude_optimistic-carson-li1owh.md
  crate/clients/pkcs11/module/src/sessions.rs
  crate/clients/pkcs11/module/src/traits/backend.rs
  crate/clients/pkcs11/module/src/traits/mod.rs
  crate/hsm/base_hsm/src/kms_hsm.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/base_hsm/src/slots.rs
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/interfaces/src/crypto_oracle.rs
  crate/interfaces/src/hsm/hsm_store.rs
  crate/server/src/core/operations/rekey/common.rs
  crate/server/src/core/operations/rekey/symmetric/hsm.rs
  crate/server/src/main.rs
  crate/server_database/src/core/database_objects.rs
  crate/server_database/src/core/rotate_name_cache.rs
  documentation/docs/configuration/object-cache.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(aws): cloudhsm tests
  .github/README_WORKFLOWS.md
  .mise/lib/bench_helpers.sh
  .mise/tasks/bench/_default
  .mise/tasks/bench/load-pkcs11
  CHANGELOG/hsm_delegation_benchs.md
  crate/clients/clap/src/actions/pkcs11/bench/load.rs
  crate/clients/clap/src/actions/pkcs11/bench/mod.rs
  crate/hsm/base_hsm/src/session/rsa.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(hsm): pass NULL OAEP pSourceData by default (AWS CloudHSM), keep non-null for SoftHSM2
  crate/hsm/aws_cloudhsm/src/lib.rs
  crate/hsm/base_hsm/src/hsm_capabilities.rs
  crate/hsm/base_hsm/src/session/rsa.rs
  crate/hsm/crypt2pay/src/lib.rs
  crate/hsm/proteccio/src/lib.rs
  crate/hsm/smartcardhsm/src/lib.rs
  crate/hsm/softhsm2/src/lib.rs
  crate/hsm/utimaco/src/lib.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix(hsm): restore HSM-generated AES-GCM IV path for AWS CloudHSM, reject all-zero IV
  crate/hsm/base_hsm/src/session/session_impl.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

refactor(hsm): capability-driven vendor differences in base_hsm session and shared tests
  .github/workflows/test_all.yml
  .mise/lib/kryoptic.sh
  .mise/tasks/test/hsm-kryoptic-conformance
  CHANGELOG/hsm_delegation_benchs_delegated.md
  crate/hsm/aws_cloudhsm/src/lib.rs
  crate/hsm/aws_cloudhsm/src/tests.rs
  crate/hsm/base_hsm/Cargo.toml
  crate/hsm/base_hsm/src/hsm_capabilities.rs
  crate/hsm/base_hsm/src/session/aes.rs
  crate/hsm/base_hsm/src/session/ec.rs
  crate/hsm/base_hsm/src/session/rsa.rs
  crate/hsm/base_hsm/src/session/session_impl.rs
  crate/hsm/base_hsm/src/tests_shared.rs
  crate/hsm/base_hsm/tests/kryoptic_conformance.rs
  crate/hsm/crypt2pay/src/lib.rs
  crate/hsm/crypt2pay/src/tests.rs
  crate/hsm/kryoptic/src/tests.rs
  crate/hsm/proteccio/src/lib.rs
  crate/hsm/proteccio/src/tests.rs
  crate/hsm/smartcardhsm/src/lib.rs
  crate/hsm/smartcardhsm/src/tests.rs
  crate/hsm/softhsm2/src/lib.rs
  crate/hsm/softhsm2/src/tests.rs
  crate/hsm/utimaco/src/lib.rs
  crate/hsm/utimaco/src/tests.rs
  documentation/docs/hsm_support/hsm_operations.md
  documentation/docs/kmip_support/key_rotation/hsm.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
