Repository Cosmian/kms: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

Path conditions:
  nixfmt: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  statix: any of: \.nix$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  ui-wasm-react-unit-tests: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  redis-cargo-test-non-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  nix-cargo-test-fips: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  kms-server-package: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications
  renew-server-doc: any of: \.rs$, but not: documentation/pandoc|documentation/overrides|crate/server/src/tests/test_utils.rs|.pre-commit-config.yaml|crate/server/src/routes/google_cse/jwt.rs|crate/server/src/routes/google_cse/python/openssl|documentation/docs/google_cse|crate/pkcs11/sys|documentation/docs/drawings|test_data|documentation/docs/benchmarks.md|crate/hsm/proteccio/driver|crate/server/ui|crate/kmip/src/kmip_2_1/specifications/|crate/kmip/src/kmip_1_4/specifications/|crate/server_database/src/tests/migrate/postgre-4.20.dump.sql|crate/kmip/src/ttlv/tests/pykmip/|crate/kmip/src/oasis|crate/kmip/src/kmip_1_0/specifications

fix: systemd mitigations (#711)
  .github/README_WORKFLOWS.md
  .github/scripts/docker-compose-authentication-tests-fips.yml
  .github/scripts/docker-compose-authentication-tests-non-fips.yml
  .github/scripts/docker-compose-with-conf.yml
  .github/scripts/docker-compose-with-load-balancer.yml
  .github/scripts/docker-compose.example.yml
  .github/scripts/docker-compose.yml
  .github/scripts/smoke_test_linux.sh
  .github/scripts/test_docker_image.sh
  .github/scripts/test_lb_kms_shutdown.sh
  .github/workflows/packaging-tests.yml
  crate/server/src/config/command_line/clap_config.rs
  nix/docker.nix
  pkg/cosmian_kms.service
Due: nixfmt, statix, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: branding, security issue on KMIP import when replace_existing is true + add docs on OpenSSL override
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  crate/server/Cargo.toml
  crate/server/src/openssl_providers.rs
  deny.toml
  documentation/docs/hsms/hsm_operations.md
  documentation/docs/openssl_override.md
  documentation/docs/server_cli.md
  documentation/docs/ui_branding.md
  documentation/mkdocs.yml
  nix/scripts/package_dmg.sh
  pkg/deb/postrm
  pkg/rpm/postrm
  pkg/rpm/prerm
  pkg/rpm/scriptlets.toml
  ui/package.json
  ui/pnpm-lock.yaml
  ui/public/branding.json
  ui/public/themes/blank/branding.json
  ui/public/themes/blank/favicon.svg
  ui/public/themes/blank/login-bg.svg
  ui/public/themes/blank/logo-dark.svg
  ui/public/themes/blank/logo-light.svg
  ui/public/themes/cosmian/branding.json
  ui/src/LoginPage.tsx
  ui/src/branding.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: ci
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

fix: update Nix hashes
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
Due: none

feat: add KMS server version on startup logs
  Cargo.toml
  crate/server/src/main.rs
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

chore: init
  .vscode/settings.json
  crate/cli/src/actions/kms/aws/README.ms
  crate/cli/src/actions/kms/aws/byok/export_key_material.rs
  crate/cli/src/actions/kms/aws/byok/import_kek.rs
  crate/cli/src/actions/kms/aws/byok/mod.rs
  crate/cli/src/actions/kms/aws/byok/wrapping_algorithms.rs
  crate/cli/src/actions/kms/aws/mod.rs
  crate/cli/src/actions/kms/azure/byok/export_byok.rs
  crate/cli/src/actions/kms/console.rs
  crate/cli/src/actions/kms/mod.rs
  crate/cli/src/actions/kms/shared/import_key.rs
  crate/cli/src/tests/kms/aws/integration_tests.rs
  crate/cli/src/tests/kms/aws/mod.rs
  crate/cli/src/tests/kms/aws/unwrap_utils.rs
  crate/cli/src/tests/kms/mod.rs
  crate/crypto/README.md
Due: cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: tests ok
  crate/cli/src/actions/kms/actions.rs
  crate/cli/src/actions/kms/aws/byok/export_key_material.rs
  crate/cli/src/actions/kms/aws/byok/import_kek.rs
  crate/cli/src/lib.rs
  crate/cli/src/tests/kms/aws/integration_tests.rs
  crate/cli/src/tests/kms/aws/mod.rs
  crate/cli/src/tests/kms/aws/unwrap_utils.rs
  crate/cli/src/tests/kms/azure/mod.rs
  crate/cli/src/tests/kms/mod.rs
  crate/cli/src/tests/kms/shared/mod.rs
  crate/cli/src/tests/kms/shared/openssl_utils.rs
  crate/crypto/README.md
  documentation/docs/aws/aws_import_kek.png
  documentation/docs/aws/byok.md
  ui/eslint.config.js
  ui/src/App.tsx
  ui/src/AwsExportKeyMaterial.tsx
  ui/src/AwsImportKek.tsx
  ui/src/AzureExportByok.tsx
  ui/src/AzureImportKek.tsx
  ui/src/CseInfo.tsx
  ui/src/Sidebar.tsx
  ui/src/components/ExternalLink.tsx
  ui/src/menuItems.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: temporary commit to save files
  documentation/docs/aws/byok.md
  documentation/docs/aws/byok_scripts/run_aes_byok.sh
  documentation/docs/aws/byok_scripts/run_ecc_byok.sh
  documentation/docs/aws/byok_scripts/run_rsa_byok.sh
  documentation/docs/azure/byok/byok.md
  ui/src/AwsImportKek.tsx
  ui/src/Sidebar.tsx
  ui/src/menuItems.tsx
Due: ui-wasm-react-unit-tests

fix: work
  crate/cli/src/actions/kms/aws/byok/export_key_material.rs
  crate/cli/src/actions/kms/aws/byok/wrapping_algorithms.rs
  crate/cli/src/tests/kms/aws/integration_tests.rs
  crate/cli/src/tests/kms/aws/mod.rs
  crate/cli/src/tests/kms/aws/unwrap_utils.rs
  documentation/docs/aws/aws_import_kek.png
  documentation/docs/aws/byok.md
  documentation/docs/aws/create_rsa.png
  documentation/docs/aws/export_key_material.png
  documentation/docs/aws/fargate.md
  documentation/docs/aws/import_kek.png
  documentation/docs/index.md
  documentation/mkdocs.yml
  ui/src/AwsImportKek.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

feat: rebase + final fixes
  crate/cli/src/actions/kms/aws/byok/export_key_material.rs
  crate/cli/src/actions/kms/aws/byok/import_kek.rs
  crate/cli/src/actions/kms/aws/byok/wrapping_algorithms.rs
  crate/cli/src/actions/kms/azure/byok/export_byok.rs
  crate/cli/src/tests/kms/aws/integration_tests.rs
  crate/server/src/main.rs
  documentation/docs/aws/byok.md
  ui/eslint.config.js
  ui/src/AzureImportKek.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

docs: reorganize README.md
  README.md
Due: none

fix: GHSA-mw96
  ui/package-lock.json
  ui/pnpm-lock.yaml
Due: none

fix: update Nix hashes
  nix/expected-hashes/ui.npm.sha256
Due: none

fix: branding, security issue on KMIP import when replace_existing is… (#735)
  CHANGELOG.md
  Cargo.lock
  README.md
  crate/server/Cargo.toml
  crate/server/src/main.rs
  crate/server/src/openssl_providers.rs
  deny.toml
  documentation/docs/hsms/hsm_operations.md
  documentation/docs/openssl_override.md
  documentation/docs/server_cli.md
  documentation/docs/ui_branding.md
  documentation/mkdocs.yml
  nix/expected-hashes/server.vendor.dynamic.sha256
  nix/expected-hashes/server.vendor.static.sha256
  nix/expected-hashes/ui.npm.sha256
  nix/expected-hashes/ui.vendor.fips.sha256
  nix/expected-hashes/ui.vendor.non-fips.sha256
  nix/scripts/package_dmg.sh
  pkg/deb/postrm
  pkg/rpm/postrm
  pkg/rpm/prerm
  pkg/rpm/scriptlets.toml
  ui/package-lock.json
  ui/package.json
  ui/pnpm-lock.yaml
  ui/public/branding.json
  ui/public/themes/blank/branding.json
  ui/public/themes/blank/favicon.svg
  ui/public/themes/blank/login-bg.svg
  ui/public/themes/blank/logo-dark.svg
  ui/public/themes/blank/logo-light.svg
  ui/public/themes/cosmian/branding.json
  ui/src/LoginPage.tsx
  ui/src/branding.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

test: use playwright to test UI
  .github/copilot-instructions.md
  .github/scripts/build_ui.sh
  .github/scripts/nix.sh
  .github/scripts/test_ui.ps1
  .github/scripts/test_ui.sh
  .github/scripts/update_hashes.sh
  .github/workflows/test_all.yml
  .github/workflows/test_windows.yml
  .gitignore
  nix/expected-hashes/ui.npm.sha256
  nix/expected-hashes/ui.pnpm.sha256
  nix/ui.nix
  ui/package-lock.json
  ui/package.json
  ui/playwright.config.ts
  ui/pnpm-lock.yaml
  ui/src/App.tsx
  ui/src/CovercryptMasterKey.tsx
  ui/src/CovercryptUserKey.tsx
  ui/src/ECKeysCreate.tsx
  ui/src/KeysExport.tsx
  ui/src/KeysImport.tsx
  ui/src/OpaqueObject.tsx
  ui/src/RsaKeysCreate.tsx
  ui/src/SecretDataCreate.tsx
  ui/src/SymKeysCreate.tsx
  ui/src/SymmetricDecrypt.tsx
  ui/src/SymmetricEncrypt.tsx
  ui/tests/e2e/covercrypt-flow.spec.ts
  ui/tests/e2e/ec-key-flow.spec.ts
  ui/tests/e2e/fixtures/plain.txt
  ui/tests/e2e/helpers.ts
  ui/tests/e2e/opaque-flow.spec.ts
  ui/tests/e2e/rsa-key-flow.spec.ts
  ui/tests/e2e/secret-data-flow.spec.ts
  ui/tests/e2e/sym-key-flow.spec.ts
Due: nixfmt, statix, ui-wasm-react-unit-tests

fix: rebase
  nix/expected-hashes/ui.pnpm.sha256
  ui/pnpm-lock.yaml
Due: none

docs: add HAProxy+KeepAlived example
  documentation/docs/installation/high_availability_mode.md
Due: none

fix: format
  crate/cli/src/actions/kms/azure/byok/export_byok.rs
  ui/src/App.tsx
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: formatting diffs out
  ui/eslint.config.js
  ui/src/App.tsx
  ui/src/AzureExportByok.tsx
  ui/src/AzureImportKek.tsx
  ui/src/Sidebar.tsx
  ui/src/menuItems.tsx
Due: ui-wasm-react-unit-tests

fix: increase coverage
  ui/tests/e2e/access-rights-flow.spec.ts
  ui/tests/e2e/attributes-flow.spec.ts
  ui/tests/e2e/azure-flow.spec.ts
  ui/tests/e2e/certificates-flow.spec.ts
  ui/tests/e2e/covercrypt-flow.spec.ts
  ui/tests/e2e/ec-key-flow.spec.ts
  ui/tests/e2e/google-cse-flow.spec.ts
  ui/tests/e2e/locate-flow.spec.ts
  ui/tests/e2e/opaque-flow.spec.ts
  ui/tests/e2e/rsa-key-flow.spec.ts
  ui/tests/e2e/secret-data-flow.spec.ts
  ui/tests/e2e/sym-key-flow.spec.ts
Due: ui-wasm-react-unit-tests

test: increase coverage
  crate/server/src/start_kms_server.rs
  ui/src/AccessGrant.tsx
  ui/src/AccessList.tsx
  ui/src/AccessRevoke.tsx
  ui/src/AttributeDelete.tsx
  ui/src/AttributeGet.tsx
  ui/src/AttributeSet.tsx
  ui/src/AzureExportByok.tsx
  ui/src/AzureImportKek.tsx
  ui/src/CertificateCertify.tsx
  ui/src/CertificateDecrypt.tsx
  ui/src/CertificateEncrypt.tsx
  ui/src/CertificateExport.tsx
  ui/src/CertificateImport.tsx
  ui/src/CertificateValidate.tsx
  ui/src/CovercryptDecrypt.tsx
  ui/src/CovercryptEncrypt.tsx
  ui/src/ECDecrypt.tsx
  ui/src/ECEncrypt.tsx
  ui/src/ECSign.tsx
  ui/src/ECVerify.tsx
  ui/src/Locate.tsx
  ui/src/ObjectsDestroy.tsx
  ui/src/ObjectsRevoke.tsx
  ui/src/RsaDecrypt.tsx
  ui/src/RsaEncrypt.tsx
  ui/src/RsaSign.tsx
  ui/src/RsaVerify.tsx
  ui/tests/e2e/attributes-flow.spec.ts
  ui/tests/e2e/certificates-flow.spec.ts
  ui/tests/e2e/opaque-flow.spec.ts
  ui/tests/e2e/secret-data-flow.spec.ts
  ui/tests/e2e/sym-key-flow.spec.ts
Due: ui-wasm-react-unit-tests, cargo-test-fips, redis-cargo-test-non-fips, nix-cargo-test-fips, kms-server-package, renew-server-doc

fix: test E2E
  .github/scripts/test_ui.sh
  .github/scripts/test_wasm.sh
  nix/expected-hashes/ui.vendor.fips.sha256
  shell.nix
  ui/src/App.tsx
  ui/src/ECKeysCreate.tsx
  ui/tests/e2e/ec-key-flow.spec.ts
  ui/tests/e2e/helpers.ts
  ui/tests/integration/kms-attributes-set-get-delete.test.ts
  ui/tests/integration/kms-azure-byok-import-export.test.ts
  ui/tests/integration/kms-key-flows.test.ts
  ui/tests/integration/kms-locate-export-import-roundtrip.test.ts
  ui/tests/integration/kms-secret-data-export-import-roundtrip.test.ts
Due: nixfmt, statix, ui-wasm-react-unit-tests

chore(nix): update ui pnpm deps hash
  nix/expected-hashes/ui.pnpm.sha256
Due: none

fix: ant dropdown
  ui/tests/e2e/attributes-flow.spec.ts
  ui/tests/e2e/helpers.ts
  ui/tests/e2e/opaque-flow.spec.ts
  ui/tests/e2e/secret-data-flow.spec.ts
  ui/tests/e2e/sym-key-flow.spec.ts
Due: ui-wasm-react-unit-tests

fix: pnpm hashes
  .github/scripts/update_hashes.sh
  nix/expected-hashes/ui.pnpm.darwin.sha256
  nix/expected-hashes/ui.pnpm.linux.sha256
  nix/ui.nix
Due: nixfmt, statix

fix: pnpm-lock.yaml
  ui/pnpm-lock.yaml
Due: none

add nav missing hyphen
  documentation/mkdocs.yml
Due: none

npm audit fix
  ui/package-lock.json
Due: none

update nix hash
  nix/expected-hashes/ui.npm.sha256
Due: none

test: add E2E tests on UI (in browser-tests) (#736)
  nix/expected-hashes/ui.npm.sha256
Due: none

feat: working sorting
  .github/scripts/test_wasm.sh
  ui/package.json
  ui/src/Locate.tsx
  ui/src/Sidebar.tsx
Due: ui-wasm-react-unit-tests

feat: fix
  .github/scripts/update_hashes.sh
  nix/expected-hashes/ui.npm.sha256
Due: none

feat: fix2
  nix/expected-hashes/ui.npm.sha256
Due: none

feat: fix3
  nix/expected-hashes/ui.npm.sha256
  ui/pnpm-lock.yaml
Due: none

feat: fix format
  ui/pnpm-lock.yaml
  ui/src/AccessGrant.tsx
  ui/src/AccessList.tsx
  ui/src/AccessRevoke.tsx
  ui/src/App.tsx
  ui/src/AttributeDelete.tsx
  ui/src/AttributeGet.tsx
  ui/src/AttributeSet.tsx
  ui/src/CertificateCertify.tsx
  ui/src/CertificateDecrypt.tsx
  ui/src/CertificateEncrypt.tsx
  ui/src/CertificateExport.tsx
  ui/src/CertificateImport.tsx
  ui/src/CertificateValidate.tsx
  ui/src/CovercryptDecrypt.tsx
  ui/src/CovercryptEncrypt.tsx
  ui/src/CovercryptMasterKey.tsx
  ui/src/CovercryptUserKey.tsx
  ui/src/ECDecrypt.tsx
  ui/src/ECEncrypt.tsx
  ui/src/ECKeysCreate.tsx
  ui/src/ECSign.tsx
  ui/src/ECVerify.tsx
  ui/src/KeysExport.tsx
  ui/src/KeysImport.tsx
  ui/src/ObjectsRevoke.tsx
  ui/src/OpaqueObject.tsx
  ui/src/RsaDecrypt.tsx
  ui/src/RsaEncrypt.tsx
  ui/src/RsaKeysCreate.tsx
  ui/src/RsaSign.tsx
  ui/src/RsaVerify.tsx
  ui/src/SecretDataCreate.tsx
  ui/src/SymKeysCreate.tsx
  ui/src/SymmetricDecrypt.tsx
  ui/src/SymmetricEncrypt.tsx
  ui/tests/e2e/attributes-flow.spec.ts
  ui/tests/e2e/helpers.ts
Due: ui-wasm-react-unit-tests
